Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^helm
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^helm
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: package.lock.json
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: .bin/eslint.sh
    language: script
    files: ^(cypress|localdev)/.*\.(js|ts)$
    verbose: true
    pass_filenames: true
  - id: eslint-app
    name: eslint-app
    entry: .bin/eslint-app.sh
    language: script
    files: ^app/.*\.(ts|tsx)$
    verbose: true
    pass_filenames: true
  - id: python-format
    name: black
    entry: .bin/black.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.18.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
exclude: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$

refactor(4096): use pnpm in localdev directory
  localdev/_packages/keycloak-admin/package-lock.json
  localdev/_packages/keycloak-admin/pnpm-lock.yaml
  localdev/keycloak-provision/Dockerfile
  localdev/keycloak-provision/package-lock.json
  localdev/keycloak-provision/pnpm-lock.yaml
  localdev/m365mock/Dockerfile
  localdev/m365mock/package-lock.json
  localdev/m365mock/pnpm-lock.yaml
  localdev/nats-provision/Dockerfile
  localdev/nats-provision/package-lock.json
  localdev/nats-provision/pnpm-lock.yaml
Due: none

refactor(4096): remove package-lock from release-it
  .codespellrc
  .release-it.json
Due: none

refactor(4096): remove npm install from action
  .github/actions/setup-npm/action.yml
Due: none

chore(4096): revert Cypress cache in action
  .github/actions/setup-npm/action.yml
Due: none

chore(4096): remove node-fetch
  app/package.json
  app/pnpm-lock.yaml
  app/services/msgraph/core.ts
Due: eslint-app, knip

chore(2700): rename ches-mock to localdev-ches-mock
  helm/_ches-mock/templates/deployment.yaml
  helm/_ches-mock/values.yaml
  helm/main/values-101ed4-dev.yaml
  helm/main/values.yaml
  localdev/ches-mock/src/main.ts
Due: eslint

chore(3225): add /health endpoint to ches-mock for health checks
  localdev/ches-mock/src/main.ts
Due: eslint

refactor(4096): use pnpm in app directory
  .pre-commit-config.yaml
  app/.eslintrc.json
  app/.npmrc
  app/Dockerfile
  app/Dockerfile.email
  app/components/comments/TiptapReadOnly.tsx
  app/package-lock.json
  app/package.json
  app/pnpm-lock.yaml
  cypress/package-lock.json
  pnpm-lock.yaml
Due: eslint-app, knip

refactor(4096): use pnpm in data-migrations directory
  data-migrations/Dockerfile
  data-migrations/package-lock.json
  data-migrations/pnpm-lock.yaml
Due: none

fix(4412): display short server error message
  app/components/notification/index.tsx
Due: eslint-app, knip

fix(4426): hide namespace information for new products
  app/emails/_templates/private-cloud/TeamCreateRequest.tsx
  app/emails/_templates/private-cloud/TeamCreateRequestApproval.tsx
Due: eslint-app, knip

chore(4176): revise promitheus query
  app/services/k8s/usage-metrics.ts
Due: eslint-app, knip

feat(2997): add environment variable to print database logs
  app/.env.example
  app/config.ts
  app/core/prisma.ts
Due: eslint-app, knip

chore(2997): update edit product test service data
  app/app/api/private-cloud/products/_operations/update.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/services/api-test/private-cloud/products.ts
  app/services/api-test/public-cloud/products.ts
Due: eslint-app, knip

feat(4026): refresh access token from keycloak
  app/core/auth-options.ts
  app/core/client-page.tsx
  app/prisma/schema.prisma
  app/services/backend/user.ts
  app/types/next-auth.d.ts
Due: eslint-app, prisma-format, knip

chore: release candidate v0.42.1
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(2700): fixies according to PR review comments
  helm/_ches-mock/values.yaml
  helm/_mailpit/templates/_helpers.tpl
  helm/_mailpit/templates/deployment.yaml
  helm/main/values-101ed4-dev.yaml
Due: none

chore(4026): refresh access token from keycloak with lock
  app/core/auth-options.ts
Due: eslint-app, knip

chore(2700): remove unnessesary comments
  helm/_mailpit/templates/deployment.yaml
Due: none

feat(4026): refresh access token from keycloak with lock
  app/core/auth-options.ts
  app/core/client-page.tsx
  app/prisma/schema.prisma
  app/services/backend/user.ts
  app/types/next-auth.d.ts
Due: eslint-app, prisma-format, knip

chore(2700): replace ches url for dev with ches-mock url
  helm/main/values-101ed4-dev.yaml
Due: none

feat(3225): add mailpit and ches mock integration for localdev and dev environments
  helm/main/Chart.lock
Due: none

Squashed commit of the following:
  helm/_ches-mock/.helmignore
  helm/_ches-mock/Chart.yaml
  helm/_ches-mock/templates/_helpers.tpl
  helm/_ches-mock/templates/deployment.yaml
  helm/_ches-mock/templates/hpa.yaml
  helm/_ches-mock/templates/route.yaml
  helm/_ches-mock/templates/service.yaml
  helm/_ches-mock/values.yaml
  helm/_mailpit/.helmignore
  helm/_mailpit/Chart.yaml
  helm/_mailpit/templates/_helpers.tpl
  helm/_mailpit/templates/deployment.yaml
  helm/_mailpit/templates/hpa.yaml
  helm/_mailpit/templates/route.yaml
  helm/_mailpit/templates/service.yaml
  helm/_mailpit/values.yaml
  helm/main/Chart.lock
  helm/main/Chart.yaml
  helm/main/values-101ed4-dev.yaml
  helm/main/values.yaml
Due: none

chore(3225): revert helm chart digest hash
  helm/main/Chart.lock
Due: none

feat(3225): add MailPit and CHES mock Helm deployment
  helm/_ches-mock/.helmignore
  helm/_ches-mock/Chart.yaml
  helm/_ches-mock/templates/_helpers.tpl
  helm/_ches-mock/templates/deployment.yaml
  helm/_ches-mock/templates/hpa.yaml
  helm/_ches-mock/templates/route.yaml
  helm/_ches-mock/templates/service.yaml
  helm/_ches-mock/values.yaml
  helm/_m365proxy/values.yaml
  helm/_mailpit/.helmignore
  helm/_mailpit/Chart.yaml
  helm/_mailpit/templates/_helpers.tpl
  helm/_mailpit/templates/deployment.yaml
  helm/_mailpit/templates/hpa.yaml
  helm/_mailpit/templates/route.yaml
  helm/_mailpit/templates/service.yaml
  helm/_mailpit/values.yaml
  helm/main/Chart.lock
  helm/main/Chart.yaml
  helm/main/values-101ed4-dev.yaml
  helm/main/values.yaml
Due: none

chore(4026): remove lock and track token refresh times
  app/core/auth-options.ts
  app/core/client-page.tsx
  app/prisma/schema.prisma
  app/services/backend/user.ts
  app/types/next-auth.d.ts
Due: eslint-app, prisma-format, knip

chore(4026): remove lock and track refresh times
  app/core/auth-options.ts
  app/core/client-page.tsx
  app/prisma/schema.prisma
  app/services/backend/user.ts
  app/types/next-auth.d.ts
Due: eslint-app, prisma-format, knip

feat(3225): add pvc for mailpit
  helm/_mailpit/templates/deployment.yaml
  helm/_mailpit/templates/pvc.yaml
  helm/_mailpit/values.yaml
  helm/main/values-101ed4-dev.yaml
  helm/main/values.yaml
  localdev/ches-mock/src/config.js
Due: eslint

chore(3225): replace app with underscore mailpit deployment
  helm/_mailpit/templates/deployment.yaml
Due: none

feat(4026): refresh keycloak tokens without signing out
  app/core/auth-options.ts
  app/core/client-page.tsx
  app/helpers/mock-resources/core.ts
  app/helpers/mock-resources/private-cloud-request.ts
  app/prisma/schema.prisma
  app/types/next-auth.d.ts
Due: eslint-app, prisma-format, knip

feat(2997): enhance query performance by adding MongoDB indexes
  Makefile
  app/package.json
  data-migrations/migrations/20241210034924-add_indexes.js
  docs/git-tips.md
Due: knip

feat(4351): sanitize email body
  app/components/buttons/PaginationButtons.tsx
  app/package.json
  app/pnpm-lock.yaml
  app/services/ches/core.ts
  app/utils/http.ts
  app/utils/index.ts
  app/utils/search-params.ts
  app/utils/show-tooltip.ts
  localdev/docker-compose.yml
Due: eslint-app, knip

chore(4351): remove backend specific module from utils
  app/utils/index.ts
Due: eslint-app, knip

chore(3225): change mailpit name, mountpath, add pvc vars, mailpit dbpath
  helm/_mailpit/templates/deployment.yaml
  helm/_mailpit/values.yaml
  helm/main/values.yaml
Due: none

chore(4026): cleanup jwt logic and handle errors gracefully
  app/core/auth-options.ts
  app/services/db/user.ts
Due: eslint-app, knip
