Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^helm
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^helm
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: package.lock.json
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: .bin/eslint.sh
    language: script
    files: ^(cypress|localdev)/.*\.(js|ts)$
    verbose: true
    pass_filenames: true
  - id: eslint-app
    name: eslint-app
    entry: .bin/eslint-app.sh
    language: script
    files: ^app/.*\.(ts|tsx)$
    verbose: true
    pass_filenames: true
  - id: python-format
    name: black
    entry: .bin/black.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.18.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
exclude: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$

chore(3974): display assigned task user
  app/app/api/users/[id]/route.ts
  app/app/tasks/all/TableBody.tsx
  app/services/backend/public-cloud/requests.ts
  app/services/backend/user.ts
Due: eslint-app, knip

chore(4695): update mailpit URL for mock ches service
  localdev/ches-mock/config.ts
  localdev/ches-mock/main.ts
  localdev/docker-compose.yml
Due: eslint

feat(4698): revisit visual representation for event and billing pages
  app/app/billing/all/TableBody.tsx
  app/app/events/all/TableBody.tsx
  app/components/generic/button/CopyableButton.tsx
  app/services/db/billing.ts
Due: eslint-app, knip

e2e(4313): add approve request tests for public cloud
  cypress/integration/1. create-request-private-test.feature
  cypress/integration/3. delete-product-test.feature
  cypress/integration/4. approve-requests-private.feature
  cypress/integration/5. approve-requests-public.feature
  cypress/integration/6. edit-request-private-test.feature
  cypress/integration/7. edit-request-public-test.feature
  cypress/support/step_definitions/common.ts
Due: eslint

chore(4698): updated search filters for billing search
  app/app/billing/all/TableBody.tsx
  app/components/generic/button/CopyableButton.tsx
  app/services/db/billing.ts
Due: eslint-app, knip

chore(3974): improve table and display assigned user info
  app/app/api/tasks/download/route.ts
  app/app/tasks/all/TableBody.tsx
  app/services/db/task.ts
  app/validation-schemas/task.ts
Due: eslint-app, knip

chore(3974): correct roles and permissions formatting
  app/app/tasks/all/TableBody.tsx
Due: eslint-app, knip

chore(3974): implement assigned user info in backend
  app/app/api/users/[id]/route.ts
  app/app/api/users/route.ts
  app/app/tasks/all/TableBody.tsx
  app/services/backend/public-cloud/requests.ts
  app/services/backend/tasks.ts
  app/services/backend/user.ts
Due: eslint-app, knip

chore(3974): relocate backend to task
  app/app/api/tasks/search/route.ts
  app/app/api/users/route.ts
  app/app/tasks/all/TableBody.tsx
  app/services/backend/tasks.ts
  app/services/backend/user.ts
Due: eslint-app, knip

feat(4100): add multiple roles provisioning in localdev keycloak
  localdev/keycloak-provision/main.ts
  localdev/mock-users.json
Due: eslint

feat(3116): add MS365 mock integration test
  app/app/api/msal/m365mock.test.ts
  app/package.json
  app/pnpm-lock.yaml
  localdev/m365mock/main.ts
Due: eslint, eslint-app, knip

chore(3974): curate task assignees into one endpoint
  app/app/api/tasks/search/route.ts
  app/app/api/users/[id]/route.ts
  app/app/tasks/all/TableBody.tsx
  app/app/tasks/all/page.tsx
  app/constants/task.ts
  app/services/backend/tasks.ts
  app/services/backend/user.ts
  app/services/db/task.ts
Due: eslint-app, knip

chore(3974): limit selected fields for assignees
  app/services/db/task.ts
Due: eslint-app, knip

chore(3974): correct spelling error
  app/app/tasks/all/TableBody.tsx
Due: eslint-app, knip

feat(4695): add Webhook URL DB migration script
  data-migrations/.tool-versions
  data-migrations/migrations/20250122165416-copy_webhook_urls.js
Due: none

feat(4695): add Webhook validation mechanisms
  app/app/api/example/webhook/route.ts
  app/app/api/private-cloud/products/_operations/create.ts
  app/app/api/private-cloud/products/search/route.ts
  app/app/api/private-cloud/provision/[licencePlate]/route.ts
  app/app/api/private-cloud/webhooks/[licencePlate]/route.ts
  app/app/api/private-cloud/webhooks/[licencePlate]/schema.ts
  app/app/api/private-cloud/webhooks/_operations/read.ts
  app/app/api/private-cloud/webhooks/_operations/update.ts
  app/app/api/v1/private-cloud/products/[idOrLicencePlate]/provision/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/create/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/private-cloud/requests/(request)/[id]/original/page.tsx
  app/app/private-cloud/requests/(request)/[id]/request/page.tsx
  app/components/private-cloud/SiloAccordion.tsx
  app/components/private-cloud/sections/Webhooks.tsx
  app/emails/_components/private-cloud/Changes.tsx
  app/helpers/mock-resources/private-cloud-product.ts
  app/helpers/mock-resources/private-cloud-request.ts
  app/helpers/product-change.ts
  app/helpers/webhook.ts
  app/prisma/schema.prisma
  app/services/backend/private-cloud/webhooks.ts
  app/services/db/models/core.ts
  app/services/db/models/index.ts
  app/services/db/models/private-cloud-product-webhook.ts
  app/types/doc-decorate.ts
  app/types/private-cloud.ts
  app/utils/node/hub-signature.ts
  app/utils/node/index.ts
  app/validation-schemas/private-cloud.ts
Due: eslint-app, prisma-format, knip

chore(4695): hide Webhook section if not part of the project
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/components/private-cloud/sections/Webhooks.tsx
Due: eslint-app, knip

chore(3974): improve feature
  app/app/tasks/all/TableBody.tsx
  app/services/db/task.ts
Due: eslint-app, knip

chore(4695): revert unnecessary changes
  app/app/api/private-cloud/products/_operations/create.ts
  app/app/api/private-cloud/products/search/route.ts
Due: eslint-app, knip

chore(4276): revert billing id nullification
  app/app/api/public-cloud/products/[licencePlate]/review-mou/route.ts
  app/app/api/public-cloud/products/_operations/create.ts
  app/app/api/public-cloud/products/_operations/update.ts
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/requests/(request)/[id]/original/page.tsx
  app/app/public-cloud/requests/(request)/[id]/page.tsx
  app/components/billing/PublicCloudBillingDownloadButton.tsx
  app/components/billing/PublicCloudBillingInfo.tsx
  app/components/modal/publicCloudProductEditSubmit.tsx
  app/emails/_components/ProviderDetails.tsx
  app/emails/_components/public-cloud/Changes.tsx
  app/emails/_templates/public-cloud/BillingReviewerMou.tsx
  app/emails/_templates/public-cloud/EmouServiceAgreement.tsx
  app/emails/_templates/public-cloud/ExpenseAuthorityMou.tsx
  app/emails/_templates/public-cloud/ExpenseAuthorityMouProduct.tsx
  app/prisma/schema.prisma
  app/services/ches/public-cloud/emails.ts
  app/services/db/tasks/sign-public-cloud-mou.ts
  app/services/nats/public-cloud/index.ts
Due: eslint-app, prisma-format, knip

chore(4276): revert billing id nullification in requested project schema
  app/prisma/schema.prisma
Due: prisma-format, knip

chore(0000): remove query cache data after 0.5 sec
  app/components/layouts/Provider.tsx
Due: eslint-app, knip

chore: release candidate v0.43.5
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(4695): skip data inserting if no webhook URLs found
  data-migrations/migrations/20250122165416-copy_webhook_urls.js
Due: none

chore(0000): update CHANGELOG properly
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: none

chore: release candidate v0.43.6
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(3974): improve task page
  app/app/api/tasks/download/route.ts
  app/app/tasks/all/FilterPanel.tsx
  app/app/tasks/all/TableBody.tsx
  app/app/tasks/all/state.ts
  app/constants/task.ts
  app/prisma/schema.prisma
  app/services/db/task.ts
  app/validation-schemas/task.ts
Due: eslint-app, prisma-format, knip

chore(3974): add task reader config to keycloak
  terraform/keycloak/dev/roles.tf
  terraform/keycloak/prod/roles.tf
  terraform/keycloak/test/roles.tf
Due: none

chore(3116): move m365mock.test to localdev directory
  app/package.json
  app/pnpm-lock.yaml
  localdev/m365mock/jest.config.mjs
  localdev/m365mock/m365mock.test.ts
Due: eslint, knip

chore(3116): edit jest config file
  localdev/m365mock/jest.config.mjs
  localdev/m365mock/package.json
  localdev/m365mock/pnpm-lock.yaml
Due: none

chore(3974): import package using correct convention
  app/services/db/task.ts
Due: eslint-app, knip

Revert "chore(deps): update node.js"
  .tool-versions
  data-migrations/.tool-versions
  data-migrations/Dockerfile
Due: none

feat(4732): send Webhook request on create events
  app/app/api/private-cloud/products/_operations/create.ts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/create/page.tsx
  app/components/private-cloud/SiloAccordion.tsx
  app/components/private-cloud/sections/FormWebhooks.tsx
  app/components/private-cloud/sections/Webhooks.tsx
  app/validation-schemas/private-cloud.ts
Due: eslint-app, knip

chore(4737): add data-migrations files to renovate-bot ignore list
  data-migrations/.tool-versions
  data-migrations/Dockerfile
  renovate.json
Due: none

chore: release candidate v0.43.7
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

feat(4746): add password input components
  app/app/examples/ui/(components)/password-input/page.tsx
  app/app/examples/ui/page.tsx
  app/components/generic/input/FormPasswordInput.tsx
  app/components/generic/input/HookFormPasswordInput.tsx
  app/components/private-cloud/sections/Webhooks.tsx
Due: eslint-app, knip

chore(3116): add github actions workflow for testing localdev m365mock
  .github/workflows/localdev-test.yml
  localdev/m365mock/jest.config.mjs
  localdev/m365mock/m365mock.test.ts
  localdev/m365mock/main.ts
  localdev/m365mock/package.json
  localdev/m365mock/pnpm-lock.yaml
Due: eslint

feat(4502): use BCSans font in emails
  app/emails/_components/layout/Layout.tsx
  app/services/ches/core.ts
  localdev/ches-mock/main.ts
Due: eslint, eslint-app, knip

chore(4502): ignore email tag vulnerability warnings
  app/services/ches/core.ts
Due: eslint-app, knip
