Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^helm
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^helm
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: package.lock.json
- repo: local
  hooks:
  # - id: es-format
  #   name: eslint
  #   entry: .bin/eslint.sh
  #   language: script
  #   files: \.tsx?$
  #   verbose: true
  #   pass_filenames: true
  - id: python-format
    name: autopep8
    entry: .bin/autopep8.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
# - repo: https://github.com/codespell-project/codespell
#   rev: v2.2.6
#   hooks:
#   - id: codespell

exclude: ^(app/.react-email|CHANGELOG\.md)$

chore: pr review edits
  app/components/form/TeamContacts.tsx
  app/schema.ts
Due: knip

feat(2961): enable export options for contact changes chart data
  app/app/api/private-cloud/analytics/csv/contact-changes/route.ts
  app/app/api/private-cloud/analytics/csv/decision-time/route.ts
  app/app/api/private-cloud/analytics/csv/products/route.ts
  app/app/api/private-cloud/analytics/csv/quota-request-users/route.ts
  app/app/api/private-cloud/analytics/csv/requests/route.ts
  app/app/api/public-cloud/analytics/csv/contact-changes/route.ts
  app/app/api/public-cloud/analytics/csv/decision-time/route.ts
  app/app/api/public-cloud/analytics/csv/products/route.ts
  app/app/api/public-cloud/analytics/csv/requests/route.ts
  app/app/private-cloud/analytics/page.tsx
  app/app/public-cloud/analytics/page.tsx
Due: knip

chore: get back optional for support number
  app/schema.ts
Due: knip

feat(3220): update v1 API endpoints data & parameters
  app/app/api-account/ApiTabs.tsx
  app/app/api/private-cloud/products/_operations/search.ts
  app/app/api/private-cloud/products/download/route.ts
  app/app/api/private-cloud/products/search/route.ts
  app/app/api/public-cloud/products/_operations/search.ts
  app/app/api/public-cloud/products/download/route.ts
  app/app/api/public-cloud/products/search/route.ts
  app/app/api/v1/private-cloud/products/route.test.ts
  app/app/api/v1/private-cloud/products/route.ts
  app/app/api/v1/public-cloud/products/route.test.ts
  app/app/api/v1/public-cloud/products/route.ts
  app/helpers/mock-resources.ts
  app/prisma/seed.ts
  app/queries/private-cloud-products.ts
  app/queries/public-cloud-products.ts
  app/services/api-test/core.ts
  app/services/api-test/v1/private-cloud/products.ts
  app/services/api-test/v1/public-cloud/products.ts
  app/utils/collection.ts
Due: knip

chore(3220): fix build errors
  app/app/api/public-cloud/products/download/route.ts
Due: knip

feat(3207): display the number of comments on a request to admins
  app/components/form/ActiveRequestBox.tsx
  app/components/table/TableBodyPrivateProducts.tsx
  app/components/table/TableBodyPrivateRequests.tsx
  app/package-lock.json
Due: knip

chore: add supportPhoneNumber field to changes
  app/helpers/product-change.ts
Due: knip

chore: edit notification email link to request summary
  app/emails/_templates/private-cloud/EditRequest.tsx
  app/package-lock.json
Due: knip

feat(2962): add login event chart in analytics page
  app/analytics/general/login.ts
  app/app/analytics/page.tsx
  app/app/api/analytics/csv/login/route.ts
  app/components/layouts/UserMenu.tsx
  app/core/auth-options.ts
  app/types/next-auth.d.ts
  app/types/permissions.ts
Due: knip

chore(2962): fix sonarcloud lint errors
  app/app/analytics/page.tsx
Due: knip

chore(2962): fix build errors
  app/analytics/general/login.ts
  app/app/api/analytics/csv/login/route.ts
Due: knip

feat(2959): minimal e2e private cloud happy path test set
  cypress/integration/approve-request-test.feature
  cypress/integration/create-request-test.feature
  cypress/integration/delete-product-test.feature
  cypress/integration/edit-request-test.feature
  cypress/integration/login-test.feature
Due: none

chore: rename variables
  app/config.ts
  helm/secdash/dags/mailchimp-subscription-test.py
  helm/secdash/dags/update_mailchimp_list.py
Due: python-format, knip

chore(3207): refactor display of number of comments to admins
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/listCount.ts
  app/app/api/private-cloud/products/[licencePlate]/comments/route.ts
  app/components/table/TableBodyPrivateProducts.tsx
  app/components/table/TableBodyPrivateRequests.tsx
  app/services/backend/private-cloud/products.ts
Due: knip

chore: remove pycache file
  app/package-lock.json
Due: knip

chore: remove mailchimp js file
  app/services/mailchimp/index.ts
Due: knip

chore: remove unused dependencies
  app/package-lock.json
  app/package.json
Due: knip

feat(3244): add minimal happy path gherkin scenarios for public cloud request flow
  cypress/integration/create-request-private-test.feature
  cypress/integration/create-request-public-test.feature
  cypress/integration/edit-request-private-test.feature
  cypress/integration/edit-request-public-test.feature
Due: none

feat(2847): check for license plate duplication in DB when creating
  app/helpers/licence-plate.ts
  app/request-actions/private-cloud/create-request.ts
  app/request-actions/public-cloud/create-request.ts
Due: knip

feat: add X button to clear search text field
  app/components/generic/table/SearchFilterExport.tsx
Due: knip

feat(3296): enhance search input clear button behaviour
  app/components/generic/table/SearchFilterExport.tsx
  app/package-lock.json
Due: knip

feat: add create deletion request and send email
  app/package-lock.json
  app/services/ches/private-cloud/send-emails.ts
Due: knip

chore: release candidate v0.32.0
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

feat: add create deletion request and send email
  helm/secdash/dags/__pycache__/projects.cpython-312.pyc
  helm/secdash/dags/temporary_products_deletion.py
Due: python-format

chore(3207): refactor backend and frontend
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/listCount.ts
  app/app/api/private-cloud/products/[licencePlate]/comments/route.ts
  app/app/api/private-cloud/products/[licencePlate]/count/_operations/count.ts
  app/app/api/private-cloud/products/[licencePlate]/count/route.ts
  app/components/form/ActiveRequestBox.tsx
  app/components/table/TableBodyPrivateProducts.tsx
  app/components/table/TableBodyPrivateRequests.tsx
  app/services/backend/private-cloud/products.ts
Due: knip

chore(3207): cleanup code
  app/app/api/private-cloud/products/[licencePlate]/count/route.ts
  app/components/form/ActiveRequestBox.tsx
  app/components/table/TableBodyPrivateProducts.tsx
  app/services/backend/private-cloud/products.ts
Due: knip

feat(3121): add backend API endpints to support team service accounts
  app/app/api/keycloak/api-accounts/team/[id]/route.ts
  app/app/api/keycloak/api-accounts/team/[id]/users/route.ts
  app/app/api/keycloak/api-accounts/team/_operations/create.ts
  app/app/api/keycloak/api-accounts/team/_operations/delete.ts
  app/app/api/keycloak/api-accounts/team/_operations/list.ts
  app/app/api/keycloak/api-accounts/team/_operations/read.ts
  app/app/api/keycloak/api-accounts/team/_operations/update.ts
  app/app/api/keycloak/api-accounts/team/route.ts
  app/app/example/table/page.tsx
  app/constants/index.ts
  app/core/auth-options.ts
  app/prisma/schema.prisma
  app/services/backend/keycloak.ts
  app/services/keycloak/app-realm.ts
  app/types/next-auth.d.ts
  app/utils/uuid.ts
Due: prisma-format, knip

chore(3121): fix build errors
  app/app/api/keycloak/api-accounts/team/_operations/read.ts
Due: knip

chore: review fixies
  helm/secdash/dags/__pycache__/projects.cpython-312.pyc
  helm/secdash/dags/mailchimp-subscription-test.py
  helm/secdash/dags/update_mailchimp_list.py
Due: python-format

fix(3121): fix typo to retrieve correct roles
  app/core/auth-options.ts
Due: knip

feat(3252): add cronjob to update Registry emails in Mailchimp
  app/config.ts
  helm/secdash/dags/__pycache__/projects.cpython-312.pyc
  helm/secdash/dags/mailchimp-subscription-prod.py
Due: python-format, knip

chore: add .gitignore file to helm/secdash/dags dir
  helm/secdash/dags/.gitignore
Due: none

fix: main branch merge
  app/package-lock.json
Due: knip

test(3164): add create op test for admin comments
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/create.test.ts
  app/app/api/private-cloud/products/[licencePlate]/requests/route.test.ts
  app/app/api/private-cloud/products/_operations/create.test.ts
  app/app/api/private-cloud/products/_operations/delete.test.ts
  app/app/api/private-cloud/products/_operations/read.test.ts
  app/app/api/private-cloud/products/_operations/update.test.ts
  app/app/api/private-cloud/products/download/route.test.ts
  app/app/api/private-cloud/products/search/route.test.ts
  app/app/api/private-cloud/requests/search/route.test.ts
  app/app/api/public-cloud/products/[licencePlate]/requests/route.test.ts
  app/app/api/public-cloud/products/_operations/create.test.ts
  app/app/api/public-cloud/products/_operations/delete.test.ts
  app/app/api/public-cloud/products/_operations/read.test.ts
  app/app/api/public-cloud/products/_operations/update.test.ts
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/api/public-cloud/products/search/route.test.ts
  app/app/api/public-cloud/requests/search/route.test.ts
  app/app/api/v1/private-cloud/products/route.test.ts
  app/app/api/v1/public-cloud/products/route.test.ts
  app/helpers/mock-resources.ts
  app/helpers/mock-users.ts
  app/package-lock.json
  app/package.json
  app/services/api-test/private-cloud/products.ts
Due: knip

chore(3252): add cronjob for mailchimp subscription dev namespace
  helm/secdash/dags/mailchimp-subscription-dev.py
Due: python-format

chore(3252): mongo conection id change to dev for dev cronjob
  helm/secdash/dags/mailchimp-subscription-dev.py
Due: python-format

chore(3040): review fixies move out functions, use find insted of find_one
  helm/secdash/dags/_utils.py
  helm/secdash/dags/update_mailchimp_list.py
Due: python-format

chore(3040): review fixies, projection for user collectio query
  helm/secdash/dags/_utils.py
  helm/secdash/dags/update_mailchimp_list.py
Due: python-format

chore(3040): add secrets to deployment file
  app/package-lock.json
  helm/_app/templates/deployment.yaml
Due: knip

feat(3320): add core helper function to create modals
  app/app/example/modal/page.tsx
  app/app/example/modal/testModal.tsx
  app/core/modal.tsx
  app/package-lock.json
Due: knip
