Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^(helm|mkdocs\.yml)$
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^(helm)$
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    exclude: .git/COMMIT_EDITMSG
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: ^(sandbox/mock-users\.json|sandbox/m365proxy/mocks\.json|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: .bin/eslint.sh
    language: script
    files: ^(cypress|sandbox)/.*\.(js|ts)$
    verbose: true
    pass_filenames: true
  - id: eslint-app
    name: eslint-app
    entry: .bin/eslint-app.sh
    language: script
    files: ^app/.*\.(ts|tsx)$
    verbose: true
    pass_filenames: true
  - id: python-format
    name: black
    entry: .bin/black.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
  - id: commitlint
    name: commitlint
    entry: .bin/commitlint.sh
    language: script
    verbose: true
    pass_filenames: false
    stages: [commit-msg]
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    exclude: .git/COMMIT_EDITMSG

exclude: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$

docs(devxt-2909): fix failing e2e test
  .github/actions/setup-tools/action.yml
Due: none

fix(ci-test): fix failing e2e test by adding ignoreDeprecations flag
  tsconfig.json
Due: none

fix(ci-test): trying something out
  tsconfig.json
Due: none

fix failing e2e test (#7512)
  tsconfig.json
Due: none

Revert "fix(deps): update dependency postcss to v8.5.15"
  app/package.json
Due: knip

Revert "fix(deps): update react monorepo"
  app/package.json
Due: knip

fix(0000): update pnpm lockfile
  pnpm-lock.yaml
Due: none

Revert "chore(deps): update alpine docker tag to v3.24.0"
  app/Dockerfile.rsync
Due: knip

fix(0000): align react types version
  app/package.json
Due: knip

fix(0000): update lockfile for nodemailer 8.0.9
  pnpm-lock.yaml
  sandbox/ches-mock/pnpm-lock.yaml
Due: none

feat(2825): initial commit
  app/components/form/ProjectDescriptionPublic.tsx
  app/components/generic/input/FormTextarea.tsx
  app/constants/public-cloud.ts
  app/validation-schemas/public-cloud.ts
Due: eslint-app, knip

fix(0000): update pnpm lockfile for react email dependencies
  pnpm-lock.yaml
Due: none

feat(2825): merge main into branch
  .tool-versions
  app/Dockerfile
  app/Dockerfile.email
  app/Dockerfile.rsync
  app/package.json
  helm/_mailpit/values.yaml
  helm/main/Chart.lock
  helm/main/Chart.yaml
  helm/tools/Chart.lock
  helm/tools/Chart.yaml
  pnpm-lock.yaml
  requirements.txt
  sandbox/ches-mock/package.json
  sandbox/ches-mock/pnpm-lock.yaml
  sandbox/docker-compose.yml
  tools/airflow/requirements.txt
Due: knip

character counter test
  app/components/generic/input/FormTextarea.tsx
  app/components/modal/CancelRequest.tsx
Due: eslint-app, knip

fix(2889): restore pnpm 11.0.8
  .tool-versions
  app/Dockerfile
  app/Dockerfile.email
  app/package.json
  package.json
  pnpm-lock.yaml
Due: knip

docs(devxt-2909): updates from CoPilot review
  docs/development-setup/sandbox.md
Due: none

docs(devxt-2909): updates from Copilot review
  .bin/copy-db.sh
Due: bash-format

docs(devxt-2909): update from AI code review
  docs/development-setup/sandbox.md
Due: none

feat(2825): interim commit
  app/components/form/ProjectDescriptionPublic.tsx
  app/components/private-cloud/sections/QuotasChangeInfo.tsx
  app/constants/private-cloud.ts
  app/validation-schemas/private-cloud.ts
  pnpm-lock.yaml
Due: eslint-app, knip

feat(2825): simplify character count logic
  app/components/generic/input/FormTextarea.tsx
Due: eslint-app, knip

fix(0000): update sharp lockfile
  pnpm-lock.yaml
Due: none

docs(devxt-2909): updated developer docs and associated dev scripts (#7508)
  .bin/copy-db.sh
  .github/actions/setup-tools/action.yml
  .tool-versions
  Makefile
  docs/development-setup/local-development-environment.md
  docs/development-setup/running-locally.md
  docs/development-setup/sandbox.md
Due: bash-format

feat(2825): apply suggestions from CoPilot review agent
  app/components/generic/input/FormTextarea.tsx
Due: eslint-app, knip

fix(0000): update node-gyp lockfile
  pnpm-lock.yaml
Due: none

feat(2825): added unit tests
  app/components/generic/input/FormTextarea.test.tsx
  app/jest.setup.ts
  app/validation-schemas/max-length.test.ts
Due: eslint-app, knip

feat(2825): refactor unit test to not have duplicate code so it passes SonarCloud check
  app/components/generic/input/FormTextarea.test.tsx
Due: eslint-app, knip

fix(0000): update ches mock lockfile
  sandbox/ches-mock/pnpm-lock.yaml
Due: none

chore(0000): update lockfile for csv-parse 7
  pnpm-lock.yaml
Due: none

feat(2825): add check for max length before calling set method
  app/components/generic/input/FormTextarea.tsx
Due: eslint-app, knip

fix(0000): sync react-email lockfile
  pnpm-lock.yaml
Due: none

fix(2917): regenerate pnpm lockfile in renovate updates
  renovate.json
Due: none

feat(2825): updates from copilot review and moved comment from test file into test docs
  app/components/form/ProjectDescriptionPublic.tsx
  app/components/generic/input/FormTextarea.test.tsx
  app/components/generic/input/FormTextarea.tsx
  docs/tests/api-testing.md
Due: eslint-app, knip

Revert "fix(2917): regenerate pnpm lockfile in renovate updates"
  renovate.json
Due: none

fix(2917): align renovate with pnpm 11
  renovate.json
Due: none

e2e(2924): disable e2e test from running on push
  .github/workflows/cypress-e2e-test.yaml
Due: none

e2e(2924): disable e2e test from running on push (#7561)
  .github/workflows/cypress-e2e-test.yaml
Due: none

feat(2825): added maxlength to description for private cloud
  app/components/form/ProjectDescriptionPrivate.tsx
  app/constants/private-cloud.ts
  app/validation-schemas/max-length.test.ts
  app/validation-schemas/private-cloud.ts
Due: eslint-app, knip

chore(2831): strengthen HTTP security headers
  app/middleware.ts
Due: eslint-app, knip

DEVXT-2825: add character count to text area (#7547)
  app/components/form/ProjectDescriptionPrivate.tsx
  app/components/form/ProjectDescriptionPublic.tsx
  app/components/generic/input/FormTextarea.test.tsx
  app/components/generic/input/FormTextarea.tsx
  app/components/private-cloud/sections/QuotasChangeInfo.tsx
  app/constants/private-cloud.ts
  app/constants/public-cloud.ts
  app/jest.setup.ts
  app/validation-schemas/max-length.test.ts
  app/validation-schemas/private-cloud.ts
  app/validation-schemas/public-cloud.ts
  docs/tests/api-testing.md
Due: eslint-app, knip

Deploying to gh-pages from @ bcgov/platform-services-registry@791e2b32682dc894998c9bfd6f1abb92e1748402 🚀
  development-setup/local-development-environment.html
  development-setup/running-locally.html
  development-setup/sandbox.html
  sitemap.xml
  sitemap.xml.gz
  tests/api-testing.html
Due: none
