Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

feat(4843): add toggling maintenance mode dispatcher
  maintenance/static/img/logo-banner.svg
  maintenance/static/index.html
  maintenance/static/style.css
Due: none

chore(4539): fix build issues
  app/services/k8s/namespace.ts
  app/services/k8s/usage-metrics.ts
Due: eslint-app, knip

chore(4539): avoid importing ESM in Jest test
  app/jest.setup.js
Due: knip

chore(4938): update Terraform tool version
  .github/workflows/terraform-keycloak.yml
  .github/workflows/terraform-sysdig.yml
  .tool-versions
  terraform/keycloak/config.tf
  terraform/keycloak/dev/config.tf
  terraform/keycloak/prod/config.tf
  terraform/keycloak/test/config.tf
  terraform/openshift-deployer/101ed4-dev/config.tf
  terraform/openshift-deployer/101ed4-prod/config.tf
  terraform/openshift-deployer/101ed4-test/config.tf
  terraform/openshift-deployer/101ed4-tools/config.tf
  terraform/sysdig/config.tf
  terraform/sysdig/silver-101ed4-team/config.tf
Due: none

chore(4938): update tailwindcss version
  app/package.json
  app/pnpm-lock.yaml
  app/postcss.config.js
  app/postcss.config.mjs
Due: knip

feat(4484): implement team contacts user picker for private cloud
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/list.test.ts
  app/app/api/private-cloud/products/[licencePlate]/requests/route.test.ts
  app/app/api/private-cloud/products/_operations/create.test.ts
  app/app/api/private-cloud/products/_operations/create.ts
  app/app/api/private-cloud/products/_operations/delete.test.ts
  app/app/api/private-cloud/products/_operations/read.test.ts
  app/app/api/private-cloud/products/_operations/update.test.ts
  app/app/api/private-cloud/products/_operations/update.ts
  app/app/api/private-cloud/products/download/route.test.ts
  app/app/api/private-cloud/products/search/route.test.ts
  app/app/api/private-cloud/provision/[licencePlate]/route.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/app/api/private-cloud/requests/search/route.test.ts
  app/app/api/v1/private-cloud/products/route.test.ts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/create/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/private-cloud/requests/(request)/[id]/original/page.tsx
  app/app/private-cloud/requests/(request)/[id]/request/page.tsx
  app/components/form/SupportContact.tsx
  app/components/form/TeamContacts.tsx
  app/constants/user.ts
  app/helpers/mock-resources.ts
  app/services/api-test/private-cloud/helpers.ts
  app/types/user.ts
  app/validation-schemas/private-cloud.ts
Due: eslint-app, knip

chore(4484): resolve msgraph user id error
  app/components/modal/AddUser.tsx
  app/services/msgraph/index.ts
Due: eslint-app, knip

feat(0000): fix e2e tests from not seeing cypress
  .github/actions/setup-npm/action.yml
  sandbox/docker-compose-arm64.yml
Due: none

chore(4938): revert changes of tailwindcss upgrade
  app/package.json
  app/pnpm-lock.yaml
  app/postcss.config.js
  app/postcss.config.mjs
Due: knip

feat(0000): fix e2e tests from not seeing cypress
  .github/actions/setup-npm/action.yml
Due: none

chore(4843): add maintenance mode toggle and automated build trigger
  .github/workflows/build-push-maintenance.yml
  .github/workflows/deploy-maintenance-dispatch.yml
Due: none

chore(4843): preserved helm environment variables to revert to non maintenance mode
  .github/workflows/deploy-maintenance-dispatch.yml
Due: none

feat(4918): deprecate common components
  CHANGELOG.md
  app/app/api/analytics/csv/common-components/route.ts
  app/app/api/private-cloud/products/_operations/create.test.ts
  app/app/api/private-cloud/products/_operations/read.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/create/page.tsx
  app/components/Landing.tsx
  app/components/form/CommonComponents.tsx
  app/helpers/mock-resources.ts
  app/helpers/mock-resources/private-cloud-product.ts
  app/helpers/mock-resources/private-cloud-request.ts
  app/helpers/product-change.ts
  app/prisma/schema.prisma
  app/validation-schemas/private-cloud.ts
  cypress/_tmp/dummy.feature
  cypress/integration/1. create-request-private-test.feature
  cypress/integration/3. delete-product-private-test.feature
  cypress/integration/4. approve-requests-private.feature
  cypress/integration/7. edit-request-private-test.feature
  data-migrations/migrations/20240319203151-populate_missing_components.js
  data-migrations/migrations/20240319213622-populate_missing_components_other.js
  data-migrations/migrations/20240607161718-add_missing_create_requests.js
  testing/testing-checklist.md
Due: eslint-app, prisma-format, knip

chore(4484): populate DB user IDs in mock user data
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/list.test.ts
  app/app/api/private-cloud/products/[licencePlate]/requests/route.test.ts
  app/app/api/private-cloud/products/_operations/create.test.ts
  app/app/api/private-cloud/products/_operations/delete.test.ts
  app/app/api/private-cloud/products/_operations/read.test.ts
  app/app/api/private-cloud/products/_operations/update.test.ts
  app/app/api/private-cloud/products/download/route.test.ts
  app/app/api/private-cloud/products/search/route.test.ts
  app/app/api/private-cloud/provision/[licencePlate]/route.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/api/private-cloud/requests/search/route.test.ts
  app/app/api/v1/private-cloud/products/route.test.ts
  app/helpers/mock-resources.ts
  app/helpers/mock-users.ts
  app/jest.config.mjs
  app/jest.setup.ts
  app/services/api-test/private-cloud/helpers.ts
  app/services/api-test/private-cloud/products.ts
Due: eslint-app, knip

chore(4918): revert change log reformatting
  CHANGELOG.md
Due: none

chore(4918): remove the screenshots
  cypress/integration/4. approve-requests-private.feature
Due: none

chore(4918): revert integration tests
  cypress/integration/3. delete-product-private-test.feature
  cypress/integration/4. approve-requests-private.feature
  cypress/integration/7. edit-request-private-test.feature
  data-migrations/migrations/20240607161718-add_missing_create_requests.js
Due: none

chore(4918): revert create request integration test
  cypress/integration/1. create-request-private-test.feature
Due: none

chore(4918): keep user screenshot
  cypress/integration/1. create-request-private-test.feature
  cypress/integration/3. delete-product-private-test.feature
  cypress/integration/4. approve-requests-private.feature
  cypress/integration/7. edit-request-private-test.feature
Due: none

chore(4484): optimize shared team section component
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/create/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/private-cloud/requests/(request)/[id]/original/page.tsx
  app/app/private-cloud/requests/(request)/[id]/request/page.tsx
  app/components/form/SupportContact.tsx
  app/components/form/TeamContacts.tsx
  app/components/private-cloud/sections/TeamContacts.tsx
  app/constants/user.ts
  app/services/backend/private-cloud/products.ts
  app/services/backend/private-cloud/requests.ts
Due: eslint-app, knip

chore(4484): revert unnecessary changes in tests
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/list.test.ts
Due: eslint-app, knip

chore(4843): remove workflow_dispatch from buld push maintenance file
  .github/workflows/build-push-maintenance.yml
  .github/workflows/deploy-maintenance-dispatch.yml
  helm/_app/values.yaml
Due: knip

chore(4843): revert helm/_app/values.yaml file changes
  helm/_app/values.yaml
Due: knip

chore(4926): update pnpm lock file
  .github/workflows/build-push-maintenance.yml
  .github/workflows/mkdocs.yml
  app/pnpm-lock.yaml
Due: knip

Deploying to gh-pages from @ bcgov/platform-services-registry@e26cfffaaf8dd62180540c1950a4b9f31d68c3ab 🚀
  404.html
  api-testing.html
  assets/javascripts/bundle.f13b1293.min.js
  assets/javascripts/bundle.f13b1293.min.js.map
  assets/javascripts/bundle.f1b6f286.min.js
  assets/javascripts/bundle.f1b6f286.min.js.map
  assets/stylesheets/main.8608ea7d.min.css
  assets/stylesheets/main.8608ea7d.min.css.map
  assets/stylesheets/main.d7758b05.min.css
  assets/stylesheets/main.d7758b05.min.css.map
  bot-pr-review.html
  ci-cd.html
  clean-codes/return-early.html
  database.html
  debug-deployments.html
  developer-guide.html
  email-scenarios-private-cloud.html
  email-scenarios-public-cloud.html
  emou-workflow.html
  git-tips.html
  index.html
  onboarding-offboarding.html
  poc/security-dashboard.html
  react-email.html
  resource-metrics.html
  rocketchat-notifications.html
  selecting-image-scanner.html
  sitemap.xml
  sitemap.xml.gz
  team-conventions.html
  terraform.html
Due: none

feat(4926): add cluster badge in private products
  .tool-versions
  app/app/private-cloud/products/(product)/[licencePlate]/layout.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/layout.tsx
  app/components/private-cloud/ProductBadge.tsx
  app/components/public-cloud/ProductBadge.tsx
Due: eslint-app, knip

chore(4843): update maintenance helm chart
  helm/_app/templates/deployment.yaml
  helm/_app/templates/route.yaml
  helm/main/Makefile
  helm/main/values.yaml
Due: knip

feat(4843): add GitHub dispatcher to toggle maintenance
  .github/workflows/dispatch-deploy.yml
  .github/workflows/dispatch-maintenance.yml
Due: none

feat(994): add onboarding date field
  app/app/api/users/[id]/route.ts
  app/app/api/users/_operations/update.ts
  app/app/users/all/TableBody.tsx
  app/app/users/all/page.tsx
  app/components/generic/select/FormDatePicker.tsx
  app/components/modal/DatePicker.tsx
  app/constants/user.ts
  app/core/auth-options.ts
  app/emails/private-cloud/AdminEditRequest.tsx
  app/emails/private-cloud/TeamEditRequest.tsx
  app/emails/public-cloud/TeamEditRequest.tsx
  app/helpers/mock-resources/core.ts
  app/prisma/schema.prisma
  app/services/backend/user.ts
  app/services/db/user.ts
  app/types/next-auth.d.ts
  app/validation-schemas/user.ts
Due: eslint-app, prisma-format, knip

fix(4983): use original public cloud's team section component
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/requests/(request)/[id]/original/page.tsx
  app/app/public-cloud/requests/(request)/[id]/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/public-cloud/sections/TeamContacts.tsx
Due: eslint-app, knip

chore(4550): remove app deployment on maintenance mode
  docs/todo.md
  helm/_app/templates/deployment.yaml
  helm/_app/templates/job-pre-data-migrations.yaml
  helm/_app/templates/job-pre-prisma.yaml
  helm/_app/templates/service-maintenance.yaml
  helm/_app/templates/service.yaml
Due: knip

chore(4550): remove app deployment on maintenance mode
  helm/_app/templates/deployment.yaml
  helm/_app/templates/job-pre-data-migrations.yaml
  helm/_app/templates/job-pre-prisma.yaml
  helm/_app/templates/service-maintenance.yaml
  helm/_app/templates/service.yaml
Due: knip

Path conditions:
  eslint: any of: ^(cypress|localdev)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
