Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

chore(4550): add missing Helm upgrade flag
  .github/workflows/dispatch-maintenance.yml
Due: none

chore(4550): update maintenance workflow
  .github/workflows/dispatch-maintenance.yml
Due: none

Deploying to gh-pages from @ bcgov/platform-services-registry@1030d2e96ee47e8eca93cd2a8cba5e060e627718 🚀
  404.html
  api-testing.html
  bot-pr-review.html
  ci-cd.html
  clean-codes/return-early.html
  database.html
  debug-deployments.html
  developer-guide.html
  email-scenarios-private-cloud.html
  email-scenarios-public-cloud.html
  emou-workflow.html
  git-tips.html
  index.html
  onboarding-offboarding.html
  poc/security-dashboard.html
  react-email.html
  resource-metrics.html
  rocketchat-notifications.html
  selecting-image-scanner.html
  sitemap.xml
  sitemap.xml.gz
  team-conventions.html
  terraform.html
Due: none

e2e(4992): adapt tests to new user picker component
  cypress/integration/1. create-request-private-test.feature
  cypress/integration/2. create-request-public-test.feature
  cypress/integration/3. delete-product-private-test.feature
  cypress/integration/4. approve-requests-private.feature
  cypress/integration/5. approve-requests-public.feature
  cypress/integration/6. delete-product-public-test.feature
  cypress/integration/7. edit-request-private-test.feature
  cypress/integration/8. edit-request-public-test.feature
  cypress/support/step_definitions/common.ts
Due: eslint

fix(4987): install cypress in CI pipelines
  .github/actions/setup-npm/action.yml
Due: none

fix(4984): resolve create page errors in public cloud
  app/app/public-cloud/products/(product)/create/page.tsx
Due: eslint-app, knip

chore(4550): fix typos
  .github/workflows/dispatch-maintenance.yml
Due: none

feat(4484): implement PO & TL picker for public cloud
  app/app/api/public-cloud/products/_operations/create.ts
  app/app/api/public-cloud/products/_operations/update.ts
  app/app/api/public-cloud/requests/[id]/decision/route.ts
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/products/(product)/create/page.tsx
  app/app/public-cloud/requests/(request)/[id]/original/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/public-cloud/sections/TeamContacts.tsx
  app/validation-schemas/public-cloud.ts
Due: eslint-app, knip

chore(4484): resolve integration test failures and update pages
  app/app/api/public-cloud/products/_operations/create.test.ts
  app/app/api/public-cloud/products/_operations/create.ts
  app/app/api/public-cloud/products/_operations/update.test.ts
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/products/(product)/create/page.tsx
  app/app/public-cloud/requests/(request)/[id]/original/page.tsx
  app/app/public-cloud/requests/(request)/[id]/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/form/AsyncAutocomplete.tsx
  app/components/form/ExpenseAuthority.tsx
  app/components/private-cloud/sections/TeamContacts.tsx
  app/components/public-cloud/sections/TeamContacts.tsx
  app/services/api-test/public-cloud/products.ts
Due: eslint-app, knip

chore(4876): add filters to general analytics page
  app/app/analytics-general/page.tsx
  app/app/analytics-general/state.ts
  app/app/analytics/page.tsx
  app/app/api/analytics/csv/login/route.ts
  app/app/api/analytics/general/route.ts
  app/app/events/all/FilterPanel.tsx
  app/components/analytics/CombinedAreaGraph.tsx
  app/components/generic/select/FormUserPicker.tsx
  app/components/layouts/UserMenu.tsx
  app/constants/event.ts
  app/services/backend/analytics/general.ts
  app/services/backend/events.ts
  app/services/db/analytics-general-logins.ts
  app/validation-schemas/logins.ts
Due: eslint-app, knip

chore(4876): ajust export button
  app/app/analytics/general/page.tsx
  app/app/analytics/general/state.ts
  app/components/analytics/CombinedAreaGraph.tsx
  app/components/layouts/UserMenu.tsx
Due: eslint-app, knip

chore(4876): remove unused export
  app/components/analytics/CombinedAreaGraph.tsx
Due: eslint-app, knip

chore(4876): add download link for clouds analytics
  app/components/analytics/CombinedAreaGraph.tsx
Due: eslint-app, knip

chore(4550): use npm to run hooks in release
  .release-it.json
Due: none

chore(4876): revert event type back to login in app/services/db/analytics-general-logins.ts
  app/services/db/analytics-general-logins.ts
Due: eslint-app, knip

chore: release candidate v0.43.14
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(4876): add CSV export for login analytics data
  app/app/analytics/general/page.tsx
  app/app/analytics/general/state.ts
  app/app/api/analytics/general/download/route.ts
  app/app/api/analytics/general/filter/route.ts
  app/components/analytics/CombinedAreaGraph.tsx
  app/services/backend/analytics/general.ts
  app/services/db/analytics-general-logins.ts
  app/validation-schemas/analytics-general.ts
Due: eslint-app, knip

chore(4876): remove types from page state
  app/app/analytics/general/state.ts
Due: eslint-app, knip

feat(4973): update Public Cloud product page based on provider
  app/app/public-cloud/products/(product)/create/page.tsx
  app/components/form/Budget.tsx
  app/components/generic/input/FormDollarInput.tsx
  app/validation-schemas/public-cloud.ts
Due: eslint-app, knip

chore(5011): remove @types/eslint__js
  app/.knip.json
  app/package.json
  app/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: knip

feat(5012): support Vanity URL route on maintenance mode
  helm/_app/templates/route.yaml
  helm/_app/templates/service-maintenance.yaml
  helm/_app/templates/service.yaml
Due: knip

chore(4876): ensure dates are always provided
  app/app/analytics/general/page.tsx
  app/components/analytics/CombinedAreaGraph.tsx
  app/services/db/analytics-general-logins.ts
  app/validation-schemas/analytics-general.ts
Due: eslint-app, knip

chore(4876): ensure correct date range selection for analytics chart
  app/app/analytics/general/page.tsx
  app/app/analytics/general/state.ts
  app/services/db/analytics-general-logins.ts
  app/validation-schemas/analytics-general.ts
Due: eslint-app, knip

feat(5026): enhance date picker modals & components
  Makefile
  app/app/users/all/TableBody.tsx
  app/components/generic/select/FormDatePicker.tsx
  app/components/generic/select/FormDateRangePicker.tsx
  app/components/modal/DatePicker.tsx
  app/components/modal/DateRangePicker.tsx
  app/utils/js/date.ts
Due: eslint-app, knip

feat(5026): enhance user picker modals & components
  app/components/generic/select/FormUserPicker.tsx
  app/components/modal/userPicker.tsx
  app/components/private-cloud/sections/TeamContacts.tsx
  app/components/public-cloud/sections/TeamContacts.tsx
  app/components/shared/AdditionalTeamMembers.tsx
  app/components/shared/TeamContacts.tsx
  app/components/users/UserAutocomplete.tsx
  app/validation-schemas/private-cloud.ts
  app/validation-schemas/public-cloud.ts
Due: eslint-app, knip

chore(5026): update validation schema for secondary TL
  app/validation-schemas/private-cloud.ts
  app/validation-schemas/public-cloud.ts
Due: eslint-app, knip

feat(5026): add mask input component
  app/components/form/SupportContact.tsx
  app/components/generic/input/FormMaskInput.tsx
  app/components/generic/input/HookFormMaskInput.tsx
  app/components/private-cloud/sections/TeamContacts.tsx
  app/components/shared/SupportContact.tsx
Due: eslint-app, knip

chore(5026): fix issue searching users
  Makefile
  app/components/users/UserAutocomplete.tsx
Due: eslint-app, knip

feat(5036): add resend function on public cloud side
  app/app/api/public-cloud/requests/[id]/resend/route.ts
  app/app/private-cloud/requests/(request)/[id]/layout.tsx
  app/app/public-cloud/requests/(request)/[id]/layout.tsx
  app/components/dropdowns/PublicCloudRequestOptions.tsx
  app/constants/event.ts
  app/prisma/schema.prisma
  app/services/backend/public-cloud/requests.ts
  app/services/db/event.ts
  app/services/db/models/public-cloud-request.ts
  app/types/doc-decorate.ts
Due: eslint-app, prisma-format, knip

chore: release candidate v0.43.15
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

feat(5057): enable AWS LZA public cloud provider in prod
  app/core/auth-options.ts
Due: eslint-app, knip

chore: release candidate v0.44.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(0000): downgrade next version to 15.1.7
  app/package.json
  app/pnpm-lock.yaml
Due: knip

chore(5064): downgrade next version to 15.1.7
  app/package.json
  app/pnpm-lock.yaml
Due: knip

feat(5033): add filters to private cloud analytics page
  app/app/analytics/private-cloud/page.tsx
  app/app/analytics/private-cloud/state.ts
  app/app/api/analytics/private-cloud/download/route.ts
  app/app/api/analytics/private-cloud/filter/route.ts
  app/app/api/private-cloud/products/[licencePlate]/usage-metrics/route.ts
  app/components/analytics/Histogram.tsx
  app/components/analytics/LineGraph.tsx
  app/components/analytics/PieGraph.tsx
  app/services/backend/analytics/private-cloud.ts
  app/services/db/analytics-private-cloud/get-active-products.ts
  app/services/db/analytics-private-cloud/get-contact-changes.ts
  app/services/db/analytics-private-cloud/get-licencePlates.ts
  app/services/db/analytics-private-cloud/get-ministry-distributions.ts
  app/services/db/analytics-private-cloud/get-quota-change.ts
  app/services/db/analytics-private-cloud/get-request-decision-time.ts
  app/services/db/analytics-private-cloud/get-requests.ts
  app/services/db/analytics-private-cloud/index.ts
  app/validation-schemas/analytics-private-cloud.ts
  app/validation-schemas/private-cloud.ts
Due: eslint-app, knip

chore(5033): add export button users with quota change to private cloud analytics page
  app/analytics/private-cloud/common.ts
  app/analytics/private-cloud/contact-changes.ts
  app/analytics/private-cloud/ministry-distributions.ts
  app/analytics/private-cloud/products.ts
  app/analytics/private-cloud/quota-changes.ts
  app/analytics/private-cloud/request-decision-time.ts
  app/analytics/private-cloud/requests.ts
  app/app/analytics/private-cloud/page.tsx
  app/app/api/analytics/private-cloud/download/route.ts
  app/app/api/private-cloud/analytics/csv/contact-changes/route.ts
  app/app/api/private-cloud/analytics/csv/decision-time/route.ts
  app/app/api/private-cloud/analytics/csv/products/route.ts
  app/app/api/private-cloud/analytics/csv/quota-request-users/route.ts
  app/app/api/private-cloud/analytics/csv/quota-requests/route.ts
  app/app/api/private-cloud/analytics/csv/requests/route.ts
  app/app/private-cloud/analytics/page.tsx
  app/components/analytics/PieGraph.tsx
  app/components/layouts/UserMenu.tsx
  app/constants/private-cloud.ts
  app/services/db/analytics-private-cloud/get-users-quota-change.ts
  app/services/db/analytics-private-cloud/index.ts
  app/validation-schemas/analytics-private-cloud.ts
Due: eslint-app, knip

chore(5033): revert test namespace for resource usage
  app/app/api/private-cloud/products/[licencePlate]/usage-metrics/route.ts
Due: eslint-app, knip

chore(5033): replace map with reduce
  app/app/analytics/private-cloud/page.tsx
Due: eslint-app, knip

Path conditions:
  eslint: any of: ^(cypress|localdev)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
