Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

fix(3109): add Helm 4 RBAC permissions
  terraform/openshift-deployer/_module/main.tf
Due: none

fix(3109): add service account watch permission
  terraform/openshift-deployer/_module/main.tf
Due: none

fix(3109): add network policy watch permission
  terraform/openshift-deployer/_module/main.tf
Due: none

fix(3109): add Helm 4 deployer watch permissions
  terraform/openshift-deployer/_module/main.tf
Due: none

chore(3121): add GitOps links to downloaded table
  app/app/api/private-cloud/products/download/route.ts
  app/components/form/Repositories.tsx
Due: eslint-app, knip

chore(3122): disabled text input in FormSingleSelect
  app/components/generic/table/SearchFilterExport.tsx
Due: eslint-app, knip

chore(3121): add test for download gitops links
  app/app/api/private-cloud/products/download/route.test.ts
Due: eslint-app, knip

chore: release candidate v0.86.1
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

fix(3126): add GHCR build for MinIO server
  .github/workflows/build-push-tools.yml
  tools/minio-server/Dockerfile
Due: none

fix(3126): add project-managed MinIO server image
  tools/minio-server/Dockerfile
Due: none

fix(3126): address MinIO server image security findings
  tools/minio-server/Dockerfile
Due: none

fix(3126): pin MinIO server artifacts
  tools/minio-server/Dockerfile
Due: none

fix(3126): build MinIO server from pinned source commit
  tools/minio-server/Dockerfile
Due: none

fix(3126): use project-managed MinIO server image
  helm/tools/values.yaml
Due: none

fix(3126): allow OpenShift runtime to read MinIO entrypoint
  tools/minio-server/Dockerfile
Due: none

fix(3126): update MinIO server image tag
  helm/tools/values.yaml
Due: none

chore(3066): export only associated users
  app/app/api/users/download/route.ts
  app/services/db/user.ts
Due: eslint-app, knip

chore(3066): optimize associated user export
  app/services/db/user.ts
Due: eslint-app, knip

chore(3066): simplify export role processing
  app/services/db/user.ts
Due: eslint-app, knip

chore(3066): paginate users by role
  app/services/keycloak/app-realm.ts
Due: eslint-app, knip

chore: release candidate v0.86.2
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

feat(3072): validate users against approved organizations
  app/.env.example
  app/package.json
  app/services/github/auth.ts
  app/services/github/axios.ts
  app/services/github/index.ts
  helm/_app/templates/deployment.yaml
  helm/main/values.yaml
  pnpm-lock.yaml
Due: eslint-app, knip

chore(3072): add GitHub App authentication coverage
  app/services/github/auth.test.ts
  app/services/github/auth.ts
  app/services/github/index.ts
Due: eslint-app, knip

chore(3072): add fallback across approved org installations
  app/services/github/index.ts
Due: eslint-app, knip

chore(3072): simplify authenticated user lookup fallback
  app/services/github/index.ts
Due: eslint-app, knip

chore(3072): handle partial membership check failures
  app/services/github/index.ts
Due: eslint-app, knip

chore(3072): reserve local API token and validate installation IDs
  app/services/github/auth.ts
  app/services/github/index.ts
Due: eslint-app, knip

chore: release candidate v0.87.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

Path conditions:
  eslint: any of: ^(cypress|sandbox)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
