Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^helm
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^helm
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: package.lock.json
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: .bin/eslint.sh
    language: script
    files: ^(cypress|localdev)/.*\.(js|ts)$
    verbose: true
    pass_filenames: true
  - id: eslint-app
    name: eslint-app
    entry: .bin/eslint-app.sh
    language: script
    files: ^app/.*\.(ts|tsx)$
    verbose: true
    pass_filenames: true
  - id: python-format
    name: black
    entry: .bin/black.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.18.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
exclude: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$

chore(4094): update detect-secret file
  .secrets.baseline
Due: none

chore(4494): add hard limit to metrics table
  app/app/private-cloud/products/(product)/[licencePlate]/usage/MetricsTable.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/usage/page.tsx
  app/components/private-cloud/sections/QuotasDescription.tsx
Due: eslint-app, knip

chore: release candidate v0.43.1
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

refactor(4545): update sandbox Node.js apps following the convention
  .eslintignore
  .eslintrc.root.json
  .prettierignore
  data-migrations/migrations/20240319184917-lowercase_user_emails.js
  localdev/ches-mock/.dockerignore
  localdev/ches-mock/Dockerfile
  localdev/ches-mock/config.ts
  localdev/ches-mock/main.ts
  localdev/ches-mock/package-lock.json
  localdev/ches-mock/package.json
  localdev/ches-mock/pnpm-lock.yaml
  localdev/ches-mock/tsconfig.json
  localdev/keycloak-provision/Dockerfile
  localdev/keycloak-provision/config.ts
  localdev/keycloak-provision/main.ts
  localdev/keycloak-provision/package.json
  localdev/keycloak-provision/pnpm-lock.yaml
  localdev/keycloak-provision/tsconfig.json
  localdev/m365mock/.dockerignore
  localdev/m365mock/.gitignore
  localdev/m365mock/Dockerfile
  localdev/m365mock/main.ts
  localdev/m365mock/package.json
  localdev/m365mock/tsconfig.json
  localdev/nats-provision/Dockerfile
  localdev/nats-provision/config.ts
  localdev/nats-provision/main.ts
  localdev/nats-provision/package.json
  localdev/nats-provision/tsconfig.json
Due: eslint

e2e(4313): add public cloud approve tests and update quota change
  app/package-lock.json
  cypress/integration/1. create-request-private-test.feature
  cypress/integration/3. delete-product-test.feature
  cypress/integration/4. approve-requests-private.feature
  cypress/integration/5. approve-requests-public.feature
  cypress/integration/6. edit-request-private-test.feature
  cypress/integration/7. edit-request-public-test.feature
  cypress/support/step_definitions/common.ts
Due: eslint, knip

chore(4537): enforce relogin for users missing session data in DB
  app/core/auth-options.ts
  app/types/next-auth.d.ts
Due: eslint-app, knip

chore: release candidate v0.43.2
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(4494): revise env name types
  app/app/private-cloud/products/(product)/[licencePlate]/usage/MetricsTable.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/usage/page.tsx
Due: eslint-app, knip

chore(4494): move normilize function to page level
  app/app/private-cloud/products/(product)/[licencePlate]/usage/MetricsTable.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/usage/page.tsx
Due: eslint-app, knip

chore(4496): remove console.log, revert route to test productl
  app/app/api/private-cloud/products/[licencePlate]/usage-metrics/route.ts
  app/services/k8s/resource-details.ts
  app/services/k8s/usage-metrics.ts
Due: eslint-app, knip

refactor(4560): use task module for creating and closing tasks
  app/app/api/public-cloud/products/[licencePlate]/review-mou/route.ts
  app/app/api/public-cloud/products/[licencePlate]/sign-mou/route.ts
  app/app/api/public-cloud/products/_operations/create.ts
  app/services/ches/public-cloud/emails.ts
  app/services/ches/public-cloud/index.ts
  app/services/db/tasks/index.ts
  app/services/db/tasks/review-public-cloud-mou.ts
  app/services/db/tasks/sign-public-cloud-mou.ts
Due: eslint-app, knip

chore(3973): add events page file
  app/.tool-versions
  app/app/events/page.tsx
  app/app/events/state.ts
  app/constants/user.ts
  app/core/auth-options.ts
  app/types/next-auth.d.ts
Due: eslint-app, knip

feat(4582): add user roles to session roles if exist
  app/core/auth-options.ts
Due: eslint-app, knip

chore(4397): fix builds
  app/helpers/mock-resources/private-cloud-product.ts
  app/helpers/mock-resources/private-cloud-request.ts
Due: eslint-app, knip

chore(4397): fix tests
  app/jest.setup.js
  app/validation-schemas/private-cloud.ts
Due: eslint-app, knip

feat(4398): add Webhook URL on private cloud products' forms
  app/app/api/private-cloud/provision/[licencePlate]/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/create/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/private-cloud/requests/(request)/[id]/original/page.tsx
  app/app/private-cloud/requests/(request)/[id]/request/page.tsx
  app/components/private-cloud/sections/Webhooks.tsx
  app/emails/_components/private-cloud/Changes.tsx
  app/helpers/product-change.ts
  app/prisma/schema.prisma
  app/validation-schemas/private-cloud.ts
Due: eslint-app, prisma-format, knip

fix(4527): resolve issue reviewing public cloud delete requests
  app/app/api/public-cloud/products/_operations/delete.ts
  app/services/db/models/public-cloud-request.ts
  data-migrations/migrations/20241217100000-add_missing_review_request_tasks.js
Due: eslint-app, knip

chore(4527): update example env file
  app/.env.example
  app/config.ts
  localdev/docker-compose.yml
Due: eslint-app, knip

chore(4527): add error handlers for emails
  app/app/api/admin/task/sign-mou/resend/route.ts
  app/app/api/public-cloud/products/_operations/create.ts
Due: eslint-app, knip

chore(4527): revert config
  app/config.ts
Due: eslint-app, knip

chore(4527): mock send email functions in Jest
  app/app/api/admin/task/sign-mou/resend/route.ts
  app/jest.setup.js
  app/services/ches/core.ts
  app/services/ches/helpers.ts
  app/services/ches/private-cloud/emails.ts
  app/services/ches/public-cloud/emails.ts
Due: eslint-app, knip

feat(4537): store user session data in DB
  app/core/api-handler.ts
  app/core/auth-options.ts
  app/core/client-page.tsx
  app/helpers/mock-resources/core.ts
  app/helpers/mock-resources/private-cloud-request.ts
  app/helpers/mock-users.ts
  app/prisma/schema.prisma
  app/types/next-auth.d.ts
Due: eslint-app, prisma-format, knip

chore(4398): allow empty string in webhook url validation
  app/validation-schemas/private-cloud.ts
Due: eslint-app, knip

refactor(4094): use simple list of mock users for sandbox
  .dockerignore
  .pre-commit-config.yaml
  app/Dockerfile
  app/Dockerfile.email
  app/helpers/mock-users.ts
  app/services/db/user.ts
  helm/main/Chart.yaml
  helm/main/values-101ed4-dev.yaml
  helm/main/values.yaml
  localdev/ches-mock/Dockerfile
  localdev/docker-compose.yml
  localdev/keycloak-provision/Dockerfile
  localdev/keycloak-provision/src/main.ts
  localdev/m365mock/Dockerfile
  localdev/m365mock/config.ts
  localdev/m365mock/package.json
  localdev/m365mock/server.ts
  localdev/m365mock/src/config.ts
  localdev/m365mock/src/server.ts
  localdev/m365mock/tsconfig.json
  localdev/mock-users.json
  localdev/types.ts
Due: eslint, eslint-app, knip

chore(4494): add hard limit to metrics table
  app/app/private-cloud/products/(product)/[licencePlate]/usage/MetricsTable.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/usage/page.tsx
Due: eslint-app, knip

feat(4544): change condition for auto-approva
  app/helpers/auto-approval-check.ts
  app/helpers/resource-metrics.ts
  app/services/k8s/resource-details.ts
  app/services/k8s/usage-metrics.ts
Due: eslint-app, knip

chore(4544-1): remove unnecessary console.log
  app/app/private-cloud/products/(product)/[licencePlate]/usage/page.tsx
  app/helpers/auto-approval-check.ts
Due: eslint-app, knip

chore: release candidate v0.43.3
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

fix(4589): add a command to install keycloak-admin for nats-provision
  localdev/nats-provision/Dockerfile
Due: none

Revert "fix(4589): add a command to install keycloak-admin to nats-provision docker file"
  localdev/nats-provision/Dockerfile
Due: none
