Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

chore(4721): refactor code
  app/app/api/v1/private-cloud/products/route.ts
  app/app/api/v1/public-cloud/products/route.ts
  app/helpers/mock-resources.ts
  app/services/api-test/core.ts
  app/services/api-test/v1/private-cloud/index.ts
  app/services/api-test/v1/private-cloud/products.ts
  app/services/api-test/v1/public-cloud/index.ts
  app/services/api-test/v1/public-cloud/products.ts
Due: eslint-app, knip

chore(5235): add variable for test licence plate
  app/services/k8s/reads/deletion-check.ts
Due: eslint-app, knip

chore(5235): use short env keys from constants
  app/constants/private-cloud.ts
  app/services/k8s/reads/deletion-check.ts
Due: eslint-app, knip

chore(4721): encapsulate service account header function
  app/helpers/mock-resources.ts
Due: eslint-app, knip

feat(5123): make billing account coding editable for EA
  app/app/api/public-cloud/billings/search/route.ts
  app/app/api/public-cloud/products/[licencePlate]/billings/[billingId]/sign/route.ts
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/modal/publicCloudMouSign.tsx
  app/components/public-cloud/BillingStatusProgress.tsx
  app/components/shared/AccountCoding.tsx
  app/services/db/models/public-cloud-product.ts
  app/services/db/models/public-cloud-request.ts
  app/services/db/public-cloud-product.ts
  app/services/db/public-cloud-request.ts
Due: eslint-app, knip

chore(5123): remove unessesary console.log
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
Due: eslint-app, knip

chore(4721): simplify code base
  app/app/api/v1/private-cloud/products/route.test.ts
  app/app/api/v1/public-cloud/products/route.test.ts
  app/helpers/mock-resources.ts
  app/services/api-test/v1/private-cloud/products.ts
  app/services/api-test/v1/public-cloud/products.ts
Due: eslint-app, knip

chore(5123): restrict EA to delete/edit public-cloud product
  app/app/api/public-cloud/products/[licencePlate]/requests/route.test.ts
  app/app/api/public-cloud/products/_operations/read.test.ts
  app/app/public-cloud/products/(product)/[licencePlate]/billing/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/services/db/models/public-cloud-product.ts
Due: eslint-app, knip

chore(4721): generate service account token based on the shared data in tests
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/list.test.ts
  app/app/api/private-cloud/products/[licencePlate]/requests/route.test.ts
  app/app/api/private-cloud/products/_operations/delete.test.ts
  app/app/api/private-cloud/products/_operations/read.test.ts
  app/app/api/private-cloud/products/_operations/update.test.ts
  app/app/api/private-cloud/products/download/route.test.ts
  app/app/api/private-cloud/products/search/route.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/api/private-cloud/requests/search/route.test.ts
  app/app/api/public-cloud/products/[licencePlate]/requests/route.test.ts
  app/app/api/public-cloud/products/_operations/delete.test.ts
  app/app/api/public-cloud/products/_operations/read.test.ts
  app/app/api/public-cloud/products/_operations/update.test.ts
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/api/public-cloud/products/search/route.test.ts
  app/app/api/public-cloud/requests/[id]/decision/route.test.ts
  app/app/api/public-cloud/requests/search/route.test.ts
  app/app/api/v1/private-cloud/products/route.test.ts
  app/app/api/v1/public-cloud/products/route.test.ts
  app/helpers/mock-resources.ts
  app/jest.mock.ts
  app/jest.setup.ts
  app/services/api-test/core.ts
  app/services/api-test/private-cloud/helpers.ts
  app/services/api-test/public-cloud/helpers.ts
  app/services/api-test/v1/private-cloud/index.ts
  app/services/api-test/v1/private-cloud/products.ts
  app/services/api-test/v1/public-cloud/index.ts
  app/services/api-test/v1/public-cloud/products.ts
Due: eslint-app, knip

chore(5123): remove unessesary console.log
  app/app/public-cloud/products/(product)/[licencePlate]/billing/page.tsx
Due: eslint-app, knip

feat(5124): sync registry users with azure ad
  helm/tools/dags/_keycloak.py
  helm/tools/dags/_msgraph.py
  helm/tools/dags/_sync_azure_ad_with_db.py
  helm/tools/dags/_task_failure_callback.py
  helm/tools/dags/sync_db_with_azure_ad_prod.py
  helm/tools/dags/sync_db_with_azure_ad_test.py
Due: python-format

chore(5124): update db users using valid azure user data
  helm/tools/dags/_sync_azure_ad_with_db.py
Due: python-format

chore(5124): revert keycloak function name
  helm/tools/dags/_keycloak.py
Due: python-format

chore(5124): correct spelling errors
  helm/tools/dags/sync_db_with_azure_ad_test.py
Due: python-format

chore(5124): rename azure users with email
  helm/tools/dags/_sync_azure_ad_with_db.py
Due: python-format

chore(5123): add EA fallback logic with licencePlate filter in searchPublicCloudBillings
  app/app/api/public-cloud/billings/search/route.ts
  app/app/api/public-cloud/products/[licencePlate]/billings/[billingId]/sign/route.ts
  app/app/public-cloud/products/(product)/[licencePlate]/billing/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/modal/publicCloudMouSign.tsx
  app/components/public-cloud/BillingStatusProgress.tsx
  app/components/shared/AccountCoding.tsx
  app/prisma/schema.prisma
  app/services/db/models/public-cloud-billing.ts
  app/services/db/models/public-cloud-product.ts
  app/services/db/public-cloud-billing.ts
Due: eslint-app, prisma-format, knip

chore(5123): remove redundant console.logs
  app/app/api/public-cloud/billings/search/route.ts
  app/app/api/public-cloud/products/[licencePlate]/billings/[billingId]/sign/route.ts
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/public-cloud/BillingStatusProgress.tsx
Due: eslint-app, knip

chore(5124): fetch the corresponding ms user per db user
  helm/tools/dags/_msgraph.py
  helm/tools/dags/_sync_azure_ad_with_db.py
  helm/tools/dags/sync_db_with_azure_ad_dev.py
  helm/tools/dags/sync_db_with_azure_ad_prod.py
Due: python-format

chore(5124): correct dev environment dag id
  helm/tools/dags/sync_db_with_azure_ad_dev.py
Due: python-format

chore(5124): optimize by reusing access token
  helm/tools/dags/_msgraph.py
Due: python-format

e2e(5314): add public cloud edit request compare data test
  app/components/users/UserProfile.tsx
  cypress/integration/1. create-request-private-test.feature
  cypress/integration/10. edit-request-public-compare-data.feature
  cypress/integration/2. create-request-public-test.feature
  cypress/integration/3. delete-product-private-test.feature
  cypress/integration/4. approve-requests-private.feature
  cypress/integration/6. delete-product-public-test.feature
  cypress/integration/7. edit-request-private-test.feature
  cypress/integration/8. edit-request-public-test.feature
  cypress/integration/9. edit-request-private-compare-data.feature
  cypress/support/step_definitions/common.ts
Due: eslint, eslint-app, knip

chore(5124): fetch active db users
  helm/tools/dags/_msgraph.py
  helm/tools/dags/_sync_azure_ad_with_db.py
Due: python-format

chore(5124): select first user from msgraph
  helm/tools/dags/_msgraph.py
Due: python-format

chore(5123): replace review task existence check with updateMany for cancellation
  app/app/api/public-cloud/products/[licencePlate]/billings/[billingId]/sign/route.ts
  app/components/public-cloud/BillingStatusProgress.tsx
  app/services/db/models/public-cloud-billing.ts
  app/services/db/models/public-cloud-request.ts
Due: eslint-app, knip

chore(5124): include exception for secret
  helm/tools/dags/_msgraph.py
  helm/tools/dags/_sync_azure_ad_with_db.py
Due: python-format

chore(5124): add idir guid attribute to graph url
  helm/tools/dags/_msgraph.py
Due: python-format

chore(5124): include idirGuid in update data
  helm/tools/dags/_sync_azure_ad_with_db.py
Due: python-format

chore(5124): remove unused function
  helm/tools/dags/_msgraph.py
Due: python-format

chore(5124): update user idir
  helm/tools/dags/_sync_azure_ad_with_db.py
Due: python-format

chore(5123): include task-based access in public cloud billing search
  app/services/db/models/public-cloud-billing.ts
  app/services/db/public-cloud-billing.ts
Due: eslint-app, knip

chore(5123): include billing licencePlates from expense authority in baseFilter
  app/services/db/models/public-cloud-billing.ts
Due: eslint-app, knip

chore(5124): update db user idir
  helm/tools/dags/_msgraph.py
  helm/tools/dags/_sync_azure_ad_with_db.py
Due: python-format

chore(5123): include expense authority in public cloud billing baseFilter
  app/app/api/public-cloud/products/[licencePlate]/billings/[billingId]/sign/route.ts
  app/services/db/models/public-cloud-billing.ts
  app/services/db/public-cloud-billing.ts
Due: eslint-app, knip

chore(5123): restire app/services/db/public-cloud-billing.ts
  app/services/db/public-cloud-billing.ts
Due: eslint-app, knip

chore: release candidate v0.60.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(5124): extract idir from onpremisesSamAccountName
  helm/tools/dags/_msgraph.py
  helm/tools/dags/_sync_azure_ad_with_db.py
Due: python-format

chore(5124): remove extra spacing
  helm/tools/dags/_msgraph.py
Due: python-format

chore(5124): space out dag file execution
  helm/tools/dags/sync_db_with_azure_ad_prod.py
  helm/tools/dags/sync_db_with_azure_ad_test.py
Due: python-format

fix(5124): fix import aiflow import errors
  helm/tools/dags/_msgraph.py
  helm/tools/dags/_sync_azure_ad_with_db.py
  helm/tools/dags/sync_db_with_azure_ad_dev.py
  helm/tools/dags/sync_db_with_azure_ad_prod.py
  helm/tools/dags/sync_db_with_azure_ad_test.py
Due: python-format

feat(5343): redirect anauthorized user to original url after login
  app/components/buttons/LoginButton.tsx
  app/components/layouts/Header.tsx
  app/core/client-page.tsx
Due: eslint-app, knip

Path conditions:
  eslint: any of: ^(cypress|localdev)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
