Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

feat(6415): use custom Bitnami images for MongoDB
  Makefile
  helm/main/values-101ed4-dev.yaml
  helm/main/values-101ed4-prod.yaml
  helm/main/values-101ed4-test.yaml
  helm/main/values.yaml
Due: none

chore(6415): build MongoDB image daily
  .github/workflows/build-push-mongodb.yml
Due: none

chore: release candidate v0.77.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

feat(6201): add tabs in task sidebar
  app/components/layouts/SideTasks.tsx
Due: eslint-app, knip

fix(0000): use GHCR MongoDB image and add registry login for test workflow
  .github/workflows/test.yml
  sandbox/docker-compose.yml
Due: none

fix(0000): pin docker/login-action to full commit SHA for security
  .github/workflows/test.yml
Due: none

fix(0000): reverse .github/workflows/test.yml
  .github/workflows/test.yml
Due: none

fix(0000): make MongoDB image configurable via IMAGE_MONGODB env var
  .github/workflows/test.yml
  sandbox/docker-compose.yml
Due: none

Revert "chore(deps): update mantine monorepo to v8.3.6"
  app/pnpm-lock.yaml
Due: none

Revert "chore(deps): bump next from 15.4.1 to 15.5.6 in /app"
  app/package.json
  app/pnpm-lock.yaml
Due: knip

fix(0000): upgrade to Chart.js v4.5.1 and fix typings, plugin registration, and null handling
  app/components/generic/charts/BarChart.tsx
  app/components/generic/charts/DoughnutChart.tsx
  app/components/generic/charts/LineChart.tsx
  app/components/private-cloud/monthly-cost/monthly-cost-chart-data.tsx
  app/components/private-cloud/quarterly-cost/quarterly-cost-chart-data.tsx
  app/components/private-cloud/yearly-cost/yearly-cost-chart-data.tsx
Due: eslint-app, knip

fix(0000): allow null value in Combobox to resolve type error
  app/components/modal/AddUser.tsx
Due: eslint-app, knip

Revert "chore(deps): update dependency @react-email/preview-server to v4.3.2"
  app/pnpm-lock.yaml
Due: none

Revert "chore(deps): update dependency react-email to v4.3.2"
  app/pnpm-lock.yaml
Due: none

chore(2504): merge cost chart config into single shared file
  app/components/generic/charts/DoughnutChart.tsx
  app/components/private-cloud/cost-chart-config.ts
  app/components/private-cloud/monthly-cost/MonthlyCostChart.tsx
  app/components/private-cloud/quarterly-cost/QuarterlyCostChart.tsx
  app/components/private-cloud/quarterly-cost/quarterly-cost-chart-data.tsx
  app/components/private-cloud/yearly-cost/YearlyCostChart.tsx
  app/components/private-cloud/yearly-cost/yearly-cost-chart-data.tsx
Due: eslint-app, knip

chore(2504): update import for download chart files
  app/helpers/pdfs/monthly-cost/index.tsx
  app/helpers/pdfs/quarterly-cost/index.tsx
  app/helpers/pdfs/yearly-cost/index.tsx
Due: eslint-app, knip

chore(2504): bring type to string
  app/components/private-cloud/cost-chart-config.ts
Due: eslint-app, knip

Revert "chore(deps): update mantine monorepo to v8.3.8"
  app/pnpm-lock.yaml
Due: none

chore(2518): add private-admin to edit private cloud product route roles
  app/app/api/admin/private-cloud/products/[licencePlate]/route.ts
  sandbox/keycloak-provision/main.ts
Due: eslint, eslint-app, knip

feat(5212): add banner for cost test
  app/components/private-cloud/sections/QuotasBudgetEstimation.tsx
Due: eslint-app, knip

chore(2512): remove unused import
  app/components/private-cloud/sections/QuotasBudgetEstimation.tsx
Due: eslint-app, knip

chore(2512): remove year for cost banner
  app/components/private-cloud/sections/QuotasBudgetEstimation.tsx
Due: eslint-app, knip

chore(2469): prevent Safari Invalid Date errors with safe date parsing
  app/utils/js/date.ts
Due: eslint-app, knip

Revert "chore(deps): update dependency mongodb to v7"
  data-migrations/package.json
  data-migrations/pnpm-lock.yaml
Due: none

chore: release candidate v0.78.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(0000): update code to satisfy react-hooks v7 compiler rules
  app/app/layout.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/PeriodSelector.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/state.ts
  app/app/users/all/TableBody.tsx
  app/components/comments/CommentForm.tsx
  app/components/form/ProjectDescriptionPrivate.tsx
  app/components/form/TemporaryProductCheckboxAdmin.tsx
  app/components/generic/charts/LineChart.tsx
  app/components/generic/data-table/DataTable.tsx
  app/components/generic/table/SearchFilterExport.tsx
  app/components/modal/userDetail.tsx
  app/components/private-cloud/sections/QuotasChangeInfo.tsx
  app/states/global.ts
Due: eslint-app, knip

chore(0000): remove redundant comment
  app/components/form/ProjectDescriptionPrivate.tsx
Due: eslint-app, knip

chore(0000): resolve react-hooks and valtio immutability violations
  app/helpers/valtio.tsx
Due: eslint-app, knip

chore(0000): destructure useState result to satisfy SonarCloud rule
  app/helpers/valtio.tsx
Due: eslint-app, knip

chore(2469): reduce cognitive complexity of toSafeDate and remove isNaN warnings
  app/utils/js/date.ts
Due: eslint-app, knip

chore(2469): simplify month normalization logic for clearer readability
  app/utils/js/date.ts
Due: eslint-app, knip

Revert "chore(deps): update helm release postgresql to v18"
  helm/tools/Chart.lock
  helm/tools/Chart.yaml
Due: none

chore(2562): increase time for deploy tools
  helm/tools/Makefile
Due: none

chore(2562): disable Airflow DB migration hook to unblock tools deployment
  helm/tools/Makefile
Due: none

chore(2562): increase deploy job timeout to 40m
  .github/workflows/deploy-tools.yml
Due: none

chore(2562): pin Bitnami PostgreSQL image via digest
  .github/scripts/resolve-postgres-image.sh
  .github/workflows/deploy-tools.yml
  helm/tools/Makefile
Due: bash-format

Path conditions:
  eslint: any of: ^(cypress|sandbox)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
