Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

fix(finance): rewrite forecast backfill to drop copied seed helpers
  data-migrations/migrations/20260908214000-backfill_dev_public_cloud_forecasts.js
Due: none

fix(finance): classify forecast seed months with local Date math
  data-migrations/migrations/20260908214000-backfill_dev_public_cloud_forecasts.js
Due: none

fix(finance): seed Silver-dev public-cloud forecasts for LZA and Azure (#8026)
  data-migrations/migrations/20260908214000-backfill_dev_public_cloud_forecasts.js
Due: none

fix(windows): use portable shebangs and normalize line endings to LF
  .bin/autopep8.sh
  .bin/bash-format.sh
  .bin/black.sh
  .bin/commitlint.sh
  .bin/copy-db.sh
  .bin/eslint-app.sh
  .bin/eslint.sh
  .bin/knip.sh
  .bin/kube-linter.sh
  .bin/prisma.sh
  .bin/shellcheck.sh
  .gitattributes
Due: bash-format

fix(0000): update ches-mock for nodemailer 10
  renovate.json
  sandbox/ches-mock/main.ts
  sandbox/ches-mock/package.json
  sandbox/ches-mock/pnpm-lock.yaml
Due: eslint

chore(3084): support pnpm 12 in CI
  .github/actions/setup-tools/action.yml
  .tool-versions
Due: none

chore(3084): setup pnpm after asdf tools
  .github/actions/setup-tools/action.yml
Due: none

chore(3084): support pnpm 12 setup
  .github/actions/setup-tools/action.yml
  .tool-versions
Due: none

chore(3084): update ches mock lockfile for pnpm 12
  sandbox/ches-mock/pnpm-lock.yaml
Due: none

chore(3090): reveal add GH ID link to additioanl team members
  app/components/modal/userPicker.tsx
  app/components/shared/AdditionalTeamMembers.tsx
Due: eslint-app, knip

chore(3090): reveal add GH ID link to additioanl team members
  app/components/modal/userPicker.tsx
Due: eslint-app, knip

chore(3090): revert UserPicker changes
  app/components/modal/userPicker.tsx
Due: eslint-app, knip

chore: release candidate v0.85.1
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(3091): hide Gh field for new add team member process
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/components/modal/userPicker.tsx
  app/components/private-cloud/sections/AdditionalTeamMembers.tsx
  app/components/private-cloud/sections/TeamContacts.tsx
  app/components/public-cloud/sections/AdditionalTeamMembers.tsx
  app/components/public-cloud/sections/TeamContacts.tsx
  app/components/shared/AdditionalTeamMembers.tsx
  app/components/shared/TeamContacts.tsx
Due: eslint-app, knip

chore(3091): allow editor members to edit team GitHub accounts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/components/modal/userPicker.tsx
  app/components/shared/AdditionalTeamMembers.tsx
  app/helpers/product.ts
  app/services/db/models/private-cloud-product.ts
  app/services/db/models/public-cloud-product.ts
Due: eslint-app, knip

chore(3092): hide gpu on prod namespace
  app/app/api/private-cloud/products/_operations/create.ts
  app/app/api/private-cloud/products/_operations/update.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/create/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/core/auth-options.ts
  app/types/next-auth.d.ts
Due: eslint-app, knip

chore: release candidate v0.85.2
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(3091): let admin add/edit additinal team members
  app/components/private-cloud/sections/TeamContacts.tsx
  app/components/shared/AdditionalTeamMembers.tsx
  app/components/shared/TeamContacts.tsx
  app/services/db/models/private-cloud-product.ts
  app/services/db/models/public-cloud-product.ts
Due: eslint-app, knip

chore(3091): remove redundant console.log
  app/components/private-cloud/sections/TeamContacts.tsx
Due: eslint-app, knip

chore(3091): keep member selection read-only when editing GitHub
  app/components/private-cloud/sections/TeamContacts.tsx
  app/components/shared/AdditionalTeamMembers.tsx
Due: eslint-app, knip

chore(3091): preserve GitHub edit permissions for legacy callers
  app/components/modal/userPicker.tsx
  app/components/shared/TeamContacts.tsx
Due: eslint-app, knip

chore: release candidate v0.85.3
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

fix(0000): isolate ches-mock pnpm workspace
  sandbox/ches-mock/pnpm-lock.yaml
  sandbox/ches-mock/pnpm-workspace.yaml
Due: none

feat(2998): add GitOps repository sync endpoint
  app/app/api/v1/private-cloud/products/repositories/sync/route.test.ts
  app/app/api/v1/private-cloud/products/repositories/sync/route.ts
Due: eslint-app, knip

chore(2998): sync managed GitOps repositories
  app/app/api/v1/private-cloud/products/repositories/sync/route.test.ts
  app/app/api/v1/private-cloud/products/repositories/sync/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/components/form/Repositories.tsx
  app/prisma/schema.prisma
Due: eslint-app, prisma-format, knip

fix(finance): unify finance tab headings, tables, and filters
  app/app/public-cloud/finance/anomalies/page.tsx
  app/app/public-cloud/finance/coverage/page.tsx
  app/app/public-cloud/finance/export/page.tsx
  app/app/public-cloud/finance/page.tsx
  app/app/public-cloud/finance/rankings/page.tsx
  app/app/public-cloud/finance/unmatched/page.tsx
  app/components/public-cloud/finance/FinanceNav.tsx
  app/components/public-cloud/finance/FinancePageHeader.tsx
  app/components/public-cloud/finance/FinancePreviewDisabled.tsx
  app/components/public-cloud/finance/FinanceTable.tsx
Due: eslint-app, knip

chore(2998): handle GitOps repositories in private cloud data
  app/app/api/private-cloud/products/_operations/delete.ts
  app/helpers/mock-resources/private-cloud-product.ts
  app/helpers/mock-resources/private-cloud-request.ts
Due: eslint-app, knip

chore(2998): improve GitOps repository synchronization
  app/app/api/v1/private-cloud/products/repositories/sync/route.test.ts
  app/app/api/v1/private-cloud/products/repositories/sync/route.ts
Due: eslint-app, knip

chore(2998): improve GitOps repository sync handling
  app/app/api/v1/private-cloud/products/repositories/sync/route.test.ts
  app/app/api/v1/private-cloud/products/repositories/sync/route.ts
Due: eslint-app, knip

chore: release candidate v0.86.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

fix(finance): unify finance tab headings, tables, and filters (#8080)
  app/app/public-cloud/finance/anomalies/page.tsx
  app/app/public-cloud/finance/coverage/page.tsx
  app/app/public-cloud/finance/export/page.tsx
  app/app/public-cloud/finance/page.tsx
  app/app/public-cloud/finance/rankings/page.tsx
  app/app/public-cloud/finance/unmatched/page.tsx
  app/components/public-cloud/finance/FinanceNav.tsx
  app/components/public-cloud/finance/FinancePageHeader.tsx
  app/components/public-cloud/finance/FinancePreviewDisabled.tsx
  app/components/public-cloud/finance/FinanceTable.tsx
Due: eslint-app, knip

Deploying to gh-pages from @ bcgov/platform-services-registry@224a29581f71a99a88ffbccc213d093c6c3d8ff1 🚀
  sitemap.xml
  sitemap.xml.gz
Due: none

Revert "chore(deps): update dependency ubuntu to v26"
  .github/workflows/build-push-maintenance.yml
  .github/workflows/build-push-mongodb.yml
  .github/workflows/build-push-sandbox.yml
  .github/workflows/build-push-tools.yml
  .github/workflows/cypress-e2e-test.yaml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
  .github/workflows/deploy-tools.yml
  .github/workflows/dispatch-deploy.yml
  .github/workflows/dispatch-maintenance.yml
  .github/workflows/mkdocs.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release-tag-changelog.yml
  .github/workflows/terraform-keycloak.yml
  .github/workflows/terraform-sysdig.yml
  .github/workflows/test-sandbox.yml
  .github/workflows/test.yml
  .github/workflows/zap-scan.yml
Due: none

fix(3108): install oc for Ubuntu 26.04 workflows
  .github/actions/setup-openshift/action.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
  .github/workflows/deploy-tools.yml
  .github/workflows/dispatch-deploy.yml
  .github/workflows/dispatch-maintenance.yml
  .github/workflows/terraform-keycloak.yml
  .github/workflows/terraform-sysdig.yml
Due: none

fix(3108): pin OpenShift CLI to 4.13.3
  .github/actions/setup-openshift/action.yml
Due: none

fix(3108): pin Helm 3 for deployment workflows
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
  .github/workflows/deploy-tools.yml
  .github/workflows/dispatch-deploy.yml
  .github/workflows/dispatch-maintenance.yml
Due: none

fix(3118): build MinIO mc image in GHCR
  .github/workflows/build-push-tools.yml
  tools/minio-mc/Dockerfile
Due: none

fix(3118): add MinIO mc image
  tools/minio-mc/Dockerfile
Due: none

fix(3118): use GHCR image for MinIO mc hook
  helm/tools/values.yaml
Due: none

Path conditions:
  eslint: any of: ^(cypress|sandbox)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
