Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^helm
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^helm
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: package.lock.json
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: .bin/eslint.sh
    language: script
    files: ^(cypress|localdev)/.*\.(js|ts)$
    verbose: true
    pass_filenames: true
  - id: eslint-app
    name: eslint-app
    entry: .bin/eslint-app.sh
    language: script
    files: ^app/.*\.(ts|tsx)$
    verbose: true
    pass_filenames: true
  - id: python-format
    name: black
    entry: .bin/black.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.18.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
exclude: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$

fix(4110): remove quota change information section from decision page
  app/components/form/Quotas.tsx
  app/components/form/QuotasChangeInfo.tsx
Due: eslint-app, knip

chore(4129): update product IDs endpoint
  .github/workflows/test.yml
  app/app/api/analytics/csv/quota/route.ts
  app/app/api/v1/private-cloud/products/ids/route.ts
  localdev/m365mock/Dockerfile
Due: eslint-app, knip

chore(4129): fix typo
  localdev/m365mock/Dockerfile
Due: none

chore: add debug log
  .github/workflows/test.yml
Due: none

chore: fix typo
  .github/workflows/test.yml
  app/app/api/analytics/csv/quota/route.ts
Due: eslint-app, knip

chore: test
  .github/workflows/test.yml
Due: none

chore(4129): update logic on active project IDs API endpoint
  .github/workflows/test.yml
  app/app/api/analytics/csv/quota/route.ts
  app/app/api/v1/private-cloud/products/ids/route.ts
  app/package-lock.json
Due: eslint-app, knip

chore(4129): encapsulate sandbox Github action workflow
  .github/actions/setup-sandbox/action.yml
  .github/workflows/test.yml
  app/app/api/analytics/csv/quota/route.ts
Due: eslint-app, knip

feat(1920): secure provisioner callback URLs
  .github/actions/setup-sandbox/action.yml
  app/app/api/v1/private-cloud/products/[idOrLicencePlate]/provision/route.ts
  app/app/api/v1/public-cloud/products/[licencePlate]/provision/route.ts
Due: eslint-app, knip

chore(1920): fix typo
  app/app/api/v1/public-cloud/products/[licencePlate]/provision/route.ts
Due: eslint-app, knip

chore(1920): build m365mock in pipeline
  .github/actions/setup-sandbox/action.yml
  .github/workflows/build-push-localdev.yml
  localdev/docker-compose-ci.yml
Due: none

chore(1920): deprecate m365-m365proxy
  localdev/docker-compose-ci.yml
Due: none

chore(4129): print keycloak-provision for debugging
  .github/actions/setup-sandbox/action.yml
Due: none

chore(4129): fix typo
  .github/actions/setup-sandbox/action.yml
Due: none

chore(4129): update context of m365mock build
  .github/workflows/build-push-localdev.yml
Due: none

chore(deps): fix dependencies after knip version upgrade
  app/.knip.json
  app/package-lock.json
  app/package.json
Due: knip

chore: release candidate v0.39.0
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

feat(4156): add user search reusable picker modal
  app/app/api/users/search/route.ts
  app/components/modal/userPicker.tsx
  app/components/users/UserAutocomplete.tsx
  app/package-lock.json
  app/services/backend/users.ts
Due: eslint-app, knip

chore(4156): add missing helper function
  app/services/db/user.ts
Due: eslint-app, knip

chore(4156): debug keycloak provision configuration
  localdev/keycloak-provision/src/main.ts
Due: eslint

chore(4156): remove debugging keycloak provision configuration
  localdev/keycloak-provision/src/main.ts
Due: eslint

chore(4156): increase the time to wait Keycloak ready
  localdev/keycloak-provision/src/main.ts
Due: eslint

chore(4156): add interval to authenticate to Keycloak in sandbox
  localdev/keycloak-provision/src/main.ts
Due: eslint

fix(4165): replace generic select with dropdown for cluster
  app/components/form/ProjectDescriptionPrivate.tsx
  app/components/form/Quotas.tsx
  app/components/generic/select/HookFormSingleSelect.tsx
Due: eslint-app, knip

chore(4165): fix build errors
  app/components/form/ProjectDescriptionPrivate.tsx
Due: eslint-app, knip

feat(4123): add additional product members in public cloud
  app/app/api/billing/[idOrAccountCoding]/download/route.tsx
  app/app/api/public-cloud/products/_operations/delete.ts
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/requests/(request)/[id]/original/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/app/public-cloud/requests/(request)/[id]/summary/page.tsx
  app/components/ProductComparison.tsx
  app/components/billing/PublicCloudBillingInfo.tsx
  app/components/form/TeamContacts.tsx
  app/components/generic/accordion/PageAccordion.tsx
  app/components/modal/publicCloudProductEditSubmit.tsx
  app/components/public-cloud/sections/AdditionalTeamMembers.tsx
  app/constants/public-cloud.ts
  app/core/modal.tsx
  app/helpers/mock-resources/public-cloud-product.ts
  app/helpers/mock-resources/public-cloud-request.ts
  app/helpers/product-change.ts
  app/prisma/schema.prisma
  app/services/ches/private-cloud/emails.ts
  app/services/ches/public-cloud/emails.ts
  app/services/db/models/core.ts
  app/services/db/models/private-cloud-product.ts
  app/services/db/models/private-cloud-project-zap-result.ts
  app/services/db/models/private-cloud-request.ts
  app/services/db/models/public-cloud-product.ts
  app/services/db/models/public-cloud-request.ts
  app/services/db/models/security-config.ts
  app/services/db/models/sonar-scan-result.ts
  app/services/db/models/user.ts
  app/services/db/public-cloud-product.ts
  app/types/doc-decorate.ts
  app/types/next-auth.d.ts
  app/types/public-cloud.ts
  app/utils/collection.ts
  app/validation-schemas/public-cloud.ts
Due: eslint-app, prisma-format, knip

chore(3632): rewrite create, edit approval private cloud tests
  cypress/_tmp/approve-request-test.feature
  cypress/e2e/create-test.cy.ts
  cypress/integration/approve-requests-private.feature
  cypress/integration/create-request-private-test.feature
  cypress/support/step_definitions/common.ts
Due: eslint

chore: release candidate v0.39.1
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

fix(4123): grant view permission of create requests to admins
  app/services/db/models/private-cloud-request.ts
Due: eslint-app, knip

chore: release candidate v0.39.2
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

docs(cd): add debug deployments guide
  docs/debug-deployments.md
Due: none

docs: update Helm deployment failure debug doc
  docs/debug-deployments.md
Due: none

chore(3632): improve e2e create and edit tests, add wrappers for selects
  app/components/generic/select/FormMultiSelect.tsx
  app/components/generic/select/FormSingleSelect.tsx
  app/package-lock.json
  cypress/_tmp/approve-request-test.feature
  cypress/e2e/create-test.cy.ts
  cypress/e2e/login-test.cy.ts
  cypress/integration/1. create-request-private-test.feature
  cypress/integration/2. edit-request-private-test.feature
  cypress/integration/3. approve-requests-private.feature
  cypress/integration/4. create-request-public-test.feature
  cypress/support/step_definitions/common.ts
Due: eslint, eslint-app, knip

chore(2700) add mailpit to docker-compose.yaml
  app/config.ts
  app/package-lock.json
  app/services/ches/core.ts
  localdev/docker-compose.yml
  package-lock.json
Due: eslint-app, knip

ci(4128): add commitlint configuration
  .bin/commitlint.sh
  commitlint.config.mjs
  commitlint.config.ts
  package-lock.json
  package.json
Due: bash-format

chore(4189): update e2e github action workflow to use hash instead of version
  .github/workflows/cypress-e2e-test.yaml
Due: none
