Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^helm
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^helm
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: package.lock.json
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: .bin/eslint.sh
    language: script
    files: ^(cypress|localdev)/.*\.(js|ts)$
    verbose: true
    pass_filenames: true
  - id: eslint-app
    name: eslint-app
    entry: .bin/eslint-app.sh
    language: script
    files: ^app/.*\.(ts|tsx)$
    verbose: true
    pass_filenames: true
  - id: python-format
    name: black
    entry: .bin/black.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.18.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
exclude: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$

chore(4502): log email body
  app/scripts/render-react-email-tailwind-style.ts
  app/services/ches/core.ts
Due: eslint-app, knip

chore(4502): update helm chart
  helm/main/Chart.lock
  helm/main/values.yaml
Due: none

chore: release candidate v0.43.8
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(3116): fix pnpm lockfile
  localdev/m365mock/m365mock.test.ts
  localdev/m365mock/pnpm-lock.yaml
Due: eslint

feat(4749): redirect 404 page to home page
  app/app/layout.tsx
  app/app/not-found.tsx
  app/components/generic/tabs/BasicTabs.tsx
  app/components/layouts/Header.tsx
Due: eslint-app, knip

chore(3116): update test workflow for m365mock
  .github/workflows/localdev-test.yml
  localdev/m365mock/test.ts
  package.json
Due: eslint

chore(3116): remove extra line
  .github/workflows/localdev-test.yml
  package.json
Due: none

e2e(4311): add delete request and delete approval tests public cloud
  cypress/_tmp/edit-request-public-test.feature
  cypress/integration/3. delete-product-private-test.feature
  cypress/integration/6. delete-product-public-test.feature
  cypress/integration/7. edit-request-private-test.feature
  cypress/integration/8. edit-request-public-test.feature
Due: none

e2e(4311): exceed timeout for e2e github action
  .github/workflows/cypress-e2e-test.yaml
Due: none

feat(4771): add data migration for Webhook URL duplication
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-dispatch.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
  data-migrations/migrations/20250127191932-ag_ministry_webhook_duplicate.js
Due: none

feat(3162): implement integration tests for email workflows
  app/app/api/private-cloud/emails.test.ts
  app/app/api/public-cloud/emails.test.ts
  app/package.json
  app/pnpm-lock.yaml
  app/utils/js/jest.ts
Due: eslint-app, knip

feat(4216): upgrade MongoDB & Backup container versions
  .tool-versions
  helm/main/Chart.lock
  helm/main/Chart.yaml
  helm/main/templates/mongodb-backup.yaml
Due: none

chore(0000): upgrade NodeJS version for migrate-mongo
  app/Dockerfile
  data-migrations/.tool-versions
  data-migrations/Dockerfile
  localdev/keycloak/Dockerfile
  renovate.json
Due: knip

feat(4550): implement maintenance mode support
  .github/workflows/toggle-maintenance-mode.yml
  helm/_maintenance-mode/.helmignore
  helm/_maintenance-mode/Chart.yaml
  helm/_maintenance-mode/templates/_helpers.tpl
  helm/_maintenance-mode/templates/deployment.yaml
  helm/_maintenance-mode/templates/hpa.yaml
  helm/_maintenance-mode/templates/route.yaml
  helm/_maintenance-mode/templates/service.yaml
  helm/_maintenance-mode/values.yaml
  helm/main/Chart.lock
  helm/main/Chart.yaml
  helm/main/values.yaml
  maintenance-mode/Dockerfile
  maintenance-mode/assets/index.html
  maintenance-mode/assets/styles.css
  maintenance-mode/nginx.conf
Due: none

fix(4802): resolve EMou Authority information discrepancy
  app/helpers/pdfs/emou/BillingMou.tsx
  data-migrations/migrations/20250127191932-ag_ministry_webhook_duplicate.js
Due: eslint-app, knip

chore: release candidate v0.43.9
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

feat(4740): deploy developer docs in GitHub Pages
  .github/workflows/mkdocs.yml
  .gitignore
  Makefile
  docs/_assets/logo.png
  docs/_javascripts/highlight.js
  docs/index.md
  mkdocs.yml
  requirements.txt
Due: none

chore(4740): check github page deploy action version
  .github/workflows/mkdocs.yml
Due: none

chore(4740): update MKDocs configuration
  .github/workflows/mkdocs.yml
  mkdocs.yml
Due: none

Deploying to gh-pages from @ bcgov/platform-services-registry@7c8ef99252d69f1b075ae82ff1414e10bc47fa6e 🚀
  404.html
  api-testing.html
  bot-pr-review.html
  ci-cd.html
  clean-codes/return-early.html
  database.html
  debug-deployments.html
  developer-guide.html
  email-scenarios-private-cloud.html
  email-scenarios-public-cloud.html
  emou-workflow.html
  git-tips.html
  index.html
  onboarding-offboarding.html
  poc/security-dashboard.html
  react-email.html
  resource-metrics.html
  rocketchat-notifications.html
  search/search_index.json
  selecting-image-scanner.html
  sitemap.xml
  sitemap.xml.gz
  team-conventions.html
  terraform.html
Due: none

chore(4740): update MKDocs configuration cont'
  mkdocs.yml
Due: none

Deploying to gh-pages from @ bcgov/platform-services-registry@eab12188d2cf6ecf9edf9b87981c4037a08f01d5 🚀
  404.html
  api-testing.html
  bot-pr-review.html
  ci-cd.html
  clean-codes/return-early.html
  database.html
  debug-deployments.html
  developer-guide.html
  email-scenarios-private-cloud.html
  email-scenarios-public-cloud.html
  emou-workflow.html
  git-tips.html
  index.html
  onboarding-offboarding.html
  poc/security-dashboard.html
  react-email.html
  resource-metrics.html
  rocketchat-notifications.html
  selecting-image-scanner.html
  team-conventions.html
  terraform.html
Due: none

chore(4740): update MKDocs configuration cont'
  .github/workflows/mkdocs.yml
Due: none

Deploying to gh-pages from @ bcgov/platform-services-registry@2ac5b01ba771939ec4892467b407c7d859273bfe 🚀
  .nojekyll
Due: none

chore(4740): finalize MKDocs configuration
  .github/workflows/mkdocs.yml
Due: none

chore(4550): move maintenance mode helm template to app
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-dispatch.yml
  .github/workflows/toggle-maintenance-mode.yml
  helm/_app/templates/deployment.yaml
  helm/_app/templates/route.yaml
  helm/_app/templates/service.yaml
  helm/_app/values.yaml
  helm/_maintenance-mode/.helmignore
  helm/_maintenance-mode/Chart.yaml
  helm/_maintenance-mode/templates/_helpers.tpl
  helm/_maintenance-mode/templates/deployment.yaml
  helm/_maintenance-mode/templates/hpa.yaml
  helm/_maintenance-mode/templates/route.yaml
  helm/_maintenance-mode/templates/service.yaml
  helm/_maintenance-mode/values.yaml
  helm/main/values.yaml
Due: knip

chore(4550): revert .github/workflows/deploy-dev.yml changes
  .github/workflows/deploy-dev.yml
Due: none

chore(4550): remove aintenance-mode dependency from helm chart
  helm/main/Chart.lock
  helm/main/Chart.yaml
Due: none

refactor(4794): upgrade ESlint version to V9 in root directory
  .bin/eslint.sh
  .eslintignore
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: bash-format

chore(4794): remove unused packages
  package.json
  pnpm-lock.yaml
Due: none

chore(4550): configure nginx for nonroot user in maintenance mode
  maintenance-mode/Dockerfile
  maintenance-mode/nginx.conf
Due: none

chore(4550): use same user name for nginc.conf
  maintenance-mode/nginx.conf
Due: none

chore(4550): resolve merge conflicts
  .github/workflows/deploy-dispatch.yml
  helm/_app/templates/deployment.yaml
  helm/_app/templates/route.yaml
  helm/_app/templates/service.yaml
  helm/_app/values.yaml
  helm/main/values.yaml
  maintenance-mode/Dockerfile
  maintenance-mode/assets/index.html
  maintenance-mode/assets/styles.css
  maintenance-mode/nginx.conf
Due: knip

refactor(4794): upgrade ESlint version to V9 in app directory
  .bin/eslint-app.sh
  .eslintrc.root.json
  app/.eslintignore
  app/.eslintrc.json
  app/.knip.json
  app/components/generic/table/SearchFilterExport.tsx
  app/core/client-page.tsx
  app/eslint.config.mjs
  app/package.json
  app/pnpm-lock.yaml
  eslint.config.mjs
Due: eslint-app, bash-format, knip

feat(4550): implement maintenance mode support
  maintenance-mode/nginx.conf
Due: none

chore(4550): remove outdated comment
  maintenance-mode/nginx.conf
Due: none

chore(4794): resolve lint errors
  app/eslint.config.mjs
  app/package.json
Due: knip

chore(4793): update dependency react to latest
  app/package.json
  app/pnpm-lock.yaml
Due: knip
