Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

Revert "chore(deps): update dependency pnpm to v9.15.2"
  .tool-versions
Due: none

Revert "fix(deps): update nextjs monorepo to v15.1.3"
  app/pnpm-lock.yaml
Due: knip

fix(4602): revert the nodejs upgrade 22.12 to 22.10
  .tool-versions
  app/Dockerfile
  app/Dockerfile.db
  app/Dockerfile.email
  app/package.json
  app/pnpm-lock.yaml
  data-migrations/Dockerfile
  localdev/_packages/keycloak-admin/package.json
  localdev/_packages/keycloak-admin/pnpm-lock.yaml
  localdev/ches-mock/Dockerfile
  localdev/ches-mock/package.json
  localdev/ches-mock/pnpm-lock.yaml
  localdev/keycloak-provision/Dockerfile
  localdev/keycloak-provision/package.json
  localdev/keycloak-provision/pnpm-lock.yaml
  localdev/m365mock/Dockerfile
  localdev/m365mock/package.json
  localdev/m365mock/pnpm-lock.yaml
  localdev/nats-provision/Dockerfile
  localdev/nats-provision/package.json
  localdev/nats-provision/pnpm-lock.yaml
  pnpm-lock.yaml
Due: knip

fix(4602): fix pnpm dependencies, add fix keycloak-provision docker file
  localdev/keycloak-provision/Dockerfile
  pnpm-lock.yaml
Due: none

fix(4602): add --no-frozen-lockfile flag to pnpm install calls
  .github/actions/setup-npm/action.yml
  Makefile
  app/Dockerfile
  app/Dockerfile.email
  data-migrations/Dockerfile
  localdev/ches-mock/Dockerfile
  localdev/keycloak-provision/Dockerfile
  localdev/m365mock/Dockerfile
  localdev/nats-provision/Dockerfile
Due: knip

fix(4602): add --no-frozen-lockfile flag to pnpm install calls
  .github/actions/setup-npm/action.yml
  Makefile
  app/Dockerfile
  app/Dockerfile.email
  data-migrations/Dockerfile
  helm/_app/templates/job-pre-prisma.yaml
  localdev/ches-mock/Dockerfile
  localdev/keycloak-provision/Dockerfile
  localdev/m365mock/Dockerfile
  localdev/nats-provision/Dockerfile
Due: knip

feat(4602): add debug timeouts to helm app jobs
  helm/_app/templates/job-pre-data-migrations.yaml
  helm/_app/templates/job-pre-prisma.yaml
Due: knip

fix(4602): revert debug timeouts to helm app jobs
  helm/_app/templates/job-pre-data-migrations.yaml
  helm/_app/templates/job-pre-prisma.yaml
Due: knip

chore: release candidate v0.43.4
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

feat(3973): add events page
  app/app/api/events/download/route.ts
  app/app/api/events/search/route.ts
  app/app/events/all/FilterPanel.tsx
  app/app/events/all/TableBody.tsx
  app/app/events/all/layout.tsx
  app/app/events/all/page.tsx
  app/app/events/all/state.ts
  app/app/events/page.tsx
  app/app/events/state.ts
  app/components/layouts/UserMenu.tsx
  app/constants/event.ts
  app/constants/user.ts
  app/prisma/schema.prisma
  app/services/backend/events.ts
  app/services/db/event.ts
  app/validation-schemas/event.ts
Due: eslint-app, prisma-format, knip

chore(3973): remove app/.tool-versions file
  app/.tool-versions
Due: knip

feat(3973): add data column to event table
  app/app/events/all/TableBody.tsx
  app/services/backend/events.ts
  app/services/db/event.ts
Due: eslint-app, knip

e2e(4313): add approval test for Public Cloud
  cypress/integration/1. create-request-private-test.feature
  cypress/integration/3. delete-product-test.feature
  cypress/integration/4. approve-requests-private.feature
  cypress/integration/5. approve-requests-public.feature
  cypress/integration/6. edit-request-private-test.feature
  cypress/integration/7. edit-request-public-test.feature
  cypress/support/step_definitions/common.ts
Due: eslint

feat(4276): add cancel operations for private/public clouds
  Makefile
  app/app/api/billing/[idOrAccountCoding]/download/route.tsx
  app/app/api/private-cloud/requests/[id]/route.ts
  app/app/api/public-cloud/products/[licencePlate]/review-mou/route.ts
  app/app/api/public-cloud/products/_operations/create.ts
  app/app/api/public-cloud/products/_operations/update.ts
  app/app/api/public-cloud/requests/[id]/route.ts
  app/app/private-cloud/requests/(request)/[id]/request/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/requests/(request)/[id]/original/page.tsx
  app/app/public-cloud/requests/(request)/[id]/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/billing/PublicCloudBillingDownloadButton.tsx
  app/components/billing/PublicCloudBillingInfo.tsx
  app/components/buttons/CancelButton.tsx
  app/components/form/ActiveRequestBox.tsx
  app/components/modal/privateCloudRequestCancel.tsx
  app/components/modal/publicCloudProductEditSubmit.tsx
  app/components/modal/publicCloudRequestCancel.tsx
  app/constants/event.ts
  app/core/auth-options.ts
  app/emails/_components/ProviderDetails.tsx
  app/emails/_components/public-cloud/Changes.tsx
  app/emails/_templates/public-cloud/BillingReviewerMou.tsx
  app/emails/_templates/public-cloud/EmouServiceAgreement.tsx
  app/emails/_templates/public-cloud/ExpenseAuthorityMou.tsx
  app/emails/_templates/public-cloud/ExpenseAuthorityMouProduct.tsx
  app/prisma/schema.prisma
  app/services/backend/private-cloud/requests.ts
  app/services/backend/public-cloud/requests.ts
  app/services/ches/public-cloud/emails.ts
  app/services/db/models/private-cloud-request.ts
  app/services/db/models/public-cloud-request.ts
  app/services/db/tasks/sign-public-cloud-mou.ts
  app/services/nats/public-cloud/index.ts
  app/types/doc-decorate.ts
  app/types/next-auth.d.ts
Due: eslint-app, prisma-format, knip

chore(4276): revert makefile
  Makefile
Due: none

feat(4506): add billing page
  app/app/api/billing/search/route.ts
  app/app/billing/all/layout.tsx
  app/app/billing/all/page.tsx
  app/app/billing/all/state.ts
  app/app/events/all/TableBody.tsx
  app/app/events/all/page.tsx
  app/app/events/all/state.ts
  app/components/layouts/UserMenu.tsx
  app/constants/billing.ts
  app/constants/event.ts
  app/constants/user.ts
  app/core/auth-options.ts
  app/services/backend/billing.ts
  app/services/backend/events.ts
  app/services/db/billing.ts
  app/services/db/event.ts
  app/types/next-auth.d.ts
  app/validation-schemas/billing.ts
Due: eslint-app, knip

chore(4276): optimize and reorganize code
  app/app/api/billing/[idOrAccountCoding]/download/route.tsx
  app/app/api/private-cloud/requests/[id]/route.ts
  app/app/api/public-cloud/products/_operations/update.ts
  app/app/api/public-cloud/requests/[id]/route.ts
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/private-cloud/requests/(request)/[id]/request/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/billing/PublicCloudBillingDownloadButton.tsx
  app/components/buttons/CancelButton.tsx
  app/components/modal/privateCloudRequestCancel.tsx
  app/components/modal/publicCloudRequestCancel.tsx
  app/services/ches/public-cloud/emails.ts
  app/services/db/models/private-cloud-request.ts
  app/services/db/models/public-cloud-request.ts
Due: eslint-app, knip

chore(4276): use one cancel request modal
  app/components/buttons/CancelButton.tsx
  app/components/modal/CancelRequest.tsx
  app/components/modal/privateCloudRequestCancel.tsx
Due: eslint-app, knip

chore(4276): reword the modal message
  app/components/modal/CancelRequest.tsx
Due: eslint-app, knip

chore(4276): adjust type casting and optional property
  app/app/api/billing/[idOrAccountCoding]/download/route.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
Due: eslint-app, knip

chore(4506): add billing page rows
  app/app/api/billing/download/route.ts
  app/app/billing/all/FilterPanel.tsx
  app/app/billing/all/TableBody.tsx
  app/app/billing/all/page.tsx
  app/app/billing/all/state.ts
  app/constants/billing.ts
  app/services/backend/billing.ts
  app/services/db/billing.ts
  app/validation-schemas/billing.ts
Due: eslint-app, knip

chore(4506): change permissions for events and billings download
  app/app/api/billing/download/route.ts
  app/app/api/events/download/route.ts
Due: eslint-app, knip

chore(4506): add ministry badge to event and billing dshboards users
  app/app/billing/all/TableBody.tsx
  app/app/events/all/TableBody.tsx
  app/services/backend/billing.ts
  app/services/db/billing.ts
  app/services/db/event.ts
Due: eslint-app, knip

chore(4276): edit active states for requests
  app/app/api/private-cloud/requests/[id]/route.ts
  app/app/api/public-cloud/requests/[id]/route.ts
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/private-cloud/requests/(request)/[id]/summary/page.tsx
  app/app/public-cloud/requests/(request)/[id]/summary/page.tsx
  app/services/db/models/private-cloud-request.ts
  app/services/db/models/public-cloud-request.ts
Due: eslint-app, knip

chore(4506): filter for not signed and not approved eMOUs
  app/constants/billing.ts
  app/services/db/billing.ts
Due: eslint-app, knip

chore(4276): add cancel request button to decision page
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
Due: eslint-app, knip

fix(4276): display billing info in request page
  app/app/api/public-cloud/requests/[id]/route.ts
Due: eslint-app, knip

fix(4276): disable decision page when appropriate
  app/app/api/public-cloud/requests/[id]/route.ts
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
Due: eslint-app, knip

fix(4276): delete public cloud specific task type
  app/app/api/public-cloud/requests/[id]/route.ts
Due: eslint-app, knip

chore(4276): remove unused imports
  app/app/api/public-cloud/requests/[id]/route.ts
Due: eslint-app, knip

feat(4506): add billing dates to dashboard
  app/app/billing/all/TableBody.tsx
  app/components/generic/button/CopyableButton.tsx
  app/services/db/billing.ts
Due: eslint-app, knip

chore(4506): remove unused Box
  app/app/billing/all/TableBody.tsx
Due: eslint-app, knip

feat(3974): add task page
  app/app/api/tasks/download/route.ts
  app/app/api/tasks/search/route.ts
  app/app/tasks/all/FilterPanel.tsx
  app/app/tasks/all/TableBody.tsx
  app/app/tasks/all/layout.tsx
  app/app/tasks/all/page.tsx
  app/app/tasks/all/state.ts
  app/components/generic/button/CopyableButton.tsx
  app/components/layouts/UserMenu.tsx
  app/constants/task.ts
  app/constants/user.ts
  app/core/auth-options.ts
  app/prisma/schema.prisma
  app/services/backend/tasks.ts
  app/services/db/index.ts
  app/services/db/task.ts
  app/types/next-auth.d.ts
  app/validation-schemas/task.ts
Due: eslint-app, prisma-format, knip

chore(0000): add debug statement in mongo migrate
  data-migrations/migrate-mongo-config.js
Due: none

chore(0000): add debug statement in mongo migrate
  data-migrations/Dockerfile
  data-migrations/migrate-mongo-config.js
Due: none

chore(0000): revert node version back
  data-migrations/Dockerfile
Due: none

chore(0000): downgrade node version for migrate-mongo
  data-migrations/Dockerfile
  data-migrations/migrate-mongo-config.js
Due: none

chore(0000): remove no-frozen-lockfile flag from pnpm install
  .github/actions/setup-npm/action.yml
  Makefile
  app/Dockerfile
  app/Dockerfile.email
  data-migrations/Dockerfile
  localdev/ches-mock/Dockerfile
  localdev/keycloak-provision/Dockerfile
  localdev/m365mock/Dockerfile
  localdev/nats-provision/Dockerfile
Due: knip

e2e(4667): merging new main and only leaving tests changes
  cypress/integration/1. create-request-private-test.feature
  cypress/integration/3. delete-product-test.feature
  cypress/integration/4. approve-requests-private.feature
  cypress/integration/5. approve-requests-public.feature
  cypress/integration/6. edit-request-private-test.feature
  cypress/integration/7. edit-request-public-test.feature
  cypress/support/step_definitions/common.ts
Due: eslint

feat(4561): replace GB with GiB for K8S units
  app/app/api/private-cloud/products/download/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/private-cloud/requests/(request)/[id]/original/page.tsx
  app/app/private-cloud/requests/(request)/[id]/request/page.tsx
  app/components/private-cloud/sections/Quotas.tsx
  app/components/private-cloud/sections/QuotasDescription.tsx
  app/emails/_components/ClusterDetails.tsx
  app/emails/_components/QuotaChanges.tsx
  app/types/csv.ts
Due: eslint-app, knip

Path conditions:
  eslint: any of: ^(cypress|localdev)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
