Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

chore(5714): make monthly cost chart bigger
  app/components/private-cloud/monthly-cost/MonthyCostChart.tsx
Due: eslint-app, knip

chore(5714): make yearly quaterly cost chart bigger
  app/components/private-cloud/quarterly-cost/QuarterlyCostChart.tsx
  app/components/private-cloud/yearly-cost/YearlyCostChart.tsx
Due: eslint-app, knip

feat(5687): improve the cost estimation section
  app/.env.example
  app/app/api/info/route.ts
  app/app/api/private-cloud/unit-prices/current/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/private-cloud/requests/(request)/[id]/original/page.tsx
  app/app/private-cloud/requests/(request)/[id]/request/page.tsx
  app/components/private-cloud/sections/Quotas.tsx
  app/components/private-cloud/sections/QuotasBudgetEstimation.tsx
  app/config.ts
  app/services/backend/private-cloud/unit-prices.ts
  app/states/global.ts
  helm/main/values-101ed4-dev.yaml
  helm/main/values-101ed4-prod.yaml
  helm/main/values-101ed4-test.yaml
  helm/main/values.yaml
Due: eslint-app, knip

feat(5620): update language about Azure project set
  app/components/form/Budget.tsx
  app/components/modal/publicCloudProductCreateSubmit.tsx
Due: eslint-app, knip

feat(5659): add a script to check m365 client flow
  app/package.json
  app/pnpm-lock.yaml
  app/scripts/README.md
  app/scripts/check-m365-client-flow.ts
Due: eslint-app, knip

chore(5659): add user type in check m365 script
  app/scripts/check-m365-client-flow.ts
Due: eslint-app, knip

refactor(2938): address SonarQube security warnings
  .bin/copy-db.sh
  helm/tools/example-job.yaml
Due: bash-format

refactor(2938): address SonarQube warnings cont'
  .bin/copy-db.sh
  app/app/api-account/ApiTabs.tsx
  app/app/api/tasks/assigned/route.ts
  app/app/private-cloud/requests/(request)/[id]/request/page.tsx
  app/app/private-cloud/requests/(request)/[id]/summary/page.tsx
  app/app/private-cloud/requests/(request)/[id]/view/page.tsx
  app/app/private-cloud/requests/all/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/aws-roles/[role]/loading.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/aws-roles/[role]/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/products/(product)/create/page.tsx
  app/app/public-cloud/products/all/page.tsx
  app/app/public-cloud/requests/(request)/[id]/summary/page.tsx
  app/app/public-cloud/requests/(request)/[id]/view/page.tsx
  app/app/public-cloud/requests/all/page.tsx
  app/app/users/all/ProductsCard.tsx
  app/components/UserCard.tsx
  app/components/form/AccountEnvironmentsPublic.tsx
  app/components/private-cloud/sections/QuotasBudgetEstimation.tsx
  app/eslint.config.mjs
  app/helpers/pdfs/monthly-cost/index.tsx
  app/helpers/pdfs/quarterly-cost/index.tsx
  app/helpers/pdfs/yearly-cost/index.tsx
  app/helpers/user-image.ts
  app/services/msgraph/config.ts
  helm/tools/dags/_task_failure_callback.py
  helm/tools/dags/_temporary_products_notification.html
Due: eslint-app, python-format, bash-format, knip

chore(5692): add API to validate k8s metrics-reader token
  app/app/api/token-check/route.ts
  app/services/k8s/metrics/core.ts
  helm/tools/dags/validate_tokens.py
Due: eslint-app, python-format, knip

fix(5746): install missing airflow deps in v3
  tools/airflow/requirements.txt
Due: none

refactor(5746): update Airflow codebase for compatibility with v3
  helm/tools/Makefile
  helm/tools/dags/acs_dev.py
  helm/tools/dags/acs_prod.py
  helm/tools/dags/acs_test.py
  helm/tools/dags/airflow_failure_test.py
  helm/tools/dags/mailchimp_subscription_dev.py
  helm/tools/dags/mailchimp_subscription_prod.py
  helm/tools/dags/mailchimp_subscription_test.py
  helm/tools/dags/provisioner_prod.py
  helm/tools/dags/provisioner_test.py
  helm/tools/dags/sonarscan_dev.py
  helm/tools/dags/sonarscan_prod.py
  helm/tools/dags/sonarscan_test.py
  helm/tools/dags/sync_db_with_azure_ad_dev.py
  helm/tools/dags/sync_db_with_azure_ad_prod.py
  helm/tools/dags/sync_db_with_azure_ad_test.py
  helm/tools/dags/temporary_products_deletion_dev.py
  helm/tools/dags/temporary_products_deletion_prod.py
  helm/tools/dags/temporary_products_deletion_test.py
  helm/tools/dags/temporary_products_notification_dev.py
  helm/tools/dags/temporary_products_notification_prod.py
  helm/tools/dags/temporary_products_notification_test.py
  helm/tools/dags/zapscan_dev.py
  helm/tools/dags/zapscan_prod.py
  helm/tools/dags/zapscan_test.py
  helm/tools/templates/job.yaml
  helm/tools/values.yaml
  tools/airflow/Dockerfile
Due: python-format

feat(5601): enhance cost computation to account for archival date
  app/app/api/private-cloud/products/_operations/delete.ts
  app/app/private-cloud/products/(product)/[licencePlate]/costs/Monthly.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/Quarterly.tsx
  app/prisma/schema.prisma
  app/services/db/private-cloud-costs.ts
  app/types/private-cloud.ts
  data-migrations/migrations/20250530230453-set_archived_date_for_archived_products.js.js
Due: eslint-app, prisma-format, knip

chore(5601): remove unnecessary comments
  app/app/api/private-cloud/products/_operations/delete.ts
  app/app/private-cloud/products/(product)/[licencePlate]/costs/Monthly.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/Quarterly.tsx
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

chore(5601): modify monthly cost functions
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

chore(5601): rename variable
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

chore(5601): correct name in migration script
  data-migrations/migrations/20250530230453-set_archived_date_for_archived_products.js.js
Due: none

chore: release candidate v0.67.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(5601): include archivedat in schema and migrate changes
  app/services/db/private-cloud-costs.ts
  app/types/private-cloud.ts
  data-migrations/migrations/20250530230453-set_archived_date_for_archived_products.js
Due: eslint-app, knip

chore(5692): add validation for 6 services credentials
  app/app/api/token-check/route.ts
  app/app/api/token-check/validations/ches-client-credentials.ts
  app/app/api/token-check/validations/helpers.ts
  app/app/api/token-check/validations/keycloak-service-account-credentials.ts
  app/app/api/token-check/validations/keycloak-user-login-credentials.ts
  app/app/api/token-check/validations/metrics-reader-tokens.ts
  app/app/api/token-check/validations/ms-graph-client-credentials.ts
  app/app/api/token-check/validations/service-account-tokens.ts
  app/services/ches/core.ts
  app/services/k8s/helpers.ts
  app/services/k8s/metrics/core.ts
  app/services/msgraph/config.ts
  helm/tools/dags/validate_tokens.py
Due: eslint-app, python-format, knip

chore(5692): revert msalConfig is IS_LOCAL condition
  app/services/msgraph/config.ts
Due: eslint-app, knip

chore(5758): update parameter name to retrieve connection
  helm/tools/dags/_projects.py
Due: python-format

chore(5758): fix minor calculation issue on monthly costs
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

chore(5692): create reusable fucntion for checking services
  app/app/api/token-check/route.ts
  app/app/api/token-check/validations/ches-client-credentials.ts
  app/app/api/token-check/validations/helpers.ts
  app/app/api/token-check/validations/keycloak-service-account-credentials.ts
  app/app/api/token-check/validations/keycloak-user-login-credentials.ts
  app/app/api/token-check/validations/metrics-reader-tokens.ts
  app/app/api/token-check/validations/ms-graph-client-credentials.ts
  app/app/api/token-check/validations/service-account-tokens.ts
  app/services/ches/core.ts
Due: eslint-app, knip

chore(5692): revert app/services/k8s/helpers.ts
  app/services/k8s/helpers.ts
Due: eslint-app, knip

chore(5758): fix minor calculation issue on quarterly, yearly costs
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

chore(5692): return export of configureKubeConfig
  app/services/k8s/helpers.ts
Due: eslint-app, knip

chore(5601): remove migrationn script
  data-migrations/migrations/20250530230453-set_archived_date_for_archived_products.js
Due: none

chore(5759): upgrade sonarqube Helm chart version
  helm/tools/Chart.lock
  helm/tools/Chart.yaml
Due: none

chore(5759): upgrade sonarqube Helm chart version
  helm/tools/Chart.lock
Due: none

chore(5778): fix calculation issue on cost pages
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

chore(5778): add extra spaces for readibility
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

chore(5778): improve the readibility
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

chore(5601): update schema, delete logic and resolve build failures
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/app/api/public-cloud/requests/[id]/decision/route.ts
  app/helpers/mock-resources/private-cloud-product.ts
  app/helpers/mock-resources/private-cloud-request.ts
  app/helpers/mock-resources/public-cloud-product.ts
  app/helpers/mock-resources/public-cloud-request.ts
  app/services/db/private-cloud-product.ts
  app/services/db/public-cloud-billing.ts
  app/services/db/public-cloud-product.ts
  app/types/public-cloud.ts
Due: eslint-app, knip

chore(5778): fix typo
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

refactor(2938): address SonarQube medium warnings
  .bin/copy-db.sh
  app/app/api/public-cloud/aws-roles/helpers.ts
  app/app/private-cloud/billings/all/AdminCostTableBody.tsx
  app/app/tasks/all/TableBody.tsx
  app/components/buttons/PaginationButtons.tsx
  app/components/generic/button/LightButton.tsx
  app/components/generic/checkbox/FormCheckbox.tsx
  app/components/generic/input/HookFormDollarInput.tsx
  app/components/generic/input/HookFormMaskInput.tsx
  app/components/generic/input/HookFormPasswordInput.tsx
  app/components/generic/input/HookFormTextInput.tsx
  app/components/generic/input/HookFormTextarea.tsx
  app/components/generic/select/FormDatePicker.tsx
  app/components/generic/select/FormDateRangePicker.tsx
  app/components/generic/select/FormMultiSelect.tsx
  app/components/generic/select/FormSingleSelect.tsx
  app/components/generic/select/FormYearPicker.tsx
  app/components/generic/table/Pagination.tsx
  app/components/history/PublicHistorySubItem.tsx
  app/components/private-cloud/sections/Quotas.tsx
  app/components/public-cloud/BillingStatusProgress.tsx
  app/services/api-test/private-cloud/products.ts
  app/services/db/analytics/public-cloud/contact-changes.ts
  app/services/k8s/metrics/usage-metrics.ts
  app/services/weasyprint/client.ts
  app/utils/browser/file-download.ts
  app/utils/js/diff.ts
  app/utils/js/http.ts
  helm/tools/dags/_acs_api.py
  helm/tools/dags/_msgraph.py
  helm/tools/dags/_projects.py
  helm/tools/dags/_temporary_products_deletion.py
  helm/tools/dags/airflow_failure_test.py
  sandbox/_packages/keycloak-admin/src/main.ts
Due: eslint, eslint-app, python-format, bash-format, knip

chore(5601): resolve type issues and unnecessary types
  app/app/api/private-cloud/products/_operations/delete.ts
  app/app/api/public-cloud/billings/[billingId]/download/route.tsx
  app/app/api/public-cloud/products/_operations/delete.ts
  app/helpers/mock-resources/public-cloud-request.ts
  app/services/ches/public-cloud/emails.ts
  app/services/db/private-cloud-product.ts
  app/services/db/public-cloud-billing.ts
  app/services/db/public-cloud-product.ts
  app/types/public-cloud.ts
Due: eslint-app, knip

chore(5601): remove unncesssarty spaces
  app/services/db/public-cloud-billing.ts
Due: eslint-app, knip

chore(5601): extend parent type
  app/app/api/public-cloud/billings/[billingId]/download/route.tsx
  app/helpers/pdfs/emou/types.ts
  app/services/ches/public-cloud/emails.ts
Due: eslint-app, knip

chore(5601): migrate data for product deletion date
  data-migrations/migrations/20250606004107-update_products_deletion_date.js
Due: none

refactor(2938): address SonarQube medium warnings cont'
  .bin/copy-db.sh
  helm/tools/dags/_acs_api.py
Due: python-format, bash-format

Path conditions:
  eslint: any of: ^(cypress|sandbox)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
