Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^(helm|mkdocs\.yml)$
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^(helm)$
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    exclude: .git/COMMIT_EDITMSG
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: ^(sandbox/mock-users\.json|sandbox/m365proxy/mocks\.json|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: .bin/eslint.sh
    language: script
    files: ^(cypress|sandbox)/.*\.(js|ts)$
    verbose: true
    pass_filenames: true
  - id: eslint-app
    name: eslint-app
    entry: .bin/eslint-app.sh
    language: script
    files: ^app/.*\.(ts|tsx)$
    verbose: true
    pass_filenames: true
  - id: python-format
    name: black
    entry: .bin/black.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
  - id: commitlint
    name: commitlint
    entry: .bin/commitlint.sh
    language: script
    verbose: true
    pass_filenames: false
    stages: [commit-msg]
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    exclude: .git/COMMIT_EDITMSG

exclude: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$

chore: release candidate v0.78.13
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

fix(0000): align react-email preview server version
  app/.knip.json
  app/package.json
  app/pnpm-lock.yaml
Due: knip

Revert "fix(deps): update dependency react-email to v6"
  app/package.json
  app/pnpm-lock.yaml
Due: knip

fix(0000): ajust react-email/ui and react-email versions
  app/.knip.json
  app/package.json
  app/pnpm-lock.yaml
Due: knip

chore(2746): add project_type field to NATs messge body
  app/services/nats/private-cloud/index.ts
Due: eslint-app, knip

chore(2690): add aditional team members to private cloud exported products file
  app/app/api/private-cloud/products/download/route.ts
  app/types/private-cloud.ts
Due: eslint-app, knip

fix(2796): update Zod v4 query param schemas for pagination and filters
  app/app/api/v1/private-cloud/products/route.ts
  app/app/api/v1/public-cloud/products/route.ts
  app/validation-schemas/private-cloud.ts
  app/validation-schemas/public-cloud.ts
  pnpm-lock.yaml
Due: eslint-app, knip

chore(2796): correct react-hook-form resolver typing for zod v4 schemas
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
Due: eslint-app, knip

chore(2800): migrate notifications from RocketChat to MS Teams via n8n
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
  .github/workflows/dispatch-maintenance.yml
  .github/workflows/mkdocs.yml
  docs/git-github/ms-teams-notifications.md
  helm/tools/dags/_task_failure_callback.py
Due: python-format

chore(2800): update Airflow webhook payload format for MS Teams
  .github/workflows/deploy-test.yml
  helm/tools/dags/_task_failure_callback.py
Due: python-format

chore(2800): resolve Sonar warning in Airflow MS Teams payload formatting
  helm/tools/dags/_task_failure_callback.py
Due: python-format

Revert "chore(deps): update dependency react-email to v6.1.1"
  app/pnpm-lock.yaml
Due: none

chore(2800): rename rocketchat notification action to ms-teams
  .github/actions/ms-teams-notification/action.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
  .github/workflows/dispatch-maintenance.yml
  .github/workflows/mkdocs.yml
  docs/git-github/ms-teams-notifications.md
  mkdocs.yml
Due: none

chore(2800): fix typo in file name
  mkdocs.yml
Due: none

Revert "chore(deps): update dependency @tabler/icons-react to v3.43.0"
  app/pnpm-lock.yaml
Due: none

fix(0000): approve pnpm builds for esbuild and sharp
  app/package.json
Due: knip

fix(0000): allow pnpm build scripts for react-email dependencies
  app/.npmrc
Due: knip

fix(0000): allow pnpm build scripts for react-email build
  .github/workflows/test.yml
Due: none

fix(0000): allow react-email dependency build scripts
  .github/workflows/test.yml
  app/.npmrc
Due: knip

fix(0000): allow pnpm dependency builds for react-email workflow
  .github/actions/setup-npm/action.yml
  .github/workflows/test.yml
Due: none

fix(0000): align pnpm version for frozen lockfile installs
  app/Dockerfile
  app/package.json
Due: knip

fix(0000): pin pnpm without corepack
  app/Dockerfile
Due: knip

Revert "chore(deps): update react-email monorepo to v6.1.1"
  app/package.json
  app/pnpm-lock.yaml
Due: knip

fix(0000): configure pnpm workspace and approve build dependencies
  app/Dockerfile
  app/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: knip

fix(0000): relax react compiler hook rules for valtio state
  app/components/buttons/PaginationButtons.tsx
  app/eslint.config.mjs
  app/helpers/valtio.tsx
Due: eslint-app, knip

Revert "chore(deps): update pnpm to v11"
  .tool-versions
  app/Dockerfile
  app/components/buttons/PaginationButtons.tsx
  app/eslint.config.mjs
  app/helpers/valtio.tsx
  app/package.json
  app/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint-app, knip

fix(0000): copy pnpm workspace config into app image
  app/Dockerfile
Due: knip

fix(0000): copy pnpm workspace config before app install
  app/Dockerfile
Due: knip

fix(0000): include pnpm workspace config in app build context
  app/Dockerfile
  app/pnpm-workspace.yaml
Due: knip

fix(0000): add missing cross-env dependency
  app/.knip.json
  app/package.json
  pnpm-lock.yaml
Due: knip

fix(0000): avoid app workspace file for react-email build
  app/Dockerfile
  app/package.json
  app/pnpm-workspace.yaml
Due: knip

Revert "fix(0000): include pnpm workspace config in app build context"
  app/.knip.json
  app/Dockerfile
  app/package.json
  pnpm-lock.yaml
Due: knip

Revert "fix(0000): copy pnpm workspace config before app install"
  app/Dockerfile
Due: knip

Revert "fix(0000): copy pnpm workspace config into app image"
  app/Dockerfile
Due: knip

fix(0000): update pnpm v11 workspace and build configuration
  app/Dockerfile
Due: knip
