Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

chore: use single quotes for Vault values
  app/package-lock.json
  helm/_app/templates/deployment.yaml
  helm/_app/templates/job-pre-data-migrations.yaml
  helm/_app/templates/job-pre-prisma.yaml
  helm/_nats_provision/templates/deployment.yaml
Due: knip

feat(3849): add a new public cloud provider AWS-LZA
  app/analytics/public-cloud/products.ts
  app/app/public-cloud/products/all/FilterPanel.tsx
  app/app/public-cloud/requests/all/FilterPanel.tsx
  app/components/form/Budget.tsx
  app/components/form/ProjectDescriptionPublic.tsx
  app/components/modal/signPublicCloudProductModal.tsx
  app/constants/public-cloud.ts
  app/core/auth-options.ts
  app/helpers/emou.ts
  app/helpers/pdfs/emou/BillingMou.tsx
  app/prisma/schema.prisma
  app/request-actions/public-cloud/create-request.ts
  app/types/next-auth.d.ts
Due: eslint-app, prisma-format, knip

fix(mailchimp): wait for batch operation to complete before starting next
  helm/tools/dags/_update_mailchimp_list.py
Due: python-format

feat(3635): add backend logic for quota auto-approval
  app/analytics/private-cloud/quota-changes.ts
  app/app/api/private-cloud/analytics/pod-usage-metrics/route.ts
  app/app/api/private-cloud/products/[licencePlate]/auto-approval-check/route.ts
  app/app/api/private-cloud/products/[licencePlate]/usage-metrics/route.ts
  app/app/api/private-cloud/products/_operations/update.ts
  app/app/api/private-cloud/provision/[licencePlate]/route.ts
  app/app/api/private-cloud/requests/search/route.test.ts
  app/app/api/public-cloud/provision/[licencePlate]/route.ts
  app/app/api/public-cloud/requests/search/route.test.ts
  app/app/private-cloud/products/(product)/[licencePlate]/usage/MetricsTable.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/usage/page.tsx
  app/app/private-cloud/requests/(request)/[id]/summary/page.tsx
  app/components/form/ActiveRequestBox.tsx
  app/components/form/RequestBadge.tsx
  app/components/table/TableBodyMetrics.tsx
  app/core/services/private-cloud-request.ts
  app/helpers/auto-approval-check.ts
  app/helpers/resource-metrics.ts
  app/jest.setup.js
  app/package-lock.json
  app/prisma/schema.prisma
  app/request-actions/private-cloud/edit-request.ts
  app/request-actions/public-cloud/edit-request.ts
  app/services/backend/private-cloud/usage-metrics.ts
  app/services/k8s/usage-metrics.ts
  app/services/openshift-kubernetis-metrics/helpers.ts
  app/services/openshift-kubernetis-metrics/pod-usage-metrics.ts
  app/utils/collection.ts
  helm/_app/templates/deployment.yaml
  localdev/keycloak-provision/src/main.ts
Due: eslint, eslint-app, prisma-format, knip

chore: add aws_lza public cloud provider in mock nats
  localdev/nats-provision/src/main.ts
Due: eslint

feat(3635): store quota resource detail in request doc
  app/helpers/auto-approval-check.ts
  app/helpers/resource-metrics.ts
  app/jest.setup.js
  app/prisma/schema.prisma
  app/request-actions/private-cloud/edit-request.ts
Due: eslint-app, prisma-format, knip

chore(3635): fix tests
  app/app/api/private-cloud/products/[licencePlate]/usage-metrics/route.ts
  app/app/api/private-cloud/products/_operations/update.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/helpers/auto-approval-check.ts
  app/helpers/mock-resources/private-cloud-request.ts
  app/jest.setup.js
  app/services/api-test/private-cloud/helpers.ts
  app/services/k8s/core.ts
  app/services/k8s/index.ts
  app/services/k8s/resource-details.ts
  app/services/k8s/usage-metrics.ts
Due: eslint-app, knip

feat(3637): display quota change status in UI
  app/app/api/private-cloud/products/[licencePlate]/quota-change-status/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/usage/page.tsx
  app/app/private-cloud/requests/(request)/[id]/layout.tsx
  app/app/public-cloud/requests/(request)/[id]/layout.tsx
  app/components/form/QuotasChangeInfo.tsx
  app/helpers/auto-approval-check.ts
  app/request-actions/private-cloud/decision-request.ts
  app/request-actions/public-cloud/decision-request.ts
  app/services/backend/private-cloud/products.ts
  app/services/backend/private-cloud/usage-metrics.ts
  app/validation-schemas/private-cloud.ts
  app/validation-schemas/public-cloud.ts
Due: eslint-app, knip

chore: ensure subpages use state product & request data
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/list.test.ts
  app/app/api/private-cloud/products/[licencePlate]/requests/route.test.ts
  app/app/api/private-cloud/products/_operations/delete.test.ts
  app/app/api/private-cloud/products/_operations/read.test.ts
  app/app/api/private-cloud/products/_operations/update.test.ts
  app/app/api/private-cloud/products/download/route.test.ts
  app/app/api/private-cloud/products/search/route.test.ts
  app/app/api/private-cloud/provision/[licencePlate]/route.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/api/private-cloud/requests/search/route.test.ts
  app/app/api/public-cloud/products/[licencePlate]/requests/route.test.ts
  app/app/api/public-cloud/products/_operations/delete.test.ts
  app/app/api/public-cloud/products/_operations/read.test.ts
  app/app/api/public-cloud/products/_operations/update.test.ts
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/api/public-cloud/products/search/route.test.ts
  app/app/api/public-cloud/provision/[licencePlate]/route.test.ts
  app/app/api/public-cloud/requests/[id]/decision/route.test.ts
  app/app/api/public-cloud/requests/search/route.test.ts
  app/app/api/v1/private-cloud/products/route.test.ts
  app/app/api/v1/public-cloud/products/route.test.ts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/layout.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/layout.tsx
  app/components/form/AccountCoding.tsx
  app/components/form/ProductBadge.tsx
  app/components/form/QuotasChangeInfo.tsx
  app/components/form/RequestBadge.tsx
  app/components/generic/accordion/PageAccordion.tsx
  app/components/modal/editPrivateCloudProductModal.tsx
  app/components/table/TableBodyPrivateProducts.tsx
  app/components/table/TableBodyPrivateRequests.tsx
  app/components/table/TableBodyPublicProducts.tsx
  app/components/table/TableBodyPublicRequests.tsx
  app/services/api-test/private-cloud/helpers.ts
  app/services/api-test/public-cloud/helpers.ts
  app/services/backend/private-cloud/products.ts
  app/states/global.ts
Due: eslint-app, knip

feat(3637): send admin email for quota auto-approval
  app/app/api/private-cloud/products/_operations/update.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/usage/MetricsTable.tsx
  app/emails/_components/private-cloud/QuotaUpgradeResources.tsx
  app/emails/_templates/private-cloud/AdminEditRequestQuotaAutoApproval.tsx
  app/emails/private-cloud/AdminEditRequestQuotaAutoApproval.tsx
  app/helpers/resource-metrics.ts
  app/jest.setup.js
  app/package-lock.json
  app/prisma/schema.prisma
  app/services/ches/private-cloud/emails.ts
  app/services/ches/private-cloud/index.ts
  app/services/k8s/resource-details.ts
  app/services/k8s/usage-metrics.ts
Due: eslint-app, prisma-format, knip

chore: release candidate v0.35.0
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

feat(3361): display context in the application header
  app/app/private-cloud/products/(product)/[licencePlate]/layout.tsx
  app/app/private-cloud/products/(product)/create/page.tsx
  app/app/private-cloud/requests/(request)/[id]/layout.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/layout.tsx
  app/app/public-cloud/products/(product)/create/page.tsx
  app/app/public-cloud/requests/(request)/[id]/layout.tsx
  app/components/layouts/Header.tsx
  app/emails/_templates/private-cloud/TeamEditRequestRejection.tsx
  app/package-lock.json
Due: eslint-app, knip

feat(1008): update Golddr provisioning workflow to receive two callbacks
  app/app/api/private-cloud/provision/[licencePlate]/route.ts
  app/prisma/schema.prisma
Due: eslint-app, prisma-format, knip

chore(1008): fix tests
  app/helpers/mock-resources.ts
Due: eslint-app, knip

feat(3925): use progress design in request list pages
  app/app/private-cloud/products/(product)/[licencePlate]/layout.tsx
  app/app/private-cloud/products/(product)/create/page.tsx
  app/app/private-cloud/requests/(request)/[id]/layout.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/layout.tsx
  app/app/public-cloud/products/(product)/create/page.tsx
  app/app/public-cloud/requests/(request)/[id]/layout.tsx
  app/components/RequestStatusProgress.tsx
  app/components/form/RequestBadge.tsx
  app/components/generic/button/CopyableButton.tsx
  app/components/table/TableBodyPrivateProducts.tsx
  app/components/table/TableBodyPrivateRequests.tsx
  app/components/table/TableBodyPublicProducts.tsx
  app/components/table/TableBodyPublicRequests.tsx
  app/constants/emails.ts
  app/constants/index.ts
  app/request-actions/private-cloud/edit-request.ts
  app/services/ches/private-cloud/index.ts
  app/services/ches/public-cloud/emails.ts
Due: eslint-app, knip

chore(3925): update description of complete status
  app/components/RequestStatusProgress.tsx
Due: eslint-app, knip

feat(3730): add ministry, cluster and provider for sorting capas
  app/app/private-cloud/products/all/page.tsx
  app/app/private-cloud/products/all/state.ts
  app/app/public-cloud/products/all/page.tsx
  app/app/public-cloud/products/all/state.ts
  app/constants/common.ts
  app/constants/private-cloud.ts
  app/constants/public-cloud.ts
  app/services/backend/private-cloud/products.ts
  app/services/backend/public-cloud/products.ts
Due: eslint-app, knip

chore(3730): clean up licence plates when passing the array into query
  app/core/services/public-cloud-request.ts
Due: eslint-app, knip

chore(3730): add custom function to filter licence plates
  app/core/services/public-cloud-request.ts
Due: eslint-app, knip

feat(eMOU): give temporary permission to public document as EA
  app/core/services/public-cloud-project.ts
Due: eslint-app, knip

chore: release candidate v0.36.0
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

chore(3793): remove mautic integration
  app/.env.example
  app/app/api/private-cloud/products/_operations/update.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/app/api/public-cloud/products/_operations/update.ts
  app/app/api/public-cloud/requests/[id]/decision/route.ts
  app/config.ts
  app/jest.setup.js
  app/package-lock.json
  app/services/mautic/index.ts
  app/tsconfig.json
Due: eslint-app, knip

chore(3793): update readme with mailchimp
  README.md
Due: none

chore: update tests to reflect EA permission changes
  Makefile
  app/app/api/private-cloud/products/[licencePlate]/requests/route.test.ts
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/api/public-cloud/products/search/route.test.ts
  app/app/api/v1/public-cloud/products/route.test.ts
  app/package-lock.json
  requirements.txt
Due: eslint-app, knip

chore: fix typo
  .tool-versions
  requirements.txt
Due: none

chore(3793): remove mautic/mailchimp from service diagram
  README.md
Due: none

refactor(3936): add DB services for products and requests
  app/services/db/core.ts
  app/services/db/index.ts
  app/services/db/private-cloud-product.ts
  app/services/db/private-cloud-request.ts
  app/services/db/public-cloud-product.ts
  app/services/db/public-cloud-request.ts
  app/utils/collection.ts
Due: eslint-app, knip

chore(3936): fix build errors
  app/services/db/core.ts
  app/services/db/private-cloud-product.ts
  app/services/db/private-cloud-request.ts
  app/services/db/public-cloud-product.ts
  app/services/db/public-cloud-request.ts
Due: eslint-app, knip

fix(replace-broken-link): correct link for quota increase request process
  app/components/form/Quotas.tsx
  app/package-lock.json
Due: eslint-app, knip

chore: release candidate v0.36.1
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

feat(3118): lint commit messages locally and in CI
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  commitlint.config.ts
  localdev/_packages/keycloak-admin/package-lock.json
  localdev/keycloak-provision/package-lock.json
  localdev/m365mock/package-lock.json
  localdev/nats-provision/package-lock.json
  package-lock.json
  package.json
Due: knip

chore(3936): fix typo
  app/app/api/admin/private-cloud/products/_operations/update.ts
Due: eslint-app, knip

chore(3118): remove pre-commit hook dependency for commitlint
  .bin/commitlint.sh
  .pre-commit-config.yaml
  docs/developer-guide.md
Due: bash-format

feat(3118): lint commit messages locally and in CI
  .bin/commitlint.sh
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  commitlint.config.ts
  docs/developer-guide.md
  package-lock.json
  package.json
Due: bash-format

refactor(3936): move database helper functions into DB service
  app/app/api/keycloak/api-accounts/team/[id]/users/route.ts
  app/app/api/keycloak/api-accounts/team/_operations/create.ts
  app/app/api/keycloak/api-accounts/team/_operations/delete.ts
  app/app/api/keycloak/api-accounts/team/_operations/update.ts
  app/app/api/keycloak/api-accounts/user/_operations/create.ts
  app/app/api/keycloak/api-accounts/user/_operations/delete.ts
  app/app/api/private-cloud/products/[licencePlate]/reprovision/route.ts
  app/app/api/private-cloud/products/_operations/delete.ts
  app/app/api/private-cloud/products/download/route.ts
  app/app/api/private-cloud/products/search/route.ts
  app/app/api/private-cloud/requests/[id]/resend/route.ts
  app/app/api/private-cloud/requests/search/route.ts
  app/app/api/public-cloud/products/_operations/delete.ts
  app/app/api/public-cloud/products/download/route.ts
  app/app/api/public-cloud/products/search/route.ts
  app/app/api/public-cloud/requests/search/route.ts
  app/app/api/v1/private-cloud/products/route.ts
  app/app/api/v1/public-cloud/products/route.ts
  app/core/auth-options.ts
  app/queries/types.ts
  app/queries/users.ts
  app/request-actions/private-cloud/create-request.ts
  app/request-actions/private-cloud/decision-request.ts
  app/request-actions/private-cloud/edit-request.ts
  app/request-actions/public-cloud/create-request.ts
  app/request-actions/public-cloud/decision-request.ts
  app/request-actions/public-cloud/edit-request.ts
  app/services/db/event.ts
  app/services/db/index.ts
  app/services/db/private-cloud-product.ts
  app/services/db/private-cloud-request.ts
  app/services/db/public-cloud-product.ts
  app/services/db/public-cloud-request.ts
  app/services/db/user.ts
Due: eslint-app, knip

feat(3937): add a billing reader role
  .secrets.baseline
  app/components/billing/PublicCloudBillingDownloadButton.tsx
  app/core/auth-options.ts
  app/package-lock.json
  app/types/next-auth.d.ts
  localdev/keycloak-provision/src/main.ts
  localdev/m365proxy/mocks.json
  terraform/keycloak/dev/roles.tf
  terraform/keycloak/prod/roles.tf
  terraform/keycloak/test/roles.tf
Due: eslint, eslint-app, knip

feat(3794): enhance rocket.chat notifications for deployment statuses
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
Due: none

Path conditions:
  eslint: any of: ^(cypress|localdev)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
