Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^(helm|mkdocs\.yml)$
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^(helm)$
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    exclude: .git/COMMIT_EDITMSG
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: ^(sandbox/mock-users\.json|sandbox/m365proxy/mocks\.json|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: .bin/eslint.sh
    language: script
    files: ^(cypress|sandbox)/.*\.(js|ts)$
    verbose: true
    pass_filenames: true
  - id: eslint-app
    name: eslint-app
    entry: .bin/eslint-app.sh
    language: script
    files: ^app/.*\.(ts|tsx)$
    verbose: true
    pass_filenames: true
  - id: python-format
    name: black
    entry: .bin/black.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
  - id: commitlint
    name: commitlint
    entry: .bin/commitlint.sh
    language: script
    verbose: true
    pass_filenames: false
    stages: [commit-msg]
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    exclude: .git/COMMIT_EDITMSG

exclude: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$

fix(deps): update dependencies
  app/.knip.json
  app/package.json
  app/pnpm-lock.yaml
Due: knip

fix(6058): add hardcoded LP and cluster for local getQuotaChangeStatus
  app/app/api/private-cloud/products/[licencePlate]/quota-change-status/route.ts
Due: eslint-app, knip

fix(6058): add hardcoded LP and cluster for local at getUsageMetrics
  app/app/api/private-cloud/products/[licencePlate]/quota-change-status/route.ts
  app/app/api/private-cloud/products/[licencePlate]/usage-metrics/route.ts
  app/services/k8s/metrics/usage-metrics.ts
Due: eslint-app, knip

chore(2598): treat additional members as not new if it has other roles
  app/services/db/members-history.ts
Due: eslint-app, knip

feat(6027): add start button, statrted status and user info to tasks sidebar
  app/app/api/tasks/[id]/start/route.ts
  app/app/api/tasks/assigned/route.ts
  app/app/tasks/all/TableBody.tsx
  app/components/layouts/SideTasks.tsx
  app/core/auth-options.ts
  app/prisma/schema.prisma
  app/services/backend/tasks.ts
  app/types/task.ts
Due: eslint-app, prisma-format, knip

fix(0000): initialize pathParams, queryParams, and body with schema.parse defaults
  app/core/api-handler.ts
Due: eslint-app, knip

fix(6042): assert schema.parse output types to satisfy Zod v4 typings
  app/core/api-handler.ts
Due: eslint-app, knip

fix(6042): ensure type-safe validation for path, query, and body using Zod v4
  app/core/api-handler.ts
Due: eslint-app, knip

fix(6042): ensure getPathParams and getQueryParams return valid types or throw on failure
  app/core/client-page.tsx
Due: eslint-app, knip

fix(6042): ensure default param return matches output<T> to fix Record<string, never> error
  app/core/client-page.tsx
Due: eslint-app, knip

fix(6042): ensure getQueryParams returns valid type or throws to satisfy strict output<T> typing
  app/core/client-page.tsx
Due: eslint-app, knip

Revert "fix(deps): update dependency react-email to v4.2.1"
  app/pnpm-lock.yaml
Due: none

Revert "fix(deps): update dependency @types/node to v22.16.4"
  app/pnpm-lock.yaml
  sandbox/_packages/keycloak-admin/pnpm-lock.yaml
  sandbox/ches-mock/pnpm-lock.yaml
  sandbox/keycloak-provision/pnpm-lock.yaml
  sandbox/m365mock/pnpm-lock.yaml
  sandbox/nats-provision/pnpm-lock.yaml
Due: none

chore(6077): update zod error handling and param for server and client pages
  app/core/client-page.tsx
  app/core/server-page.tsx
  app/validation-schemas/public-cloud.ts
Due: eslint-app, knip

chore(6077): revert props for clientpage wrapper
  app/core/client-page.tsx
Due: eslint-app, knip

chore(6077): fix Zod error handling
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/create.test.ts
  app/app/api/private-cloud/products/_operations/create.test.ts
  app/app/api/private-cloud/products/_operations/update.test.ts
  app/app/api/public-cloud/products/_operations/create.test.ts
  app/app/api/public-cloud/products/_operations/update.test.ts
  app/app/api/v1/private-cloud/products/route.test.ts
  app/app/api/v1/public-cloud/products/route.test.ts
  app/core/client-page.tsx
Due: eslint-app, knip

Revert "fix(deps): update dependency react-email to v4.2.3"
  app/pnpm-lock.yaml
Due: none

Revert "fix(deps): update dependency @react-email/tailwind to v1.2.2"
  app/pnpm-lock.yaml
Due: none

feat(6006): add organization schema with APIs
  app/app/api/organizations/[id]/route.ts
  app/app/api/organizations/_operations/create.ts
  app/app/api/organizations/_operations/delete.ts
  app/app/api/organizations/_operations/list.ts
  app/app/api/organizations/_operations/read.ts
  app/app/api/organizations/_operations/update.ts
  app/app/api/organizations/route.ts
  app/prisma/schema.prisma
  app/validation-schemas/common.ts
  app/validation-schemas/organization.ts
Due: eslint-app, prisma-format, knip

chore(6006): skip metrics fetch during auto-approval eval
  app/services/k8s/metrics/resource-details.ts
Due: eslint-app, knip

chore(6027): add startByUser db field for task
  app/app/api/tasks/[id]/start/route.ts
  app/app/api/tasks/assigned/route.ts
  app/components/layouts/SideTasks.tsx
  app/core/auth-options.ts
  app/prisma/schema.prisma
  app/services/backend/tasks.ts
  app/types/task.ts
Due: eslint-app, prisma-format, knip

chore(6006): create organization operation events
  app/app/api/organizations/[id]/route.ts
  app/app/api/organizations/_operations/create.ts
  app/app/api/organizations/_operations/delete.ts
  app/app/api/organizations/_operations/update.ts
  app/app/api/organizations/route.ts
  app/constants/user.ts
  app/core/auth-options.ts
  app/prisma/schema.prisma
  app/services/db/event.ts
  app/types/next-auth.d.ts
Due: eslint-app, prisma-format, knip

chore(6006): align @react-email/preview-server version
  app/package.json
  app/pnpm-lock.yaml
Due: knip

chore(6006): resolve type-related problems
  app/constants/event.ts
Due: eslint-app, knip

chore: release candidate v0.73.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

fix(6006): resolve rendering issues in client page generator
  app/core/client-page.tsx
Due: eslint-app, knip

chore: release candidate v0.73.1
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(6027): extend AssignedTask to include startedByUser relation manually
  app/app/api/tasks/[id]/start/route.ts
  app/types/task.ts
Due: eslint-app, knip

chore(6027): switch AssignedTask type to TaskGetPayload with startedByUser include
  app/types/task.ts
Due: eslint-app, knip

feat(6006): implement UI pages for organization
  app/app/organizations/createModal.tsx
  app/app/organizations/page.tsx
  app/app/organizations/updateModal.tsx
  app/components/generic/data-table/DataTable.tsx
  app/components/layouts/UserMenu.tsx
  app/services/backend/organizations.ts
Due: eslint-app, knip

chore(6027): cast session.tasks to AssignedTask type
  app/core/auth-options.ts
Due: eslint-app, knip

chore(6027): cast session.tasks to AssignedTask[] type
  app/app/api/tasks/assigned/route.ts
Due: eslint-app, knip

chore(6027): remove unused import
  app/app/api/tasks/[id]/start/route.ts
  app/app/api/tasks/assigned/route.ts
Due: eslint-app, knip

chore(6027): make sure task.startedByUser?.email exists
  app/components/layouts/SideTasks.tsx
Due: eslint-app, knip

chore(6027): remoce type casting for AssignedTasks
  app/app/api/tasks/[id]/start/route.ts
  app/app/api/tasks/assigned/route.ts
  app/core/auth-options.ts
  app/types/next-auth.d.ts
  app/types/task.ts
Due: eslint-app, knip

feat(6006): implement migration script for ministries
  data-migrations/migrations/20240910214355-assign_emou_ea.js
  data-migrations/migrations/20250722032339-migrate_ministries.js
Due: none

feat(6028): display distinct labels for actioned requests
  app/app/api/tasks/[id]/start/route.ts
  app/components/form/PrivateCloudActiveRequestBox.tsx
  app/components/form/PublicCloudActiveRequestBox.tsx
  app/components/private-cloud/RequestBadge.tsx
  app/components/public-cloud/RequestBadge.tsx
  app/prisma/schema.prisma
Due: eslint-app, prisma-format, knip

chore(6028): fix build issues during compilation
  app/helpers/mock-resources/private-cloud-request.ts
  app/helpers/mock-resources/public-cloud-request.ts
Due: eslint-app, knip
