Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, prisma-format, bash-format, knip

python-format:
  name: autopep8
  entry: .bin/autopep8.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

feat(3636): track reasons for choosing cloud provider
  app/app/api/public-cloud/products/download/route.ts
Due: knip

feat(2827): add generic text input components
  app/app/examples/ui/text-input/page.tsx
  app/components/generic/input/FormTextInput.tsx
  app/components/generic/input/HookFormTextInput.tsx
  app/components/generic/select/HookFormMultiSelect.tsx
  app/package-lock.json
Due: knip

chore: add casted Quota
  app/helpers/auto-approval-check.ts
  app/jest.setup.js
  app/request-actions/private-cloud/edit-request.ts
Due: knip

feat(2828): add generic textarea components
  app/.knip.json
  app/app/examples/ui/(components)/button/page.tsx
  app/app/examples/ui/(components)/layout.tsx
  app/app/examples/ui/(components)/modal/page.tsx
  app/app/examples/ui/(components)/modal/testModal.tsx
  app/app/examples/ui/(components)/multi-select/page.tsx
  app/app/examples/ui/(components)/table/page.tsx
  app/app/examples/ui/(components)/text-input/page.tsx
  app/app/examples/ui/(components)/textarea/page.tsx
  app/app/examples/ui/button/page.tsx
  app/app/examples/ui/modal/page.tsx
  app/app/examples/ui/page.tsx
  app/app/examples/ui/text-input/page.tsx
  app/components/generic/Label.tsx
  app/components/generic/button/CopyableButton.tsx
  app/components/generic/input/FormTextarea.tsx
  app/components/generic/input/HookFormTextarea.tsx
Due: knip

chore: remove excess currentQuota cast
  app/app/api/private-cloud/products/[licencePlate]/auto-approval-check/route.ts
  app/helpers/auto-approval-check.ts
Due: knip

fix: pass licence plates into proper field
  app/core/services/public-cloud-request.ts
Due: knip

chore: release candidate v0.34.3
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

chore: pr review fixies
  app/app/private-cloud/products/(product)/[licencePlate]/usage/page.tsx
  app/components/table/TableBodyMetrics.tsx
  app/helpers/auto-approval-check.ts
  app/request-actions/private-cloud/edit-request.ts
Due: knip

chore: remove noQuotaChange check from auto approval
  app/helpers/auto-approval-check.ts
Due: knip

feat(3636): track reasons for choosing cloud provider
  app/components/billing/PublicCloudBillingInfo.tsx
  app/components/billing/types.ts
  data-migrations/migrations/20240927022019-populate_missing_public_cloud_provider_selection_reason_field1.js
Due: knip

feat(3636): track reasons for choosing cloud provider
  app/components/billing/PublicCloudBillingInfo.tsx
  app/components/billing/types.ts
Due: knip

feat(3636): track reasons for selecting cloud provider
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/api/public-cloud/products/download/route.ts
  app/components/billing/PublicCloudBillingInfo.tsx
  app/components/billing/types.ts
  app/components/form/ProjectDescriptionPublic.tsx
  app/components/generic/select/FormMultiSelect.tsx
  app/constants/public-cloud.ts
  app/helpers/mock-resources.ts
  app/helpers/mock-resources/core.ts
  app/helpers/mock-resources/public-cloud-product.ts
  app/helpers/mock-resources/public-cloud-request.ts
  app/package-lock.json
  app/prisma/schema.prisma
  app/request-actions/public-cloud/create-request.ts
  app/types/csv.ts
  app/utils/number.ts
  app/validation-schemas/public-cloud.ts
  data-migrations/migrations/20240927022019-populate_missing_public_cloud_provider_selection_reason_field1.js
Due: prisma-format, knip

chore(3877): fix readonly type conflicts with Valtio
  app/components/billing/PublicCloudBillingInfo.tsx
  app/components/billing/types.ts
  app/helpers/valtio.tsx
Due: knip

chore(3838): adjust filter behaviours
  app/app/private-cloud/products/(product)/[licencePlate]/layout.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/requests/state.ts
  app/app/private-cloud/products/all/state.ts
  app/app/private-cloud/requests/all/state.ts
  app/app/public-cloud/products/(product)/[licencePlate]/layout.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/requests/state.ts
  app/app/public-cloud/products/all/state.ts
  app/app/public-cloud/requests/all/state.ts
  app/package-lock.json
Due: knip

fix(3872): update headers on products/requests pages
  app/app/private-cloud/products/all/page.tsx
  app/app/private-cloud/requests/all/page.tsx
  app/app/public-cloud/products/all/page.tsx
  app/app/public-cloud/requests/all/page.tsx
Due: knip

temp
  app/package-lock.json
Due: knip

temp
  localdev/docker-compose.yml
Due: none

fix: resolve bug in login flow
  .husky/commit-msg
  commitlint.config.ts
  package-lock.json
  package.json
Due: none

fix: add this feature
  .eslintrc.root.json
  .husky/pre-commit
Due: none

fix: fixing
  .husky/commit-msg
  package-lock.json
  package.json
Due: none

fix: fixing
  .husky/commit-msg
  package.json
Due: none

fix: fixing
  .husky/commit-msg
  .husky/pre-commit
  .pre-commit-config.yaml
Due: none

feat: feating fixing
  .pre-commit-config.yaml
Due: none

help
  .husky/commit-msg
  .husky/pre-commit
  .pre-commit-config.yaml
  package-lock.json
  package.json
Due: none

fix: this is fixing
  .pre-commit-config.yaml
  app/app/api/admin/task/sign-mou/resend/route.ts
Due: knip

update: my updater
  app/app/api/admin/task/sign-mou/resend/route.ts
  commitlint.config.ts
Due: knip

fix(fixing): this is fixing
  commitlint.config.ts
Due: none

feat: feating
  app/app/api/admin/task/sign-mou/resend/route.ts
Due: knip

fix(fix): doing something
  commitlint.config.ts
Due: none

feat(3118): add a new fix
  app/app/api/admin/task/sign-mou/resend/route.ts
Due: knip

feat(3118): new feature
  .pre-commit-config.yaml
Due: none

feat(3118): do something
  app/app/api/admin/task/sign-mou/resend/route.ts
Due: knip

feat(3118): add this new feature
  app/app/api/admin/task/sign-mou/resend/route.ts
Due: knip

feat(3118): add commit message linting
  .pre-commit-config.yaml
Due: none

feat(3118): implement commit message linting in local env and ci pipeline
  localdev/docker-compose.yml
Due: none

feat(3118): add commit message linting
  .github/workflows/pre-commit.yml
  package-lock.json
  package.json
Due: none

feat(3118): add commit message linting
  .github/workflows/pre-commit.yml
Due: none

Path conditions:
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md)$
