Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

chore(4351): reflect jest setup
  app/jest.setup.js
Due: knip

chore(4026): cleanup jwt logic and handle errors gracefully
  app/core/auth-options.ts
Due: eslint-app, knip

chore(4026): remove refresh token time from prepared user data
  app/services/db/user.ts
Due: eslint-app, knip

chore(4026): adjust spacing
  app/services/db/user.ts
Due: eslint-app, knip

chore(4026): optimize tokens processing
  app/core/auth-options.ts
Due: eslint-app, knip

chore(4026): adjust token refresh time
  app/core/auth-options.ts
Due: eslint-app, knip

chore(4026): optimize account login condition
  app/core/auth-options.ts
Due: eslint-app, knip

chore(4478): organize types & logic
  app/.env.example
  app/config.ts
  app/core/auth-options.ts
  app/types/next-auth.d.ts
Due: eslint-app, knip

chore(4478): handle the case of user without token refresh time
  app/core/auth-options.ts
Due: eslint-app, knip

chore(4026): resolve test errors
  app/core/api-handler.ts
  app/helpers/mock-users.ts
Due: eslint-app, knip

feat(4459): enhance deployment pipelines to wait till complete
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
Due: none

feat(4481): add additional subscribers in NATs message
  app/services/nats/index.ts
  app/services/nats/private-cloud/index.ts
Due: eslint-app, knip

chore(3225): update deployment and PVC configuration
  helm/_mailpit/templates/deployment.yaml
  helm/_mailpit/templates/pvc.yaml
  helm/_mailpit/values.yaml
  helm/main/values.yaml
Due: none

chore(4351): update HTML sanitize config
  app/services/ches/core.ts
Due: eslint-app, knip

chore(3225): simplify PVC and deployment configuration
  helm/_mailpit/templates/deployment.yaml
  helm/_mailpit/templates/pvc.yaml
  helm/_mailpit/values.yaml
Due: none

chore: release candidate v0.43.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(3225): add whitespace trimming, rename mailpit volum, remove unused entities
  helm/_app/templates/deployment.yaml
  helm/_ches-mock/templates/deployment.yaml
  helm/_email/templates/deployment.yaml
  helm/_m365proxy/templates/deployment.yaml
  helm/_m365proxy/values.yaml
  helm/_mailpit/templates/deployment.yaml
  helm/_mailpit/values.yaml
  helm/_nats/templates/deployment.yaml
  helm/_nats_provision/templates/deployment.yaml
Due: knip

docs(4352): update documentation to include Mailpit and ches-mock details
  README.md
  localdev/README.md
Due: none

chore(3225): align PVC naming in Mailpit templates
  helm/_mailpit/templates/deployment.yaml
Due: none

feat(4397): add GET product API endpoint
  app/app/api/v1/private-cloud/products/[idOrLicencePlate]/route.ts
  app/app/api/v1/private-cloud/products/_operations/list.ts
  app/app/api/v1/private-cloud/products/_operations/read.ts
  app/app/api/v1/private-cloud/products/route.ts
  app/app/api/v1/public-cloud/products/[idOrLicencePlate]/provision/route.ts
  app/app/api/v1/public-cloud/products/[idOrLicencePlate]/route.ts
  app/app/api/v1/public-cloud/products/_operations/list.ts
  app/app/api/v1/public-cloud/products/_operations/read.ts
  app/app/api/v1/public-cloud/products/route.ts
  app/services/db/private-cloud-product.ts
  app/services/db/public-cloud-product.ts
Due: eslint-app, knip

chore(4397): update API endpoint documentation
  app/app/api-account/ApiAccountInfo.tsx
  app/app/api-account/ApiTabs.tsx
  app/app/api/v1/private-cloud/products/_operations/read.ts
  app/app/api/v1/public-cloud/products/[idOrLicencePlate]/provision/route.ts
  app/app/api/v1/public-cloud/products/_operations/read.ts
Due: eslint-app, knip

chore(4397): update GET product API endpoint permissions
  app/app/api/v1/private-cloud/products/[idOrLicencePlate]/route.ts
  app/app/api/v1/public-cloud/products/[idOrLicencePlate]/route.ts
Due: eslint-app, knip

feat(4494): remove limits column for resource usage tab, revise conditons wording for quota change
  app/app/api/private-cloud/products/[licencePlate]/usage-metrics/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/usage/MetricsTable.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/usage/page.tsx
  app/components/private-cloud/sections/QuotasDescription.tsx
  app/helpers/resource-metrics.ts
  app/services/k8s/usage-metrics.ts
Due: eslint-app, knip

feat(4398): add Webhook URL on private cloud products' forms
  app/app/api/private-cloud/provision/[licencePlate]/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/create/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/private-cloud/requests/(request)/[id]/original/page.tsx
  app/app/private-cloud/requests/(request)/[id]/request/page.tsx
  app/components/private-cloud/sections/Webhooks.tsx
  app/emails/_components/private-cloud/Changes.tsx
  app/helpers/product-change.ts
  app/prisma/schema.prisma
  app/validation-schemas/private-cloud.ts
Due: eslint-app, prisma-format, knip

chore(4494): revert test project LP and cluster
  app/app/api/private-cloud/products/[licencePlate]/usage-metrics/route.ts
Due: eslint-app, knip

chore(4494): handle totalRequest zero for metrics table
  app/app/private-cloud/products/(product)/[licencePlate]/usage/MetricsTable.tsx
Due: eslint-app, knip

chore(4397): fix tests
  app/jest.setup.js
  app/validation-schemas/private-cloud.ts
Due: eslint-app, knip

chore(4397): fix builds
  app/helpers/mock-resources/private-cloud-product.ts
  app/helpers/mock-resources/private-cloud-request.ts
Due: eslint-app, knip

e2e(4313): add public cloud approve tests and update quota change
  cypress/_tmp/edit-request-public-test.feature
  cypress/integration/1. create-request-private-test.feature
  cypress/integration/3. delete-product-test.feature
  cypress/integration/4. approve-requests-private.feature
  cypress/integration/5. approve-requests-public.feature
  cypress/integration/6. edit-request-private-test.feature
  cypress/integration/7. edit-request-public-test.feature
  cypress/support/step_definitions/common.ts
Due: eslint

fix(4527): resolve issue reviewing public cloud delete requests
  app/app/api/public-cloud/products/_operations/delete.ts
  app/services/db/models/public-cloud-request.ts
  data-migrations/migrations/20241217100000-add_missing_review_request_tasks.js
Due: eslint-app, knip

chore(4527): update example env file
  app/.env.example
  app/config.ts
  localdev/docker-compose.yml
Due: eslint-app, knip

chore(4496): update edit request auto approve conditions
  app/components/private-cloud/sections/QuotasDescription.tsx
  app/helpers/auto-approval-check.ts
  app/helpers/resource-metrics.ts
  app/services/k8s/resource-details.ts
  app/services/k8s/usage-metrics.ts
Due: eslint-app, knip

chore(4527): add error handlers for emails
  app/app/api/admin/task/sign-mou/resend/route.ts
  app/app/api/public-cloud/products/_operations/create.ts
Due: eslint-app, knip

chore(4527): revert config
  app/config.ts
Due: eslint-app, knip

chore(4527): mock send email functions in Jest
  app/app/api/admin/task/sign-mou/resend/route.ts
  app/jest.setup.js
  app/services/ches/core.ts
  app/services/ches/helpers.ts
  app/services/ches/private-cloud/emails.ts
  app/services/ches/public-cloud/emails.ts
Due: eslint-app, knip

feat(4537): store user session data in DB
  app/core/api-handler.ts
  app/core/auth-options.ts
  app/core/client-page.tsx
  app/helpers/mock-resources/core.ts
  app/helpers/mock-resources/private-cloud-request.ts
  app/helpers/mock-users.ts
  app/prisma/schema.prisma
  app/types/next-auth.d.ts
Due: eslint-app, prisma-format, knip

chore(4398): allow empty string in webhook url validation
  app/validation-schemas/private-cloud.ts
Due: eslint-app, knip

chore(4496): use hard requested limit for auto approval
  app/app/api/private-cloud/products/[licencePlate]/usage-metrics/route.ts
  app/components/private-cloud/sections/QuotasDescription.tsx
  app/helpers/auto-approval-check.ts
  app/services/k8s/resource-details.ts
  app/services/k8s/usage-metrics.ts
Due: eslint-app, knip

refactor(4094): use simple list of mock users for sandbox
  .dockerignore
  .pre-commit-config.yaml
  app/Dockerfile
  app/Dockerfile.email
  app/helpers/mock-users.ts
  app/services/db/user.ts
  helm/main/Chart.yaml
  helm/main/values-101ed4-dev.yaml
  helm/main/values.yaml
  localdev/ches-mock/Dockerfile
  localdev/docker-compose.yml
  localdev/keycloak-provision/Dockerfile
  localdev/keycloak-provision/src/main.ts
  localdev/m365mock/Dockerfile
  localdev/m365mock/config.ts
  localdev/m365mock/package.json
  localdev/m365mock/server.ts
  localdev/m365mock/src/config.ts
  localdev/m365mock/src/server.ts
  localdev/m365mock/tsconfig.json
  localdev/mock-users.json
  localdev/types.ts
Due: eslint, eslint-app, knip

Path conditions:
  eslint: any of: ^(cypress|localdev)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
