Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^(helm|mkdocs\.yml)$
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^(helm)$
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    exclude: .git/COMMIT_EDITMSG
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: ^(sandbox/mock-users\.json|sandbox/m365proxy/mocks\.json|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: .bin/eslint.sh
    language: script
    files: ^(cypress|sandbox)/.*\.(js|ts)$
    verbose: true
    pass_filenames: true
  - id: eslint-app
    name: eslint-app
    entry: .bin/eslint-app.sh
    language: script
    files: ^app/.*\.(ts|tsx)$
    verbose: true
    pass_filenames: true
  - id: python-format
    name: black
    entry: .bin/black.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
  - id: commitlint
    name: commitlint
    entry: .bin/commitlint.sh
    language: script
    verbose: true
    pass_filenames: false
    stages: [commit-msg]
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    exclude: .git/COMMIT_EDITMSG

exclude: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$

chore(2951): use current cluster for quota queries and links
  app/components/private-cloud/sections/Quotas.tsx
Due: eslint-app, knip

chore(2951): allow private admins to manage GPU quotas
  app/app/api/private-cloud/products/_operations/create.ts
  app/app/api/private-cloud/products/_operations/update.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/create/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/components/private-cloud/sections/Quotas.tsx
  app/helpers/quota-change.ts
Due: eslint-app, knip

chore(2951): test allow private reviewers to approve GPU quotas
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
Due: eslint-app, knip

chore(2951): add GPU sanitization tests for updates
  app/app/api/private-cloud/products/_operations/create.test.ts
  app/app/api/private-cloud/products/_operations/update.test.ts
Due: eslint-app, knip

chore(2951): add GPU quota coverage for private cloud create
  app/app/api/private-cloud/products/_operations/create.test.ts
  app/app/api/private-cloud/products/_operations/update.test.ts
Due: eslint-app, knip

chore(3031): include account coding in public cloud CSV export
  app/app/api/public-cloud/products/download/route.ts
  app/services/db/public-cloud-product.ts
Due: eslint-app, knip

chore(3031): change account coding format to one line in public cloud CSV export
  app/app/api/public-cloud/products/download/route.ts
Due: eslint-app, knip

chore(3031): restrict account coding in product export by billing permission
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/api/public-cloud/products/download/route.ts
Due: eslint-app, knip

chore(3031): update public cloud download account coding permission expectation
  app/app/api/public-cloud/products/download/route.test.ts
Due: eslint-app, knip

chore(3031): cover account coding export with billing permission
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/api/public-cloud/products/download/route.ts
  app/services/db/public-cloud-product.ts
Due: eslint-app, knip

chore(3031): use latest public cloud billing for account coding export
  app/services/db/public-cloud-product.ts
Due: eslint-app, knip

chore(3031): export account coding from approved public cloud billing
  app/services/db/public-cloud-product.ts
Due: eslint-app, knip

chore(3031): use toHaveLength for public cloud export assertion
  app/app/api/public-cloud/products/download/route.test.ts
Due: eslint-app, knip

chore(3031): improve public cloud account coding lookup
  app/services/db/public-cloud-product.ts
Due: eslint-app, knip

chore(3031): fetch latest approved billing per public cloud product
  app/services/db/public-cloud-product.ts
Due: eslint-app, knip

chore(3031): verify account coding is exported for correct project
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/api/public-cloud/products/download/route.ts
  app/services/db/public-cloud-product.ts
Due: eslint-app, knip

chore(3031): safely handle unauthorized account coding lookup
  app/services/db/public-cloud-product.ts
Due: eslint-app, knip

Revert "chore(deps): update dependency @keycloak/keycloak-admin-client to v26.7.2"
  pnpm-lock.yaml
Due: none

fix(3040): pin Keycloak admin client to 26.6.4
  app/package.json
  pnpm-lock.yaml
Due: knip

fix(3040): align Docker pnpm version
  app/Dockerfile
  app/Dockerfile.email
  data-migrations/Dockerfile
  sandbox/ches-mock/Dockerfile
  sandbox/keycloak-provision/Dockerfile
  sandbox/m365mock/Dockerfile
  sandbox/nats-provision/Dockerfile
Due: knip

fix(3040): update ches-mock build Node version
  sandbox/ches-mock/Dockerfile
Due: none

fix(3040): include all workspace manifests in app Docker build
  app/Dockerfile
Due: knip

fix(3040): include npm config in Docker install
  app/Dockerfile
Due: knip

fix(3040): include npm config in Docker context
  .dockerignore
Due: none

fix(3040): repair pnpm lockfile
  pnpm-lock.yaml
Due: none

chore: release candidate v0.83.2
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

feat(2951): add admin GPU quotas for Emerald and KLAB2
  app/app/api/private-cloud/products/_operations/create.ts
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/create/page.tsx
  app/components/private-cloud/sections/Quotas.tsx
  app/constants/private-cloud.ts
  app/helpers/mock-resources/private-cloud-product.ts
  app/prisma/schema.prisma
  app/services/nats/private-cloud/index.ts
  app/validation-schemas/private-cloud.ts
Due: eslint-app, prisma-format, knip

chore(2951): enforce GPU quota permissions and sanitization
  app/app/api/private-cloud/products/_operations/create.ts
  app/app/api/private-cloud/products/_operations/update.ts
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/components/private-cloud/sections/Quotas.tsx
  app/helpers/licence-plate.ts
  app/prisma/schema.prisma
  app/services/nats/private-cloud/index.ts
Due: eslint-app, prisma-format, knip

chore(2951): exclude GPU from quota metrics calculations
  app/app/api/private-cloud/products/_operations/create.ts
  app/app/api/private-cloud/products/_operations/update.ts
  app/components/private-cloud/sections/Quotas.tsx
  app/helpers/auto-approval-check.ts
  app/helpers/licence-plate.ts
  app/helpers/quota-change.ts
  data-migrations/migrations/20260819203556-backfill-private-cloud-gpu.js
Due: eslint-app, knip

chore(2951): enforce GPU quota validation and approval rules
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/components/private-cloud/sections/Quotas.tsx
Due: eslint-app, knip

chore(2951): include GPU in quota upgrade detection
  app/helpers/quota-change.ts
Due: eslint-app, knip

chore(2951): centralize GPU permissions and quota upgrade checks
  app/app/api/private-cloud/products/_operations/create.ts
  app/app/api/private-cloud/products/_operations/update.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/create/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/helpers/quota-change.ts
Due: eslint-app, knip

chore(2951): handle undefined current product in edit form
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
Due: eslint-app, knip

chore(2951): handle missing quota resource values
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/helpers/quota-change.ts
Due: eslint-app, knip
