Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

chore(2598): resolve sonarCube issue with sorting
  app/services/db/members-history.ts
Due: eslint-app, knip

chore(5957): update variable name
  app/app/private-cloud/products/(product)/[licencePlate]/costs/Yearly.tsx
Due: eslint-app, knip

feat(5970): replace client secret with certificate for Microsoft graph API
  app/.env.example
  app/config.ts
  app/package.json
  app/pnpm-lock.yaml
  app/services/msgraph/axios.ts
  app/services/msgraph/core.ts
  app/services/msgraph/index.ts
  app/utils/node/oauth2.ts
  docs/development-setup/graph_cert_setup.md
  helm/_app/templates/deployment.yaml
Due: eslint-app, knip

feat(5957): redesign cost pages
  app/app/private-cloud/products/(product)/[licencePlate]/costs/Monthly.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/Quarterly.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/Yearly.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/page.tsx
  app/components/generic/data-table/DataTable.tsx
  app/components/private-cloud/CostSummary.tsx
  app/components/private-cloud/DateSelector.tsx
  app/components/private-cloud/monthly-cost/MonthyCostChart.tsx
  app/components/private-cloud/quarterly-cost/QuarterlyCostChart.tsx
  app/components/private-cloud/yearly-cost/YearlyCostChart.tsx
  app/constants/private-cloud.ts
  app/helpers/pdfs/monthly-cost/index.tsx
  app/services/db/private-cloud-costs.ts
  app/types/private-cloud.ts
  app/utils/js/date.ts
Due: eslint-app, knip

chore(5957): remove unnecessary comments
  app/helpers/pdfs/monthly-cost/index.tsx
  app/utils/js/date.ts
Due: eslint-app, knip

chore(5957): remove unused imports
  app/helpers/pdfs/monthly-cost/index.tsx
Due: eslint-app, knip

feat(4778): draft for sorry-cypress deployment
  helm/tools/sorry-cypress/Chart.yaml
  helm/tools/sorry-cypress/values.yaml
Due: none

chore(5957): use secured regex
  app/utils/js/date.ts
Due: eslint-app, knip

chore(000): test
  helm/tools/Chart.lock
  helm/tools/Chart.yaml
  helm/tools/sorry-cypress/Chart.yaml
  helm/tools/sorry-cypress/values.yaml
  helm/tools/values.yaml
Due: none

chore(000): test
  helm/tools/Chart.lock
  helm/tools/Chart.yaml
  helm/tools/values.yaml
Due: none

chore(5957): resolve sonarqube errors
  app/app/private-cloud/products/(product)/[licencePlate]/costs/page.tsx
  app/components/private-cloud/CostSummary.tsx
Due: eslint-app, knip

feat(4778): add sorry cypress deployment
  helm/tools/Chart.lock
  helm/tools/Chart.yaml
  helm/tools/templates/routes/sorry-cypress-api.yaml
  helm/tools/templates/routes/sorry-cypress-dashboard.yaml
  helm/tools/templates/routes/sorry-cypress-director.yaml
  helm/tools/values-101ed4-tools.yaml
  helm/tools/values.yaml
Due: none

chore(5970): decode escaped new lines in certificates
  app/config.ts
  app/utils/js/string.ts
Due: eslint-app, knip

chore(5970): use nullish operator instead of falsy operator
  app/config.ts
Due: eslint-app, knip

chore(5957): resolve data laoding problems
  app/app/private-cloud/products/(product)/[licencePlate]/costs/Monthly.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/Quarterly.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/Yearly.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/page.tsx
Due: eslint-app, knip

chore(5957): remove progress arrow and make background transparent
  app/components/private-cloud/CostSummary.tsx
Due: eslint-app, knip

chore(2598): add public cloud UI for members history timeline
  app/app/api/public-cloud/products/[licencePlate]/members-history/route.ts
  app/app/public-cloud/products/(product)/[licencePlate]/requests/HistoryView/MembersHistoryTimeLine.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/requests/HistoryView/RequestsHistoryTimeLine.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/requests/HistoryView/index.tsx
  app/services/backend/public-cloud/products.ts
  app/services/db/members-history.ts
  app/types/public-cloud.ts
Due: eslint-app, knip

chore(2598): use id instead index as key
  app/app/public-cloud/products/(product)/[licencePlate]/requests/HistoryView/MembersHistoryTimeLine.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/requests/HistoryView/RequestsHistoryTimeLine.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/requests/HistoryView/index.tsx
Due: eslint-app, knip

chore(5957): remove unused imports and correct file name
  app/app/private-cloud/products/(product)/[licencePlate]/costs/Monthly.tsx
  app/components/private-cloud/CostSummary.tsx
  app/components/private-cloud/monthly-cost/MonthlyCostChart.tsx
Due: eslint-app, knip

feat(5878): enhance cost estimation table UI
  app/components/generic/select/FormSingleSelect.tsx
  app/components/private-cloud/sections/QuotasBudgetEstimation.tsx
Due: eslint-app, knip

chore(5878): enhance cost estimation table UI cont'
  app/components/private-cloud/sections/QuotasBudgetEstimation.tsx
  app/constants/common.ts
  app/public/canada-flag.svg
Due: eslint-app, knip

feat(5795): add pdf dowloader to new cost pages
  app/app/api/private-cloud/products/[licencePlate]/costs/monthly/[year-month]/download/route.ts
  app/app/api/private-cloud/products/[licencePlate]/costs/quarterly/[year-quarter]/download/route.ts
  app/app/api/private-cloud/products/[licencePlate]/costs/yearly/[year]/download/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/costs/page.tsx
  app/components/private-cloud/CostSummary.tsx
  app/components/private-cloud/monthly-cost/MonthlyCostSummary.tsx
  app/components/private-cloud/monthly-cost/MonthlyCostTable.tsx
  app/components/private-cloud/quarterly-cost/QuarterlyCostChart.tsx
  app/components/private-cloud/quarterly-cost/QuarterlyCostSummary.tsx
  app/components/private-cloud/quarterly-cost/QuarterlyCostTable.tsx
  app/components/private-cloud/yearly-cost/YearlyCostChart.tsx
  app/components/private-cloud/yearly-cost/YearlyCostSummary.tsx
  app/components/private-cloud/yearly-cost/YearlyCostTable.tsx
  app/constants/private-cloud.ts
  app/helpers/pdfs/monthly-cost/index.tsx
  app/helpers/pdfs/quarterly-cost/index.tsx
  app/helpers/pdfs/yearly-cost/index.tsx
Due: eslint-app, knip

chore(5795): update pdf downloader helpers
  app/components/private-cloud/CostSummary.tsx
  app/components/private-cloud/monthly-cost/MonthlyCostTable.tsx
  app/components/private-cloud/quarterly-cost/QuarterlyCostTable.tsx
  app/components/private-cloud/yearly-cost/YearlyCostTable.tsx
  app/helpers/pdfs/monthly-cost/index.tsx
  app/helpers/pdfs/quarterly-cost/index.tsx
  app/helpers/pdfs/yearly-cost/index.tsx
Due: eslint-app, knip

chore: release candidate v0.72.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(5795): seperate out function for pdf download
  app/app/private-cloud/products/(product)/[licencePlate]/costs/page.tsx
  app/components/private-cloud/monthly-cost/MonthlyCostTable.tsx
  app/components/private-cloud/quarterly-cost/QuarterlyCostTable.tsx
  app/components/private-cloud/yearly-cost/YearlyCostTable.tsx
Due: eslint-app, knip

chore(2598): revisit members-history main logic
  app/app/api/public-cloud/products/[licencePlate]/members-history/route.ts
  app/app/public-cloud/products/(product)/[licencePlate]/requests/HistoryView/MembersHistoryTimeLine.tsx
  app/services/backend/public-cloud/products.ts
  app/services/db/members-history.ts
  app/services/db/user.ts
  app/types/public-cloud.ts
Due: eslint-app, knip

feat(6005): migrate HMA ministry records
  app/constants/common.ts
  app/prisma/schema.prisma
  app/services/nats/private-cloud/index.ts
  data-migrations/migrations/20250710225356-migreate_HMA_ministry.js
  sandbox/keycloak-provision/main.ts
  terraform/keycloak/dev/ministry-roles.tf
  terraform/keycloak/prod/ministry-roles.tf
  terraform/keycloak/test/ministry-roles.tf
  testing/testing-checklist.md
Due: eslint, eslint-app, prisma-format, knip

chore(2598): add private cloud members history
  app/app/api/private-cloud/products/[licencePlate]/members-history/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/requests/HistoryView/RequestHistoryTimeLine.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/requests/HistoryView/index.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/requests/HistoryView/index.tsx
  app/components/shared/MembersHistoryTimeLine.tsx
  app/helpers/members.ts
  app/services/backend/private-cloud/products.ts
Due: eslint-app, knip

feat(6003): verify certificate for token checks
  app/app/api/token-check/route.ts
  app/app/api/token-check/validations/ms-graph-service-account-certificate-or-secret.ts
  app/app/api/token-check/validations/ms-graph-service-account-credentials.ts
Due: eslint-app, knip

chore(6003): resolve issue configuring local MS graph API endpoint
  app/config.ts
Due: eslint-app, knip

chore(6003): install Azure Identity client library in Airflow
  tools/airflow/requirements.txt
Due: none

feat(6003): access Graph API via certificates
  helm/tools/dags/_msgraph.py
  helm/tools/dags/_sync_azure_ad_with_db.py
  helm/tools/dags/sync_db_with_azure_ad_dev.py
  helm/tools/dags/sync_db_with_azure_ad_prod.py
  helm/tools/dags/sync_db_with_azure_ad_test.py
  helm/tools/values.yaml
Due: python-format

chore(6003): reference parameters properly
  helm/tools/dags/_msgraph.py
Due: python-format

chore(6003): handle exceptions properly
  app/app/api/token-check/route.ts
Due: eslint-app, knip

chore(6003): remove exception handling in Airflow DAG level
  helm/tools/dags/_sync_azure_ad_with_db.py
Due: python-format

feat(6003): set default arguments in Airflow DAGs
  helm/tools/dags/_msgraph.py
Due: python-format

chore(6003): fix email build issue
  .dockerignore
  app/Dockerfile.email
  helm/tools/dags/_msgraph.py
Due: python-format, knip

chore(6003): set package manager when building email
  app/package.json
Due: knip

chore(6003): install @react-email/preview-server
  app/.knip.json
  app/package.json
  app/pnpm-lock.yaml
Due: knip

Path conditions:
  eslint: any of: ^(cypress|sandbox)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
