Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

feat(teams-poc): adding admin utilities to link systems and teams to products
  app/app/admin-tools/README.md
  app/app/admin-tools/bootstrap-system-from-product.ts
  app/app/admin-tools/bootstrap-team-from-product.ts
  app/app/admin-tools/create-system-from-private-cloud-product.ts
  app/app/admin-tools/create-system-from-public-cloud-product.ts
  app/app/admin-tools/create-team-from-private-cloud-product.ts
  app/app/admin-tools/create-team-from-public-cloud-product.ts
  app/app/admin-tools/prisma.ts
  app/app/systems/page.tsx
  app/app/teams/page.tsx
  app/components/generic/data-table/DataTable.tsx
  app/components/generic/data-table/Pagination.tsx
  app/package.json
  app/pnpm-lock.yaml
  app/tsconfig.json
Due: eslint-app, knip

fix(2856): increase mongodb backup memory limit
  helm/main/templates/mongodb-backup.yaml
Due: none

feat(tools): create tooling to backfill and consolidate teams and systems
  app/.gitignore
  app/app/admin-tools/README.md
  app/app/admin-tools/find-system-merge-candidates.ts
  app/app/admin-tools/find-team-merge-candidates.ts
  app/app/admin-tools/merge-systems-from-candidates.ts
  app/app/admin-tools/merge-teams-from-candidates.ts
  app/package.json
Due: eslint-app, knip

feat(tools): create tooling to track and update origin of systems and teams
  app/app/admin-tools/README.md
  app/app/admin-tools/backfill-origin-kind.ts
  app/app/admin-tools/bootstrap-system-from-product.ts
  app/app/admin-tools/bootstrap-team-from-product.ts
  app/app/admin-tools/merge-systems-from-candidates.ts
  app/app/admin-tools/merge-teams-from-candidates.ts
  app/app/systems/[id]/page.tsx
  app/app/systems/page.tsx
  app/app/teams/[id]/page.tsx
  app/app/teams/page.tsx
  app/components/system/OriginBadge.tsx
  app/package.json
  app/prisma/schema.prisma
  app/services/db/origin.ts
  app/services/db/system.ts
  app/services/db/team.ts
  app/types/system.ts
  app/validation-schemas/system.ts
  app/validation-schemas/team.ts
Due: eslint-app, prisma-format, knip

feat(tools): added more import/maintentance admin tools and functions
  .codespellrc
  app/.gitignore
  app/app/admin-tools/README.md
  app/app/admin-tools/analyze-division-import-sources.ts
  app/app/admin-tools/apply-organization-mappings-to-imported-systems.ts
  app/app/admin-tools/check-consolidation-metadata.ts
  app/app/admin-tools/find-system-merge-candidates.ts
  app/app/admin-tools/import-division-sources.ts
  app/app/admin-tools/suggest-organization-mappings-for-imported-systems.ts
  app/app/api/systems/archive/route.ts
  app/app/api/systems/route.ts
  app/app/api/teams/archive/route.ts
  app/app/api/teams/route.ts
  app/app/systems/[id]/page.tsx
  app/app/systems/page.tsx
  app/app/teams/[id]/page.tsx
  app/app/teams/page.tsx
  app/components/generic/data-table/DataTable.tsx
  app/components/system/ConsolidationBadge.tsx
  app/components/system/ConsolidationPanel.tsx
  app/package.json
  app/services/backend/systems.ts
  app/services/backend/teams.ts
  app/services/db/system.ts
  app/services/db/team.ts
  app/validation-schemas/system.ts
  app/validation-schemas/team.ts
Due: eslint-app, knip

feat(2663): add netoring options to public cloud product
  app/app/api/public-cloud/nats.test.ts
  app/app/api/public-cloud/products/_operations/update.test.ts
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/components/form/AccountEnvironmentsPublic.tsx
  app/components/form/ProjectDescriptionPublic.tsx
  app/components/generic/select/FormRadioGroup.tsx
  app/constants/user.ts
  app/core/auth-options.ts
  app/helpers/mock-resources.ts
  app/helpers/mock-resources/public-cloud-product.ts
  app/helpers/mock-resources/public-cloud-request.ts
  app/prisma/schema.prisma
  app/services/api-test/public-cloud/helpers.ts
  app/services/nats/public-cloud/index.ts
  app/types/next-auth.d.ts
  app/validation-schemas/public-cloud.ts
Due: eslint-app, prisma-format, knip

chore(2663): revert mock-resources
  app/app/api/public-cloud/products/_operations/update.test.ts
  app/helpers/mock-resources.ts
Due: eslint-app, knip

chore(2663): reduce code duplication
  app/app/api/public-cloud/nats.test.ts
Due: eslint-app, knip

chore(2663): add booking link
  app/components/form/ProjectDescriptionPublic.tsx
  app/components/generic/select/FormRadioGroup.tsx
Due: eslint-app, knip

chore(2663): add Azure networking support and permission handling
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/components/form/AccountEnvironmentsPublic.tsx
  app/components/form/ProjectDescriptionPublic.tsx
  app/components/generic/select/FormRadioGroup.tsx
  app/services/nats/public-cloud/index.ts
  app/validation-schemas/public-cloud.ts
Due: eslint-app, knip

chore(2663): correct networking validation for environment flags
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/validation-schemas/public-cloud.ts
Due: eslint-app, knip

chore(2663): resolve Sonar ambiguous spacing warning
  app/components/form/ProjectDescriptionPublic.tsx
  app/validation-schemas/public-cloud.ts
Due: eslint-app, knip

doc(2804): add comprehensive Registry roles and permissions guide
  docs/business-logic/registry-roles-guide.md
  mkdocs.yml
Due: none

docs(2804): add pre-commit
  docs/business-logic/registry-roles-guide.md
Due: none

chore(2663): revise validation public-cloud validation schema
  app/components/form/ProjectDescriptionPublic.tsx
  app/components/generic/select/FormRadioGroup.tsx
  app/validation-schemas/public-cloud.ts
Due: eslint-app, knip

Update README.md
  README.md
Due: none

chore(2663): address accessibility and validation issues in public cloud forms
  app/components/form/AccountEnvironmentsPublic.tsx
  app/components/form/ProjectDescriptionPublic.tsx
  app/constants/public-cloud.ts
  app/validation-schemas/public-cloud.ts
Due: eslint-app, knip

chore(2663): allow PO and TL to edit networking settings after provisioning
  app/components/form/AccountEnvironmentsPublic.tsx
  app/components/form/ProjectDescriptionPublic.tsx
  app/components/generic/select/FormRadioGroup.tsx
  app/constants/user.ts
  app/core/auth-options.ts
  app/types/next-auth.d.ts
Due: eslint-app, knip

chore(2663): removed unused imports
  app/components/form/AccountEnvironmentsPublic.tsx
Due: eslint-app, knip

chore(2663): enhance public cloud networking configuration and validation
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/form/ProjectDescriptionPublic.tsx
  app/components/generic/select/FormRadioGroup.tsx
  app/validation-schemas/public-cloud.ts
Due: eslint-app, knip

docs(2830): replace RC with MS Teams in docs
  .github/ISSUE_TEMPLATE/onboarding-a-new-team-member----name-.md
  docs/business-logic/registry-roles-guide.md
  docs/ci-cd/cd/database.md
  docs/development-setup/onboarding-offboarding.md
  docs/git-github/rocketchat-notification.md
  mkdocs.yml
Due: none

chore(2830): fix typo
  docs/ci-cd/cd/database.md
Due: none

chore(2663): support networking configuration on create and edit
  app/components/form/ProjectDescriptionPublic.tsx
  app/components/generic/select/FormRadioGroup.tsx
  app/validation-schemas/public-cloud.ts
Due: eslint-app, knip

chore(2663): apply budget validation to request decision schema
  app/validation-schemas/public-cloud.ts
Due: eslint-app, knip

chore(2830): remove onboarding-offboarding docs
  .github/ISSUE_TEMPLATE/onboarding-a-new-team-member----name-.md
  docs/development-setup/onboarding-offboarding.md
  mkdocs.yml
Due: none

Revert "chore(deps): update dependency eslint-plugin-prettier to v5.5.6"
  pnpm-lock.yaml
Due: none

fix(0000): update eslint-plugin-prettier to 5.5.6
  package.json
  pnpm-lock.yaml
Due: none

Revert "chore(deps): bump next from 16.2.3 to 16.2.7"
  pnpm-lock.yaml
Due: none

chore(2875): add networking option to public cloud email template
  app/emails/_components/ProviderDetails.tsx
Due: eslint-app, knip

chore: release candidate v0.79.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

fix(0000): regenerate pnpm lockfile
  pnpm-lock.yaml
Due: none

chore(2801): include budget breakdown columns in public cloud product CSV export
  app/app/api/public-cloud/products/download/route.ts
Due: eslint-app, knip

fix(2889): increase node memory for pnpm updates
  renovate.json
Due: none

chore(2889): decrease node memory for pnpm updates
  renovate.json
Due: none

Revert "chore(2889): decrease node memory for pnpm updates"
  renovate.json
Due: none

fix(2907): temporarily downgrade pnpm from 11.0.8 to 10.33.4
  .tool-versions
  app/Dockerfile
  app/Dockerfile.email
  app/package.json
  package.json
  pnpm-lock.yaml
Due: knip

docs(devxt-2909): updated developer docs and associated dev scripts
  .bin/copy-db.sh
  .tool-versions
  Makefile
  docs/development-setup/local-development-environment.md
  docs/development-setup/running-locally.md
  docs/development-setup/sandbox.md
Due: bash-format

docs(devxt-2909): updates from SonarCloud review and change old code to use same pattern
  .bin/copy-db.sh
Due: bash-format

Path conditions:
  eslint: any of: ^(cypress|sandbox)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
