Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^(helm|mkdocs\.yml)$
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^(helm)$
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    exclude: .git/COMMIT_EDITMSG
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: ^(sandbox/mock-users\.json|sandbox/m365proxy/mocks\.json|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: .bin/eslint.sh
    language: script
    files: ^(cypress|sandbox)/.*\.(js|ts)$
    verbose: true
    pass_filenames: true
  - id: eslint-app
    name: eslint-app
    entry: .bin/eslint-app.sh
    language: script
    files: ^app/.*\.(ts|tsx)$
    verbose: true
    pass_filenames: true
  - id: python-format
    name: black
    entry: .bin/black.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
  - id: commitlint
    name: commitlint
    entry: .bin/commitlint.sh
    language: script
    verbose: true
    pass_filenames: false
    stages: [commit-msg]
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    exclude: .git/COMMIT_EDITMSG

exclude: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$

feat(5758): add remote logging support for Airflow tasks
  helm/tools/values.yaml
Due: none

chore(5758): temporarily disable SonarQube in tools
  helm/tools/values-101ed4-tools.yaml
  helm/tools/values.yaml
Due: none

feat(4877): exclude non-business days in decision charts
  app/app/analytics/private-cloud/RequestsDecisionTime.tsx
  app/app/analytics/public-cloud/RequestsDecisionTime.tsx
  app/app/api/analytics/private-cloud/download/request-decision-time/route.ts
  app/app/api/analytics/public-cloud/download/request-decision-time/route.ts
  app/components/analytics/BarChartCard.tsx
  app/components/generic/charts/BarChart.tsx
  app/package.json
  app/pnpm-lock.yaml
  app/services/canada-holidays/index.ts
  app/services/db/analytics/private-cloud/request-decision-time.ts
  app/services/db/analytics/public-cloud/request-decision-time.ts
  app/services/db/analytics/shared/request-decision-time.ts
  app/utils/js/date.ts
Due: eslint-app, knip

chore(4877): address all SonarQube code warnings
  app/services/db/analytics/shared/request-decision-time.ts
  app/utils/js/date.ts
Due: eslint-app, knip

chore(5896): update canvas dependency versions
  .github/actions/setup-npm/action.yml
  docs/development-setup/chartjs-canvas.md
Due: none

chore(5912): add usrs info for ream members edit request
  app/app/api/private-cloud/products/_operations/update.ts
  app/app/api/public-cloud/products/_operations/update.ts
  app/services/db/user.ts
Due: eslint-app, knip

docs(5393): add documentation on research into IDIR's source of truth
  docs/research/source-of-truth-of-idir.md
Due: none

Deploying to gh-pages from @ bcgov/platform-services-registry@319dc73dd90d34b932652496c9efa33464ebb47e 🚀
  development-setup/chartjs-canvas.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Deploying to gh-pages from @ bcgov/platform-services-registry@78d28e17405468007981d265ad2d3dba1f8743fe 🚀
  research/source-of-truth-of-idir.html
  sitemap.xml
  sitemap.xml.gz
Due: none

feat(5737): support email delivery in Airflow dev setup
  helm/tools/dags/_ches.py
  helm/tools/dags/temporary_products_notification_dev.py
  helm/tools/dags/temporary_products_notification_prod.py
Due: python-format

feat(5877): consolidate team and additional team members sections
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/private-cloud/requests/(request)/[id]/original/page.tsx
  app/app/private-cloud/requests/(request)/[id]/request/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/requests/(request)/[id]/original/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/private-cloud/sections/TeamContacts.tsx
  app/components/public-cloud/sections/TeamContacts.tsx
  app/components/shared/SupportContact.tsx
Due: eslint-app, knip

feat(5796): improve the accessibility of cost charts
  app/app/layout.tsx
  app/components/private-cloud/monthly-cost/monthly-cost-chart-data.tsx
  app/components/private-cloud/quarterly-cost/quarterly-cost-chart-data.tsx
  app/components/private-cloud/yearly-cost/yearly-cost-chart-data.tsx
  app/package.json
  app/pnpm-lock.yaml
Due: eslint-app, knip

chore(5737): disable public CHES mock route for service security
  helm/main/values-101ed4-dev.yaml
  mkdocs.yml
Due: none

feat(5912): add team members emails for edit request public and private
  app/app/api/private-cloud/products/_operations/update.ts
  app/app/api/public-cloud/products/_operations/update.ts
  app/services/db/public-cloud-request.ts
  app/services/db/user.ts
Due: eslint-app, knip

feat(5901): verify successful email delivery via CHES
  app/config.ts
  app/scripts/check-m365-client-flow.ts
  app/scripts/ches-test.ts
  app/services/ches/core.ts
  app/utils/js/string.ts
  helm/main/values-101ed4-prod.yaml
  helm/main/values-101ed4-test.yaml
  helm/tools/dags/temporary_products_notification_prod.py
  helm/tools/dags/temporary_products_notification_test.py
  sandbox/ches-mock/main.ts
  sandbox/ches-mock/package.json
  sandbox/ches-mock/pnpm-lock.yaml
Due: eslint, eslint-app, python-format, knip

chore(5912): remove unsued import
  app/app/api/public-cloud/products/_operations/update.ts
Due: eslint-app, knip

chore(5912): replace || with ?? for safer nullish handling
  app/services/db/user.ts
Due: eslint-app, knip

feat(5796): improve cost chart accessibility
  app/app/layout.tsx
  app/components/private-cloud/monthly-cost/monthly-cost-chart-data.tsx
  app/components/private-cloud/quarterly-cost/quarterly-cost-chart-data.tsx
  app/components/private-cloud/yearly-cost/yearly-cost-chart-data.tsx
  app/helpers/pdfs/monthly-cost/index.tsx
  app/helpers/pdfs/quarterly-cost/index.tsx
  app/helpers/pdfs/yearly-cost/index.tsx
  app/package.json
  app/pnpm-lock.yaml
Due: eslint-app, knip

chore(5901): fix app build errors
  app/Dockerfile
  app/config.ts
Due: eslint-app, knip

chore(5901): fix SonarQube warnings
  app/utils/js/string.ts
Due: eslint-app, knip

chore(5877): improve styling
  app/app/private-cloud/products/(product)/create/page.tsx
  app/app/public-cloud/products/(product)/create/page.tsx
  app/components/private-cloud/sections/TeamContacts.tsx
  app/components/public-cloud/sections/TeamContacts.tsx
  app/components/shared/SupportContact.tsx
Due: eslint-app, knip

chore(5877): update variable name
  app/components/private-cloud/sections/TeamContacts.tsx
  app/components/public-cloud/sections/TeamContacts.tsx
Due: eslint-app, knip

chore(5877): update section heading styling
  app/components/public-cloud/sections/TeamContacts.tsx
Due: eslint-app, knip

chore(5877): increase font size
  app/components/private-cloud/sections/TeamContacts.tsx
  app/components/public-cloud/sections/TeamContacts.tsx
  app/components/shared/SupportContact.tsx
Due: eslint-app, knip

feat(5856): replace team api account table with cc table
  app/app/team-api-accounts/page.tsx
  app/components/generic/data-table/DataTable.tsx
Due: eslint-app, knip

chore(5856): rename columns
  app/app/team-api-accounts/page.tsx
Due: eslint-app, knip

chore(5856): capitalize columns def interface
  app/app/team-api-accounts/page.tsx
Due: eslint-app, knip

chore(5856): use for each iter
  app/app/team-api-accounts/page.tsx
Due: eslint-app, knip

chore(5856): resolve sonarqube issues
  app/app/team-api-accounts/page.tsx
Due: eslint-app, knip

refactor(5900): switch from fetch to axios for HTTP requests
  app/services/ches/core.ts
  app/services/msgraph/core.ts
  app/services/msgraph/index.ts
Due: eslint-app, knip

chore(5930): create migration script to replace requestsData expenseAuthorityId with projectOwnerId
  data-migrations/migrations/20250624194322-replace_invalid_request_data_eaid_with_poid.js
Due: none

chore(5930): reduce cognitive complexity of up() by extracting helper functions
  data-migrations/migrations/20250624194322-replace_invalid_request_data_eaid_with_poid.js
Due: none

chore(5900): handle Axios exceptions
  app/services/msgraph/core.ts
  app/services/msgraph/index.ts
Due: eslint-app, knip

feat(5930): add migration script to replace broken EA ids with Po ids
  data-migrations/migrations/20250624194322-replace_invalid_request_data_eaid_with_poid.js
Due: none

chore(5930): return null instead of false in findUserById for consistency
  data-migrations/migrations/20250624194322-replace_invalid_request_data_eaid_with_poid.js
Due: none

feat(5940): display human-readable dates on analytics pages
  app/app/analytics/general/page.tsx
  app/app/analytics/private-cloud/ActiveProducts.tsx
  app/app/analytics/private-cloud/AllRequests.tsx
  app/app/analytics/private-cloud/ContactChangeRequests.tsx
  app/app/analytics/private-cloud/MinistryDistribution.tsx
  app/app/analytics/private-cloud/QuotaRequests.tsx
  app/app/analytics/private-cloud/RequestsDecisionTime.tsx
  app/app/analytics/public-cloud/ActiveProducts.tsx
  app/app/analytics/public-cloud/AllRequests.tsx
  app/app/analytics/public-cloud/ContactChangeRequests.tsx
  app/app/analytics/public-cloud/MinistryDistribution.tsx
  app/app/analytics/public-cloud/RequestsDecisionTime.tsx
Due: eslint-app, knip

feat(5856): design table attributes
  app/components/badges/CostStatusBadge.tsx
  app/constants/private-cloud.ts
  app/types/private-cloud.ts
Due: eslint-app, knip

chore(5856): change columns name
  app/types/private-cloud.ts
Due: eslint-app, knip
