Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^helm
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^helm
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: package.lock.json
- repo: local
  hooks:
  # - id: es-format
  #   name: eslint
  #   entry: .bin/eslint.sh
  #   language: script
  #   files: \.tsx?$
  #   verbose: true
  #   pass_filenames: true
  - id: python-format
    name: autopep8
    entry: .bin/autopep8.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
# - repo: https://github.com/codespell-project/codespell
#   rev: v2.2.6
#   hooks:
#   - id: codespell

exclude: ^(app/.react-email|CHANGELOG\.md)$

feat(3045): add a func to create sample private cloud data
  app/app/api/private-cloud/products/download/route.test.ts
  app/app/api/private-cloud/provision/[licencePlate]/route.test.ts
  app/helpers/mock-resources.ts
  app/helpers/mock-users.ts
  app/package-lock.json
  app/schema.ts
  app/services/api-test/mocks.ts
Due: knip

chore(3045): update random item func to resolve security issue
  app/helpers/mock-resources.ts
Due: knip

fix(3061): display cloud calculator correctly
  app/components/form/Budget.tsx
Due: knip

chore: release candidate v0.29.1
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

chore edit Dockerfile copy paths
  localdev/m365mock/Dockerfile
Due: none

chore: update copy paths for Dockerfile
  localdev/m365mock/Dockerfile
Due: none

chore: revise server.ts file imports
  localdev/m365mock/Dockerfile
  localdev/m365mock/src/server.ts
Due: none

chore: revise dockerfile COPY paths
  localdev/m365mock/Dockerfile
  localdev/m365mock/src/server.ts
Due: none

chore: adjust copy paths for dockerfile
  localdev/m365mock/Dockerfile
Due: none

feat(3042): add event schema
  app/package-lock.json
  app/prisma/schema.prisma
Due: prisma-format, knip

feat(3042): add login & logout events
  app/core/auth-options.ts
  app/mutations/events.ts
Due: knip

feat(3042): add api token create & delete events
  app/app/api/keycloak/api-accounts/user/_operations/create.ts
  app/app/api/keycloak/api-accounts/user/_operations/delete.ts
Due: knip

feat(3042): add private & public request events
  app/app/api/private-cloud/products/_operations/create.ts
  app/app/api/private-cloud/products/_operations/delete.ts
  app/app/api/private-cloud/products/_operations/update.ts
  app/app/api/public-cloud/products/_operations/create.ts
  app/app/api/public-cloud/products/_operations/delete.ts
  app/app/api/public-cloud/products/_operations/update.ts
  app/mutations/events.ts
  app/request-actions/private-cloud/create-request.ts
  app/request-actions/private-cloud/edit-request.ts
  app/request-actions/public-cloud/create-request.ts
  app/request-actions/public-cloud/edit-request.ts
Due: knip

chore(3042): check if delete request exists to create event
  app/app/api/public-cloud/products/_operations/delete.ts
Due: knip

feat(3042): add private & public review events
  app/app/api/private-cloud/products/[licencePlate]/reprovision/route.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/app/api/private-cloud/requests/[id]/resend/route.ts
  app/app/api/public-cloud/requests/[id]/decision/route.ts
  app/mutations/events.ts
  app/request-actions/private-cloud/decision-request.ts
  app/request-actions/public-cloud/decision-request.ts
Due: knip

feat(3042): keep track of the last active datetime
  app/core/auth-options.ts
  app/mutations/events.ts
  app/package-lock.json
  app/prisma/schema.prisma
Due: prisma-format, knip

chore: update imports dockerfile
  localdev/docker-compose.yml
  localdev/m365mock/package.json
  localdev/m365mock/src/config.ts
  localdev/m365mock/src/server.ts
  localdev/m365mock/tsconfig.json
Due: none

test(3045): centralize common Jest mocks
  app/app/api/private-cloud/products/download/route.test.ts
  app/app/api/private-cloud/products/route.create.test.ts
  app/app/api/private-cloud/provision/[licencePlate]/route.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/api/public-cloud/products/download/route.test.ts
  app/jest.setup.js
  app/services/nats/private-cloud/index.test.ts
Due: knip

test(3045): encapsulate mockedGetServerSession func
  app/app/api/private-cloud/products/download/route.test.ts
  app/app/api/private-cloud/products/route.create.test.ts
  app/app/api/private-cloud/provision/[licencePlate]/route.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/api/public-cloud/products/download/route.test.ts
  app/services/api-test/core.ts
  app/services/nats/private-cloud/index.test.ts
Due: knip

test(3045): add createSamplePrivateCloudRequestData func
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/helpers/mock-resources.ts
Due: knip

test(3046): add api test for createPrivateCloudProject endpoint
  app/app/api/private-cloud/products/_operations/create.ts
  app/app/api/private-cloud/products/route.create.test.ts
  app/helpers/mock-users.ts
  app/helpers/product.ts
  app/services/api-test/core.ts
  app/utils/object.ts
Due: knip

ref: remove hardcoded url
  localdev/m365mock/src/config.ts
  localdev/m365mock/src/server.ts
Due: none

test(3046): add api test for makePrivateCloudRequestDecision endpoint
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/app/api/public-cloud/requests/[id]/decision/route.ts
  app/request-actions/private-cloud/decision-request.ts
  app/services/api-test/core.ts
  app/services/api-test/private-cloud/products.ts
  app/services/api-test/private-cloud/requests.ts
Due: knip

test(3046): add api test for main private cloud product endpoints
  app/app/api/private-cloud/products/_operations/create.test.ts
  app/app/api/private-cloud/products/_operations/delete.test.ts
  app/app/api/private-cloud/products/_operations/delete.ts
  app/app/api/private-cloud/products/_operations/read.test.ts
  app/app/api/private-cloud/products/_operations/update.test.ts
  app/app/api/private-cloud/products/_operations/update.ts
  app/app/api/private-cloud/products/download/route.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/app/api/public-cloud/products/download/route.test.ts
  app/package.json
  app/prisma/seed.ts
  app/request-actions/private-cloud/create-request.ts
  app/request-actions/private-cloud/decision-request.ts
  app/schema.ts
  app/services/api-test/core.ts
  app/services/api-test/private-cloud/products.ts
  app/services/api-test/private-cloud/requests.ts
  app/services/nats/private-cloud/constants.ts
Due: knip

chore: remove double array iteration, pretiify Dockerfile
  localdev/docker-compose.yml
  localdev/m365mock/Dockerfile
  localdev/m365mock/package-lock.json
  localdev/m365mock/src/server.ts
Due: none

chore comment in docker-compose.yaml file
  localdev/docker-compose.yml
Due: none

test(3046): add api test for private cloud request decision endpoint
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/package-lock.json
Due: knip

feat(provisioner):adding backup callback based on provisioner data
  helm/secdash/dags/provisioner-prod.py
  helm/secdash/dags/provisioner-test.py
  helm/secdash/mark_provisioned_prod.py
  helm/secdash/mark_provisioned_test.py
Due: python-format

feat(3042): add events on storing export products
  app/app/api/private-cloud/products/download/route.ts
  app/app/api/public-cloud/products/download/route.ts
  app/package-lock.json
Due: knip

chore: revert changes on package-lock.json
  app/package-lock.json
Due: knip

chore(3046): re-organize private cloud test api endpoints
  app/app/api/private-cloud/products/_operations/delete.test.ts
  app/app/api/private-cloud/products/_operations/read.test.ts
  app/app/api/private-cloud/products/_operations/update.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/services/api-test/private-cloud/index.ts
  app/services/api-test/private-cloud/products.ts
Due: knip

feat(3046): add API test script for private cloud product search endpoint
  app/app/api/private-cloud/products/_operations/read.test.ts
  app/app/api/private-cloud/products/_operations/search.test.ts
  app/app/api/private-cloud/products/search/route.ts
  app/helpers/mock-resources.ts
  app/helpers/mock-users.ts
  app/schema.ts
  app/services/api-test/private-cloud/products.ts
Due: knip

chore(3046): fix app build error
  app/services/api-test/core.ts
Due: knip

feat(3046): add API test script for private cloud request search endpoint
  app/app/api/private-cloud/products/search/route.ts
  app/app/api/private-cloud/requests/_operations/search.test.ts
  app/schema.ts
  app/services/api-test/private-cloud/products.ts
  app/services/api-test/private-cloud/requests.ts
Due: knip

chore: add M365-URL
  app/.env.example
  app/config.ts
  app/services/msgraph/index.ts
  helm/main/values-101ed4-dev.yaml
  helm/main/values-101ed4-prod.yaml
  helm/main/values-101ed4-test.yaml
  helm/main/values.yaml
  localdev/docker-compose.yml
  localdev/m365mock/Dockerfile
  localdev/m365mock/build/config.js
  localdev/m365mock/build/server.js
  localdev/m365mock/package-lock.json
  localdev/m365mock/package.json
  localdev/m365mock/src/config.ts
  localdev/m365mock/tsconfig.json
Due: knip

chore: untrack localdev/m365mock/build/server.js
  localdev/docker-compose.yml
  localdev/m365mock/.dockerignore
  localdev/m365mock/.gitignore
  localdev/m365mock/build/config.js
  localdev/m365mock/build/server.js
Due: none

feat(provisioner): backend logic to backup provisioner callback
  helm/secdash/dags/mark-provisioned.py
  helm/secdash/dags/provisioner-prod.py
  helm/secdash/dags/provisioner-test.py
  helm/secdash/mark_provisioned_prod.py
  helm/secdash/mark_provisioned_test.py
Due: python-format

feat(provisioner): backend logic to backup provisioner callback
  helm/secdash/dags/mark-provisioned.py
Due: python-format
