Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

chore(5526): revert new line in email templates
  app/emails/_templates/private-cloud/TeamDeleteRequestCompletion.tsx
  app/emails/_templates/private-cloud/TeamDeleteRequestRejection.tsx
  app/emails/_templates/public-cloud/AdminDeleteRequest.tsx
  app/emails/_templates/public-cloud/TeamDeleteRequest.tsx
  app/emails/_templates/public-cloud/TeamDeleteRequestApproval.tsx
  app/emails/_templates/public-cloud/TeamDeleteRequestCompletion.tsx
Due: eslint-app, knip

feat(5637): save Cypress dashboard data to local files
  currents.config.js
  cypress/docker-compose.yml
  package.json
  pnpm-lock.yaml
Due: none

chore(5526): add zod schema valiadation for required requestComment in delete request
  app/app/api/private-cloud/products/_operations/delete.test.ts
  app/app/api/private-cloud/products/_operations/delete.ts
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/api/public-cloud/products/_operations/delete.test.ts
  app/app/api/public-cloud/products/_operations/delete.ts
  app/components/modal/privateCloudProductCreateSubmit.tsx
  app/components/modal/privateCloudProductDelete.tsx
  app/components/modal/privateCloudProductEditSubmit.tsx
  app/components/modal/publicCloudProductDelete.tsx
  app/components/modal/publicCloudProductEditSubmit.tsx
  app/services/backend/private-cloud/products.ts
  app/services/backend/public-cloud/products.ts
  app/validation-schemas/private-cloud.ts
  app/validation-schemas/public-cloud.ts
  app/validation-schemas/shared.ts
Due: eslint-app, knip

feat(5673): double CPU and storage if golddrEnabled is true on GOLD cluster
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

chore(5673): apply multiplier if golddrEnabled is true on GOLD cluster only
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

chore(5673): rename multiplier to resourceMultiplier
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

chore: release candidate v0.65.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(5472): update the core function to return exact type
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/list.test.ts
  app/app/api/private-cloud/products/[licencePlate]/comments/route.ts
  app/core/responses.ts
  app/services/api-test/core.ts
  app/services/api-test/private-cloud/products.ts
  app/services/api-test/v1/private-cloud/index.ts
  app/types/private-cloud.ts
  app/validation-schemas/shared.ts
Due: eslint-app, knip

feat(history): redesign history view
  app/app/private-cloud/products/(product)/[licencePlate]/requests/HistoryView/RequestTimeLine.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/requests/HistoryView/index.tsx
  app/components/UserCard.tsx
Due: eslint-app, knip

feat(5654): redesign history view
  app/app/private-cloud/products/(product)/[licencePlate]/requests/HistoryView/HistoryItem.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/requests/HistoryView/HistorySubItem.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/requests/HistoryView/RequestTimeLine.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/requests/HistoryView/index.tsx
  app/components/UserCard.tsx
Due: eslint-app, knip

fix(5677): extract baseCommentSchema to share between required and optional comment rules
  app/components/modal/privateCloudRequestReview.tsx
  app/components/modal/publicCloudRequestReview.tsx
  app/validation-schemas/shared.ts
Due: eslint-app, knip

fix(5677): use separate delete request bodySchema for reject and approve
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/app/api/public-cloud/requests/[id]/decision/route.ts
  app/validation-schemas/shared.ts
Due: eslint-app, knip

chore: release candidate v0.65.1
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

fix(5702): ensure token string is passed for prometheus auth
  app/services/k8s/helpers.ts
Due: eslint-app, knip

feat(5689): update Sysdig Terraform package version
  terraform/sysdig/.terraform.lock.hcl
  terraform/sysdig/silver-101ed4-team/alerts-dev.tf
  terraform/sysdig/silver-101ed4-team/alerts-prod.tf
  terraform/sysdig/silver-101ed4-team/alerts-test.tf
  terraform/sysdig/silver-101ed4-team/config.tf
Due: none

refactor(5472): enforce strict types in private cloud codebase
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/list.test.ts
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/list.ts
  app/app/api/private-cloud/products/_operations/create.test.ts
  app/app/api/private-cloud/products/_operations/delete.test.ts
  app/app/api/private-cloud/products/_operations/read.test.ts
  app/app/api/private-cloud/products/_operations/update.test.ts
  app/app/api/private-cloud/products/download/route.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/helpers/mock-resources.ts
  app/services/api-test/core.ts
  app/services/api-test/private-cloud/products.ts
  app/services/api-test/private-cloud/requests.ts
  app/services/api-test/v1/private-cloud/index.ts
  app/services/api-test/v1/private-cloud/products.ts
Due: eslint-app, knip

chore(5472): resolve build problems
  app/services/api-test/private-cloud/helpers.ts
Due: eslint-app, knip

refactor(5472): enforce strict types in public cloud test codebase
  app/app/api/public-cloud/products/_operations/create.test.ts
  app/app/api/public-cloud/products/_operations/delete.test.ts
  app/app/api/public-cloud/products/_operations/read.test.ts
  app/app/api/public-cloud/products/_operations/update.test.ts
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/api/public-cloud/requests/[id]/decision/route.test.ts
  app/app/api/public-cloud/requests/search/route.test.ts
  app/helpers/mock-resources.ts
  app/services/api-test/core.ts
  app/services/api-test/public-cloud/helpers.ts
  app/services/api-test/public-cloud/products.ts
  app/services/api-test/public-cloud/requests.ts
  app/services/api-test/v1/public-cloud/index.ts
  app/services/api-test/v1/public-cloud/products.ts
  app/types/public-cloud.ts
Due: eslint-app, knip

chore(5472): remove unnecessary imports
  app/app/api/public-cloud/products/_operations/update.test.ts
  app/app/api/public-cloud/requests/[id]/decision/route.test.ts
  app/services/api-test/core.ts
Due: eslint-app, knip

chore(5472): remove unnecessary comments
  app/app/api/public-cloud/requests/[id]/decision/route.test.ts
Due: eslint-app, knip

refactor(5312): improve the resource usage page
  app/app/api/private-cloud/products/[licencePlate]/usage-metrics/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/costs/page.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/usage/CpuTable.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/usage/MemoryTable.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/usage/MetricsTable.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/usage/NamespaceMetrics.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/usage/PvcTable.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/usage/page.tsx
  app/constants/private-cloud.ts
  app/helpers/resource-metrics.ts
  app/services/backend/private-cloud/products.ts
  app/services/k8s/metrics/resource-details.ts
  app/services/k8s/metrics/usage-metrics.ts
  app/types/usage.ts
Due: eslint-app, knip

chore(5312): revert licence plate for metrics testing
  app/app/api/private-cloud/products/[licencePlate]/usage-metrics/route.ts
Due: eslint-app, knip

chore(5312): update the quota section language
  app/components/private-cloud/sections/QuotasDescription.tsx
Due: eslint-app, knip

feat(5654): allow project team access history tab
  app/app/private-cloud/products/(product)/[licencePlate]/requests/page.tsx
  app/services/db/models/private-cloud-product.ts
  app/types/doc-decorate.ts
Due: eslint-app, knip

feat(5600): display projected values for yearly cost page
  app/app/private-cloud/products/(product)/[licencePlate]/costs/Yearly.tsx
  app/components/private-cloud/yearly-cost/YearlyCostChart.tsx
  app/components/private-cloud/yearly-cost/YearlyCostSummary.tsx
  app/components/private-cloud/yearly-cost/YearlyCostTable.tsx
  app/components/private-cloud/yearly-cost/yearly-cost-chart-data.tsx
  app/services/backend/private-cloud/products.ts
  app/services/db/private-cloud-costs.ts
  app/types/private-cloud.ts
  app/utils/js/date.ts
Due: eslint-app, knip

chore(5600): refactor pdf download for yearly cost
  app/app/api/private-cloud/products/[licencePlate]/costs/yearly/[year]/download/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/costs/Yearly.tsx
  app/helpers/pdfs/yearly-cost/index.tsx
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

chore(5600): use yearly cost chart config for pdf download
  app/helpers/pdfs/yearly-cost/index.tsx
Due: eslint-app, knip

chore(5600): rename billing period description
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

chore(5600): call projected cost fn using await
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

chore(5600): use correct billing period
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

chore(5600): rename function
  app/services/db/private-cloud-costs.ts
  app/utils/js/date.ts
Due: eslint-app, knip

feat(2224): rename ministry EMBC to EMCR
  app/constants/common.ts
  app/prisma/schema.prisma
  app/services/nats/private-cloud/index.ts
  data-migrations/migrations/20250527155259-rename_embc_emcr.js
  sandbox/keycloak-provision/main.ts
  terraform/keycloak/dev/ministry-roles.tf
  terraform/keycloak/prod/ministry-roles.tf
  terraform/keycloak/test/ministry-roles.tf
  testing/testing-checklist.md
Due: eslint, eslint-app, prisma-format, knip

chore(5600): minimize number of arguments for month based cost
  app/helpers/pdfs/yearly-cost/index.tsx
  app/services/db/private-cloud-costs.ts
  app/utils/js/date.ts
Due: eslint-app, knip

chore(5600z): use ordered params
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

chore(5600): optimize the getmonthsarrayfromdates fn
  app/utils/js/date.ts
Due: eslint-app, knip

chore: release candidate v0.66.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(5573): update airlow version to 3.0.1 on tools namespace
  helm/tools/Chart.lock
  helm/tools/Chart.yaml
  helm/tools/templates/job.yaml
  helm/tools/values.yaml
Due: none

feat(5573): upgrade Airflow version
  helm/tools/Chart.yaml
  helm/tools/templates/routes/airflow.yaml
  helm/tools/values.yaml
Due: none

fix(5714): make cost charts responsive
  app/components/private-cloud/monthly-cost/monthly-cost-chart-data.tsx
  app/components/private-cloud/quarterly-cost/quarterly-cost-chart-data.tsx
  app/components/private-cloud/yearly-cost/yearly-cost-chart-data.tsx
Due: eslint-app, knip

chore(5714): make monthly cost chart min height fixed
  app/components/private-cloud/monthly-cost/MonthyCostChart.tsx
Due: eslint-app, knip

Path conditions:
  eslint: any of: ^(cypress|sandbox)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
