Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

chore(5915): preserve idirGuid on token refresh
  app/core/auth-options.ts
Due: eslint-app, knip

chore(5915): revert create userSessionData
  app/core/auth-options.ts
Due: eslint-app, knip

chore(6026): fix tests
  app/helpers/mock-resources.ts
  app/services/api-test/private-cloud/products.ts
  app/services/api-test/private-cloud/requests.ts
  app/services/api-test/public-cloud/products.ts
  app/services/api-test/public-cloud/requests.ts
Due: eslint-app, knip

feat(6026): migrate data on organization deletion
  app/app/api/organizations/[id]/route.ts
  app/app/api/organizations/_operations/delete.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/app/api/public-cloud/requests/[id]/decision/route.ts
  app/app/organizations/deleteModal.tsx
  app/app/organizations/page.tsx
  app/components/generic/select/FormSelect.tsx
  app/services/backend/organizations.ts
  app/validation-schemas/organization.ts
Due: eslint-app, knip

chore(renovate): upgrade canvas version
  .github/actions/setup-npm/action.yml
  app/Dockerfile
  docs/development-setup/chartjs-canvas.md
Due: knip

feat(6026): reflectively update organization in Keycloak
  app/app/api/keycloak/api-accounts/team/[id]/users/route.ts
  app/app/api/organizations/_operations/create.ts
  app/app/api/organizations/_operations/delete.ts
  app/app/api/organizations/_operations/update.ts
  app/services/keycloak/app-realm.ts
  app/validation-schemas/organization.ts
Due: eslint-app, knip

chore(6026): add organization migration scirpt
  data-migrations/migrations/20250821212121-populate_organizations2.js
Due: none

feat(6026): delete Terraform files for ministry roles
  terraform/keycloak/dev/ministry-roles.tf
  terraform/keycloak/prod/ministry-roles.tf
  terraform/keycloak/test/ministry-roles.tf
Due: none

chore(6026): compare organization data instead of ministry
  app/app/api/private-cloud/products/_operations/create.test.ts
  app/app/api/private-cloud/products/_operations/read.test.ts
  app/app/api/private-cloud/products/_operations/update.ts
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/api/public-cloud/products/_operations/create.test.ts
  app/app/api/public-cloud/products/_operations/read.test.ts
  app/app/api/public-cloud/requests/[id]/decision/route.test.ts
  app/constants/common.ts
  app/helpers/product-change.ts
  helm/tools/values-101ed4-tools.yaml
Due: eslint-app, knip

refactor(6114): enhance task service design pattern
  app/eslint.config.mjs
  app/services/db/tasks/index.ts
  app/services/db/tasks/review-private-cloud-request.ts
  app/services/db/tasks/review-public-cloud-mou.ts
  app/services/db/tasks/review-public-cloud-request.ts
  app/services/db/tasks/sign-public-cloud-mou.ts
Due: eslint-app, knip

feat(6115): improve event service design pattern
  Makefile
  app/app/api/keycloak/api-accounts/team/_operations/create.ts
  app/app/api/keycloak/api-accounts/team/_operations/update.ts
  app/services/db/event.ts
  docs/development-setup/local-development-environment.md
  package.json
  pnpm-lock.yaml
  sandbox/keycloak-provision/main.ts
Due: eslint, eslint-app, knip

chore(6115): remove unused dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(6115): resolve pre-commit checks
  Makefile
Due: none

chore(6026): populate organization for data comparison
  app/app/api/private-cloud/products/_operations/update.ts
  app/app/api/public-cloud/products/_operations/update.ts
  app/app/api/v1/private-cloud/requests/sync-changes/route.ts
  app/app/api/v1/public-cloud/requests/sync-changes/route.ts
  app/components/modal/privateCloudProductEditSubmit.tsx
  app/components/modal/publicCloudProductEditSubmit.tsx
  app/services/db/private-cloud-request.ts
  app/services/db/public-cloud-request.ts
Due: eslint-app, knip

chore(6026): resolve build error
  app/app/api/private-cloud/products/_operations/update.ts
Due: eslint-app, knip

chore(6026): define default AG ministry flag values
  app/validation-schemas/private-cloud.ts
  app/validation-schemas/public-cloud.ts
Due: eslint-app, knip

chore(6026): define default AG ministry flag values
  app/app/api/public-cloud/products/_operations/update.test.ts
  app/app/api/public-cloud/requests/[id]/decision/route.test.ts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/helpers/mock-resources.ts
  app/validation-schemas/private-cloud.ts
  app/validation-schemas/public-cloud.ts
Due: eslint-app, knip

feat(6331): add deleted no idirGuid users functionality
  app/app/api/users/search/incomplete/route.ts
  app/app/users/all/DeleteModal.tsx
  app/app/users/all/TableBodyModal.tsx
  app/app/users/all/page.tsx
  app/components/generic/table/Table.tsx
  app/components/modal/userPicker.tsx
  app/prisma/schema.prisma
  app/services/backend/user.ts
  app/services/db/user.ts
  app/types/user.ts
Due: eslint-app, prisma-format, knip

chore(6331): remove unused imports
  app/app/users/all/TableBodyModal.tsx
Due: eslint-app, knip

feat(6353): add DB backup during each deployment
  .tool-versions
  helm/main/templates/job-pre-db-backup.yaml
  helm/main/templates/mongodb-backup.yaml
Due: none

chore(6331): remove unused imports
  app/app/users/all/DeleteModal.tsx
Due: eslint-app, knip

chore(6331): ensure AppUuser object includes isGuidValid
  app/app/api/msgraph/search/route.ts
  app/services/db/user.ts
  app/types/user.ts
Due: eslint-app, knip

chore(6331): ensure MsUuser object includes isGuidValid
  app/components/modal/AddUser.tsx
  app/services/msgraph/index.ts
Due: eslint-app, knip

chore(0000): verify user email using JWT token
  app/core/auth-options.ts
Due: eslint-app, knip

chore(6331): review permissions, use simple table
  app/app/api/users/search/incomplete/route.ts
  app/app/users/all/DeleteModal.tsx
  app/app/users/all/TableBodyModal.tsx
  app/app/users/all/page.tsx
  app/components/generic/table/Table.tsx
  app/components/modal/userPicker.tsx
  app/services/db/user.ts
  app/types/user.ts
Due: eslint-app, knip

chore(6331): add select to findOne users without idirGuid
  app/services/db/user.ts
Due: eslint-app, knip

chore(6331): remove unused select fields
  app/services/db/user.ts
Due: eslint-app, knip

refactor(6248): migrate dependency to keycloak/keycloak
  terraform/keycloak/.terraform.lock.hcl
  terraform/keycloak/config.tf
  terraform/keycloak/dev/config.tf
  terraform/keycloak/prod/config.tf
  terraform/keycloak/test/config.tf
Due: none

chore: release candidate v0.76.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(sandbox): updated config for running sandbox on MacOS and updated related documentation
  docs/development-setup/running-locally.md
  docs/development-setup/sandbox.md
  mkdocs.yml
  sandbox/docker-compose-arm64.yml
Due: none

chore(sandbox): updated link to GitHub Makefile
  docs/development-setup/running-locally.md
Due: none

feat(6415): implement Github action for MongoDB image build
  .github/workflows/build-push-mongodb.yml
Due: none

feat(5915): refactor prisma queries with idirguid
  app/app/api/msgraph/search/route.ts
  app/app/examples/server/[licencePlate]/page.tsx
  app/core/auth-options.ts
  app/helpers/mock-users.ts
  app/prisma/schema.prisma
  app/services/db/task.ts
  app/services/db/user.ts
  app/services/msgraph/index.ts
  app/types/next-auth.d.ts
Due: eslint-app, prisma-format, knip

chore(5915): update user session data
  app/app/api/private-cloud/products/_operations/create.ts
  app/app/api/private-cloud/products/_operations/delete.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/app/api/public-cloud/products/_operations/create.ts
  app/app/api/public-cloud/products/_operations/delete.ts
  app/app/api/public-cloud/products/_operations/update.ts
  app/app/api/public-cloud/requests/[id]/decision/route.ts
  app/core/api-handler.ts
  app/helpers/mock-users.ts
  app/services/db/models/private-cloud-request.ts
  app/services/db/models/public-cloud-request.ts
Due: eslint-app, knip

chore(5915): remove unused import
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/api/v1/private-cloud/products/route.test.ts
  app/app/api/v1/public-cloud/products/route.test.ts
  app/helpers/mock-users.ts
  app/jest.mock.ts
  app/services/api-test/core.ts
  app/services/db/user.ts
  sandbox/mock-users.json
Due: eslint-app, knip

docs(6415): include research on Bitnami image deprecation
  .github/workflows/build-push-mongodb.yml
  docs/research/bitnami-images-deprecation.md
Due: none

Deploying to gh-pages from @ bcgov/platform-services-registry@de086662ff8cf8ab10c0b8bb77549f2e00b26860 🚀
  research/bitnami-images-deprecation.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Path conditions:
  eslint: any of: ^(cypress|sandbox)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
