Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, prisma-format, bash-format, knip

python-format:
  name: autopep8
  entry: .bin/autopep8.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

feat(3196): add quota contact & justification inputs
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/requests/(request)/[id]/summary/page.tsx
  app/components/form/ActiveRequestBox.tsx
  app/components/form/Quotas.tsx
  app/components/form/QuotasChangeInfo.tsx
  app/components/generic/button/ExternalLink.tsx
  app/prisma/schema.prisma
  app/request-actions/private-cloud/edit-request.ts
  app/schema.ts
Due: prisma-format, knip

feat(3196): add quota contact & justification inputs
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/requests/(request)/[id]/summary/page.tsx
  app/components/form/ActiveRequestBox.tsx
  app/components/form/Quotas.tsx
  app/components/form/QuotasChangeInfo.tsx
  app/components/generic/button/ExternalLink.tsx
  app/package-lock.json
  app/prisma/schema.prisma
  app/request-actions/private-cloud/edit-request.ts
  app/schema.ts
Due: prisma-format, knip

feat(2759): Relocate button ex., use generated colors, looping variants
  app/app/button-examples/page.tsx
  app/app/example/buttons/page.tsx
  app/components/buttons/mantine-theme.ts
  app/package-lock.json
  app/package.json
Due: knip

chore(3196): display quota contact & justification iff has increase
  app/app/api/v1/private-cloud/requests/sync-changes/route.ts
  app/app/api/v1/public-cloud/requests/sync-changes/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/components/form/QuotasChangeInfo.tsx
  app/helpers/product-change.ts
  app/prisma/schema.prisma
Due: prisma-format, knip

chore(3196): fix build errors
  app/emails/_components/Params.ts
  app/emails/_templates/private-cloud/EditRequest.tsx
  app/helpers/quota-change.ts
  app/request-actions/private-cloud/edit-request.ts
Due: knip

chore(3196): fix tests
  app/schema.ts
Due: knip

delete excessive font declaration
  app/components/buttons/mantine-theme.ts
Due: knip

feat(3242): save temporary flag instantly when admin updates flag
  app/app/api/admin/private-cloud/products/[licencePlate]/route.ts
  app/app/api/admin/private-cloud/products/[licencePlate]/schema.ts
  app/app/api/admin/private-cloud/products/_operations/update.ts
  app/app/private-cloud/products/(product)/[licencePlate]/layout.tsx
  app/components/form/ProjectDescriptionPrivate.tsx
  app/components/form/TemporaryProductCheckbox.tsx
  app/components/form/TemporaryProductCheckboxAdmin.tsx
  app/schema.ts
  app/services/backend/admin.ts
Due: knip

chore(ci): ignore certain paths in the test pipeline
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
  .github/workflows/zap-scan.yml
Due: none

chore(ci): include test pipeline file only in pipeline files
  .github/workflows/test.yml
Due: none

chore(prisma): update data changes flags optional
  app/package-lock.json
  app/package.json
  app/prisma/schema.prisma
Due: prisma-format, knip

chore(ui): remove paths from test pipeline
  .github/workflows/test.yml
Due: none

refactor(3369): add optional comments in request confirmation modals
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/create/page.tsx
  app/components/generic/FormError.tsx
  app/components/modal/CreatePrivateCloud.tsx
  app/components/modal/createPrivateCloudProductModal.tsx
  app/components/modal/editPrivateCloudProductModal.tsx
  app/core/modal.tsx
  app/request-actions/private-cloud/create-request.ts
  app/schema.ts
  app/services/backend/private-cloud/products.ts
Due: knip

feat(2759): add mantine color theme
  app/app/example/buttons/page.tsx
  app/app/layout.tsx
  app/app/mantine-theme.ts
Due: knip

chore(3242): update temporary checkbox titles
  app/components/form/TemporaryProductCheckboxAdmin.tsx
Due: knip

chore(3077): skip temporary products with an active request
  app/components/form/TemporaryProductCheckboxAdmin.tsx
  helm/tools/dags/_temporary_products_deletion.py
Due: python-format, knip

chore(ui): move mantine provider in head element to avoid hydration error
  app/app/layout.tsx
Due: knip

feat(3414): add task schema and logic to backend
  .github/workflows/deploy-prod.yml
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/modal/signPublicCloudProductModal.tsx
  app/core/auth-options.ts
  app/core/services/public-cloud-request.ts
  app/emails/PublicCloudExpenseAuthorityMou.tsx
  app/emails/_components/Params.ts
  app/emails/_templates/public-cloud/ExpenseAuthorityMou.tsx
  app/prisma/schema.prisma
  app/request-actions/public-cloud/create-request.ts
  app/types/doc-decorate.ts
  app/types/next-auth.d.ts
Due: prisma-format, knip

chore(3414): fix sonarcloud issues
  app/components/modal/signPublicCloudProductModal.tsx
  app/emails/_components/Params.ts
Due: knip

fix(3420): display temporary product deletion date based on product
  app/app/private-cloud/products/(product)/[licencePlate]/layout.tsx
  app/app/private-cloud/requests/(request)/[id]/layout.tsx
  app/components/form/TemporaryProductAlert.tsx
  app/components/form/TemporaryProductBadge.tsx
  app/components/table/TableBodyPrivateProducts.tsx
  app/components/table/TableBodyPrivateRequests.tsx
  app/queries/private-cloud-requests.ts
Due: knip

fix(3415): sync contact dropdown when onBlur
  app/components/form/AsyncAutocomplete.tsx
Due: knip

chore: release candidate v0.33.0
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

fix(3453): display temporary badges and alerts
  .github/workflows/test.yml
  app/components/form/TemporaryProductAlert.tsx
  app/components/form/TemporaryProductBadge.tsx
  app/components/table/TableBodyPrivateRequests.tsx
  helm/main/values-101ed4-prod.yaml
  helm/tools/dags/temporary_products_deletion_prod.py
  helm/tools/dags/temporary_products_deletion_test.py
  helm/tools/dags/temporary_products_notification_prod.py
  helm/tools/dags/temporary_products_notification_test.py
Due: python-format, knip

fix(3452): grant public products review permissions properly
  app/core/services/public-cloud-request.ts
Due: knip

feat(3472): grant public cloud Azure provider access
  app/config.ts
  app/core/auth-options.ts
  helm/main/values.yaml
Due: knip

Revert "fix(deps): update dependency autoprefixer to v10.4.20"
  app/package-lock.json
  app/package.json
Due: knip

chore(prisma): set patch version in package.json
  app/package-lock.json
  app/package.json
Due: knip

chore: release candidate v0.33.1
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

chore(3164): add error handling for prisma error
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/create.test.ts
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/create.ts
  app/core/api-handler.ts
  app/helpers/mock-resources.ts
  app/package-lock.json
  app/package.json
  app/utils/errors.ts
Due: knip

feat(2399): implement code for BDD features, Create, Approve, Delete tests
  cypress/integration/approve-request-test.feature
  cypress/integration/create-request-private-test.feature
  cypress/integration/delete-product-test.feature
  cypress/integration/edit-request-private-test.feature
  cypress/support/step_definitions/approve-request.ts
  cypress/support/step_definitions/create-request.ts
  cypress/support/step_definitions/delete-request.ts
Due: none

feat(3502): add public eMOU workflow diagram
  docs/emou-workflow.md
Due: none

chore(3502): display the diagram vertically
  docs/emou-workflow.md
Due: none

chore(3502): update eMOU diagram
  docs/emou-workflow.md
Due: none

Revert "fix(deps): update mantine monorepo to v7.12.1 - autoclosed"
  app/package-lock.json
Due: knip

feat(3373): Add Edit Request test and partial refactoring
  cypress.config.ts
  cypress/integration/create-request-private-test.feature
  cypress/integration/create-request-public-test.feature
  cypress/integration/edit-request-private-test.feature
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/support/step_definitions/approve-request.ts
  cypress/support/step_definitions/create-request.ts
  cypress/support/step_definitions/edit-request.ts
Due: none

fix(3526): Make Team Comments component number dynamic
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/create/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/private-cloud/requests/(request)/[id]/original/page.tsx
  app/app/private-cloud/requests/(request)/[id]/request/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/products/(product)/create/page.tsx
  app/app/public-cloud/requests/(request)/[id]/original/page.tsx
  app/app/public-cloud/requests/(request)/[id]/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/form/TeamContacts.tsx
Due: knip

chore: release candidate v0.33.2
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

test(3164): add create op test for admin comments
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/create.test.ts
  app/app/api/private-cloud/products/[licencePlate]/requests/route.test.ts
  app/app/api/private-cloud/products/_operations/create.test.ts
  app/app/api/private-cloud/products/_operations/delete.test.ts
  app/app/api/private-cloud/products/_operations/read.test.ts
  app/app/api/private-cloud/products/_operations/update.test.ts
  app/app/api/private-cloud/products/download/route.test.ts
  app/app/api/private-cloud/products/search/route.test.ts
  app/app/api/private-cloud/requests/search/route.test.ts
  app/app/api/public-cloud/products/[licencePlate]/requests/route.test.ts
  app/app/api/public-cloud/products/_operations/create.test.ts
  app/app/api/public-cloud/products/_operations/delete.test.ts
  app/app/api/public-cloud/products/_operations/read.test.ts
  app/app/api/public-cloud/products/_operations/update.test.ts
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/api/public-cloud/products/search/route.test.ts
  app/app/api/public-cloud/requests/search/route.test.ts
  app/app/api/v1/private-cloud/products/route.test.ts
  app/app/api/v1/public-cloud/products/route.test.ts
  app/helpers/mock-resources.ts
  app/helpers/mock-users.ts
  app/package-lock.json
  app/package.json
  app/services/api-test/private-cloud/products.ts
Due: knip

chore: fix merge conflict
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/create.test.ts
  app/helpers/mock-resources.ts
  app/package-lock.json
  app/package.json
Due: knip

chore(3164): fix create test
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/create.test.ts
Due: knip

Path conditions:
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md)$
