Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^helm
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^helm
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: package.lock.json
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: .bin/eslint.sh
    language: script
    files: ^(cypress|localdev)/.*\.(js|ts)$
    verbose: true
    pass_filenames: true
  - id: eslint-app
    name: eslint-app
    entry: .bin/eslint-app.sh
    language: script
    files: ^app/.*\.(ts|tsx)$
    verbose: true
    pass_filenames: true
  - id: python-format
    name: black
    entry: .bin/black.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.18.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
exclude: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$

feat(5257): reword tooltip message
  app/components/private-cloud/sections/Quotas.tsx
Due: eslint-app, knip

chore(5041): fix same name import
  app/services/api-test/private-cloud/helpers.ts
  app/services/api-test/public-cloud/helpers.ts
Due: eslint-app, knip

chore: release candidate v0.52.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(4743): simplify displaying users in picker
  app/app/api/msgraph/search/route.ts
Due: eslint-app, knip

chore: release candidate v0.53.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(5041): revise migration script
  data-migrations/migrations/20250320210834-rename_project_to_product.js
Due: none

chore(4980): break words into the second rows
  app/components/modal/userDetail.tsx
Due: eslint-app, knip

chore: release candidate v0.54.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(5041): prisma merge changes
  app/prisma/schema.prisma
Due: prisma-format, knip

chore(0000): update Helm values for sonacube
  helm/tools/templates/job.yaml
  helm/tools/values.yaml
Due: none

chore(0000): update Helm values for Airflow job dealine
  helm/tools/templates/job.yaml
Due: none

chore(4743): modify the picker to include idir page
  app/components/modal/userPicker.tsx
Due: eslint-app, knip

feat(5282): create webhook document if not exist
  app/app/api/private-cloud/webhooks/_operations/read.ts
  app/components/private-cloud/SiloAccordion.tsx
Due: eslint-app, knip

chore(4743): rename error variable to hasIdirError
  app/components/modal/userPicker.tsx
Due: eslint-app, knip

chore(4743): test invalid users in local env permanently
  app/app/api/msgraph/search/route.ts
Due: eslint-app, knip

chore(4743): convert type with frontend service type
  app/app/api/msgraph/search/route.ts
Due: eslint-app, knip

chore(5041): revise rename db collections script
  app/app/api/security-config/route.ts
  data-migrations/migrations/20250320210834-rename_project_to_product.js
Due: eslint-app, knip

feat(5244): remove request review tasks on cancellation
  app/app/api/private-cloud/requests/[id]/route.ts
  app/app/api/public-cloud/requests/[id]/route.ts
  data-migrations/migrations/20250325224053-delete_dangling_request_review_tasks.js
  data-migrations/package.json
  data-migrations/pnpm-lock.yaml
Due: eslint-app, knip

chore(5041): revert migration scripts
  data-migrations/migrations/20240229013820-add_updated_at_fields.js
  data-migrations/migrations/20240314214546-add_updated_at_fields2.js
  data-migrations/migrations/20240319180733-create_missing_users.js
  data-migrations/migrations/20240319184917-lowercase_user_emails.js
  data-migrations/migrations/20240430154435-add_golddr_enabled_field.js
  data-migrations/migrations/20240430175907-update_golddr_enabled_field.js
  data-migrations/migrations/20240521033448-populate_environments_enabled.js
  data-migrations/migrations/20240523202048-add_is_test_field.js
  data-migrations/migrations/20240530173215-rename_created_to_createdat.js
  data-migrations/migrations/20240607161718-add_missing_create_requests.js
  data-migrations/migrations/20240906172588-populate_account_coding_to_billing3.js
  data-migrations/migrations/20240906172589-populate_account_coding_to_billing4.js
  data-migrations/migrations/20240909185417-delete_dangling_public_cloud_requests.js
  data-migrations/migrations/20240927022019-populate_missing_public_cloud_provider_selection_reason_field1.js
  data-migrations/migrations/20241122003845-populate_resource_requests.js
  data-migrations/migrations/20241210034924-add_indexes.js
  data-migrations/migrations/20250122165416-copy_webhook_urls.js
  data-migrations/migrations/20250127191932-ag_ministry_webhook_duplicate.js
  data-migrations/migrations/20250228054215-migrate_public_cloud_billings.js
Due: none

chore(4743): make solution cleaner
  app/app/api/msgraph/search/route.ts
  app/components/modal/userPicker.tsx
Due: eslint-app, knip

chore(4743): add invalid users in user mock file
  app/app/api/msgraph/search/route.ts
  app/components/generic/select/FormUserPicker.tsx
  app/components/modal/userPicker.tsx
  app/components/users/UserAutocomplete.tsx
  app/services/backend/msgraph.ts
  app/types/user.ts
  sandbox/mock-users.json
Due: eslint-app, knip

e2e(4167): add compare data after edit request and refactoring
  .github/actions/setup-npm/action.yml
  app/components/shared/SupportContact.tsx
  app/components/shared/TeamContacts.tsx
  app/components/users/UserAutocomplete.tsx
  cypress/_tmp/dummy.feature
  cypress/integration/1. create-request-private-test.feature
  cypress/integration/2. create-request-public-test.feature
  cypress/integration/3. delete-product-private-test.feature
  cypress/integration/4. approve-requests-private.feature
  cypress/integration/5. approve-requests-public.feature
  cypress/integration/6. delete-product-public-test.feature
  cypress/integration/7. edit-request-private-test.feature
  cypress/integration/8. edit-request-public-test.feature
  cypress/integration/9. edit-request-private-compare-data.feature
  cypress/support/commands.ts
  cypress/support/step_definitions/common.ts
  sandbox/docker-compose-arm64.yml
Due: eslint, eslint-app, knip

e2e(4167): add compare data after edit request and refactoring
  .github/actions/setup-npm/action.yml
Due: none

chore(4743): change prisma function name
  app/app/api/private-cloud/webhooks/_operations/read.ts
Due: eslint-app, knip

chore(0000): upgrade WeasyPrint Helm chart version
  helm/main/Chart.lock
  helm/main/Chart.yaml
  helm/main/values-101ed4-dev.yaml
  helm/main/values-101ed4-prod.yaml
  helm/main/values-101ed4-test.yaml
Due: none

chore(5256): hide total metrics table if no pods/pvcs found
  app/app/private-cloud/products/(product)/[licencePlate]/layout.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/usage/MetricsTable.tsx
Due: eslint-app, knip

e2e(4167): add compare data after edit request and refactoring
  cypress/_tmp/dummy.feature
  cypress/integration/1. create-request-private-test.feature
  cypress/integration/2. create-request-public-test.feature
  cypress/integration/3. delete-product-private-test.feature
  cypress/integration/4. approve-requests-private.feature
  cypress/integration/5. approve-requests-public.feature
  cypress/integration/6. delete-product-public-test.feature
  cypress/integration/7. edit-request-private-test.feature
  cypress/integration/8. edit-request-public-test.feature
  cypress/integration/9. edit-request-private-compare-data.feature
  cypress/support/commands.ts
  cypress/support/step_definitions/common.ts
Due: eslint

feat(5308): display build timestamp in footer
  app/Dockerfile
  app/app/api/info/route.ts
  app/components/layouts/Footer.tsx
  app/config.ts
  app/states/global.ts
Due: eslint-app, knip

e2e(4167): add compare data after edit request and refactoring
  app/components/shared/SupportContact.tsx
  app/components/shared/TeamContacts.tsx
  app/components/users/UserAutocomplete.tsx
  cypress/_tmp/dummy.feature
  cypress/integration/1. create-request-private-test.feature
  cypress/integration/2. create-request-public-test.feature
  cypress/integration/3. delete-product-private-test.feature
  cypress/integration/4. approve-requests-private.feature
  cypress/integration/5. approve-requests-public.feature
  cypress/integration/6. delete-product-public-test.feature
  cypress/integration/7. edit-request-private-test.feature
  cypress/integration/8. edit-request-public-test.feature
  cypress/integration/9. edit-request-private-compare-data.feature
  cypress/support/commands.ts
  cypress/support/step_definitions/common.ts
Due: eslint, eslint-app, knip

feat(5109): enable view profile for user records
  app/app/users/all/TableBody.tsx
  app/components/users/UserProfile.tsx
Due: eslint-app, knip

fix(5302): resolve issue of empty TF plan detail
  .github/workflows/terraform-keycloak.yml
Due: none

chore(5302): resolve issue of empty TF plan detail cont'
  .github/workflows/terraform-keycloak.yml
  .github/workflows/terraform-sysdig.yml
Due: none

chore(5302): fix typo
  .github/workflows/terraform-keycloak.yml
Due: none

fix(5302): resolve issue of empty TF plan detail
  .github/workflows/terraform-keycloak.yml
  .github/workflows/terraform-sysdig.yml
  terraform/sysdig/.terraform.lock.hcl
Due: none

chore(4721): delete old provision endpoint
  app/app/api/private-cloud/provision/[licencePlate]/route.test.ts
  app/app/api/private-cloud/provision/[licencePlate]/route.ts
  app/app/api/public-cloud/provision/[licencePlate]/route.test.ts
  app/app/api/public-cloud/provision/[licencePlate]/route.ts
  app/app/api/public-cloud/requests/search/route.test.ts
  app/services/api-test/private-cloud/index.ts
  app/services/api-test/public-cloud/index.ts
Due: eslint-app, knip

chore(4721): remove errorneous details
  app/services/api-test/public-cloud/index.ts
Due: eslint-app, knip

chore: release candidate v0.55.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

fix(5304): restrict same id users to be added to team contacts
  app/components/modal/userPicker.tsx
  app/components/shared/TeamContacts.tsx
  app/components/users/UserAutocomplete.tsx
Due: eslint-app, knip
