Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

rocket chat channels urls removal from templates
  app/emails/_templates/private-cloud/TeamCreateRequestApproval.tsx
  app/emails/_templates/private-cloud/TeamCreateRequestCompletion.tsx
  app/emails/_templates/private-cloud/TeamDeleteRequestApproval.tsx
  app/emails/_templates/private-cloud/TeamEditRequestApproval.tsx
Due: eslint-app, knip

chore(2746): chnage filed value for nats message to user
  app/services/nats/private-cloud/index.ts
  pnpm-lock.yaml
Due: eslint-app, knip

chore(2817): configure TypeScript import resolver for React Email templates
  app/emails/_templates/private-cloud/TeamCreateRequestApproval.tsx
  app/emails/_templates/private-cloud/TeamCreateRequestCompletion.tsx
  app/emails/_templates/private-cloud/TeamEditRequestApproval.tsx
  app/eslint.config.mjs
  app/package.json
  app/pnpm-lock.yaml
  app/tsconfig.json
  pnpm-lock.yaml
Due: eslint-app, knip

chore(2817): fix import ordering and TS resolver config
  app/app/api/admin/private-cloud/bills/monthly/[year-month]/download/route.ts
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/list.ts
  app/app/api/private-cloud/products/[licencePlate]/costs/monthly/[year-month]/route.ts
  app/app/api/private-cloud/products/[licencePlate]/costs/quarterly/[year-quarter]/route.ts
  app/app/api/private-cloud/products/_operations/create.ts
  app/app/api/private-cloud/requests/[id]/route.ts
  app/app/api/private-cloud/unit-prices/_operations/read.ts
  app/app/api/public-cloud/products/_operations/create.ts
  app/app/api/public-cloud/requests/[id]/decision/route.test.ts
  app/scripts/dangling-namespaces.ts
  app/services/api-test/private-cloud/products.ts
  app/services/backend/private-cloud/products.ts
  app/services/db/analytics/private-cloud/ministry-distributions.ts
  app/services/db/analytics/shared/request-decision-time.ts
  app/services/db/models/private-cloud-request.ts
  app/services/db/models/public-cloud-request.ts
  app/services/keycloak/app-realm.ts
  app/types/next-auth.d.ts
Due: eslint-app, knip

chore(2817): apply prettier formatting to TeamDeleteRequestApproval
  app/emails/_templates/private-cloud/TeamDeleteRequestApproval.tsx
Due: eslint-app, knip

chore: release candidate v0.78.14
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(2818): update pnpm to 11.0.8
  .tool-versions
  app/Dockerfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: knip

chore(2818): remove hardcoded canvas pnpm path
  .github/actions/setup-npm/action.yml
Due: none

chore(2818): update CI workflows for pnpm workspace support
  .github/workflows/test.yml
Due: none

chore(2818): use pnpm commands in app CI workflows
  .github/workflows/test.yml
Due: none

chore(2818): fix pnpm app install and test workflow paths
  .github/actions/setup-npm/action.yml
  .github/workflows/test.yml
Due: none

chore(2818): force app pnpm install in CI
  .github/actions/setup-npm/action.yml
  .github/workflows/test.yml
Due: none

chore(2818): use explicit app pnpm install path in CI
  .github/actions/setup-npm/action.yml
Due: none

chore(2818): define pnpm workspace packages for CI installs
  .github/actions/setup-npm/action.yml
  pnpm-workspace.yaml
Due: none

chore(2818): allow pnpm build scripts during CI install
  .github/actions/setup-npm/action.yml
  pnpm-workspace.yaml
Due: none

chore(2818): use react-email export for CI build
  .github/workflows/test.yml
  app/package.json
  package.json
  pnpm-lock.yaml
Due: knip

chore(2818): elax new react hook lint rules
  app/eslint.config.mjs
Due: knip

chore(2818): update app image Node and pnpm versions
  app/Dockerfile
Due: knip

fix(2818): use available Node Alpine image
  app/Dockerfile
Due: knip

chore(2818): install email image dependencies from workspace root
  app/Dockerfile
  app/Dockerfile.email
Due: knip

chore(2818): align docker workspace paths for pnpm monorepo builds
  app/Dockerfile
  app/Dockerfile.email
Due: knip

chore(2818): build app image from repository root context
  .github/workflows/deploy-dev.yml
Due: none

chore(2818): include pnpm workspace files in docker context
  .dockerignore
Due: none

Revert "chore(deps): update react-email monorepo to v6.1.4"
  app/package.json
Due: knip

chore(2818): copy prisma schema before pnpm install in docker builds
  .github/workflows/deploy-dev.yml
  app/Dockerfile
  app/Dockerfile.email
Due: knip

chore(2818): copy sandbox files into workspace for app build
  app/Dockerfile
  app/Dockerfile.email
Due: knip

chore(2818): serve exported emails from static image
  app/Dockerfile.email
Due: knip

chore(2818): copy workspace dependencies into app image
  app/Dockerfile
  app/Dockerfile.email
Due: knip

chore(2818): serve exported emails with unprivileged nginx
  app/.dockerignore
  app/Dockerfile.email
Due: knip

chore(2818): include nginx config for email image
  app/nginx.email.conf
Due: knip

chore(2818): preserve pnpm workspace dependencies in app image
  app/Dockerfile
Due: knip

chore(2818): run app from pnpm workspace path
  app/Dockerfile
  helm/_app/templates/deployment.yaml
Due: knip

chore(2818): remove default nginx page from email image
  app/Dockerfile.email
Due: knip

chore(2818): clear default nginx html before email copy
  app/Dockerfile.email
Due: knip

chore(2818): generate dynamic index for exported templates
  app/.dockerignore
  app/Dockerfile.email
  app/package.json
  pnpm-lock.yaml
Due: knip

chore(2818): add nginx.email.config to dockerignore
  app/.dockerignore
Due: knip

chore: release candidate v0.78.15
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

Path conditions:
  eslint: any of: ^(cypress|sandbox)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
