Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^(helm|mkdocs\.yml)$
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^(helm)$
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    exclude: .git/COMMIT_EDITMSG
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: ^(sandbox/mock-users\.json|sandbox/m365proxy/mocks\.json|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: .bin/eslint.sh
    language: script
    files: ^(cypress|sandbox)/.*\.(js|ts)$
    verbose: true
    pass_filenames: true
  - id: eslint-app
    name: eslint-app
    entry: .bin/eslint-app.sh
    language: script
    files: ^app/.*\.(ts|tsx)$
    verbose: true
    pass_filenames: true
  - id: python-format
    name: black
    entry: .bin/black.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
  - id: commitlint
    name: commitlint
    entry: .bin/commitlint.sh
    language: script
    verbose: true
    pass_filenames: false
    stages: [commit-msg]
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    exclude: .git/COMMIT_EDITMSG

exclude: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$

fix: allow admin to change cluster during private cloud create request approval
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
Due: eslint-app, knip

fix(pcloud): allow admin to change cluster during create request approval
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
Due: eslint-app, knip

fix(2717): handle non-JSON provisioner responses and prevent URL mutation
  helm/tools/dags/_mark_provisioned.py
Due: python-format

chore(2493): improve idirGuid population migration error handling and logging
  data-migrations/migrations/20251223201102-populate_user_sessions_with_idir_guid.js
Due: none

fix(2712): allow admin to change cluster during create request approval
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
Due: eslint-app, knip

Revert "fix(2717): handle non-JSON provisioner responses and prevent URL muta…"
  helm/tools/dags/_mark_provisioned.py
Due: python-format

fix(2727): setup lazy-load https-proxy-agent to avoid Jest resolving it during test
  app/services/msgraph/axios.ts
Due: eslint-app, knip

fix(2712): reset golddrEnabled when cluster is not GOLD during request approval
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/components/form/GolddrCheckbox.tsx
Due: eslint-app, knip

fix(2712): remove unused formState destructuring from GolddrCheckbox
  app/components/form/GolddrCheckbox.tsx
Due: eslint-app, knip

chore: release candidate v0.78.10
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

fix(0000): update tests to idirGuid validation
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
Due: eslint-app, knip

chore: release candidate v0.78.11
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

fix(0000): resolve unused dependency and config warnings
  app/.knip.json
Due: knip

fix(0000): ignore prettier and remove stale next ignore
  app/.knip.json
Due: knip

chore(2493): modified the sync_db_users_with_azure_ad task in Airflow
  helm/tools/dags/_msgraph.py
  helm/tools/dags/_sync_azure_ad_with_db.py
Due: python-format

chore(2493): fix invalid idirGuid handling and backfill from Azure
  helm/tools/dags/_sync_azure_ad_with_db.py
Due: python-format

chore(2493): reduce cognitive complexity in Azure AD sync
  helm/tools/dags/_sync_azure_ad_with_db.py
Due: python-format

Revert "fix(deps): update dependency canvas to v3.2.2"
  app/package.json
  app/pnpm-lock.yaml
Due: knip

fix(0000): update sonarqube to 2026.2.0
  helm/tools/Chart.lock
Due: none

fix(2752): migrate to TypeScript 6 and remove deprecated compiler options
  app/tsconfig.json
  sandbox/_packages/keycloak-admin/src/main.ts
  sandbox/_packages/keycloak-admin/tsconfig.json
  sandbox/ches-mock/tsconfig.json
  sandbox/keycloak-provision/tsconfig.json
  sandbox/m365mock/tsconfig.json
  sandbox/nats-provision/tsconfig.json
Due: eslint, knip

fix(2752): add node types to support ts-node scripts in CI
  app/tsconfig.json
Due: knip

Revert "chore(deps): update dependency @tabler/icons-react to v3.41.0"
  app/pnpm-lock.yaml
Due: none

chore: release candidate v0.78.12
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

fix(0000): use terraform init without -upgrade to avoid provider drift in CI
  .github/workflows/terraform-keycloak.yml
Due: none

fix(0000): add temporaray logs
  .github/workflows/terraform-keycloak.yml
Due: none

fix(0000): include /auth in keycloak url to avoid redirect during provider initialization
  .github/workflows/terraform-keycloak.yml
  terraform/keycloak/main.tf
Due: none

fix(0000): revert include /auth in keycloak url to avoid redirect during provider initialization
  .github/workflows/terraform-keycloak.yml
  terraform/keycloak/main.tf
Due: none

fix(0000): use realm endpoint in keycloak url to avoid redirect during provider initialization
  terraform/keycloak/main.tf
Due: none

fix(0000): revert use realm endpoint in keycloak url to avoid redirect during provider
  terraform/keycloak/main.tf
Due: none

fix(0000): add log
  .github/workflows/terraform-keycloak.yml
Due: none

fix(0000): move /auth into url to avoid loginproxy redirect issue
  terraform/keycloak/main.tf
Due: none

fix(0000): move /auth into url to avoid loginproxy redirect issue
  .github/workflows/terraform-keycloak.yml
  terraform/keycloak/main.tf
Due: none

fix(2782): increase Airflow JWT TTL to 1200s to prevent delayed pod failures
  helm/tools/values.yaml
Due: none

fix(2783): update broken “Public Providers” link on Public Cloud Product page
  app/components/form/ProjectDescriptionPublic.tsx
  package.json
Due: eslint-app, knip

Revert "fix(deps): update react-email monorepo"
  app/package.json
  app/pnpm-lock.yaml
Due: knip
