Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^(helm|mkdocs\.yml)$
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^(helm)$
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    exclude: .git/COMMIT_EDITMSG
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: ^(sandbox/mock-users\.json|sandbox/m365proxy/mocks\.json|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: .bin/eslint.sh
    language: script
    files: ^(cypress|sandbox)/.*\.(js|ts)$
    verbose: true
    pass_filenames: true
  - id: eslint-app
    name: eslint-app
    entry: .bin/eslint-app.sh
    language: script
    files: ^app/.*\.(ts|tsx)$
    verbose: true
    pass_filenames: true
  - id: python-format
    name: black
    entry: .bin/black.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
  - id: commitlint
    name: commitlint
    entry: .bin/commitlint.sh
    language: script
    verbose: true
    pass_filenames: false
    stages: [commit-msg]
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    exclude: .git/COMMIT_EDITMSG

exclude: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$

fix(0000): sync ches mock lockfile
  sandbox/ches-mock/pnpm-lock.yaml
Due: none

chore(2831): strengthen frame protection headers
  app/middleware.ts
  app/next.config.js
Due: eslint-app, knip

fix(2926): stabilize dag processor liveness probe
  helm/tools/values.yaml
Due: none

fix(0000): update pnpm lockfile
  pnpm-lock.yaml
Due: none

chore: release candidate v0.79.1
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

fix(0000): use latest asdf-supported node version
  .tool-versions
  app/Dockerfile
  app/Dockerfile.email
Due: knip

fix(0000): update react-email lockfile
  pnpm-lock.yaml
Due: none

chore(2523): update the report a bug request a feature link
  app/components/layouts/Footer.tsx
Due: eslint-app, knip

fix(0000): update lock file
  pnpm-lock.yaml
Due: none

chore(0000): format terraform files
  terraform/keycloak/dev/main.tf
  terraform/keycloak/prod/main.tf
  terraform/keycloak/test/main.tf
Due: none

chore(2917): use root pnpm workspace lockfile
  .dockerignore
  .tool-versions
  Makefile
  app/pnpm-lock.yaml
  data-migrations/pnpm-lock.yaml
  sandbox/_packages/keycloak-admin/pnpm-lock.yaml
  sandbox/docker-compose.yml
  sandbox/keycloak-provision/Dockerfile
  sandbox/keycloak-provision/pnpm-lock.yaml
  sandbox/m365mock/Dockerfile
  sandbox/m365mock/pnpm-lock.yaml
  sandbox/nats-provision/Dockerfile
  sandbox/nats-provision/pnpm-lock.yaml
Due: none

chore(2917): preserve pnpm workspace paths in Docker image
  sandbox/m365mock/Dockerfile
Due: none

Revert "chore(2917): use root pnpm workspace lockfile"
  .dockerignore
  Makefile
  app/pnpm-lock.yaml
  data-migrations/pnpm-lock.yaml
  sandbox/_packages/keycloak-admin/pnpm-lock.yaml
  sandbox/docker-compose.yml
  sandbox/keycloak-provision/Dockerfile
  sandbox/keycloak-provision/pnpm-lock.yaml
  sandbox/m365mock/Dockerfile
  sandbox/m365mock/pnpm-lock.yaml
  sandbox/nats-provision/Dockerfile
  sandbox/nats-provision/pnpm-lock.yaml
Due: none

chore(2917): use root Docker context for workspace images
  .dockerignore
  .github/workflows/build-push-sandbox.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-test.yml
  data-migrations/Dockerfile
Due: none

chore(2917): use root pnpm workspace lockfile
  Makefile
  app/pnpm-lock.yaml
  data-migrations/pnpm-lock.yaml
  sandbox/_packages/keycloak-admin/pnpm-lock.yaml
  sandbox/docker-compose.yml
  sandbox/keycloak-provision/Dockerfile
  sandbox/keycloak-provision/pnpm-lock.yaml
  sandbox/m365mock/Dockerfile
  sandbox/m365mock/pnpm-lock.yaml
  sandbox/nats-provision/Dockerfile
  sandbox/nats-provision/pnpm-lock.yaml
Due: none

chore(2917): install workspace dependencies
  data-migrations/Dockerfile
Due: none

chore(2917): run migrate-mongo from workspace directory
  data-migrations/Dockerfile
Due: none

chore(2917): preserve workspace paths in Docker image
  sandbox/nats-provision/Dockerfile
Due: none

chore(2917): update Helm startup command
  helm/_nats_provision/templates/deployment.yaml
Due: none

chore(2943): add Azure networking backfill migration
  data-migrations/migrations/20260703221614-populate_azure_networking_fields.js
  sandbox/keycloak-provision/Dockerfile
Due: none

chore: release candidate v0.79.2
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

Revert "chore(deps): update react-email monorepo to v6.6.7"
  app/package.json
  pnpm-lock.yaml
Due: knip

fix(0000): prevent empty edit confirmation modal
  app/components/modal/privateCloudProductEditSubmit.tsx
Due: eslint-app, knip

chore: release candidate v0.79.3
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

feat(aws-lza): add console login links
  app/app/api/public-cloud/products/_operations/delete.ts
  app/app/api/v1/public-cloud/products/[idOrLicencePlate]/provision/route.ts
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/components/form/AccountEnvironmentsPublic.tsx
  app/constants/public-cloud.ts
  app/helpers/mock-resources/public-cloud-product.ts
  app/helpers/mock-resources/public-cloud-request.ts
  app/helpers/pdfs/emou/types.ts
  app/prisma/schema.prisma
  app/services/aws-lza/accounts.ts
  sandbox/nats-provision/main.ts
Due: eslint, eslint-app, prisma-format, knip

refactor(0000): rename public cloud accountability to forecast
  app/app/api/internal/csp/consumption/history/route.ts
  app/app/api/public-cloud/forecast/export/route.ts
  app/app/api/public-cloud/forecast/route.ts
  app/app/api/public-cloud/products/[licencePlate]/forecast/route.ts
  app/app/api/public-cloud/products/[licencePlate]/forecasts/[forecastId]/route.ts
  app/app/api/public-cloud/products/[licencePlate]/forecasts/route.ts
  app/app/public-cloud/forecast/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/forecast/page.tsx
  app/components/layouts/UserMenu.tsx
  app/components/public-cloud/forecast/ProjectBudgetForecastPanel.tsx
  app/components/public-cloud/forecast/forecast-grid-utils.test.ts
  app/components/public-cloud/forecast/forecast-grid-utils.ts
  app/components/public-cloud/sections/PublicCloudForecastSection.tsx
  app/constants/user.ts
  app/core/auth-options.ts
  app/core/responses.ts
  app/helpers/accountability-periods.ts
  app/helpers/platform-forecast-export.ts
  app/helpers/usd-cad-fx.ts
  app/package.json
  app/seed/seed-all-local.ts
  app/seed/seed-demo-products.ts
  app/seed/seed-forecast-local.ts
  app/services/backend/public-cloud/forecast.ts
  app/services/db/models/public-cloud-product.ts
  app/services/db/public-cloud-forecast.ts
  app/types/doc-decorate.ts
  app/types/next-auth.d.ts
  app/validation-schemas/cloud-cost.ts
Due: eslint-app, knip

refactor(0000): restore budget section and drop forecast actuals/FX UI
  app/app/api/internal/csp/consumption/history/route.ts
  app/app/public-cloud/forecast/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/components/form/Budget.tsx
  app/components/public-cloud/forecast/ProjectBudgetForecastPanel.tsx
  app/components/public-cloud/sections/PublicCloudForecastSection.tsx
  app/helpers/platform-forecast-export.ts
  app/helpers/usd-cad-fx.ts
  app/prisma/schema.prisma
  app/seed/seed-forecast-local.ts
  app/services/db/public-cloud-forecast.ts
  app/validation-schemas/cloud-cost.ts
Due: eslint-app, prisma-format, knip

refactor(0000): simplify forecast model and remove seed/FX extras
  .tool-versions
  app/.knip.json
  app/app/api/public-cloud/forecast/export/route.ts
  app/app/api/public-cloud/products/[licencePlate]/forecast/route.ts
  app/app/api/public-cloud/products/[licencePlate]/forecasts/[forecastId]/route.ts
  app/app/api/public-cloud/products/[licencePlate]/forecasts/route.ts
  app/app/public-cloud/forecast/page.tsx
  app/components/public-cloud/forecast/ProjectBudgetForecastPanel.tsx
  app/components/public-cloud/sections/PublicCloudForecastSection.tsx
  app/core/responses.ts
  app/helpers/usd-cad-fx.test.ts
  app/helpers/usd-cad-fx.ts
  app/package.json
  app/prisma/schema.prisma
  app/seed/seed-all-local.ts
  app/seed/seed-demo-products.ts
  app/seed/seed-forecast-local.ts
  app/seed/seed-foundation.ts
  app/seed/seed-local-dev.ts
  app/services/db/public-cloud-forecast.ts
  app/tsconfig.seed.json
  app/utils/js/number.ts
  pnpm-lock.yaml
Due: eslint-app, prisma-format, knip

fix(0000): provide sort comparator for forecast provider list
  app/services/db/public-cloud-forecast.ts
Due: eslint-app, knip

fix(0000): address SonarCloud reliability and code-smell findings
  app/app/public-cloud/forecast/page.tsx
  app/components/buttons/ExportButton.tsx
  app/components/public-cloud/forecast/ProjectBudgetForecastPanel.tsx
  app/components/public-cloud/forecast/forecast-grid-utils.test.ts
  app/components/public-cloud/forecast/forecast-grid-utils.ts
  app/components/public-cloud/sections/PublicCloudForecastSection.tsx
  app/core/client-page.tsx
  app/services/db/public-cloud-forecast.ts
Due: eslint-app, knip

fix(0000): remove nested ternary in forecast section empty state
  app/components/public-cloud/sections/PublicCloudForecastSection.tsx
Due: eslint-app, knip

fix(0000): handle null session and align forecast with clean-code conventions
  app/app/api/public-cloud/products/[licencePlate]/forecast/route.ts
  app/app/api/public-cloud/products/[licencePlate]/forecasts/[forecastId]/route.ts
  app/app/api/public-cloud/products/[licencePlate]/forecasts/route.ts
  app/app/public-cloud/forecast/page.tsx
  app/components/buttons/ExportButton.tsx
  app/components/public-cloud/forecast/ProjectBudgetForecastPanel.tsx
  app/components/public-cloud/forecast/forecast-grid-utils.ts
  app/components/public-cloud/sections/PublicCloudForecastSection.tsx
  app/core/client-page.tsx
  app/helpers/platform-forecast-export.ts
  app/services/db/public-cloud-forecast.ts
Due: eslint-app, knip

fix(0000): restore client-page auth gate to unblock login
  app/core/client-page.tsx
Due: eslint-app, knip

chore(0000): ignore env backups, local agent state, and tunnel runtime
  .gitignore
  app/.gitignore
Due: knip

fix(0000): redirect unauthorized clients in useEffect, not during render
  app/core/client-page.tsx
Due: eslint-app, knip

chore(0000): restore local seed scripts for demo products and foundation data
  app/seed/seed-all-local.ts
  app/seed/seed-demo-products.ts
  app/seed/seed-foundation.ts
  app/seed/seed-local-dev.ts
  app/tsconfig.seed.json
Due: eslint-app, knip

fix(0000): remove spend forecast accordion subtitle
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
Due: eslint-app, knip

refactor(constants): share environment short names
  app/constants/common.ts
  app/constants/private-cloud.ts
  app/constants/public-cloud.ts
Due: eslint-app, knip
