Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^helm
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^helm
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: package.lock.json
- repo: local
  hooks:
  # - id: es-format
  #   name: eslint
  #   entry: .bin/eslint.sh
  #   language: script
  #   files: \.tsx?$
  #   verbose: true
  #   pass_filenames: true
  - id: python-format
    name: autopep8
    entry: .bin/autopep8.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
# - repo: https://github.com/codespell-project/codespell
#   rev: v2.2.6
#   hooks:
#   - id: codespell

exclude: ^(app/.react-email|CHANGELOG\.md)$

chore: fix tests
  app/app/api/admin/task/sign-mou/resend/route.ts
  app/app/api/private-cloud/nats.test.ts
  app/app/api/public-cloud/nats.test.ts
  app/core/services/public-cloud-request.ts
Due: knip

feat(3717): add an admin script to resend eMOU signing emails
  app/app/api/admin/task/sign-mou/resend/route.ts
  app/app/api/public-cloud/products/[licencePlate]/requests/route.test.ts
  app/emails/_templates/public-cloud/ExpenseAuthorityMouProduct.tsx
  app/services/api-test/public-cloud/helpers.ts
  app/services/ches/public-cloud/email-handler.ts
Due: knip

chore: fix tests
  app/services/api-test/public-cloud/helpers.ts
Due: knip

refactor(3731): revisit comment sections on email templates
  app/emails/PublicAdminCreateRequest.tsx
  app/emails/_components/Comment.tsx
  app/emails/_components/Requester.tsx
  app/emails/_components/layout/Footer.tsx
  app/emails/_components/layout/PrivateCloudLayout.tsx
  app/emails/_components/layout/PublicCloudLayout.tsx
  app/emails/_templates/private-cloud/AdminCreateRequest.tsx
  app/emails/_templates/private-cloud/AdminDeleteRequest.tsx
  app/emails/_templates/private-cloud/AdminEditRequest.tsx
  app/emails/_templates/private-cloud/CreateRequest.tsx
  app/emails/_templates/private-cloud/CreateRequestApproval.tsx
  app/emails/_templates/private-cloud/DeleteApproval.tsx
  app/emails/_templates/private-cloud/DeleteRequest.tsx
  app/emails/_templates/private-cloud/DeleteRequestApproval.tsx
  app/emails/_templates/private-cloud/EditRequest.tsx
  app/emails/_templates/private-cloud/EditRequestApproval.tsx
  app/emails/_templates/private-cloud/EditRequestComplete.tsx
  app/emails/_templates/private-cloud/Provisioned.tsx
  app/emails/_templates/private-cloud/RequestRejection.tsx
  app/emails/_templates/public-cloud/AdminCreateRequest.tsx
  app/emails/_templates/public-cloud/AdminDeleteRequest.tsx
  app/emails/_templates/public-cloud/AdminRequest.tsx
  app/emails/_templates/public-cloud/BillingReviewerMou.tsx
  app/emails/_templates/public-cloud/CreateRequest.tsx
  app/emails/_templates/public-cloud/DeleteApproval.tsx
  app/emails/_templates/public-cloud/DeleteRequest.tsx
  app/emails/_templates/public-cloud/EditSummary.tsx
  app/emails/_templates/public-cloud/EmouServiceAgreement.tsx
  app/emails/_templates/public-cloud/ExpenseAuthority.tsx
  app/emails/_templates/public-cloud/ExpenseAuthorityMou.tsx
  app/emails/_templates/public-cloud/ExpenseAuthorityMouProduct.tsx
  app/emails/_templates/public-cloud/Provisioned.tsx
  app/emails/_templates/public-cloud/RequestApproval.tsx
  app/emails/_templates/public-cloud/RequestRejection.tsx
  app/prisma/schema.prisma
Due: prisma-format, knip

chore: revert prisma schema changes
  app/prisma/schema.prisma
Due: prisma-format, knip

chore: add klab token
  app/.env.example
  app/app/private-cloud/products/(product)/[licencePlate]/usage/page.tsx
  app/config.ts
  app/helpers/pod-usage-metrics.ts
Due: knip

chore: add virtual field createdBy in request schema
  app/app/api/private-cloud/products/_operations/delete.ts
  app/app/api/public-cloud/products/_operations/delete.ts
  app/prisma/schema.prisma
  app/request-actions/private-cloud/create-request.ts
  app/request-actions/private-cloud/edit-request.ts
  app/request-actions/public-cloud/create-request.ts
  app/request-actions/public-cloud/edit-request.ts
Due: prisma-format, knip

chore: move react emails into separate directories
  app/emails/private-cloud/AdminCreateRequest.tsx
  app/emails/private-cloud/AdminDeleteRequest.tsx
  app/emails/private-cloud/AdminRequest.tsx
  app/emails/private-cloud/CreateRequest.tsx
  app/emails/private-cloud/CreateRequestApproval.tsx
  app/emails/private-cloud/DeleteCompletion.tsx
  app/emails/private-cloud/DeleteRequest.tsx
  app/emails/private-cloud/DeleteRequestApproval.tsx
  app/emails/private-cloud/EditRequest.tsx
  app/emails/private-cloud/EditRequestApproval.tsx
  app/emails/private-cloud/EditRequestCompletion.tsx
  app/emails/private-cloud/RequestProvisioned.tsx
  app/emails/private-cloud/RequestRejection.tsx
  app/emails/public-cloud/AdminCreateRequest.tsx
  app/emails/public-cloud/AdminDeleteRequests.tsx
  app/emails/public-cloud/AdminRequest.tsx
  app/emails/public-cloud/CreateRequest.tsx
  app/emails/public-cloud/DeleteCompletion.tsx
  app/emails/public-cloud/DeleteRequest.tsx
  app/emails/public-cloud/EditRequest.tsx
  app/emails/public-cloud/ExpenseAuthority.tsx
  app/emails/public-cloud/ExpenseAuthorityMou.tsx
  app/emails/public-cloud/RequestApproval.tsx
  app/emails/public-cloud/RequestProvisioned.tsx
  app/emails/public-cloud/RequestRejection.tsx
Due: knip

chore: pr review fixies
  app/app/api/private-cloud/analytics/pod-usage-metrics/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/usage/page.tsx
  app/services/backend/private-cloud/pod-usage-metrics.ts
  app/services/openshift-kubernetis-metrics/helpers.ts
  app/services/openshift-kubernetis-metrics/pod-usage-metrics.ts
Due: knip

chore: hide pod usage metrics on test
  app/services/openshift-kubernetis-metrics/pod-usage-metrics.ts
Due: knip

feat(3593-2): adjust email templates for provisioning and editing products
  app/emails/_templates/private-cloud/CreateRequestApproval.tsx
  app/emails/_templates/private-cloud/EditRequestApproval.tsx
  app/emails/_templates/private-cloud/EditRequestComplete.tsx
  app/package-lock.json
Due: knip

refactor(3747): update the email template function definitions
  app/emails/_templates/private-cloud/AdminCreateRequest.tsx
  app/emails/_templates/private-cloud/AdminDeleteRequest.tsx
  app/emails/_templates/private-cloud/AdminEditRequest.tsx
  app/emails/_templates/private-cloud/CreateRequest.tsx
  app/emails/_templates/private-cloud/CreateRequestApproval.tsx
  app/emails/_templates/private-cloud/DeleteApproval.tsx
  app/emails/_templates/private-cloud/DeleteRequest.tsx
  app/emails/_templates/private-cloud/DeleteRequestApproval.tsx
  app/emails/_templates/private-cloud/EditRequest.tsx
  app/emails/_templates/private-cloud/EditRequestApproval.tsx
  app/emails/_templates/private-cloud/EditRequestComplete.tsx
  app/emails/_templates/private-cloud/Provisioned.tsx
  app/emails/_templates/private-cloud/RequestRejection.tsx
  app/emails/_templates/public-cloud/AdminDeleteRequest.tsx
  app/emails/_templates/public-cloud/AdminRequest.tsx
  app/emails/_templates/public-cloud/BillingReviewerMou.tsx
  app/emails/_templates/public-cloud/CreateRequest.tsx
  app/emails/_templates/public-cloud/DeleteApproval.tsx
  app/emails/_templates/public-cloud/DeleteRequest.tsx
  app/emails/_templates/public-cloud/EditSummary.tsx
  app/emails/_templates/public-cloud/ExpenseAuthority.tsx
  app/emails/_templates/public-cloud/ExpenseAuthorityMou.tsx
  app/emails/_templates/public-cloud/ExpenseAuthorityMouProduct.tsx
  app/emails/_templates/public-cloud/Provisioned.tsx
  app/emails/_templates/public-cloud/RequestApproval.tsx
  app/emails/_templates/public-cloud/RequestRejection.tsx
Due: knip

feat(3635) add logic to check autoapproval
  app/components/table/TableBodyMetrics.tsx
  app/helpers/quota-change.ts
  app/services/openshift-kubernetis-metrics/helpers.ts
Due: knip

chore: add metric reader token to helm
  app/helpers/quota-change.ts
Due: knip

chore: add metric reader token to helm
  helm/_app/templates/deployment.yaml
Due: knip

chore(m365-mock): fix the issue with path-to-regexp of Express
  localdev/m365mock/src/server.ts
Due: none

chore(3747): fix build errors
  app/app/api/public-cloud/requests/[id]/decision/route.ts
  app/app/api/v1/private-cloud/products/[idOrLicencePlate]/nats-message/route.ts
  app/emails/public-cloud/AdminDeleteRequests.tsx
  app/emails/public-cloud/DeleteRequest.tsx
  app/emails/public-cloud/ExpenseAuthority.tsx
Due: knip

test
  cypress/support/step_definitions/common.ts
Due: none

test
  .github/workflows/cypress-e2e-test.yaml
  .vscode/settings.json
Due: none

update
  .vscode/settings.json
  localdev/m365mock/package-lock.json
Due: none

chore(3635) revise after PR review
  app/app/api/private-cloud/products/[licencePlate]/auto-approval-check/route.ts
  app/helpers/auto-approval-check.ts
  app/helpers/quota-change.ts
  app/request-actions/private-cloud/edit-request.ts
  app/services/openshift-kubernetis-metrics/helpers.ts
Due: knip

chore: bring back isResourseUpgrade to quota-change file
  app/helpers/quota-change.ts
Due: knip

test
  .github/workflows/cypress-e2e-test.yaml
  cypress/support/step_definitions/common.ts
Due: none

test
  cypress/_tmp/create-request-private-test.feature
  cypress/_tmp/dummy.feature
  cypress/integration/create-request-private-test.feature
Due: none

test
  cypress/integration/create-request-private-test.feature
Due: none

test
  cypress/support/commands.ts
Due: none

chore: fix nats tests
  app/package-lock.json
  app/services/api-test/private-cloud/helpers.ts
Due: knip

feat(3647): adapt create test for running in github actions
  .gitignore
  cypress/_tmp/dummy.feature
  cypress/integration/create-request-private-test.feature
  cypress/integration/dummy.feature
  cypress/support/commands.ts
  cypress/support/step_definitions/common.ts
Due: none

feat(3647): add saving screenshots to github actions artifacts
  .github/workflows/cypress-e2e-test.yaml
Due: none

feat(3647): add retrial mechanism when modal not open
  cypress/support/step_definitions/common.ts
Due: none

feat(3647): add timeout to wait for modal on submit
  app/package-lock.json
  cypress/integration/create-request-private-test.feature
Due: knip

feat(3647): add timeout to wait for common components to load
  cypress/integration/create-request-private-test.feature
  cypress/support/step_definitions/common.ts
Due: none

feat(3647): add screenshot before checking checkbox
  cypress/support/step_definitions/common.ts
Due: none

chore(3747): hide footer for admin email templates
  app/emails/_components/layout/PrivateCloudLayout.tsx
  app/emails/_components/layout/PublicCloudLayout.tsx
  app/emails/_templates/private-cloud/AdminDeleteRequest.tsx
  app/emails/_templates/private-cloud/TeamCreateRequest.tsx
  app/emails/_templates/private-cloud/TeamCreateRequestApproval.tsx
  app/emails/_templates/private-cloud/TeamCreateRequestCompletion.tsx
  app/emails/_templates/private-cloud/TeamCreateRequestRejection.tsx
  app/emails/_templates/private-cloud/TeamDeleteRequest.tsx
  app/emails/_templates/private-cloud/TeamDeleteRequestApproval.tsx
  app/emails/_templates/private-cloud/TeamDeleteRequestCompletion.tsx
  app/emails/_templates/private-cloud/TeamDeleteRequestRejection.tsx
  app/emails/_templates/private-cloud/TeamEditRequest.tsx
  app/emails/_templates/private-cloud/TeamEditRequestApproval.tsx
  app/emails/_templates/private-cloud/TeamEditRequestCompletion.tsx
  app/emails/_templates/private-cloud/TeamEditRequestRejection.tsx
  app/emails/_templates/public-cloud/BillingReviewerMou.tsx
  app/emails/_templates/public-cloud/EmouServiceAgreement.tsx
  app/emails/_templates/public-cloud/ExpenseAuthority.tsx
  app/emails/_templates/public-cloud/ExpenseAuthorityMou.tsx
  app/emails/_templates/public-cloud/ExpenseAuthorityMouProduct.tsx
  app/emails/_templates/public-cloud/TeamCreateRequest.tsx
  app/emails/_templates/public-cloud/TeamCreateRequestApproval.tsx
  app/emails/_templates/public-cloud/TeamCreateRequestCompletion.tsx
  app/emails/_templates/public-cloud/TeamCreateRequestRejection.tsx
  app/emails/_templates/public-cloud/TeamDeleteRequest.tsx
  app/emails/_templates/public-cloud/TeamDeleteRequestApproval.tsx
  app/emails/_templates/public-cloud/TeamDeleteRequestCompletion.tsx
  app/emails/_templates/public-cloud/TeamDeleteRequestRejection.tsx
  app/emails/_templates/public-cloud/TeamEditRequest.tsx
  app/emails/_templates/public-cloud/TeamEditRequestCompletion.tsx
Due: knip

feat(3364-3361): hightlight changes to quota and reorder namespaces
  app/components/form/Quotas.tsx
  app/package-lock.json
Due: knip
