Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

fix(0000): update react-dom to v19.2.8
  app/package.json
  pnpm-lock.yaml
Due: knip

chore(2952): uncomment repositories for SecurityConfig
  app/prisma/schema.prisma
Due: prisma-format, knip

chore(2952): link product repositories across registry workflows
  app/app/api/security-config/[licencePlate]/route.ts
  app/app/api/security-config/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/security/repository/page.tsx
  app/services/db/models/security-config.ts
  app/validation-schemas/security-config.ts
  app/validation-schemas/shared.ts
Due: eslint-app, knip

chore(2952): change error message for public cloud budget field
  app/validation-schemas/public-cloud.ts
Due: eslint-app, knip

chore(2915): change PDB UI
  app/components/private-cloud/sections/Quotas.tsx
  app/services/k8s/policy-services.ts
Due: eslint-app, knip

feat(entra-link): fix typescript:S6759 issue
  app/components/public-cloud/AwsLzaAccessLinks.tsx
Due: eslint-app, knip

fix(0000): regenerate broken pnpm lockfile
  pnpm-lock.yaml
Due: none

fix(0000): remove duplicate postcss lockfile entry
  pnpm-lock.yaml
Due: none

feat(entra-link): fix typescript:S6759 issue
  app/components/public-cloud/AwsLzaAccessLinks.test.tsx
Due: eslint-app, knip

chore(2915): remove commented out code
  app/components/private-cloud/sections/Quotas.tsx
  app/services/k8s/policy-services.ts
Due: eslint-app, knip

fix(0000): disable initial Keycloak provider login
  terraform/keycloak/dev/config.tf
  terraform/keycloak/prod/config.tf
  terraform/keycloak/test/config.tf
Due: none

test(0000): isolate prod
  .github/workflows/terraform-keycloak.yml
Due: none

chore: release candidate v0.83.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

test(0000): isolate dev
  .github/workflows/terraform-keycloak.yml
  terraform/keycloak/main.tf
Due: none

test(0000): isolate test
  .github/workflows/terraform-keycloak.yml
Due: none

test(0000): isolate prod check credentials
  .github/workflows/terraform-keycloak.yml
Due: none

test(0000): check prod Keycloak server info
  .github/workflows/terraform-keycloak.yml
Due: none

test(0000): compare Keycloak server info
  .github/workflows/terraform-keycloak.yml
Due: none

chore(2979): fix call to action repositories styles for outlook
  app/emails/_components/ProductDetails.tsx
Due: eslint-app, knip

chore: release candidate v0.83.1
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(2981): update contact us link
  app/components/form/Repositories.tsx
  app/components/layouts/Footer.tsx
Due: eslint-app, knip

fix(0000): update ches-mock lockfile
  sandbox/ches-mock/pnpm-lock.yaml
Due: none

chore(2986): increase production backup PVC size to 15Gi
  helm/main/values-101ed4-prod.yaml
Due: none

feat(2953): add Github user ID fields to product team registration
  app/.env.example
  app/app/api/github/search/route.ts
  app/app/api/msgraph/search/route.ts
  app/app/api/users/[id]/route.ts
  app/app/api/users/[id]/schema.ts
  app/app/api/users/_operations/update-github.ts
  app/components/modal/userDetail.tsx
  app/components/modal/userPicker.tsx
  app/components/shared/AdditionalTeamMembers.tsx
  app/components/users/UserProfile.tsx
  app/config.ts
  app/prisma/schema.prisma
  app/services/backend/github.ts
  app/services/db/user.ts
  app/services/github/axios.ts
  app/services/github/index.ts
  app/services/msgraph/index.ts
  app/types/user.ts
Due: eslint-app, prisma-format, knip

chore(2988): add repository availability checkbox and remove organization restrictions
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/components/form/Repositories.tsx
  app/helpers/mock-resources.ts
  app/helpers/mock-resources/private-cloud-product.ts
  app/helpers/mock-resources/private-cloud-request.ts
  app/helpers/mock-resources/public-cloud-product.ts
  app/helpers/mock-resources/public-cloud-request.ts
  app/prisma/schema.prisma
  app/validation-schemas/private-cloud.ts
  app/validation-schemas/public-cloud.ts
  app/validation-schemas/security-config.ts
  app/validation-schemas/shared.ts
  data-migrations/migrations/20260805221339-populate-has-repositories.js
Due: eslint-app, prisma-format, knip

chore(2988): simplify ternary operator
  app/components/form/Repositories.tsx
Due: eslint-app, knip

fix(0000): migrate tests for Jest 30 and updated validation schemas
  app/app/api/private-cloud/emails.test.ts
  app/app/api/private-cloud/products/_operations/update.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/api/private-cloud/requests/search/route.test.ts
  app/app/api/public-cloud/emails.test.ts
  app/app/api/public-cloud/requests/[id]/decision/route.test.ts
  app/components/generic/input/FormTextarea.test.tsx
  app/package.json
  app/tsconfig.json
  app/utils/js/jest.ts
  pnpm-lock.yaml
Due: eslint-app, knip

fix(0000): allow minor and patch dependency updates
  app/package.json
Due: knip

chore(2988): align repository form errors and guidance with validation
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/components/form/Repositories.tsx
Due: eslint-app, knip

Revert "chore(deps): update nextjs monorepo to v16.3.0"
  app/app/api/private-cloud/emails.test.ts
  app/app/api/private-cloud/products/_operations/update.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/api/private-cloud/requests/search/route.test.ts
  app/app/api/public-cloud/emails.test.ts
  app/app/api/public-cloud/requests/[id]/decision/route.test.ts
  app/components/generic/input/FormTextarea.test.tsx
  app/package.json
  app/tsconfig.json
  app/utils/js/jest.ts
  pnpm-lock.yaml
Due: eslint-app, knip

chore(2953): add GitHub account validation and user association
  app/app/api/github/search/route.ts
  app/app/api/msgraph/search/route.ts
  app/components/modal/userPicker.tsx
  app/components/users/UserProfile.tsx
  app/services/backend/github.ts
  app/services/db/user.ts
  app/types/user.ts
Due: eslint-app, knip

chore(2988): preserve repository mock state and display schema errors
  app/components/form/Repositories.tsx
  app/helpers/mock-resources.ts
Due: eslint-app, knip

chore(2988): use Object.hasOwn for repository mock data
  app/helpers/mock-resources.ts
Due: eslint-app, knip

chore(2953): normalize optional user picker selection
  app/app/api/users/_operations/update-github.ts
  app/components/modal/userPicker.tsx
  app/services/backend/github.ts
  app/services/db/user.ts
Due: eslint-app, knip

fix(0000): migrate email tests to asymmetric matchers
  app/app/api/private-cloud/emails.test.ts
  app/app/api/private-cloud/products/_operations/update.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/api/private-cloud/requests/search/route.test.ts
  app/app/api/public-cloud/emails.test.ts
  app/app/api/public-cloud/requests/[id]/decision/route.test.ts
  app/components/generic/input/FormTextarea.test.tsx
  app/package.json
  app/tsconfig.json
  app/utils/js/jest.ts
  pnpm-lock.yaml
Due: eslint-app, knip

fix(0000): remove duplicate pnpm lockfile entry
  pnpm-lock.yaml
Due: none

fix(2945): upgrade Keycloak provider to 5.8.0
  .tool-versions
  terraform/keycloak/config.tf
  terraform/keycloak/dev/config.tf
  terraform/keycloak/main.tf
  terraform/keycloak/prod/config.tf
  terraform/keycloak/test/config.tf
  terraform/openshift-deployer/101ed4-dev/config.tf
  terraform/openshift-deployer/101ed4-prod/config.tf
  terraform/openshift-deployer/101ed4-test/config.tf
  terraform/openshift-deployer/101ed4-tools/config.tf
  terraform/sysdig/config.tf
  terraform/sysdig/silver-101ed4-team/config.tf
Due: none

Path conditions:
  eslint: any of: ^(cypress|sandbox)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
