Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

fix(2945): upgrade Keycloak provider to 5.8.0
  .tool-versions
  terraform/keycloak/config.tf
  terraform/keycloak/dev/config.tf
  terraform/keycloak/main.tf
  terraform/keycloak/prod/config.tf
  terraform/keycloak/test/config.tf
  terraform/openshift-deployer/101ed4-dev/config.tf
  terraform/openshift-deployer/101ed4-prod/config.tf
  terraform/openshift-deployer/101ed4-test/config.tf
  terraform/openshift-deployer/101ed4-tools/config.tf
  terraform/sysdig/config.tf
  terraform/sysdig/silver-101ed4-team/config.tf
Due: none

chore(2988): deduplicate private cloud schema validations
  app/validation-schemas/private-cloud.ts
Due: eslint-app, knip

fix(0000): migrate pnpm configuration for pnpm 11
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(0000): resolve maon merge conflicts
  pnpm-lock.yaml
Due: none

chore(2988): update repository data without provisioning requests
  app/app/api/private-cloud/products/[licencePlate]/repositories/route.ts
  app/app/api/public-cloud/products/[licencePlate]/repositories/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/components/form/Repositories.tsx
  app/emails/_components/ProductDetails.tsx
  app/helpers/repository.ts
  app/services/backend/private-cloud/products.ts
  app/services/backend/public-cloud/products.ts
  app/validation-schemas/shared.ts
Due: eslint-app, knip

chore(2988): add repository update route test coverage
  app/app/api/private-cloud/products/[licencePlate]/repositories/route.test.ts
  app/app/api/public-cloud/products/[licencePlate]/repositories/route.test.ts
  app/app/api/security-config/[licencePlate]/route.ts
  app/app/api/security-config/route.ts
  app/components/form/Repositories.tsx
  app/emails/_components/ProductDetails.tsx
  app/services/api-test/private-cloud/products.ts
  app/services/api-test/public-cloud/products.ts
Due: eslint-app, knip

chore(2988): secure repository updates for private and public cloud products
  app/app/api/private-cloud/products/[licencePlate]/repositories/route.test.ts
  app/app/api/public-cloud/products/[licencePlate]/repositories/route.test.ts
  app/app/api/security-config/route.ts
  app/services/api-test/private-cloud/products.ts
  app/validation-schemas/security-config.ts
Due: eslint-app, knip

chore(2988): sync public cloud state after repository updates
  app/app/api/security-config/route.ts
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/components/form/Repositories.tsx
Due: eslint-app, knip

chore(ci): run kube-linter only on Helm YAML
  .pre-commit-config.yaml
  helm/tools/dags/_finance_ingest.py
  helm/tools/dags/public_cloud_finance_ingest_dev.py
  helm/tools/dags/public_cloud_finance_ingest_prod.py
  helm/tools/dags/public_cloud_finance_ingest_test.py
Due: python-format

fix(finance): address SonarCloud code smells on finance PR
  app/app/api/v1/public-cloud/products/[idOrLicencePlate]/provision/route.ts
  app/app/public-cloud/finance/page.tsx
  app/components/public-cloud/finance/finance-measure-utils.ts
  app/components/public-cloud/forecast/ProjectBudgetForecastPanel.tsx
  app/helpers/finance-export.ts
  app/jest.config.mjs
  app/seed/finance-ingest-live.ts
  app/services/db/public-cloud-finance.ts
  app/services/public-cloud-finance/billing-account-links.ts
  app/services/public-cloud-finance/ingest/evaluate-flags.ts
  app/services/public-cloud-finance/ingest/real-sources.ts
  app/services/public-cloud-finance/ingest/run-ingest.ts
  app/services/public-cloud-finance/ingest/simulated-source.ts
  helm/tools/dags/_finance_ingest.py
Due: eslint-app, python-format, knip

fix(finance): address valid Copilot review findings
  app/app/api/public-cloud/products/[licencePlate]/finance/route.ts
  app/app/api/public-cloud/products/[licencePlate]/finance/variance-notes/route.ts
  app/services/db/public-cloud-finance.ts
  app/services/public-cloud-finance/ingest/real-sources.ts
  app/services/public-cloud-finance/ingest/run-ingest.ts
  app/services/public-cloud-finance/monthly-fx-rate.ts
Due: eslint-app, knip

fix(finance): lower simulated-source cognitive complexity
  app/services/public-cloud-finance/ingest/simulated-source.ts
Due: eslint-app, knip

docs(finance): document AWS/Azure Vault credentials plan
  docs/business-logic/public-cloud/finance-reporting.md
Due: none

feat(finance): wire Vault SP creds while keeping local CLI auth
  app/services/public-cloud-finance/ingest/real-sources.ts
  docs/business-logic/public-cloud/finance-reporting.md
Due: eslint-app, knip

fix(finance): preserve amounts when currencies match
  app/services/exchange-rates/index.ts
Due: eslint-app, knip

feat(finance): add keycloak sa ingest auth and retain archived history
  app/app/api/public-cloud/finance/ingest/route.ts
  app/app/public-cloud/finance/page.tsx
  app/app/public-cloud/finance/rankings/page.tsx
  app/app/public-cloud/forecast/page.tsx
  app/helpers/finance-export.ts
  app/helpers/platform-forecast-export.ts
  app/services/db/public-cloud-finance.ts
  app/services/db/public-cloud-forecast.ts
  app/services/public-cloud-finance/ingest/real-sources.ts
  app/services/public-cloud-finance/ingest/run-ingest.ts
  app/services/public-cloud-finance/ingest/simulated-source.ts
  docs/business-logic/public-cloud/finance-reporting.md
  helm/tools/dags/_finance_ingest.py
  helm/tools/dags/public_cloud_finance_ingest_dev.py
  helm/tools/dags/public_cloud_finance_ingest_prod.py
  helm/tools/dags/public_cloud_finance_ingest_test.py
Due: eslint-app, python-format, knip

fix(finance): lower finance-export forecast sheet complexity
  app/helpers/finance-export.ts
Due: eslint-app, knip

feat(forecast): show actuals and variance on platform rollup
  app/app/public-cloud/forecast/page.tsx
  app/components/public-cloud/forecast/forecast-grid-utils.ts
  app/helpers/platform-forecast-export.ts
  app/services/db/public-cloud-forecast.ts
Due: eslint-app, knip

fix(finance): use like-for-like fytd variance on snapshot
  app/app/public-cloud/finance/page.tsx
  app/components/public-cloud/finance/finance-measure-utils.ts
  app/helpers/finance-export.ts
  app/services/db/public-cloud-finance.ts
  app/services/public-cloud-finance/finance-measure-utils.test.ts
Due: eslint-app, knip

chore(2953): support editable GitHub accounts and user notifications
  app/app/api/users/_operations/update-github.ts
  app/app/api/users/download/route.ts
  app/app/users/all/TableBody.tsx
  app/components/modal/userPicker.tsx
  app/components/users/UserProfile.tsx
  app/emails/_templates/users/GitHubAccountUpdated.tsx
  app/services/ches/users/emails.ts
  app/services/ches/users/index.ts
Due: eslint-app, knip

chore(2953): use useWatch for reactive users table state
  app/app/users/all/TableBody.tsx
Due: eslint-app, knip

chore(2953): address review findings for GitHub user integration
  app/app/api/github/search/route.ts
  app/app/api/users/_operations/update-github.ts
  app/app/users/all/TableBody.tsx
  app/components/modal/userDetail.tsx
  app/components/modal/userPicker.tsx
  app/emails/_templates/users/GitHubAccountUpdated.tsx
  app/services/db/user.ts
Due: eslint-app, knip

feat(2951): add admin GPU quotas for Emerald and KLAB2
  app/app/api/private-cloud/products/_operations/create.ts
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/create/page.tsx
  app/components/private-cloud/sections/Quotas.tsx
  app/constants/private-cloud.ts
  app/helpers/mock-resources/private-cloud-product.ts
  app/prisma/schema.prisma
  app/services/nats/private-cloud/index.ts
  app/validation-schemas/private-cloud.ts
Due: eslint-app, prisma-format, knip

chore(2953): normalize structured API errors for UI display
  app/app/api/github/search/route.ts
  app/app/api/users/[id]/schema.ts
  app/services/backend/github.ts
  app/services/github/index.ts
  app/services/msgraph/index.ts
Due: eslint-app, knip

chore(2953): simplify GitHub user picker logic
  app/components/modal/userPicker.tsx
  app/components/users/UserProfile.tsx
  app/emails/_templates/users/GitHubAccountUpdated.tsx
Due: eslint-app, knip

chore(2953): reduce user picker cognitive complexity
  app/components/modal/userPicker.tsx
Due: eslint-app, knip

chore(2988): show empty repository message in read-only mode
  app/components/form/Repositories.tsx
Due: eslint-app, knip

chore(2953): address GitHub account validation and privacy issues
  app/app/api/users/_operations/update-github.ts
  app/emails/_templates/users/GitHubAccountUpdated.tsx
  app/services/github/index.ts
Due: eslint-app, knip

chore(2953): avoid mutating user data when updating GitHub account
  app/app/users/all/TableBody.tsx
Due: eslint-app, knip

Revert "chore(deps): update dependency @testing-library/user-event to v14.6.5"
  pnpm-lock.yaml
Due: none

chore(2953): address GitHub account validation and UI review feedback
  app/components/users/UserProfile.tsx
  app/services/backend/github.ts
Due: eslint-app, knip

chore(2988): validate repository URLs and clarify repository guidance
  app/components/form/Repositories.tsx
  app/validation-schemas/shared.ts
Due: eslint-app, knip

chore(2953): use accessible GitHub link in user profile
  app/components/modal/userPicker.tsx
  app/components/users/UserProfile.tsx
  app/emails/_templates/users/GitHubAccountUpdated.tsx
Due: eslint-app, knip

chore(2988): preserve security config repository updates
  app/validation-schemas/security-config.ts
  app/validation-schemas/shared.ts
Due: eslint-app, knip

chore(2951): enforce GPU quota permissions and sanitization
  app/app/api/private-cloud/products/_operations/create.ts
  app/app/api/private-cloud/products/_operations/update.ts
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/components/private-cloud/sections/Quotas.tsx
  app/helpers/licence-plate.ts
  app/prisma/schema.prisma
  app/services/nats/private-cloud/index.ts
Due: eslint-app, prisma-format, knip

chore(2951): exclude GPU from quota metrics calculations
  app/app/api/private-cloud/products/_operations/create.ts
  app/app/api/private-cloud/products/_operations/update.ts
  app/components/private-cloud/sections/Quotas.tsx
  app/helpers/auto-approval-check.ts
  app/helpers/licence-plate.ts
  app/helpers/quota-change.ts
  data-migrations/migrations/20260819203556-backfill-private-cloud-gpu.js
Due: eslint-app, knip

chore(2951): include GPU in quota upgrade detection
  app/helpers/quota-change.ts
Due: eslint-app, knip

Revert "chore(deps): update nginx docker tag to v1.31.4"
  maintenance/Dockerfile
Due: none

chore(2951): enforce GPU quota validation and approval rules
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/components/private-cloud/sections/Quotas.tsx
Due: eslint-app, knip

Path conditions:
  eslint: any of: ^(cypress|sandbox)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
