Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^helm
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^helm
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: package.lock.json
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: .bin/eslint.sh
    language: script
    files: ^(cypress|localdev)/.*\.(js|ts)$
    verbose: true
    pass_filenames: true
  - id: eslint-app
    name: eslint-app
    entry: .bin/eslint-app.sh
    language: script
    files: ^app/.*\.(ts|tsx)$
    verbose: true
    pass_filenames: true
  - id: python-format
    name: black
    entry: .bin/black.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.18.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
exclude: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$

chore(3972): optimize user search endpoint
  app/app/api/users/search/route.ts
  app/services/keycloak/app-realm.ts
Due: eslint-app, knip

chore(3972): add description of the additional team members
  app/components/private-cloud/sections/AdditionalTeamMembers.tsx
  app/components/public-cloud/sections/AdditionalTeamMembers.tsx
Due: eslint-app, knip

feat(3197): enhance popup notifications
  app/app/private-cloud/products/(product)/[licencePlate]/security/repository/page.tsx
  app/app/team-api-accounts/createAccountModal.tsx
  app/app/team-api-accounts/manageAccountModal.tsx
  app/components/comments/CommentBubble.tsx
  app/components/comments/CommentForm.tsx
  app/components/dropdowns/PrivateCloudProductOptions.tsx
  app/components/dropdowns/PrivateCloudRequestOptions.tsx
  app/components/form/TemporaryProductCheckboxAdmin.tsx
  app/components/generic/FormErrorNotification.tsx
  app/components/generic/button/CopyableButton.tsx
  app/components/layouts/Provider.tsx
  app/components/modal/privateCloudProductCreateSubmit.tsx
  app/components/modal/privateCloudProductDelete.tsx
  app/components/modal/privateCloudProductEditSubmit.tsx
  app/components/modal/privateCloudRequestReview.tsx
  app/components/modal/publicCloudMouReview.tsx
  app/components/modal/publicCloudMouSign.tsx
  app/components/modal/publicCloudProductCreateSubmit.tsx
  app/components/modal/publicCloudProductDelete.tsx
  app/components/modal/publicCloudProductEditSubmit.tsx
  app/components/modal/publicCloudRequestReview.tsx
  app/components/notification/TimedRingProgress.tsx
  app/components/notification/index.tsx
  app/helpers/notifications.ts
Due: eslint-app, knip

chore(2700): reword localdevreadme file to point out difference .env.test and .env.local files
  localdev/README.md
Due: none

chore(2700): reword localdev readme file according to review
  localdev/README.md
Due: none

chore(2700): add mailpit service to localdev docker-compose file
  localdev/docker-compose.yml
Due: none

feat(4250): send MailChimp emails to subscriber role members
  helm/tools/dags/_update_mailchimp_list.py
Due: python-format

chore(2700): docker-compose change vloumes according to review
  localdev/README.md
  localdev/docker-compose.yml
Due: none

chore(2700): add mailpit db to setup-sandbox
  .github/actions/setup-sandbox/action.yml
Due: none

feat(4284): auto-approve initial temporary product requests
  app/app/api/private-cloud/products/_operations/create.ts
Due: eslint-app, knip

chore(4284): set temporary flag false for testing
  app/helpers/mock-resources.ts
Due: eslint-app, knip

chore: release candidate v0.40.1
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

fix(4294): fix the issue setting temporary product by admin
  app/app/api/admin/private-cloud/products/_operations/update.ts
  app/components/private-cloud/sections/AdditionalTeamMembers.tsx
  app/components/public-cloud/sections/AdditionalTeamMembers.tsx
  app/services/backend/admin.ts
Due: eslint-app, knip

chore(2700): integrate ches-mock api into the local environment
  app/.env.example
  app/services/ches/core.ts
  localdev/ches-mock/package-lock.json
  localdev/ches-mock/package.json
  localdev/ches-mock/src/main.ts
  localdev/ches-mock/tsconfig.json
Due: eslint, eslint-app, knip

chore: release candidate v0.40.2
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

chore(4215): send distinct NATs messages based on the environment
  app/components/private-cloud/sections/AdditionalTeamMembers.tsx
  app/components/public-cloud/sections/AdditionalTeamMembers.tsx
  app/constants/private-cloud.ts
  app/services/nats/private-cloud/index.ts
Due: eslint-app, knip

chore(4215): fix typos
  app/services/nats/private-cloud/index.ts
Due: eslint-app, knip

chore(4215): update public cloud's additional team members section
  app/components/public-cloud/sections/AdditionalTeamMembers.tsx
Due: eslint-app, knip

feat(3418): display subnet info for namespace in emerald cluster
  app/app/api/private-cloud/products/[licencePlate]/namespace-subnet/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/layout.tsx
  app/services/backend/private-cloud/products.ts
  app/services/k8s/index.ts
  app/services/k8s/namespace.ts
Due: eslint-app, knip

feat(3190): display product requests comments
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/list.ts
  app/app/private-cloud/products/(product)/[licencePlate]/comments/ProductComments.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/comments/RequestComments.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/comments/page.tsx
  app/app/users/all/TableBody.tsx
  app/components/comments/CommentBubble.tsx
  app/components/comments/CommentForm.tsx
  app/components/private-cloud/sections/AdditionalTeamMembers.tsx
  app/types/private-cloud.ts
Due: eslint-app, knip

chore(3190): fix typo
  app/app/private-cloud/products/(product)/[licencePlate]/comments/RequestComments.tsx
Due: eslint-app, knip

chore: release candidate v0.40.3
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

chore(2700): add ches mock api
  .github/workflows/build-push-localdev.yml
  app/.env.example
  app/config.ts
  app/package-lock.json
  app/services/ches/core.ts
  localdev/ches-mock/.gitignore
  localdev/ches-mock/Dockerfile
  localdev/ches-mock/package-lock.json
  localdev/ches-mock/package.json
  localdev/ches-mock/src/main.ts
  localdev/ches-mock/tsconfig.json
  localdev/docker-compose.yml
  localdev/keycloak-provision/.gitignore
  package-lock.json
Due: eslint, eslint-app, knip

chore(2700): add sanitizeHtml for email body
  localdev/ches-mock/package-lock.json
  localdev/ches-mock/package.json
  localdev/ches-mock/src/main.ts
  localdev/keycloak-provision/.gitignore
Due: eslint

chore(2700): remove html satizizer, add attachments
  app/config.ts
  localdev/ches-mock/package-lock.json
  localdev/ches-mock/package.json
  localdev/ches-mock/src/main.ts
Due: eslint, eslint-app, knip

chore(3418): fix displaying subnets for namespaces in emerald
  app/app/private-cloud/products/(product)/[licencePlate]/layout.tsx
  app/components/form/Quotas.tsx
  app/services/backend/private-cloud/products.ts
  app/services/k8s/namespace.ts
Due: eslint-app, knip

chore(2700): add html sanitize and attributes
  localdev/ches-mock/package-lock.json
  localdev/ches-mock/package.json
  localdev/ches-mock/src/main.ts
Due: eslint

chore(e2e): trying to exclude non-needed for e2e services
  .github/workflows/cypress-e2e-test.yaml
  cypress/_tmp/edit-request-public-test.feature
  cypress/integration/2. create-request-public-test.feature
  cypress/integration/6. edit-request-public-test.feature
Due: none

chore(2700): edit typo image name
  .github/workflows/build-push-localdev.yml
Due: none

chore(4337): narrow down/specify services needed for e2e github action
  .github/workflows/cypress-e2e-test.yaml
Due: none

chore(4337): use sandbox action module for e2e
  .github/workflows/cypress-e2e-test.yaml
Due: none

chore(4337): copy env file for e2e
  .github/workflows/cypress-e2e-test.yaml
Due: none

chore(2700): fix pr review
  localdev/ches-mock/Dockerfile
  localdev/ches-mock/package-lock.json
  localdev/ches-mock/package.json
  localdev/ches-mock/src/config.ts
  localdev/ches-mock/src/main.ts
Due: eslint

feat(4304): add user role update function in users page
  app/app/api/users/[id]/route.ts
  app/app/api/users/[id]/schema.ts
  app/app/api/users/_operations/update.ts
  app/app/users/all/FilterPanel.tsx
  app/app/users/all/TableBody.tsx
  app/app/users/all/page.tsx
  app/components/notification/index.tsx
  app/constants/user.ts
  app/core/auth-options.ts
  app/services/backend/user.ts
  app/services/keycloak/app-realm.ts
  app/types/next-auth.d.ts
  app/types/user.ts
  app/validation-schemas/user.ts
Due: eslint-app, knip

chore(4304): fix issue displaying fetched users
  app/app/users/all/TableBody.tsx
  app/app/users/all/page.tsx
Due: eslint-app, knip

chore(2700): change accoring to pr review, remove try catch block, use variables
  app/.env.example
  localdev/ches-mock/package-lock.json
  localdev/ches-mock/package.json
  localdev/ches-mock/src/config.js
  localdev/ches-mock/src/config.ts
  localdev/ches-mock/src/main.ts
Due: eslint, knip

chore(4304): set user form values dynamically
  app/app/users/all/TableBody.tsx
  app/app/users/all/page.tsx
  app/components/generic/table/Table.tsx
Due: eslint-app, knip

chore(4304): update user roles upon backend success
  app/app/users/all/TableBody.tsx
  app/services/backend/user.ts
Due: eslint-app, knip

chore(2700): edit typo smtp
  localdev/ches-mock/src/config.js
  localdev/ches-mock/src/main.ts
Due: eslint
