Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

chore: release candidate vv0.47.1
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(5180): update user select attributes
  app/services/db/event.ts
  app/services/db/task.ts
  app/types/task.ts
Due: eslint-app, knip

chore(5059): use NEXT_VERSION directly and ensure single 'v' prefix
  .github/workflows/release-tag-changelog.yml
Due: none

chore(5059): revert branch creation commands
  .github/workflows/release-tag-changelog.yml
Due: none

chore: release candidate vv0.48.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

feat(4721): generate service account for new provision endpoint
  sandbox/keycloak-provision/config.ts
  sandbox/keycloak-provision/main.ts
Due: none

chore(5059): revert branch creation changes and correct tag version assignment
  .github/workflows/release-tag-changelog.yml
Due: none

fix(5188): resolve EA signing eMOU
  app/services/db/models/public-cloud-billing.ts
Due: eslint-app, knip

chore(5059): use bare version in determination step to avoid duplicate v prefix
  .github/workflows/release-tag-changelog.yml
Due: none

chore(5059): strip accidental 'v' from computed version
  .github/workflows/release-tag-changelog.yml
Due: none

chore(5059): remove adding 'v' in release-it
  .github/workflows/release-tag-changelog.yml
Due: none

chore(5059): update release tag pipeline
  .github/workflows/release-tag-changelog.yml
Due: none

chore(4721): use fixed provisionClientId to avoid duplicate accounts
  sandbox/keycloak-provision/config.ts
  sandbox/keycloak-provision/main.ts
Due: none

chore(5170): remove terraform version duplication
  .tool-versions
Due: none

chore: release candidate v0.48.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(4721): use service account in ennvironment variable
  sandbox/keycloak-provision/config.ts
  sandbox/keycloak-provision/main.ts
Due: none

chore(4721): generate client using keycloak package
  sandbox/keycloak-provision/main.ts
Due: none

chore(4721): create service account correctly
  sandbox/keycloak-provision/main.ts
Due: none

chore(4721): use descriptive function name
  sandbox/keycloak-provision/main.ts
Due: none

feat(4981): include additional request details for cancellations
  app/app/api/private-cloud/requests/[id]/route.ts
  app/app/api/public-cloud/requests/[id]/route.ts
  app/components/RequestStatusProgress.tsx
  app/helpers/mock-resources/private-cloud-request.ts
  app/helpers/mock-resources/public-cloud-request.ts
  app/prisma/schema.prisma
  app/services/db/includes.ts
  app/types/private-cloud.ts
  app/types/public-cloud.ts
Due: eslint-app, prisma-format, knip

chore(5170): simplify TF_VERSION extraction with bash parameter expansion
  .github/workflows/terraform-keycloak.yml
  .github/workflows/terraform-sysdig.yml
Due: none

chore(5170): fix TF_VERSION extraction to select Terraform entry
  .github/workflows/terraform-keycloak.yml
  .github/workflows/terraform-sysdig.yml
Due: none

chore(5170): install Terraform with asdf
  .github/workflows/terraform-keycloak.yml
  .github/workflows/terraform-sysdig.yml
Due: none

chore(4721): add environment variables to sandbox docker-compose
  sandbox/docker-compose.yml
  sandbox/keycloak-provision/config.ts
  sandbox/keycloak-provision/main.ts
Due: none

chore(4721): include nats-provision env variables
  sandbox/docker-compose.yml
  sandbox/nats-provision/config.ts
Due: none

feat(0000): give public admin billing privileges
  app/core/auth-options.ts
Due: eslint-app, knip

chore: release candidate v0.49.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

feat(4750): send cancellation notification emails
  app/app/api/private-cloud/requests/[id]/route.ts
  app/app/api/public-cloud/requests/[id]/route.ts
  app/emails/_templates/private-cloud/TeamRequestCancellation.tsx
  app/emails/_templates/public-cloud/TeamRequestCancellation.tsx
  app/emails/private-cloud/TeamRequestCancellation.tsx
  app/emails/public-cloud/TeamRequestCancellation.tsx
  app/services/ches/private-cloud/emails.ts
  app/services/ches/private-cloud/index.ts
  app/services/ches/public-cloud/emails.ts
  app/services/ches/public-cloud/index.ts
Due: eslint-app, knip

chore(4721): refactor kc-provision & main.ts and use string for client id
  sandbox/docker-compose.yml
  sandbox/keycloak-provision/main.ts
Due: none

chore(4750): include request type in cancellation emails
  app/emails/_templates/private-cloud/TeamRequestCancellation.tsx
  app/emails/_templates/public-cloud/TeamRequestCancellation.tsx
Due: eslint-app, knip

feat(5196): convert lower cases into upper in account coding
  app/components/shared/AccountCoding.tsx
  app/validation-schemas/public-cloud.ts
Due: eslint-app, knip

chore: release candidate v0.50.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

Path conditions:
  eslint: any of: ^(cypress|localdev)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
