Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^helm
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^helm
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: package.lock.json
- repo: local
  hooks:
  # - id: es-format
  #   name: eslint
  #   entry: .bin/eslint.sh
  #   language: script
  #   files: \.tsx?$
  #   verbose: true
  #   pass_filenames: true
  - id: python-format
    name: autopep8
    entry: .bin/autopep8.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
# - repo: https://github.com/codespell-project/codespell
#   rev: v2.2.6
#   hooks:
#   - id: codespell

exclude: ^(app/.react-email|CHANGELOG\.md)$

chore: update .next cache path
  .github/actions/setup-npm/action.yml
Due: none

chore(app): upgrade eslint related packages
  .eslintignore
  .eslintrc.json
  app/.eslintignore
  app/package-lock.json
  app/package.json
Due: knip

chore: update app dockerfile
  .dockerignore
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-test.yml
  app/Dockerfile
Due: knip

refactor(2832): enable app eslint in pre-commit
  .bin/eslint-app.sh
  .bin/eslint.sh
  .codespellrc
  .pre-commit-config.yaml
Due: bash-format

chore(ci): add 'notin' to codespell checks
  .codespellrc
Due: none

chore(ci): add ESLint to root directory
  .bin/eslint.sh
  .eslintignore
  .eslintrc.json
  .pre-commit-config.yaml
  app/.eslintignore
  app/package.json
  cypress/.eslintignore
  cypress/.eslintrc.json
  cypress/tsconfig.json
  package-lock.json
  package.json
  tsconfig.json
Due: bash-format, knip

chore(ci): add release-it bumper
  .release-it.json
  package-lock.json
  package.json
Due: none

chore(ci): specify ESLint rule in each context
  .bin/eslint-app.sh
  .bin/eslint.sh
  app/package-lock.json
  app/package.json
  package.json
Due: bash-format, knip

refactor(ci): separate build and test jobs for performance gain
  .github/workflows/test.yml
Due: none

fix(2844): fix private cloud email bugs
  app/emails/PrivateCloudAdminCreateRequest.tsx
  app/emails/PrivateCloudAdminDeleteRequest.tsx
  app/emails/PrivateCloudAdminRequest.tsx
  app/emails/_templates/private-cloud/AdminCreateRequest.tsx
  app/emails/_templates/private-cloud/AdminDeleteRequest.tsx
  app/emails/_templates/private-cloud/AdminEditRequest.tsx
  app/emails/_templates/private-cloud/EditRequest.tsx
  app/emails/_templates/private-cloud/RequestApproval.tsx
  app/emails/_templates/private-cloud/RequestRejection.tsx
  app/services/ches/private-cloud/email-handler.ts
  docs/email-scenarios-private-cloud.md
Due: knip

chore: remove debugging logs
  app/services/ches/private-cloud/email-handler.ts
Due: knip

chore(2404): update the api account workflow
  app/app/api-account/page.tsx
  app/app/api/keycloak/api-accounts/user/_operations/create.ts
  app/app/api/keycloak/api-accounts/user/_operations/delete.ts
  app/app/api/keycloak/api-accounts/user/_operations/read.ts
  app/app/api/v1/private-cloud/products/route.ts
  app/app/api/v1/public-cloud/products/route.ts
  app/components/layouts/UserMenu.tsx
  app/core/auth-options.ts
  app/services/keycloak/app-realm.ts
Due: knip

chore: fix uniq session roles issue
  app/core/auth-options.ts
Due: knip

chore: release candidate v0.26.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: update user service account naming convention
  app/app/api/keycloak/api-accounts/user/_operations/create.ts
  app/app/api/keycloak/api-accounts/user/_operations/delete.ts
  app/app/api/keycloak/api-accounts/user/_operations/read.ts
Due: knip

chore: release candidate v0.26.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(ci): update release-it configuration
  .release-it.json
Due: none

chore(ci): add VERSION file
  VERSION
Due: none

chore: remove app field in package.json
  package.json
Due: none

chore: release candidate v0.26.3
  CHANGELOG.md
  VERSION
  app/package.json
  package-lock.json
  package.json
Due: knip

chore: update release-it configuration
  .release-it.json
  Makefile
  app/package-lock.json
Due: knip

feat(2914): add provisioned date in request schemas
  app/app/api/private-cloud/provision/[licencePlate]/route.ts
  app/app/api/public-cloud/provision/[licencePlate]/route.ts
  app/prisma/schema.prisma
Due: prisma-format, knip

chore(2914): fix the lint errors
  app/components/history/PrivateHistoryItem.tsx
  app/components/history/PublicHistoryItem.tsx
  app/emails/_components/Params.ts
Due: knip

chore(ci): cache node_modules
  .github/actions/setup-npm/action.yml
Due: none

chore(ci): revert changes to cache node_modules
  .github/actions/setup-npm/action.yml
Due: none

refactor(2832): rename created to created in request schemas
  .bin/eslint.sh
  .eslintrc.root.json
  app/analytics/private-cloud/products.ts
  app/analytics/private-cloud/quota-changes.ts
  app/analytics/private-cloud/request-decision-time.ts
  app/analytics/private-cloud/requests.ts
  app/analytics/public-cloud/products.ts
  app/analytics/public-cloud/request-decision-time.ts
  app/analytics/public-cloud/requests.ts
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/list.ts
  app/app/api/private-cloud/products/[licencePlate]/requests/route.ts
  app/app/api/private-cloud/products/download/route.ts
  app/app/api/public-cloud/products/[licencePlate]/requests/route.ts
  app/app/api/public-cloud/products/download/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/comments/page.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/history/page.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/security/acs/Images.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/history/page.tsx
  app/components/form/TestProductBox.tsx
  app/components/history/PrivateHistoryItem.tsx
  app/components/history/PublicHistoryItem.tsx
  app/components/table/TableBodyPrivateProducts.tsx
  app/components/table/TableBodyPrivateRequests.tsx
  app/components/table/TableBodyPublicProducts.tsx
  app/components/table/TableBodyPublicRequests.tsx
  app/core/services/user.ts
  app/emails/_components/Params.ts
  app/prisma/schema.prisma
  app/prisma/seed.ts
  app/queries/types.ts
  app/request-actions/private-cloud/edit-request.ts
  app/request-actions/public-cloud/edit-request.ts
  data-migrations/migrations/20240514162736-populate_origin_data_field_public.js.js
  data-migrations/migrations/20240514162825-populate_origin_data_field_private.js.js
  data-migrations/migrations/20240530173214-rename_created_to_createdat.js
  localdev/docker-compose.yml
  package.json
Due: prisma-format, bash-format, knip

chore(ci): cache cypress directory
  .github/actions/setup-npm/action.yml
  .github/workflows/cypress-e2e-test.yaml
Due: none

chore: update migration script to change created date
  data-migrations/migrations/20240530173214-rename_created_to_createdat.js
  data-migrations/migrations/20240530173215-rename_created_to_createdat.js
Due: none

chore: fix typo
  data-migrations/migrations/20240530173215-rename_created_to_createdat.js
Due: none

chore: ensure dev deployment on data-migrations changes
  .github/workflows/deploy-dev.yml
Due: none

chore(ci): update cypress pipeline
  .github/workflows/cypress-e2e-test.yaml
Due: none

chore(e2e): update cypress configuration
  cypress/cypress.config.ts
  cypress/cypress.json
Due: none

chore(e2e): move cypress dependencies in root directory
  .codespellrc
  .github/actions/setup-npm/action.yml
  .github/workflows/cypress-e2e-test.yaml
  cypress.config.ts
  cypress/package-lock.json
  cypress/package.json
  cypress/tsconfig.json
  package-lock.json
  package.json
Due: none

refactor(2032): move security dashboard to root directory
  security-dashboard/airflow/Dockerfile
  security-dashboard/airflow/requirements.txt
  security-dashboard/sonarscan/Dockerfile
  security-dashboard/sonarscan/entrypoint.sh
  security-dashboard/sonarscan/example-search-history.json
  security-dashboard/zap/Dockerfile
  security-dashboard/zap/entrypoint.sh
Due: bash-format

feat: label for private product and request dashboards, is test filter for private requests
  app/app/api/private-cloud/requests/_operations/search.ts
  app/app/api/private-cloud/requests/search/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/layout.tsx
  app/app/private-cloud/products/all/FilterPanel.tsx
  app/app/private-cloud/requests/(request)/[id]/layout.tsx
  app/app/private-cloud/requests/all/FilterPanel.tsx
  app/components/form/ProductBadge.tsx
  app/components/form/ProjectDescriptionPrivate.tsx
  app/components/form/RequestBadge.tsx
  app/components/form/TestProductBox.tsx
  app/components/table/TableBodyPrivateProducts.tsx
  app/components/table/TableBodyPrivateRequests.tsx
  app/package-lock.json
  app/queries/private-cloud-requests.ts
Due: knip

refactor(2404): move service account verification logic into core
  app/app/api/v1/private-cloud/products/route.ts
  app/app/api/v1/public-cloud/products/route.ts
  app/core/api-handler.ts
  app/jest.config.mjs
  app/jest.setup.js
  app/package.json
  app/services/keycloak/app-realm.ts
Due: knip

fix: run build error with no isTest for public cloud products
  app/app/public-cloud/requests/(request)/[id]/layout.tsx
  app/components/form/RequestBadge.tsx
Due: knip

chore: after review fixies
  app/app/private-cloud/requests/(request)/[id]/layout.tsx
  app/app/public-cloud/requests/(request)/[id]/layout.tsx
  app/components/form/RequestBadge.tsx
  app/components/table/TableBodyPrivateProducts.tsx
Due: knip

chore: revert the grid spans in private table
  app/components/table/TableBodyPrivateProducts.tsx
Due: knip
