Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^(helm|mkdocs\.yml)$
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^(helm)$
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    exclude: .git/COMMIT_EDITMSG
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: ^(sandbox/mock-users\.json|sandbox/m365proxy/mocks\.json|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: .bin/eslint.sh
    language: script
    files: ^(cypress|sandbox)/.*\.(js|ts)$
    verbose: true
    pass_filenames: true
  - id: eslint-app
    name: eslint-app
    entry: .bin/eslint-app.sh
    language: script
    files: ^app/.*\.(ts|tsx)$
    verbose: true
    pass_filenames: true
  - id: python-format
    name: black
    entry: .bin/black.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
  - id: commitlint
    name: commitlint
    entry: .bin/commitlint.sh
    language: script
    verbose: true
    pass_filenames: false
    stages: [commit-msg]
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    exclude: .git/COMMIT_EDITMSG

exclude: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$

chore(2951): preserve GPU quota when regular users edit resources
  app/app/api/private-cloud/products/_operations/update.test.ts
  app/app/api/private-cloud/products/_operations/update.ts
  app/helpers/quota-change.ts
Due: eslint-app, knip

fix(finance): split forecast helpers for Sonar complexity
  app/services/db/public-cloud-forecast.ts
Due: eslint-app, knip

fix(finance): retry CSP 429s and reduce ingest fan-out
  app/.env.example
  app/package.json
  app/services/bank-of-canada/usd-cad-rate.test.ts
  app/services/bank-of-canada/usd-cad-rate.ts
  app/services/public-cloud-finance/ingest/aws-cost-explorer.ts
  app/services/public-cloud-finance/ingest/azure-cost-query.test.ts
  app/services/public-cloud-finance/ingest/azure-cost-query.ts
  app/services/public-cloud-finance/ingest/http-retry.test.ts
  app/services/public-cloud-finance/ingest/http-retry.ts
  app/services/public-cloud-finance/ingest/real-sources.live.test.ts
  app/services/public-cloud-finance/ingest/real-sources.ts
  app/services/public-cloud-finance/ingest/types.ts
  docs/business-logic/public-cloud/finance-reporting.md
Due: eslint-app, knip

fix(finance): clear Sonar smells on ingest retry helpers
  app/services/public-cloud-finance/ingest/azure-cost-query.ts
  app/services/public-cloud-finance/ingest/http-retry.ts
Due: eslint-app, knip

fix(finance): require finance preview on product actuals APIs
  app/app/api/public-cloud/products/[licencePlate]/finance/route.ts
  app/app/api/public-cloud/products/[licencePlate]/finance/variance-notes/route.ts
Due: eslint-app, knip

fix(finance): keep forecast APIs from leaking estate actuals
  app/app/api/public-cloud/forecast/export/route.ts
  app/app/api/public-cloud/forecast/route.ts
  app/services/db/public-cloud-forecast.ts
Due: eslint-app, knip

fix(finance): treat missing ingest as unknown and backfill holes
  app/app/api/public-cloud/finance/ingest/missing/route.ts
  app/app/public-cloud/finance/anomalies/page.tsx
  app/app/public-cloud/finance/coverage/page.tsx
  app/app/public-cloud/finance/page.tsx
  app/app/public-cloud/finance/rankings/page.tsx
  app/app/public-cloud/finance/unmatched/page.tsx
  app/app/public-cloud/forecast/page.tsx
  app/components/public-cloud/finance/FinanceQueryError.tsx
  app/components/public-cloud/finance/finance-measure-utils.ts
  app/components/public-cloud/forecast/ProjectBudgetForecastPanel.tsx
  app/components/public-cloud/sections/PublicCloudForecastSection.tsx
  app/helpers/finance-export.ts
  app/services/backend/public-cloud/finance.ts
  app/services/db/public-cloud-finance.ts
  app/services/public-cloud-finance/finance-measure-utils.test.ts
  app/services/public-cloud-finance/ingest/azure-cost-query.test.ts
  app/services/public-cloud-finance/ingest/azure-cost-query.ts
  app/services/public-cloud-finance/ingest/missing-periods.test.ts
  app/services/public-cloud-finance/ingest/missing-periods.ts
  app/services/public-cloud-finance/ingest/real-sources.ts
  app/validation-schemas/cloud-cost.ts
  docs/business-logic/public-cloud/finance-reporting.md
  helm/tools/dags/_finance_ingest.py
  helm/tools/dags/public_cloud_finance_ingest_dev.py
  helm/tools/dags/public_cloud_finance_ingest_prod.py
  helm/tools/dags/public_cloud_finance_ingest_test.py
Due: eslint-app, python-format, knip

fix(finance): ignore actuals before a product existed
  .kube-linter.yaml
  app/app/api/public-cloud/products/[licencePlate]/finance/route.ts
  app/components/public-cloud/finance/finance-measure-utils.ts
  app/components/public-cloud/forecast/ProjectBudgetForecastPanel.tsx
  app/components/public-cloud/sections/PublicCloudForecastSection.tsx
  app/services/db/public-cloud-finance.ts
  app/services/public-cloud-finance/finance-measure-utils.test.ts
  app/services/public-cloud-finance/ingest/run-ingest.ts
  app/services/public-cloud-finance/product-billing-start.test.ts
  app/services/public-cloud-finance/product-billing-start.ts
  docs/business-logic/public-cloud/finance-reporting.md
  helm/_app/templates/deployment.yaml
Due: eslint-app, knip

fix(finance): clear Sonar nested ternaries and snapshot complexity
  app/app/public-cloud/finance/anomalies/page.tsx
  app/app/public-cloud/finance/coverage/page.tsx
  app/app/public-cloud/finance/page.tsx
  app/app/public-cloud/finance/rankings/page.tsx
  app/app/public-cloud/finance/unmatched/page.tsx
  app/app/public-cloud/forecast/page.tsx
  app/components/public-cloud/finance/FinanceQueryState.tsx
Due: eslint-app, knip

chore(2951): verify GPU quota is preserved for regular users
  app/app/api/private-cloud/products/_operations/update.test.ts
  app/helpers/quota-change.ts
Due: eslint-app, knip

fix(finance): keep FX cents, batch ingest writes, and stable flag ages
  app/services/exchange-rates/index.test.ts
  app/services/exchange-rates/index.ts
  app/services/public-cloud-finance/ingest/evaluate-flags.test.ts
  app/services/public-cloud-finance/ingest/evaluate-flags.ts
  app/services/public-cloud-finance/ingest/run-ingest.ts
Due: eslint-app, knip

fix(finance): lock ingest, attach unmatched, and make totals like-for-like
  app/app/api/public-cloud/finance/export/route.ts
  app/app/api/public-cloud/finance/ingest/missing/route.ts
  app/app/api/public-cloud/finance/ingest/route.ts
  app/app/public-cloud/finance/anomalies/page.tsx
  app/app/public-cloud/finance/coverage/page.tsx
  app/app/public-cloud/finance/export/page.tsx
  app/app/public-cloud/finance/page.tsx
  app/app/public-cloud/finance/rankings/page.tsx
  app/app/public-cloud/finance/unmatched/page.tsx
  app/app/public-cloud/forecast/page.tsx
  app/components/public-cloud/finance/finance-measure-utils.ts
  app/components/public-cloud/forecast/ProjectBudgetForecastPanel.tsx
  app/helpers/finance-export.ts
  app/prisma/schema.prisma
  app/services/db/public-cloud-finance.ts
  app/services/public-cloud-finance/active-spend.ts
  app/services/public-cloud-finance/billing-account-links.ts
  app/services/public-cloud-finance/finance-measure-utils.test.ts
  app/services/public-cloud-finance/ingest/evaluate-flags.ts
  app/services/public-cloud-finance/ingest/missing-periods.test.ts
  app/services/public-cloud-finance/ingest/missing-periods.ts
  app/services/public-cloud-finance/ingest/real-sources.ts
  app/services/public-cloud-finance/ingest/run-ingest.ts
  app/services/public-cloud-finance/ingest/unmatched-reconcile.test.ts
  app/services/public-cloud-finance/ingest/unmatched-reconcile.ts
  app/services/public-cloud-finance/monthly-fx-rate.ts
Due: eslint-app, prisma-format, knip

fix(finance): supersede before rewrite and keep Other-row actuals honest
  app/app/api/public-cloud/finance/anomalies/[id]/review/route.ts
  app/app/api/public-cloud/finance/unmatched/[id]/resolve/route.ts
  app/app/api/public-cloud/products/[licencePlate]/finance/variance-notes/route.ts
  app/app/public-cloud/finance/anomalies/page.tsx
  app/app/public-cloud/finance/coverage/page.tsx
  app/app/public-cloud/finance/export/page.tsx
  app/app/public-cloud/finance/page.tsx
  app/app/public-cloud/finance/rankings/page.tsx
  app/app/public-cloud/finance/unmatched/page.tsx
  app/app/public-cloud/forecast/page.tsx
  app/components/public-cloud/finance/FinancePreviewDisabled.tsx
  app/helpers/platform-forecast-export.ts
  app/services/public-cloud-finance/billing-account-links.ts
  app/services/public-cloud-finance/finance-measure-utils.test.ts
  app/services/public-cloud-finance/ingest/azure-cost-query.test.ts
  app/services/public-cloud-finance/ingest/azure-cost-query.ts
  app/services/public-cloud-finance/ingest/evaluate-flags.ts
  app/services/public-cloud-finance/ingest/partition-lines.test.ts
  app/services/public-cloud-finance/ingest/partition-lines.ts
  app/services/public-cloud-finance/ingest/real-sources.ts
  app/services/public-cloud-finance/ingest/run-ingest.ts
  docs/business-logic/public-cloud/finance-reporting.md
Due: eslint-app, knip

fix(finance): reject classic AWS on real Cost Explorer ingest
  app/app/api/public-cloud/finance/ingest/route.ts
  app/services/db/public-cloud-finance.ts
  app/services/public-cloud-finance/ingest/missing-periods.test.ts
  app/services/public-cloud-finance/ingest/missing-periods.ts
  app/services/public-cloud-finance/ingest/run-ingest.ts
  app/validation-schemas/cloud-cost.ts
Due: eslint-app, knip

fix(finance): ingest real AWS spend as AWS_LZA only
  app/app/api/public-cloud/finance/ingest/route.ts
  app/seed/finance-ingest-live.ts
  app/services/public-cloud-finance/ingest/missing-periods.test.ts
  app/services/public-cloud-finance/ingest/missing-periods.ts
  app/services/public-cloud-finance/ingest/real-sources.ts
  app/services/public-cloud-finance/ingest/run-ingest.ts
  docs/business-logic/public-cloud/finance-reporting.md
Due: eslint-app, knip

fix(finance): keep Azure currency honest and cover ingest routes
  app/app/api/public-cloud/finance/anomalies/[id]/review/route.test.ts
  app/app/api/public-cloud/finance/ingest/route.test.ts
  app/app/api/public-cloud/finance/ingest/route.ts
  app/app/api/public-cloud/finance/unmatched/[id]/resolve/route.test.ts
  app/services/api-test/public-cloud/finance.ts
  app/services/db/public-cloud-finance.ts
  app/services/public-cloud-finance/active-spend.ts
  app/services/public-cloud-finance/ingest/azure-cost-query.test.ts
  app/services/public-cloud-finance/ingest/azure-cost-query.ts
  app/services/public-cloud-finance/ingest/evaluate-flags.ts
  app/services/public-cloud-finance/ingest/ingest-errors.test.ts
  app/services/public-cloud-finance/ingest/ingest-errors.ts
  app/services/public-cloud-finance/ingest/real-sources.ts
Due: eslint-app, knip

fix(finance): lock ingest without Mongo nulls and keep scoped spend honest
  app/app/api/public-cloud/finance/ingest/route.test.ts
  app/app/api/public-cloud/finance/unmatched/[id]/resolve/route.test.ts
  app/components/public-cloud/finance/finance-measure-utils.ts
  app/jest.setup.ts
  app/prisma/schema.prisma
  app/seed/seed-finance-local.ts
  app/services/db/public-cloud-finance.ts
  app/services/public-cloud-finance/finance-measure-utils.test.ts
  app/services/public-cloud-finance/ingest/aws-cost-explorer.ts
  app/services/public-cloud-finance/ingest/azure-cost-query.test.ts
  app/services/public-cloud-finance/ingest/ingest-errors.test.ts
  app/services/public-cloud-finance/ingest/ingest-errors.ts
  app/services/public-cloud-finance/ingest/ingest-lock.test.ts
  app/services/public-cloud-finance/ingest/ingest-lock.ts
  app/services/public-cloud-finance/ingest/missing-periods.test.ts
  app/services/public-cloud-finance/ingest/missing-periods.ts
  app/services/public-cloud-finance/ingest/partition-lines.test.ts
  app/services/public-cloud-finance/ingest/partition-lines.ts
  app/services/public-cloud-finance/ingest/real-sources.ts
  app/services/public-cloud-finance/ingest/run-ingest.ts
  docs/business-logic/public-cloud/finance-reporting.md
Due: eslint-app, prisma-format, knip

fix(finance): split ranking and export helpers for Sonar complexity
  app/helpers/finance-export.ts
  app/services/db/public-cloud-finance.ts
  app/services/public-cloud-finance/ingest/evaluate-flags.ts
  app/services/public-cloud-finance/ingest/real-sources.ts
Due: eslint-app, knip

fix(finance): address Copilot ingest lock, FX, and actuals gaps
  app/app/public-cloud/forecast/page.tsx
  app/components/public-cloud/forecast/ProjectBudgetForecastPanel.tsx
  app/components/public-cloud/forecast/forecast-grid-utils.test.ts
  app/components/public-cloud/forecast/forecast-grid-utils.ts
  app/helpers/platform-forecast-export.ts
  app/jest.setup.ts
  app/seed/seed-finance-local.ts
  app/services/db/public-cloud-forecast.ts
  app/services/public-cloud-finance/ingest/evaluate-flags.test.ts
  app/services/public-cloud-finance/ingest/evaluate-flags.ts
  app/services/public-cloud-finance/ingest/ingest-lock.test.ts
  app/services/public-cloud-finance/ingest/ingest-lock.ts
  app/services/public-cloud-finance/ingest/real-sources.ts
  app/services/public-cloud-finance/ingest/run-ingest.ts
  app/services/public-cloud-finance/ingest/unmatched-reconcile.test.ts
  app/services/public-cloud-finance/ingest/unmatched-reconcile.ts
  app/services/public-cloud-finance/monthly-fx-rate.ts
  app/validation-schemas/cloud-cost.ts
  docs/business-logic/public-cloud/finance-reporting.md
Due: eslint-app, knip

fix(finance): simplify local seed month walk for Sonar
  app/seed/seed-finance-local.ts
Due: eslint-app, knip

fix(finance): typecheck forecast totals and Prisma nulls
  app/app/public-cloud/forecast/page.tsx
  app/components/public-cloud/finance/finance-measure-utils.ts
  app/services/public-cloud-finance/ingest/evaluate-flags.ts
  app/services/public-cloud-finance/ingest/unmatched-reconcile.ts
Due: eslint-app, knip

chore(3052): group Prisma dependencies in Renovate
  renovate.json
Due: none

chore(3043): update pnpm in Dockerfiles with Renovate
  renovate.json
Due: none

chore(3043): revert pnpm version
  renovate.json
Due: none

fix(3000): migrate DataTable to TanStack Table v9
  app/components/generic/data-table/DataTable.tsx
  app/components/generic/data-table/Pagination.tsx
  app/components/generic/data-table/features.ts
  app/package.json
  pnpm-lock.yaml
Due: eslint-app, knip

fix(3000): align TanStack Table package versions
  app/components/generic/data-table/DataTable.tsx
  app/components/generic/data-table/Pagination.tsx
  app/package.json
  pnpm-lock.yaml
Due: eslint-app, knip

fix(3000): address Sonar warnings in DataTable components
  app/components/generic/data-table/DataTable.tsx
  app/package.json
  pnpm-lock.yaml
Due: eslint-app, knip

chore(3051): remove the IDIR broken link from the Registry Home Page
  app/components/Landing.tsx
Due: eslint-app, knip

chore(3056): add Copyable Project ID to Product Edit Page
  app/components/private-cloud/ProductBadge.tsx
  app/components/public-cloud/ProductBadge.tsx
  app/components/shared/IdBadge.tsx
Due: eslint-app, knip

chore(3056): mark the props of the component as read-only
  app/components/shared/IdBadge.tsx
Due: eslint-app, knip

chore(3056): change padding to margin
  app/components/shared/IdBadge.tsx
Due: eslint-app, knip

fix(0000): migrate pnpm config and allow parcel watcher builds
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(3058): prevent editing inactive cloud products
  app/components/shared/AdditionalTeamMembers.tsx
  app/services/db/models/private-cloud-product.ts
  app/services/db/models/public-cloud-product.ts
Due: eslint-app, knip

chore(3058): remove redundant console.log
  app/components/shared/AdditionalTeamMembers.tsx
  app/services/db/models/public-cloud-product.ts
Due: eslint-app, knip

Potential fix for pull request finding
  app/components/shared/AdditionalTeamMembers.tsx
Due: eslint-app, knip

chore(3058): fix formating
  app/components/shared/AdditionalTeamMembers.tsx
Due: eslint-app, knip

fix(finance): split ingest helpers for Sonar and typecheck Forge seed
  app/seed/seed-demo-products.ts
  app/seed/seed-forge-finance-local.ts
  app/services/public-cloud-finance/ingest/trigger-airflow-dag.test.ts
  helm/tools/dags/_aws_cost_explorer.py
  helm/tools/dags/_azure_cost_query.py
Due: eslint-app, python-format, knip

fix(finance): isolate provider ingest and drop persist scope
  app/app/api/public-cloud/finance/ingest/missing/route.test.ts
  app/app/public-cloud/finance/page.tsx
  app/seed/seed-forge-finance-local.ts
  app/services/backend/public-cloud/finance.ts
  app/services/public-cloud-finance/ingest/missing-periods.test.ts
  app/services/public-cloud-finance/ingest/normalize-source-lines.test.ts
  app/services/public-cloud-finance/ingest/normalize-source-lines.ts
  app/services/public-cloud-finance/ingest/persist-billing-period.test.ts
  app/services/public-cloud-finance/ingest/persist-billing-period.ts
  app/services/public-cloud-finance/ingest/types.ts
  docs/business-logic/public-cloud/finance-reporting.md
  helm/tools/dags/_aws_cost_explorer.py
  helm/tools/dags/_azure_cost_query.py
  helm/tools/dags/_finance_ingest.py
  helm/tools/tests/test_aws_cost_explorer.py
  helm/tools/tests/test_azure_cost_query.py
  helm/tools/tests/test_finance_ingest.py
Due: eslint-app, python-format, knip

feat(finance): ingest the current month and include it in FYTD
  .gitignore
  app/app/api/public-cloud/finance/ingest/missing/route.test.ts
  app/app/api/public-cloud/finance/ingest/missing/route.ts
  app/app/public-cloud/finance/page.tsx
  app/app/public-cloud/finance/unmatched/page.tsx
  app/components/public-cloud/finance/finance-measure-utils.ts
  app/services/db/public-cloud-finance.ts
  app/services/public-cloud-finance/finance-measure-utils.test.ts
  app/services/public-cloud-finance/ingest/evaluate-flags.test.ts
  app/services/public-cloud-finance/ingest/evaluate-flags.ts
  app/services/public-cloud-finance/ingest/missing-periods.test.ts
  app/services/public-cloud-finance/ingest/missing-periods.ts
  app/services/public-cloud-finance/monthly-fx-rate.test.ts
  app/services/public-cloud-finance/monthly-fx-rate.ts
  docs/business-logic/public-cloud/finance-reporting.md
  helm/tools/dags/_azure_cost_query.py
  helm/tools/dags/_finance_ingest.py
  helm/tools/tests/test_azure_cost_query.py
  helm/tools/tests/test_finance_ingest.py
Due: eslint-app, python-format, knip
