Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^helm
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^helm
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: package.lock.json
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: .bin/eslint.sh
    language: script
    files: ^(cypress|localdev)/.*\.(js|ts)$
    verbose: true
    pass_filenames: true
  - id: eslint-app
    name: eslint-app
    entry: .bin/eslint-app.sh
    language: script
    files: ^app/.*\.(ts|tsx)$
    verbose: true
    pass_filenames: true
  - id: python-format
    name: black
    entry: .bin/black.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.18.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
exclude: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$

feat(4829): change maintenancedeployment file name and image-name
  .github/workflows/build-push-maintenance.yml
  maintenance/static/index.html
Due: none

feat(4870): improve admin billing page
  Makefile
  app/app/api/billing/search/route.ts
  app/app/billing/all/FilterPanel.tsx
  app/app/billing/all/TableBody.tsx
  app/app/billing/all/page.tsx
  app/components/generic/KeyValueTable.tsx
  app/helpers/emou.ts
  app/services/backend/billing.ts
  app/services/db/billing.ts
  app/types/billing.ts
Due: eslint-app, knip

chore(4829) use explicit path in Dockerfile
  .github/workflows/build-push-maintenance.yml
  maintenance/Dockerfile
Due: none

chore(4829) correct branch name
  .github/workflows/build-push-maintenance.yml
Due: none

chore(4829) add file structure step to deploy
  .github/workflows/build-push-maintenance.yml
Due: none

chore(4829) add deploy step verify files
  .github/workflows/build-push-maintenance.yml
Due: none

chore(4829) add to maintenance to dockerignore file
  .dockerignore
  .github/workflows/build-push-maintenance.yml
Due: none

chore(4870): display billing download button iff approved
  app/app/billing/all/TableBody.tsx
Due: eslint-app, knip

chore(4870): use AWS for AWS_LZA products
  app/services/backend/billing.ts
Due: eslint-app, knip

chore(4870): navigate to requests' request page
  app/app/api/billing/search/route.ts
Due: eslint-app, knip

chore(4829) remove feature branch from workflow file
  .github/workflows/build-push-maintenance.yml
Due: none

chore(4829): update maintenance deployment docker context
  .github/workflows/build-push-maintenance.yml
Due: none

chore(4829): remove trailing slash from Docker build context
  .github/workflows/build-push-maintenance.yml
Due: none

chore(4829): revert COPY paths in maintenance/Dockerfile
  maintenance/Dockerfile
Due: none

chore(4829): set correct Docker build context and file path
  .github/workflows/build-push-maintenance.yml
Due: none

feat(4842): add helm files for maintenance mode
  .dockerignore
  .github/workflows/build-push-maintenance.yml
  .github/workflows/deploy-maintenance.yml
  helm/_app/templates/deployment-maintenance.yaml
  helm/_app/templates/deployment.yaml
  helm/_app/templates/route.yaml
  helm/_app/templates/service-maintenance.yaml
  helm/_app/values.yaml
  helm/main/Makefile
  helm/main/values.yaml
Due: knip

feat(4845): add email resend button in admin tasks page
  app/app/api/public-cloud/products/[licencePlate]/sign-mou/route.ts
  app/app/api/tasks/[id]/resend/route.ts
  app/app/tasks/all/TableBody.tsx
  app/constants/user.ts
  app/core/auth-options.ts
  app/services/backend/tasks.ts
  app/services/db/private-cloud-request.ts
  app/services/db/tasks/index.ts
  app/services/db/tasks/review-private-cloud-request.ts
  app/services/db/tasks/review-public-cloud-mou.ts
  app/services/db/tasks/review-public-cloud-request.ts
  app/services/db/tasks/sign-public-cloud-mou.ts
  app/types/next-auth.d.ts
Due: eslint-app, knip

refactor(4869): add sharable additional team members component
  app/components/private-cloud/sections/AdditionalTeamMembers.tsx
  app/components/private-cloud/sections/FormWebhooks.tsx
  app/components/public-cloud/sections/AdditionalTeamMembers.tsx
  app/components/shared/AdditionalTeamMembers.tsx
  app/components/users/UserProfile.tsx
Due: eslint-app, knip

chore: release candidate v0.43.11
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

fix(4872): fix deleting create request with initial account coding
  app/app/api/public-cloud/products/[licencePlate]/review-mou/route.ts
  app/app/api/public-cloud/products/_operations/create.ts
  app/app/api/public-cloud/products/_operations/update.ts
  app/app/api/public-cloud/requests/[id]/route.ts
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/requests/(request)/[id]/original/page.tsx
  app/app/public-cloud/requests/(request)/[id]/page.tsx
  app/components/billing/PublicCloudBillingDownloadButton.tsx
  app/components/billing/PublicCloudBillingInfo.tsx
  app/components/modal/publicCloudProductEditSubmit.tsx
  app/emails/_components/ProviderDetails.tsx
  app/emails/_components/public-cloud/Changes.tsx
  app/emails/_templates/public-cloud/BillingReviewerMou.tsx
  app/emails/_templates/public-cloud/EmouServiceAgreement.tsx
  app/emails/_templates/public-cloud/ExpenseAuthorityMou.tsx
  app/emails/_templates/public-cloud/ExpenseAuthorityMouProduct.tsx
  app/prisma/schema.prisma
  app/services/ches/public-cloud/emails.ts
  app/services/db/tasks/review-public-cloud-mou.ts
  app/services/db/tasks/sign-public-cloud-mou.ts
  app/services/nats/public-cloud/index.ts
Due: eslint-app, prisma-format, knip

chore(4829) add to maintenance to dockerignore file
  .github/workflows/build-push-maintenance.yml
Due: none

feat(4842): add helm files for maintenance mode
  helm/_app/templates/deployment-maintenance.yaml
  helm/_app/templates/deployment.yaml
  helm/_app/templates/route.yaml
  helm/_app/templates/service-maintenance.yaml
  helm/_app/values.yaml
  helm/main/values.yaml
Due: knip

chore(4842): refactor helm chart structure for deploying the maintenance mode
  helm/_app/templates/deployment-maintenance.yaml
  helm/_app/templates/deployment.yaml
  helm/_app/templates/route.yaml
  helm/_app/templates/service-maintenance.yaml
  helm/_app/values.yaml
  helm/main/values.yaml
Due: knip

chore(4842): remove redundant app.kubernetes.io/instance label from deployment templates
  helm/_app/templates/deployment-maintenance.yaml
  helm/_app/templates/deployment.yaml
Due: knip

chore(4842): remove extra space
  helm/_app/templates/deployment.yaml
Due: knip

feat(4912): enhance admin event page
  app/app/billing/all/FilterPanel.tsx
  app/app/billing/all/TableBody.tsx
  app/app/events/all/FilterPanel.tsx
  app/app/events/all/TableBody.tsx
  app/app/events/all/state.ts
  app/app/layout.tsx
  app/components/generic/select/FormDateRangePicker.tsx
  app/components/generic/select/FormUserPicker.tsx
  app/components/modal/DateRangePicker.tsx
  app/components/modal/userPicker.tsx
  app/components/private-cloud/sections/FormWebhooks.tsx
  app/components/users/UserProfile.tsx
  app/package.json
  app/pnpm-lock.yaml
  app/services/db/event.ts
  app/utils/js/date.ts
  app/validation-schemas/event.ts
Due: eslint-app, knip

chore(4912): update the order of admin menus
  app/app/events/all/FilterPanel.tsx
  app/app/events/all/TableBody.tsx
  app/components/layouts/UserMenu.tsx
Due: eslint-app, knip

chore(deps): update dependency knip to v5.44.1
  app/.knip.json
  app/package.json
  app/pnpm-lock.yaml
  package.json
Due: knip
