Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^helm
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^helm
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: package.lock.json
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: .bin/eslint.sh
    language: script
    files: ^(cypress|localdev)/.*\.(js|ts)$
    verbose: true
    pass_filenames: true
  - id: eslint-app
    name: eslint-app
    entry: .bin/eslint-app.sh
    language: script
    files: ^app/.*\.(ts|tsx)$
    verbose: true
    pass_filenames: true
  - id: python-format
    name: black
    entry: .bin/black.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.18.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
exclude: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$

chore(5169): update knip configuration
  app/.knip.json
Due: knip

feat(4966): deprecate Bootstrap library in maintainance page
  maintenance/nginx.conf
  maintenance/static/index.html
  maintenance/static/style.css
Due: none

feat(4851): make webhook visible and editable for global roles accordingly
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/constants/user.ts
  app/core/auth-options.ts
  app/services/db/models/private-cloud-product-webhook.ts
  app/types/next-auth.d.ts
Due: eslint-app, knip

chore(4966): update the maintenance Helm chart
  helm/_app/templates/deployment-maintenance.yaml
  helm/_app/values.yaml
  helm/main/templates/mongodb-backup.yaml
  helm/main/values.yaml
Due: knip

chore(4851): revert variable name
  app/services/db/models/private-cloud-product-webhook.ts
Due: eslint-app, knip

chore(4851): revise baseFilter and decorate webhook functions for readability and maintainability
  app/services/db/models/private-cloud-product-webhook.ts
Due: eslint-app, knip

chore(4851): rename project to product
  app/services/db/models/private-cloud-product-webhook.ts
Due: eslint-app, knip

chore(4851): rename permissions for webhook to cloud specific
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/constants/user.ts
  app/core/auth-options.ts
  app/services/db/models/private-cloud-product-webhook.ts
  app/types/next-auth.d.ts
Due: eslint-app, knip

chore(4851): remove redundant import
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
Due: eslint-app, knip

chore(4851): make webhook editable for team members and role permissions
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
Due: eslint-app, knip

chore(4851): move webhook permission logic into SiloAccordion
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/components/private-cloud/SiloAccordion.tsx
  app/constants/user.ts
  app/core/auth-options.ts
  app/services/db/models/private-cloud-product-webhook.ts
  app/types/next-auth.d.ts
Due: eslint-app, knip

chore(0000): update product document permissions
  app/services/db/models/private-cloud-request.ts
  app/services/db/models/public-cloud-request.ts
Due: eslint-app, knip

feat(5092): add artifactory project to pre-deletion check
  app/app/api/private-cloud/products/[licencePlate]/deletion-check/route.ts
  app/components/modal/privateCloudProductDelete.tsx
  app/helpers/openshift.ts
Due: eslint-app, knip

chore(5092): remove redundant variable assigning
  app/app/api/private-cloud/products/[licencePlate]/deletion-check/route.ts
Due: eslint-app, knip

feat(4721): update nats-provision with new provision api
  app/core/api-handler.ts
  sandbox/docker-compose.yml
  sandbox/nats-provision/config.ts
  sandbox/nats-provision/main.ts
Due: eslint-app, knip

feat(4980): add user profile modal
  app/app/api/users/[id]/route.ts
  app/components/UserCard.tsx
  app/components/generic/button/MailLink.tsx
  app/components/modal/userDetail.tsx
  app/components/users/UserProfile.tsx
  app/helpers/user.ts
  app/prisma/schema.prisma
  app/services/backend/user.ts
  app/types/user.ts
  sandbox/nats-provision/main.ts
Due: eslint-app, prisma-format, knip

chore: release candidate v0.51.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(4721): skip token verificaition for local
  app/core/api-handler.ts
  app/jest.setup.ts
  app/utils/node/jwt.ts
Due: eslint-app, knip

chore(4721): log response for nats provision
  sandbox/nats-provision/main.ts
Due: none

chore(4721): remove unused imports from nats-provision
  sandbox/nats-provision/main.ts
Due: none

chore(4851): display/disable webhook section based on backend permissions
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/components/private-cloud/SiloAccordion.tsx
  app/components/private-cloud/sections/FormWebhooks.tsx
  app/helpers/product.ts
  app/services/backend/private-cloud/webhooks.ts
  app/services/db/models/private-cloud-product-webhook.ts
Due: eslint-app, knip

feat(4721): update airflow with new provision api endpoint
  helm/tools/dags/_mark_provisioned.py
  helm/tools/dags/provisioner_prod.py
  helm/tools/dags/provisioner_test.py
Due: python-format

chore(4721): refactor mark provision airflow file
  helm/tools/dags/_mark_provisioned.py
Due: python-format

chore(4721): hardcode url and nullify json body
  helm/tools/dags/_mark_provisioned.py
  helm/tools/dags/provisioner_prod.py
  helm/tools/dags/provisioner_test.py
Due: python-format

chore(5092): rename variables accordingly for artifactory check function
  app/app/api/private-cloud/products/[licencePlate]/deletion-check/route.ts
  app/components/modal/privateCloudProductDelete.tsx
  app/helpers/openshift.ts
  app/types/private-cloud.ts
Due: eslint-app, knip

chore(5092): revert hardcoded variables for openshiftDeletionCheck
  app/app/api/private-cloud/products/[licencePlate]/deletion-check/route.ts
  app/helpers/openshift.ts
Due: eslint-app, knip

feat(4743): show users with incomplete idir profile
  app/components/modal/userPicker.tsx
  app/services/msgraph/index.ts
Due: eslint-app, knip

chore(4743): filter condiitons first before iterating
  app/components/modal/userPicker.tsx
Due: eslint-app, knip

chore(4743): create users with only idir & upn on search
  app/app/api/msgraph/search/route.ts
Due: eslint-app, knip

chore(4743): remove unused console log
  app/app/api/msgraph/search/route.ts
Due: eslint-app, knip

feat(5257): add tooltip for emerald cluster namespace subnets
  app/components/private-cloud/sections/Quotas.tsx
Due: eslint-app, knip

chore(4743): rename function for syncing users
  app/app/api/msgraph/search/route.ts
Due: eslint-app, knip

chore(4743): remove redundant checks
  app/app/api/msgraph/search/route.ts
Due: eslint-app, knip

chore(4743): remove unused imports
  app/app/api/msgraph/search/route.ts
Due: eslint-app, knip

chore(5041): rename publicCloudProject to publicCloudProduct and privateCloudProject to privateCloudProduct
  CHANGELOG.md
  app/app/api/admin/private-cloud/products/_operations/update.ts
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/list.ts
  app/app/api/private-cloud/products/[licencePlate]/count/_operations/count.ts
  app/app/api/private-cloud/products/download/route.test.ts
  app/app/api/private-cloud/products/search/route.test.ts
  app/app/api/private-cloud/provision/[licencePlate]/route.ts
  app/app/api/private-cloud/requests/search/route.test.ts
  app/app/api/public-cloud/billings/search/route.ts
  app/app/api/public-cloud/products/[licencePlate]/billings/[billingId]/sign/route.ts
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/api/public-cloud/products/search/route.test.ts
  app/app/api/public-cloud/provision/[licencePlate]/route.ts
  app/app/api/public-cloud/requests/search/route.test.ts
  app/app/api/tasks/assigned/route.ts
  app/app/api/v1/private-cloud/products/[idOrLicencePlate]/nats-message/route.ts
  app/app/api/v1/private-cloud/products/[idOrLicencePlate]/provision/route.ts
  app/app/api/v1/private-cloud/products/ids/route.ts
  app/app/api/v1/private-cloud/products/licence-plates/route.ts
  app/app/api/v1/private-cloud/products/route.test.ts
  app/app/api/v1/public-cloud/products/[idOrLicencePlate]/provision/route.ts
  app/app/api/v1/public-cloud/products/route.test.ts
  app/app/private-cloud/requests/(request)/[id]/original/page.tsx
  app/helpers/licence-plate.ts
  app/jest.setup.ts
  app/prisma/schema.prisma
  app/services/db/analytics/private-cloud/active-products.ts
  app/services/db/analytics/private-cloud/ministry-distributions.ts
  app/services/db/analytics/public-cloud/active-products.ts
  app/services/db/analytics/public-cloud/ministry-distributions.ts
  app/services/db/models/private-cloud-product-webhook.ts
  app/services/db/models/private-cloud-product.ts
  app/services/db/models/private-cloud-project-zap-result.ts
  app/services/db/models/public-cloud-billing.ts
  app/services/db/models/public-cloud-product.ts
  app/services/db/public-cloud-billing.ts
  app/services/db/user.ts
  data-migrations/migrations/20250122165416-copy_webhook_urls.js
  data-migrations/migrations/20250320210834-rename_project_to_product.js
Due: eslint-app, prisma-format, knip

chore(5041): revert changelog.md file changes
  CHANGELOG.md
Due: none

chore(5041): fix case in renamed fields
  app/app/api/security-config/route.ts
  app/app/api/v1/private-cloud/requests/invalid/route.ts
  app/jest.setup.ts
  app/services/db/analytics/private-cloud/licence-plates.ts
  app/services/db/private-cloud-request.ts
Due: eslint-app, knip

chore(5041): fix case public cloud in renamed fields
  app/app/api/v1/public-cloud/requests/invalid/route.ts
  app/services/db/analytics/public-cloud/licence-plates.ts
  app/services/db/public-cloud-request.ts
Due: eslint-app, knip

chore(5041): remove redundant import
  app/app/private-cloud/requests/(request)/[id]/original/page.tsx
Due: eslint-app, knip
