Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

chore(3792): replace team email addresses with constants
  app/app/public-cloud/products/(product)/[licencePlate]/aws-roles/[role]/page.tsx
  app/components/Landing.tsx
  app/components/form/ProjectDescriptionPrivate.tsx
  app/components/form/ProjectDescriptionPublic.tsx
  app/components/modal/CreatePublicCloud.tsx
  app/components/modal/PublicCloudDelete.tsx
  app/components/modal/Return.tsx
  app/constants/emails.ts
  app/emails/_components/layout/Footer.tsx
  app/emails/_components/layout/PublicCloudLayout.tsx
  app/services/ches/core.ts
  app/services/ches/private-cloud/emails.ts
  app/services/ches/public-cloud/emails.ts
Due: eslint-app, knip

chore: release candidate v0.36.2
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

chore(3792): update the quota change label
  app/emails/_components/private-cloud/Changes.tsx
Due: eslint-app, knip

feat(3989): update the branch
  app/package-lock.json
  cypress/integration/edit-request-private-test.feature
  localdev/docker-compose-arm64.yml
Due: knip

refactor(3966): cleanup resource types
  app/app/api/private-cloud/nats.test.ts
  app/app/api/private-cloud/products/_operations/update.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/components/form/QuotaInput.tsx
  app/components/form/Quotas.tsx
  app/constants/private-cloud.ts
  app/emails/_components/ClusterDetails.tsx
  app/emails/_components/QuotaChanges.tsx
  app/emails/_components/quotaLookup.ts
  app/helpers/auto-approval-check.ts
  app/helpers/mock-resources.ts
  app/helpers/mock-resources/private-cloud-product.ts
  app/helpers/mock-resources/private-cloud-request.ts
  app/prisma/schema.prisma
  app/request-actions/private-cloud/create-request.ts
  app/services/api-test/private-cloud/helpers.ts
  app/services/nats/private-cloud/constants.ts
  app/services/nats/private-cloud/index.ts
  app/utils/string.test.ts
  app/validation-schemas/private-cloud.ts
Due: eslint-app, prisma-format, knip

chore(3966): use default quota const
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/constants/private-cloud.ts
  app/emails/_components/ClusterDetails.tsx
  app/helpers/openshift.ts
  app/request-actions/private-cloud/create-request.ts
Due: eslint-app, knip

chore(rocketchat): add GitHub Action for RocketChat notifications
  .github/actions/rocketchat-notification/action.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
Due: none

feat(3966): add empty quota option and update backend logic
  app/package-lock.json
  app/prisma/schema.prisma
  app/services/nats/private-cloud/constants.ts
  app/services/nats/private-cloud/index.ts
Due: eslint-app, prisma-format, knip

feat(3954): send rocketchat alerts when airflow tasks fail
  helm/tools/dags/_task_failure_callback.py
  helm/tools/dags/acs_dev.py
  helm/tools/dags/acs_prod.py
  helm/tools/dags/acs_test.py
  helm/tools/dags/airflow_failure_test.py
  helm/tools/dags/mailchimp_subscription_dev.py
  helm/tools/dags/mailchimp_subscription_prod.py
  helm/tools/dags/mailchimp_subscription_test.py
  helm/tools/dags/provisioner_prod.py
  helm/tools/dags/provisioner_test.py
  helm/tools/dags/sonarscan_dev.py
  helm/tools/dags/sonarscan_prod.py
  helm/tools/dags/sonarscan_test.py
  helm/tools/dags/temporary_products_deletion_dev.py
  helm/tools/dags/temporary_products_deletion_prod.py
  helm/tools/dags/temporary_products_deletion_test.py
  helm/tools/dags/temporary_products_notification_dev.py
  helm/tools/dags/temporary_products_notification_prod.py
  helm/tools/dags/temporary_products_notification_test.py
  helm/tools/dags/zapscan_dev.py
  helm/tools/dags/zapscan_prod.py
  helm/tools/dags/zapscan_test.py
Due: python-format

feat(3365): update common language to sentence case
  app/app/api/analytics/csv/quota/route.ts
  app/app/api/private-cloud/analytics/csv/quota-request-users/route.ts
  app/app/api/private-cloud/products/download/route.test.ts
  app/app/api/private-cloud/products/download/route.ts
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/api/public-cloud/products/download/route.ts
  app/app/examples/ui/(components)/text-input/page.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/layout.tsx
  app/app/private-cloud/products/(product)/create/page.tsx
  app/app/private-cloud/products/all/page.tsx
  app/app/private-cloud/requests/(request)/[id]/layout.tsx
  app/app/private-cloud/requests/all/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/components/Landing.tsx
  app/components/form/AccountEnvironmentsPublic.tsx
  app/components/form/AsyncAutocomplete.tsx
  app/components/form/Budget.tsx
  app/components/form/ExpenseAuthority.tsx
  app/components/form/ProjectDescriptionPrivate.tsx
  app/components/form/ProjectDescriptionPublic.tsx
  app/components/form/TeamContacts.tsx
  app/components/layouts/Header.tsx
  app/components/modal/AddUser.tsx
  app/components/modal/PrivateCloudDelete.tsx
  app/components/modal/PublicCloudDelete.tsx
  app/components/table/TableBodyAWSRoles.tsx
  app/constants/private-cloud.ts
  app/emails/_components/ClusterDetails.tsx
  app/emails/_components/DescriptionChanges.tsx
  app/emails/_components/ProductDetails.tsx
  app/types/csv.ts
Due: eslint-app, knip

chore(3365): update common language to sentence case cont'
  app/app/api/private-cloud/products/download/route.test.ts
  app/app/api/private-cloud/products/download/route.ts
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/api/public-cloud/products/download/route.ts
  app/components/modal/PrivateCloudDelete.tsx
  app/components/modal/PublicCloudDelete.tsx
  app/components/sonarscan/SonarScanResults.tsx
  app/components/zapscan/ZapScanResults.tsx
  app/constants/common.ts
  app/types/csv.ts
Due: eslint-app, knip

fix(4005): set createdByEmail field optional
  app/app/api/private-cloud/products/_operations/delete.ts
  app/app/api/public-cloud/products/_operations/delete.ts
  app/components/form/ActiveRequestBox.tsx
  app/prisma/schema.prisma
Due: eslint-app, prisma-format, knip

chore: enhance minor UI elements
  app/components/RequestStatusProgress.tsx
  app/components/UserCard.tsx
  app/components/billing/PublicCloudBillingInfo.tsx
  app/components/form/ProductBadge.tsx
  app/components/generic/input/AutoResizeTextArea.tsx
  app/emails/_templates/public-cloud/BillingReviewerMou.tsx
  app/helpers/mock-resources/private-cloud-request.ts
  app/helpers/mock-resources/public-cloud-request.ts
  app/prisma/schema.prisma
  app/request-actions/private-cloud/decision-request.ts
  app/request-actions/public-cloud/decision-request.ts
  app/services/db/includes.ts
  app/types/private-cloud.ts
  app/types/public-cloud.ts
  helm/main/values-101ed4-prod.yaml
Due: eslint-app, prisma-format, knip

chore: release candidate v0.37.0
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

chore(4014): fix minor UI bugs and notification
  .github/actions/rocketchat-notification/action.yml
  app/components/form/ActiveRequestBox.tsx
Due: eslint-app, knip

chore(4014): fix typo
  .github/actions/rocketchat-notification/action.yml
Due: none

chore(4005): ignore backend errors for temporary product deletion
  app/app/api/private-cloud/products/[licencePlate]/route.ts
  app/package-lock.json
  helm/tools/dags/_temporary_products_deletion.py
Due: eslint-app, python-format, knip

feat(4018): add side panel for assigned tasks
  app/app/api/tasks/me/route.ts
  app/components/layouts/Header.tsx
  app/components/layouts/SideTasks.tsx
  app/components/modal/reviewPublicCloudProductModal.tsx
  app/components/modal/signPublicCloudProductModal.tsx
  app/services/backend/tasks.ts
Due: eslint-app, knip

added doc for metrics setup
  docs/resource-metrics.md
Due: none

feat(2692): compare docker image vulnerability scanners
  docs/image-scanner-selection.md
Due: none

docs(2692): compare docker image scanning tools
  docs/selecting-image-scanner.md
Due: none

chore(4018): enhance minor UI elements
  app/components/UserCard.tsx
  app/components/form/TemporaryProductBadge.tsx
  app/components/layouts/SideTasks.tsx
Due: eslint-app, knip

feat(2692): scan GH workflows for vulnerable images
  .github/workflows/build-push-localdev.yml
Due: none

feat(2692): scan GH workflows for vulnerable images
  .github/workflows/test.yml
Due: none

chore(4018): pass clean licence plates
  app/app/api/tasks/me/route.ts
  app/components/layouts/SideTasks.tsx
Due: eslint-app, knip

feat(2692): scan GH workflows for vulnerable images
  .github/workflows/test.yml
  .github/workflows/trivy-scan.yaml
Due: none

chore(4018): enhance minor UI elements
  app/app/api/keycloak/api-accounts/team/[id]/route.ts
  app/app/api/keycloak/api-accounts/team/_operations/create.ts
  app/app/api/keycloak/api-accounts/team/_operations/update.ts
  app/app/api/keycloak/api-accounts/team/route.ts
  app/app/api/tasks/assigned/route.ts
  app/app/team-api-accounts/createAccountModal.tsx
  app/app/team-api-accounts/manageAccountModal.tsx
  app/app/team-api-accounts/page.tsx
  app/app/team-api-accounts/viewAccountModal.tsx
  app/components/generic/tabs/BasicTabs.tsx
  app/components/layouts/Header.tsx
  app/components/layouts/SideTasks.tsx
  app/services/backend/keycloak.ts
  app/services/backend/tasks.ts
  app/validation-schemas/api-accounts.ts
Due: eslint-app, knip

chore(3966): fix typo
  app/services/nats/private-cloud/index.ts
Due: eslint-app, knip

chore: release candidate v0.37.1
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

chore: prevent value updates by using defaultValues in form
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/create/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/private-cloud/requests/(request)/[id]/original/page.tsx
  app/app/private-cloud/requests/(request)/[id]/request/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/requests/(request)/[id]/original/page.tsx
  app/app/public-cloud/requests/(request)/[id]/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/ProductComparison.tsx
  app/helpers/product.ts
Due: eslint-app, knip

chore(4012): fix build errors
  app/app/private-cloud/products/(product)/create/page.tsx
  app/package-lock.json
Due: eslint-app, knip

Path conditions:
  eslint: any of: ^(cypress|localdev)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
