Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

chore: release candidate v0.37.1
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

chore(4012): fix build errors
  app/app/private-cloud/products/(product)/create/page.tsx
  app/package-lock.json
Due: eslint-app, knip

chore: prevent value updates by using defaultValues in form
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/create/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/private-cloud/requests/(request)/[id]/original/page.tsx
  app/app/private-cloud/requests/(request)/[id]/request/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/requests/(request)/[id]/original/page.tsx
  app/app/public-cloud/requests/(request)/[id]/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/ProductComparison.tsx
  app/helpers/product.ts
Due: eslint-app, knip

chore(3365): update common language to sentence case cont'
  app/app/private-cloud/products/(product)/[licencePlate]/security/layout.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/usage/page.tsx
  app/app/private-cloud/requests/(request)/[id]/comments/page.tsx
  app/app/private-cloud/requests/(request)/[id]/layout.tsx
  app/components/billing/PublicCloudBillingInfo.tsx
  app/components/form/ProjectDescriptionPublic.tsx
  app/components/form/TemporaryProductAlert.tsx
  app/constants/public-cloud.ts
Due: eslint-app, knip

chore(4018): enhance eMOU task assigning workflow
  .pre-commit-config.yaml
  app/app/api/public-cloud/products/[licencePlate]/review-mou/route.ts
  app/app/api/public-cloud/products/[licencePlate]/sign-mou/route.ts
  app/app/api/tasks/assigned/route.ts
  app/app/public-cloud/products/(product)/create/page.tsx
  app/app/public-cloud/requests/(request)/[id]/original/page.tsx
  app/app/public-cloud/requests/(request)/[id]/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
Due: eslint-app, knip

feat(3989): tweak e2e create private and public cloud tests for new UI
  cypress/integration/create-request-private-test.feature
  cypress/integration/create-request-public-test.feature
  cypress/support/commands.ts
  cypress/support/step_definitions/common.ts
Due: eslint

chore(4018): update test scripts
  app/app/api/public-cloud/products/[licencePlate]/review-mou/route.ts
  app/app/api/public-cloud/products/[licencePlate]/sign-mou/route.ts
  app/app/api/public-cloud/products/search/route.test.ts
  app/app/api/public-cloud/requests/search/route.test.ts
  app/app/api/v1/public-cloud/products/route.test.ts
Due: eslint-app, knip

chore: release candidate v0.37.2
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

chore(3942): update quota increase section language
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/components/form/Quotas.tsx
  app/components/form/QuotasChangeInfo.tsx
  app/components/modal/EditPrivateCloud.tsx
  app/components/modal/editPrivateCloudProductModal.tsx
Due: eslint-app, knip

refactor(3791): simply the usage of common modal components
  app/.eslintrc.json
  app/app/examples/ui/(components)/modal/testModal.tsx
  app/app/team-api-accounts/createAccountModal.tsx
  app/app/team-api-accounts/manageAccountModal.tsx
  app/app/team-api-accounts/viewAccountModal.tsx
  app/components/modal/createPrivateCloudProductModal.tsx
  app/components/modal/editPrivateCloudProductModal.tsx
  app/components/modal/reviewPublicCloudProductModal.tsx
  app/components/modal/signPublicCloudProductModal.tsx
  app/core/modal.tsx
Due: eslint-app, knip

chore(4055): remove redundant logic encapsulation
  app/app/api/private-cloud/products/_operations/create.ts
  app/app/api/private-cloud/products/_operations/delete.ts
  app/app/api/private-cloud/products/_operations/update.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/app/api/public-cloud/products/_operations/create.ts
  app/app/api/public-cloud/products/_operations/delete.ts
  app/app/api/public-cloud/products/_operations/update.ts
  app/app/api/public-cloud/requests/[id]/decision/route.ts
  app/package-lock.json
  app/request-actions/private-cloud/create-request.ts
  app/request-actions/private-cloud/decision-request.ts
  app/request-actions/private-cloud/edit-request.ts
  app/request-actions/public-cloud/create-request.ts
  app/request-actions/public-cloud/decision-request.ts
  app/request-actions/public-cloud/edit-request.ts
Due: eslint-app, knip

docs: add resource metrics setup
  docs/resource-metrics.md
Due: none

chore: pr review improvments
  app/app/private-cloud/products/(product)/[licencePlate]/usage/MetricsTable.tsx
  app/helpers/openshift.ts
  app/services/k8s/usage-metrics.ts
Due: eslint-app, knip

chore: fix typo
  app/app/private-cloud/products/(product)/[licencePlate]/usage/MetricsTable.tsx
Due: eslint-app, knip

feat(2692): scan image builds for vulnerabilities
  .github/actions/scan-docker-image/action.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-test.yml
Due: none

fix(2692): edit image url
  .github/workflows/deploy-dev.yml
Due: none

feat(3812): tweak edit private cloud test to run in github actions and new UI
  .pre-commit-config.yaml
  cypress/e2e/create-test.cy.ts
  cypress/integration/edit-request-private-test.feature
  cypress/support/step_definitions/common.ts
Due: eslint

chore: revert back token names for deletion check
  app/helpers/openshift.ts
Due: eslint-app, knip

chore(2692): ignore failures when scanning images
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-test.yml
Due: none

chore: revert test change
  .github/workflows/deploy-dev.yml
Due: none

chore: handle the case when sarif upload failure
  .github/actions/scan-docker-image/action.yml
Due: none

chore(2692): enhance the workflow
  .github/actions/scan-docker-image/action.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-test.yml
Due: none

refactor(4055): replace product delete modals
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/Landing.tsx
  app/components/buttons/DeleteButton.tsx
  app/components/dropdowns/PrivateCloudProductOptions.tsx
  app/components/dropdowns/PublicCloudProductOptions.tsx
  app/components/modal/PrivateCloudDelete.tsx
  app/components/modal/complete.tsx
  app/components/modal/privateCloudProductDelete.tsx
  app/components/modal/privateCloudRequestReviewModal.tsx
  app/components/modal/publicCloudProductDelete.tsx
  app/components/modal/publicCloudRequestReviewModal.tsx
  app/components/modal/requestDecisionCompleteModal.tsx
  app/components/modals/ReturnDecision.tsx
Due: eslint-app, knip

refactor(4055): replace review modals
  app/.eslintrc.json
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/modal/Comment.tsx
  app/components/modals/ReturnDecision.tsx
  app/components/modals/privateCloudRequestReviewModal.tsx
  app/components/modals/publicCloudRequestReviewModal.tsx
  app/components/modals/requestDecisionCompleteModal.tsx
  app/core/modal.tsx
  app/validation-schemas/private-cloud.ts
  app/validation-schemas/public-cloud.ts
  app/validation-schemas/shared.ts
Due: eslint-app, knip

chore(4055): remove react context use to avoid router conflicts
  app/components/buttons/NavButton.tsx
  app/components/generic/table/Pagination.tsx
  app/components/generic/table/SearchFilterExport.tsx
  app/components/generic/table/Table.tsx
  app/helpers/valtio.tsx
  app/package-lock.json
  app/package.json
Due: eslint-app, knip

chore: remove unnecessary console.log
  app/helpers/openshift.ts
Due: eslint-app, knip

chore(3635) add metrics reader token for all clusters
  app/.env.example
  app/config.ts
  app/services/k8s/core.ts
  helm/_app/templates/deployment.yaml
Due: eslint-app, knip

chore: typo fixies
  app/services/k8s/core.ts
Due: eslint-app, knip

chore: remove title props for mterics table
  app/app/private-cloud/products/(product)/[licencePlate]/usage/MetricsTable.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/usage/page.tsx
Due: eslint-app, knip

refactor(4055): replace request edit submit modals
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/components/modal/EditPrivateCloud.tsx
  app/components/modal/privateCloudProductEditSubmit.tsx
  app/components/modal/publicCloudProductEditSubmit.tsx
Due: eslint-app, knip

chore: cleaning up commits history
  app/app/private-cloud/products/(product)/[licencePlate]/usage/MetricsTable.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/usage/page.tsx
  app/helpers/auto-approval-check.ts
  app/package-lock.json
  app/services/k8s/core.ts
  app/services/k8s/resource-details.ts
  app/services/k8s/usage-metrics.ts
Due: eslint-app, knip

feat(3813): add storage data to UI and auto approval check
  app/app/private-cloud/products/(product)/[licencePlate]/usage/MetricsTable.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/usage/page.tsx
  app/emails/_components/private-cloud/QuotaUpgradeResources.tsx
  app/helpers/auto-approval-check.ts
  app/helpers/resource-metrics.ts
  app/services/k8s/core.ts
  app/services/k8s/resource-details.ts
  app/services/k8s/usage-metrics.ts
Due: eslint-app, knip

refactor(4055): replace create request submit modals
  app/app/private-cloud/products/(product)/create/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/products/(product)/create/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/billing/PublicCloudBillingInfo.tsx
  app/components/modal/CreatePublicCloud.tsx
  app/components/modal/PublicCloudDelete.tsx
  app/components/modal/Return.tsx
  app/components/modal/privateCloudProductCreateSubmit.tsx
  app/components/modal/privateCloudRequestReview.tsx
  app/components/modal/publicCloudMouReview.tsx
  app/components/modal/publicCloudMouSign.tsx
  app/components/modal/publicCloudProductCreateSubmit.tsx
  app/components/modal/publicCloudRequestReview.tsx
  app/components/modal/requestDecisionComplete.tsx
Due: eslint-app, knip

chore: add debug log
  app/app/api/public-cloud/products/download/route.test.ts
Due: eslint-app, knip

chore: fix typo
  app/app/api/public-cloud/products/download/route.test.ts
Due: eslint-app, knip

feat(4121): change tests to correspond to new modal component
  cypress/e2e/create-test.cy.ts
  cypress/integration/create-request-private-test.feature
  cypress/integration/create-request-public-test.feature
  cypress/integration/edit-request-private-test.feature
Due: eslint

chore: release candidate v0.38.0
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

ci: add commit type e2e
  .conventional-changelog.mjs
  app/app/api/public-cloud/products/download/route.test.ts
  localdev/nats-provision/src/main.ts
Due: eslint, eslint-app, knip

fix(4110): hide quota change information section when reviewing
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/private-cloud/requests/(request)/[id]/original/page.tsx
  app/app/private-cloud/requests/(request)/[id]/request/page.tsx
  app/components/form/Quotas.tsx
  app/components/form/QuotasChangeInfo.tsx
  localdev/keycloak-provision/src/main.ts
Due: eslint, eslint-app, knip

Path conditions:
  eslint: any of: ^(cypress|localdev)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
