Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^helm
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^helm
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: package.lock.json
- repo: local
  hooks:
  # - id: es-format
  #   name: eslint
  #   entry: .bin/eslint.sh
  #   language: script
  #   files: \.tsx?$
  #   verbose: true
  #   pass_filenames: true
  - id: python-format
    name: autopep8
    entry: .bin/autopep8.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
# - repo: https://github.com/codespell-project/codespell
#   rev: v2.2.6
#   hooks:
#   - id: codespell

exclude: ^(app/.react-email|CHANGELOG\.md)$

chore(nats-provision): add local dev nats-provision into paths
  .github/workflows/deploy-dev.yml
Due: none

feat(3697): add separate billing code by providers
  Makefile
  app/app/api/billing/[idOrAccountCoding]/download/route.tsx
  app/app/api/billing/[idOrAccountCoding]/exist/route.ts
  app/app/api/billing/[idOrAccountCoding]/helpers.ts
  app/app/api/billing/[idOrAccountCoding]/route.ts
  app/app/public-cloud/products/(product)/create/page.tsx
  app/components/billing/PublicCloudBillingDownloadButton.tsx
  app/components/form/AccountCoding.tsx
  app/components/modal/reviewPublicCloudProductModal.tsx
  app/package-lock.json
  app/package.json
  app/prisma/schema.prisma
  app/request-actions/public-cloud/create-request.ts
  app/services/backend/billing.ts
  data-migrations/migrations/20240906172566-populate_account_coding_to_billing2.js
Due: prisma-format, knip

chore(3697): fix build
  app/emails/_components/Params.ts
Due: knip

chore(cd): switch the order of the Helm hooks run
  app/package-lock.json
  helm/_app/templates/job-pre-data-migrations.yaml
  helm/_app/templates/job-pre-prisma.yaml
Due: knip

chore: delete invalid request data regarding eMOU
  data-migrations/migrations/20240906172566-populate_account_coding_to_billing2.js
  data-migrations/migrations/20240909185417-delete_dangling_public_cloud_requests.js
Due: none

chore: exclude CREATE request type when deleting them
  data-migrations/migrations/20240909185417-delete_dangling_public_cloud_requests.js
Due: none

chore: run account coding to billing migration script again
  data-migrations/migrations/20240906172588-populate_account_coding_to_billing3.js
Due: none

feat(3647): change paths to screenshots and video, change upload-artifact version
  .github/workflows/cypress-e2e-test.yaml
Due: none

feat(3647): add failing step to test artifacts upload
  cypress/integration/dummy.feature
Due: none

chore: start with automated approval for quota increase
  app/package-lock.json
  app/request-actions/private-cloud/edit-request.ts
Due: knip

test(ci): add API integration tests for private cloud NATs messages
  app/app/api/private-cloud/nats.test.ts
  app/config.ts
  app/jest.setup.js
  app/services/api-test/private-cloud/helpers.ts
  app/services/nats/core.ts
  app/services/nats/index.ts
Due: knip

feat(3647): move create test to debug
  cypress/integration/create-request-private-test.feature
  cypress/integration/dummy.feature
Due: none

test(ci): add API integration tests for public cloud NATs messages
  app/app/api/private-cloud/nats.test.ts
  app/app/api/public-cloud/nats.test.ts
  app/jest.setup.js
  app/services/api-test/public-cloud/helpers.ts
  app/services/nats/core.ts
Due: knip

chore(ci): remove unused jest mocks
  app/jest.setup.js
Due: knip

debug
  cypress/_tmp/create-request-private-test.feature
  cypress/integration/dummy.feature
  cypress/support/step_definitions/common.ts
Due: none

chore(3717): enhance eMOU workflows
  app/components/billing/PublicCloudBillingDownloadButton.tsx
  app/components/modal/CreatePublicCloud.tsx
  app/components/modal/signPublicCloudProductModal.tsx
  app/helpers/pdfs/emou/BillingMou.tsx
  app/services/ches/public-cloud/email-handler.ts
  app/utils/file-download.ts
Due: knip

chore(3717): update checkbox content when submitting a create request
  app/app/public-cloud/products/(product)/create/page.tsx
  app/components/modal/CreatePublicCloud.tsx
Due: knip

debug
  cypress/integration/dummy.feature
  cypress/support/step_definitions/common.ts
Due: none

temp
  app/package-lock.json
Due: knip

debug
  cypress/support/step_definitions/common.ts
Due: none

chore(3634): create tasks for eMOU workflows at the product level
  app/app/api/public-cloud/products/[licencePlate]/review-mou/route.ts
  app/app/api/public-cloud/products/[licencePlate]/sign-mou/route.ts
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/modal/reviewPublicCloudProductModal.tsx
  app/components/modal/signPublicCloudProductModal.tsx
  app/core/services/public-cloud-project.ts
  app/core/services/public-cloud-request.ts
  app/package-lock.json
  app/request-actions/public-cloud/create-request.ts
  app/services/api-test/public-cloud/products.ts
  app/services/api-test/public-cloud/requests.ts
  app/services/backend/public-cloud/products.ts
  app/services/backend/public-cloud/requests.ts
  app/types/doc-decorate.ts
  data-migrations/migrations/20240906172589-populate_account_coding_to_billing4.js
  data-migrations/migrations/20240910214355-assign_emou_ea.js
Due: knip

chore(3634): fix build issues
  app/services/api-test/public-cloud/helpers.ts
Due: knip

debug
  cypress/integration/dummy.feature
Due: none

chore(3634): fix tests
  app/app/api/private-cloud/nats.test.ts
  app/app/api/public-cloud/nats.test.ts
  app/app/api/public-cloud/products/[licencePlate]/requests/route.test.ts
  app/app/api/public-cloud/products/_operations/delete.test.ts
  app/app/api/public-cloud/products/_operations/read.test.ts
  app/app/api/public-cloud/products/_operations/update.test.ts
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/api/public-cloud/products/search/route.test.ts
  app/app/api/public-cloud/provision/[licencePlate]/route.test.ts
  app/app/api/public-cloud/requests/[id]/decision/route.test.ts
  app/app/api/public-cloud/requests/search/route.test.ts
  app/app/api/v1/public-cloud/products/route.test.ts
  app/services/api-test/public-cloud/products.ts
Due: knip

feat(3593): modify request approval email templates and triggers
  app/emails/PrivateCloudCreateRequestApproval.tsx
  app/emails/PrivateCloudDeleteRequestApproval.tsx
  app/emails/PrivateCloudEditRequestApproval.tsx
  app/emails/PrivateCloudRequestApproval.tsx
  app/emails/_templates/private-cloud/CreateRequestApproval.tsx
  app/emails/_templates/private-cloud/DeleteRequestApproval.tsx
  app/emails/_templates/private-cloud/EditRequestApproval.tsx
  app/emails/_templates/private-cloud/Provisioned.tsx
  app/services/ches/private-cloud/email-handler.ts
Due: knip

chore(3634): add sign / review buttons on eMOU status box
  app/app/api/private-cloud/nats.test.ts
  app/app/api/public-cloud/nats.test.ts
  app/components/billing/PublicCloudBillingInfo.tsx
Due: knip

chore(3634): update review button style on eMOU status box
  app/components/billing/PublicCloudBillingInfo.tsx
Due: knip

debug
  cypress/support/commands.ts
Due: none

chore: add logic for auto approval quota ungrade request
  app/helpers/quota-change.ts
  app/request-actions/private-cloud/edit-request.ts
Due: knip

chore(3634): update language in eMOU workflows
  app/components/billing/PublicCloudBillingDownloadButton.tsx
  app/components/modal/CreatePublicCloud.tsx
  app/helpers/emou.ts
  app/services/ches/public-cloud/email-handler.ts
Due: knip

feat(3593): modify approval email templates and triggers.
  app/emails/_templates/private-cloud/CreateRequestApproval.tsx
  app/emails/_templates/private-cloud/DeleteRequestApproval.tsx
  app/emails/_templates/private-cloud/EditRequestApproval.tsx
Due: knip
