Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^helm
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^helm
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: package.lock.json
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: .bin/eslint.sh
    language: script
    files: ^(cypress|localdev)/.*\.(js|ts)$
    verbose: true
    pass_filenames: true
  - id: eslint-app
    name: eslint-app
    entry: .bin/eslint-app.sh
    language: script
    files: ^app/.*\.(ts|tsx)$
    verbose: true
    pass_filenames: true
  - id: python-format
    name: black
    entry: .bin/black.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.18.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
exclude: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$

chore: release candidate v0.61.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(5343): prevent crash by checking window access in postLoginRedirect logic
  app/core/client-page.tsx
Due: eslint-app, knip

feat(5382): implement backend support for Private Cloud unit price page
  app/app/api/private-cloud/unit-prices/[date]/route.ts
  app/app/api/private-cloud/unit-prices/[date]/schema.ts
  app/app/api/private-cloud/unit-prices/_operations/delete.ts
  app/app/api/private-cloud/unit-prices/_operations/list.ts
  app/app/api/private-cloud/unit-prices/_operations/read.ts
  app/app/api/private-cloud/unit-prices/_operations/update.ts
  app/app/api/private-cloud/unit-prices/route.ts
  app/constants/user.ts
  app/package.json
  app/pnpm-lock.yaml
  app/prisma/schema.prisma
  app/types/next-auth.d.ts
  app/validation-schemas/common.ts
  app/validation-schemas/private-cloud.ts
Due: eslint-app, prisma-format, knip

chore(5382): update auth configuration for finance manager
  app/.knip.json
  app/core/auth-options.ts
Due: eslint-app, knip

chore(5343): use usePathname instaed window
  app/components/layouts/Header.tsx
  app/core/client-page.tsx
Due: eslint-app, knip

chore(5382): add new role Finance Manager
  sandbox/keycloak-provision/main.ts
  sandbox/mock-users.json
  terraform/keycloak/dev/roles.tf
  terraform/keycloak/prod/roles.tf
  terraform/keycloak/test/roles.tf
Due: none

feat(5382): implement frontend page for Private Cloud unit price page
  app/app/private-cloud/unit-prices/all/page.tsx
  app/components/generic/LoadingBox.tsx
  app/components/layouts/UserMenu.tsx
  app/components/private-cloud/sections/QuotasBudgetEstimation.tsx
  app/constants/user.ts
  app/services/backend/private-cloud/unit-prices.ts
  app/utils/js/date.ts
  app/utils/js/number.ts
Due: eslint-app, knip

chore(5343): add PostLoginGuard for redirecting unauthenticated users
  app/components/auth/PostLoginGuard.tsx
  app/core/client-page.tsx
Due: eslint-app, knip

chore(5343): handle unauthenticated redirects with post-login path storage
  app/components/auth/PostLoginGuard.tsx
Due: eslint-app, knip

chore(5343): remove comment
  app/components/auth/PostLoginGuard.tsx
Due: eslint-app, knip

chore(5343): remove unused function loginWithRedirect
  app/components/layouts/Header.tsx
Due: eslint-app, knip

chore(5343): get rid of using useSearchParams
  app/components/auth/PostLoginGuard.tsx
  app/components/layouts/Header.tsx
  app/core/client-page.tsx
Due: eslint-app, knip

chore(5343): remove redundant console.log
  app/components/layouts/Header.tsx
Due: eslint-app, knip

chore(5343): remove unused imports
  app/core/client-page.tsx
Due: eslint-app, knip

docs(5424): add mermaid plugin for Mkdocs
  .tool-versions
  README.md
  mkdocs.yml
  requirements.txt
Due: none

chore(5424): exclude mkdocs.yaml from yaml lint
  .pre-commit-config.yaml
  mkdocs.yml
Due: none

chore(5424): update pre-commit config
  .pre-commit-config.yaml
Due: none

chore(5424): update mkdocs configuration
  .github/workflows/mkdocs.yml
  README.md
  docs/_javascripts/highlight.js
  mkdocs.yml
Due: none

Deploying to gh-pages from @ bcgov/platform-services-registry@9a4a4a267bf977939f22e8120192812cb88f437f 🚀
  404.html
  _javascripts/highlight.js
  api-testing.html
  assets/javascripts/bundle.c8b220af.min.js
  assets/javascripts/bundle.c8b220af.min.js.map
  assets/javascripts/bundle.f1b6f286.min.js
  assets/javascripts/bundle.f1b6f286.min.js.map
  assets/stylesheets/main.4af4bdda.min.css
  assets/stylesheets/main.4af4bdda.min.css.map
  assets/stylesheets/main.8608ea7d.min.css
  assets/stylesheets/main.8608ea7d.min.css.map
  bot-pr-review.html
  ci-cd.html
  clean-codes/return-early.html
  database.html
  debug-deployments.html
  developer-guide.html
  email-scenarios-private-cloud.html
  email-scenarios-public-cloud.html
  emou-workflow.html
  git-tips.html
  index.html
  onboarding-offboarding.html
  poc/security-dashboard.html
  react-email.html
  resource-metrics.html
  rocketchat-notifications.html
  search/search_index.json
  selecting-image-scanner.html
  sitemap.xml
  sitemap.xml.gz
  team-conventions.html
  terraform.html
Due: none

docs(5424): add clean code contents
  docs/clean-code/descriptive-function-names.md
  docs/clean-code/falsy-check-early.md
  docs/clean-code/react-handler-naming.md
  docs/clean-code/return-early.md
  docs/clean-code/small-components-functions.md
  docs/clean-code/utils-helpers-shared-components.md
  mkdocs.yml
Due: none

chore(5343): avoid redirecting unauthenticated users to /home when storing post-login path
  app/core/client-page.tsx
Due: eslint-app, knip

Deploying to gh-pages from @ bcgov/platform-services-registry@ca505e0cbdc84fe5be19f38860e965ecd80a6b16 🚀
  404.html
  api-testing.html
  bot-pr-review.html
  ci-cd.html
  clean-code/descriptive-function-names.html
  clean-code/falsy-check-early.html
  clean-code/react-handler-naming.html
  clean-code/return-early.html
  clean-code/small-components-functions.html
  clean-code/utils-helpers-shared-components.html
  database.html
  debug-deployments.html
  developer-guide.html
  email-scenarios-private-cloud.html
  email-scenarios-public-cloud.html
  emou-workflow.html
  git-tips.html
  index.html
  onboarding-offboarding.html
  react-email.html
  resource-metrics.html
  selecting-image-scanner.html
  sitemap.xml
  sitemap.xml.gz
  team-conventions.html
  terraform.html
Due: none

chore(0000): rebuild pnpm lock file
  app/pnpm-lock.yaml
Due: knip

chore(5382): fix typos
  app/core/auth-options.ts
Due: eslint-app, knip

docs(5424): update development setup
  README.md
  docs/development-setup/local-development-environment.md
  docs/development-setup/sandbox.md
  docs/github/bot-pr-review.md
  docs/github/clean-pr.md
  docs/github/new-task.md
  mkdocs.yml
  sandbox/README.md
Due: none

Deploying to gh-pages from @ bcgov/platform-services-registry@0b554b4d14ae7ae7a39d7334957c4975ae049a11 🚀
  404.html
  api-testing.html
  ci-cd.html
  clean-code/descriptive-function-names.html
  clean-code/falsy-check-early.html
  clean-code/react-handler-naming.html
  clean-code/return-early.html
  clean-code/small-components-functions.html
  clean-code/utils-helpers-shared-components.html
  database.html
  debug-deployments.html
  development-setup/local-development-environment.html
  development-setup/sandbox.html
  email-scenarios-private-cloud.html
  email-scenarios-public-cloud.html
  emou-workflow.html
  github/bot-pr-review.html
  github/clean-pr.html
  github/new-task.html
  index.html
  onboarding-offboarding.html
  poc/security-dashboard.html
  react-email.html
  resource-metrics.html
  selecting-image-scanner.html
  sitemap.xml
  sitemap.xml.gz
  team-conventions.html
  terraform.html
Due: none

chore(5343): revise non authorized user redirect function
  app/components/layouts/Header.tsx
  app/core/client-page.tsx
Due: eslint-app, knip

chore(5343): remove default permissions array for clientPage
  app/core/client-page.tsx
Due: eslint-app, knip

docs(5425): re-organize exisiting contents
  docs/business-logic/public-cloud-emou-workflow.md
  docs/ci-cd/release-tag-dispatch.md
  docs/development-setup/onboarding-offboarding.md
  docs/emou-workflow.md
  docs/github/rocketchat-notification.md
  docs/onboarding-offboarding.md
  docs/research/image-scanner.md
  docs/tests/api-testing.md
  mkdocs.yml
Due: none

chore(5343): wrap router.push into else condition
  app/core/client-page.tsx
Due: eslint-app, knip

Deploying to gh-pages from @ bcgov/platform-services-registry@e88404ae621f31163c99fd5d018cdd8c188ae4e5 🚀
  404.html
  business-logic/public-cloud-emou-workflow.html
  ci-cd/release-tag-dispatch.html
  clean-code/descriptive-function-names.html
  clean-code/falsy-check-early.html
  clean-code/react-handler-naming.html
  clean-code/return-early.html
  clean-code/small-components-functions.html
  clean-code/utils-helpers-shared-components.html
  database.html
  debug-deployments.html
  development-setup/local-development-environment.html
  development-setup/onboarding-offboarding.html
  development-setup/sandbox.html
  email-scenarios-private-cloud.html
  email-scenarios-public-cloud.html
  github/bot-pr-review.html
  github/clean-pr.html
  github/new-task.html
  github/rocketchat-notification.html
  index.html
  poc/security-dashboard.html
  react-email.html
  research/image-scanner.html
  resource-metrics.html
  sitemap.xml
  sitemap.xml.gz
  team-conventions.html
  terraform.html
  tests/api-testing.html
Due: none

docs(5425): re-organize exisiting contents cont'
  docs/business-logic/email-scenarios/private-cloud.md
  docs/business-logic/email-scenarios/public-cloud.md
  docs/ci-cd/database.md
  docs/ci-cd/debug-failed-deployments.md
  docs/code-conventions/team-conventions.md
  docs/development-setup/react-email.md
  docs/development-setup/resource-metrics.md
  docs/development-setup/terraform.md
  mkdocs.yml
Due: none

chore(5425): re-organize exisiting contents cont'
  docs/ci-cd/cd/database.md
  docs/ci-cd/cd/debug-failed-deployments.md
  docs/ci-cd/cd/deployment-release.md
  docs/ci-cd/cd/release-tag-dispatch.md
  docs/ci-cd/ci/checks.md
  docs/ci-cd/ci/dependency-update.md
  docs/ci-cd/ci/peer-review.md
  docs/ci-cd/ci/secret-scanning.md
  docs/code-conventions/naming-conventions.md
  docs/code-conventions/team-conventions.md
  docs/git-github/bot-pr-review.md
  docs/git-github/branching-model.md
  docs/git-github/clean-pr.md
  docs/git-github/new-task.md
  docs/git-github/rocketchat-notification.md
  mkdocs.yml
Due: none

chore(5343): redirect not logged in user if needed
  app/core/client-page.tsx
Due: eslint-app, knip

Deploying to gh-pages from @ bcgov/platform-services-registry@721085cfd6ab3fa71f11fc48d5b3fbc8ada1588a 🚀
  404.html
  business-logic/email-scenarios/private-cloud.html
  business-logic/email-scenarios/public-cloud.html
  business-logic/public-cloud-emou-workflow.html
  ci-cd/cd/database.html
  ci-cd/cd/debug-failed-deployments.html
  ci-cd/cd/deployment-release.html
  ci-cd/cd/release-tag-dispatch.html
  ci-cd/ci/checks.html
  ci-cd/ci/dependency-update.html
  ci-cd/ci/peer-review.html
  ci-cd/ci/secret-scanning.html
  clean-code/falsy-check-early.html
  clean-code/react-handler-naming.html
  clean-code/return-early.html
  clean-code/small-components-functions.html
  clean-code/utils-helpers-shared-components.html
  code-conventions/naming-conventions.html
  development-setup/local-development-environment.html
  development-setup/onboarding-offboarding.html
  development-setup/react-email.html
  development-setup/resource-metrics.html
  development-setup/sandbox.html
  development-setup/terraform.html
  git-github/bot-pr-review.html
  git-github/branching-model.html
  git-github/clean-pr.html
  git-github/new-task.html
  git-github/rocketchat-notification.html
  index.html
  poc/security-dashboard.html
  research/image-scanner.html
  sitemap.xml
  sitemap.xml.gz
  team-conventions.html
  tests/api-testing.html
Due: none

chore(5343): add signIn redirection to login page
  app/app/login/page.tsx
Due: eslint-app, knip

chore(5343): prevent localStorage access during SSR in /login page
  app/app/login/page.tsx
Due: eslint-app, knip

chore(5343): revert path and query params redirection
  app/core/client-page.tsx
Due: eslint-app, knip

chore(5456): update hook form libraries
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/security/repository/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/requests/(request)/[id]/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/package.json
  app/pnpm-lock.yaml
  app/services/backend/security-config.ts
  app/validation-schemas/private-cloud.ts
  app/validation-schemas/public-cloud.ts
  pnpm-lock.yaml
Due: eslint-app, knip
