Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

chore(2700): rename CHES+MOCK_PORT to PORT
  localdev/ches-mock/src/config.js
  localdev/ches-mock/src/main.ts
Due: eslint

chore(2700): rename variables according PR review
  app/.env.example
  localdev/ches-mock/src/config.js
  localdev/ches-mock/src/main.ts
Due: eslint, knip

chore(3190): pull project requests properly
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/list.ts
Due: eslint-app, knip

Revert "fix(deps): update prisma monorepo to v6 (major)"
  app/package-lock.json
  app/package.json
Due: knip

chore: release candidate v0.40.4
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

chore(4215): revert changes on NATs message
  app/services/nats/private-cloud/index.ts
Due: eslint-app, knip

chore: release candidate v0.40.5
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

chore(4238): limit display of subnet info for only emerald
  app/components/form/Quotas.tsx
Due: eslint-app, knip

chore: release candidate v0.40.6
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

chore(2700): helm char update
  .github/workflows/cypress-e2e-test.yaml
  helm/_ches-mock/.helmignore
  helm/_ches-mock/Chart.yaml
  helm/_ches-mock/templates/_helpers.tpl
  helm/_ches-mock/templates/deployment.yaml
  helm/_ches-mock/templates/hpa.yaml
  helm/_ches-mock/templates/pvc.yaml
  helm/_ches-mock/templates/route.yaml
  helm/_ches-mock/templates/service.yaml
  helm/_ches-mock/values.yaml
  helm/_mailpit/.helmignore
  helm/_mailpit/Chart.yaml
  helm/_mailpit/templates/_helpers.tpl
  helm/_mailpit/templates/deployment.yaml
  helm/_mailpit/templates/hpa.yaml
  helm/_mailpit/templates/pvc.yaml
  helm/_mailpit/templates/route.yaml
  helm/_mailpit/templates/service.yaml
  helm/_mailpit/values.yaml
  helm/main/Chart.lock
  helm/main/values-101ed4-dev.yaml
  helm/main/values.yaml
Due: none

feat(4363): add export function on users page
  app/app/api/users/download/route.ts
  app/app/api/users/search/route.ts
  app/app/users/all/page.tsx
  app/services/backend/user.ts
  app/services/db/user.ts
Due: eslint-app, knip

chore(4363): fetch user roles again after searching users
  app/app/users/all/TableBody.tsx
  app/services/db/user.ts
Due: eslint-app, knip

chore: release candidate v0.41.0
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

feat(4368): add user reader role
  app/app/users/all/ProductsCard.tsx
  app/app/users/all/TableBody.tsx
  app/components/badges/MinistryBadge.tsx
  app/constants/common.ts
  app/constants/user.ts
  app/core/auth-options.ts
  app/types/next-auth.d.ts
  localdev/keycloak-provision/src/main.ts
  localdev/m365proxy/mocks.json
  terraform/keycloak/dev/roles.tf
  terraform/keycloak/prod/roles.tf
  terraform/keycloak/test/roles.tf
Due: eslint, eslint-app, knip

chore(4368): remove duplicate ministry list
  app/constants/common.ts
Due: eslint-app, knip

chore(4176): in progress
  app/app/api/private-cloud/products/[licencePlate]/usage-metrics/route.ts
  app/package-lock.json
Due: eslint-app, knip

chore: release candidate v0.41.1
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

chore(4176): reviseformatCpu since it gets cores, not milicores
  app/helpers/resource-metrics.ts
  app/services/k8s/usage-metrics.ts
Due: eslint-app, knip

chore(2700): revise helm chart templates to match project-wide syntax
  .github/workflows/cypress-e2e-test.yaml
  helm/_ches-mock/templates/_helpers.tpl
  helm/_ches-mock/templates/hpa.yaml
  helm/_ches-mock/templates/pvc.yaml
  helm/_ches-mock/templates/service.yaml
Due: none

feat(4093): add task type 'Review Requests'
  app/app/api/private-cloud/products/_operations/create.ts
  app/app/api/private-cloud/products/_operations/delete.ts
  app/app/api/private-cloud/products/_operations/update.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/app/api/public-cloud/products/[licencePlate]/review-mou/route.ts
  app/app/api/public-cloud/products/_operations/delete.ts
  app/app/api/public-cloud/products/_operations/update.ts
  app/app/api/public-cloud/requests/[id]/decision/route.ts
  app/app/api/tasks/assigned/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/requests/page.tsx
  app/app/private-cloud/products/all/page.tsx
  app/app/private-cloud/requests/all/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/requests/page.tsx
  app/app/public-cloud/products/all/page.tsx
  app/app/public-cloud/requests/all/page.tsx
  app/components/layouts/SideTasks.tsx
  app/core/auth-options.ts
  app/prisma/schema.prisma
  app/services/ches/private-cloud/index.ts
  app/services/ches/public-cloud/index.ts
  app/services/db/index.ts
  app/services/db/models/private-cloud-request.ts
  app/services/db/models/public-cloud-product.ts
  app/services/db/models/public-cloud-request.ts
  app/services/db/tasks/index.ts
  app/services/db/tasks/review-private-cloud-request.ts
  app/services/db/tasks/review-public-cloud-request.ts
  app/types/next-auth.d.ts
  data-migrations/migrations/20241203062528-add_review_request_tasks.js
Due: eslint-app, prisma-format, knip

chore(4176): revert changes revise normalizeCPU function
  app/helpers/resource-metrics.ts
  app/package-lock.json
  app/services/k8s/usage-metrics.ts
Due: eslint-app, knip

chore(2700): add dependancies to values=dev file
  helm/main/Chart.yaml
  helm/main/values-101ed4-dev.yaml
Due: none

e2e(4125): edit request for public cloud and couple of fixes
  cypress/integration/2. create-request-public-test.feature
  cypress/integration/4. approve-requests-private.feature
  cypress/integration/6. edit-request-public-test.feature
  cypress/support/step_definitions/common.ts
Due: eslint

feat(4026): refresh access token from keycloak
  app/core/auth-options.ts
  app/core/client-page.tsx
  app/types/next-auth.d.ts
Due: eslint-app, knip

chore(4188): add environment short names
  app/constants/private-cloud.ts
  app/services/k8s/usage-metrics.ts
  app/services/nats/private-cloud/index.ts
Due: eslint-app, knip

chore(4188): remove subnet section for non emerald clusters
  app/components/private-cloud/sections/Quotas.tsx
Due: eslint-app, knip

chore(4188): update auto approval logic by range
  app/components/private-cloud/sections/Quotas.tsx
  app/components/private-cloud/sections/QuotasDescription.tsx
  app/helpers/auto-approval-check.ts
  app/tsconfig.json
Due: eslint-app, knip

chore(4188): fix typos
  app/core/auth-options.ts
Due: eslint-app, knip

chore(4188): resolve type conflicts
  app/app/api/private-cloud/products/[licencePlate]/usage-metrics/route.ts
  app/constants/private-cloud.ts
Due: eslint-app, knip

feat(4407): log request and response details for failed test API calls
  app/services/api-test/core.ts
Due: eslint-app, knip

chore(4188): handle create request's empty resource values
  app/components/private-cloud/sections/Quotas.tsx
Due: eslint-app, knip

chore: release candidate v0.42.0
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

chore(4407): update provisioning messages
  app/app/api/private-cloud/provision/[licencePlate]/route.ts
  app/app/api/public-cloud/provision/[licencePlate]/route.ts
  app/app/api/v1/private-cloud/products/[idOrLicencePlate]/provision/route.ts
  app/app/api/v1/public-cloud/products/[licencePlate]/provision/route.ts
  app/services/db/tasks/review-private-cloud-request.ts
  app/services/db/tasks/review-public-cloud-request.ts
Due: eslint-app, knip

chore(4407): use console log instead of console error
  app/services/api-test/core.ts
Due: eslint-app, knip

refactor(4096): use pnpm in root directory
  .github/actions/setup-npm/action.yml
  .github/workflows/cypress-e2e-test.yaml
  .pre-commit-config.yaml
  .release-it.json
  .tool-versions
  Makefile
  package-lock.json
  pnpm-lock.yaml
Due: none

chore(4096): fix tests
  app/app/api/public-cloud/requests/search/route.test.ts
  app/services/api-test/public-cloud/helpers.ts
Due: eslint-app, knip

chore(2700): deploy mailpit to ocp
  helm/_ches-mock/templates/deployment.yaml
  helm/_ches-mock/values.yaml
  helm/_mailpit/templates/deployment.yaml
  helm/_mailpit/templates/hpa.yaml
  helm/_mailpit/templates/pvc.yaml
  helm/_mailpit/templates/route.yaml
  helm/_mailpit/templates/service.yaml
  helm/_mailpit/values.yaml
  helm/main/Chart.lock
  helm/main/values.yaml
Due: none

refactor(4096): use pnpm in app directory
  .pre-commit-config.yaml
  app/.eslintrc.json
  app/.npmrc
  app/Dockerfile
  app/Dockerfile.email
  app/components/comments/TiptapReadOnly.tsx
  app/package-lock.json
  app/package.json
  app/pnpm-lock.yaml
  cypress/package-lock.json
  pnpm-lock.yaml
Due: eslint-app, knip

refactor(4096): use pnpm in data-migrations directory
  data-migrations/Dockerfile
  data-migrations/package-lock.json
  data-migrations/pnpm-lock.yaml
Due: none

Path conditions:
  eslint: any of: ^(cypress|localdev)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$
