Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, prisma-format, bash-format, knip

python-format:
  name: autopep8
  entry: .bin/autopep8.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

chore(3040): get ready for tag_id varaible as string type
  helm/secdash/dags/update_mailchimp_list.py
Due: python-format

chore(3040): rename test tag id variable
  app/config.ts
  helm/_app/templates/deployment.yaml
  helm/secdash/dags/mailchimp-subscription-dev.py
  helm/secdash/dags/mailchimp-subscription-prod.py
  helm/secdash/dags/mailchimp-subscription-test.py
Due: python-format, knip

chore(3040): revert tag id for prod namespace
  helm/secdash/dags/mailchimp-subscription-prod.py
Due: python-format

chore(3040): revert varaible name for test tag id
  helm/secdash/dags/mailchimp-subscription-dev.py
  helm/secdash/dags/mailchimp-subscription-test.py
Due: python-format

feat(3305): add team API account page and functionalities
  app/.eslintrc.json
  app/app/api/keycloak/api-accounts/team/[id]/route.ts
  app/app/api/keycloak/api-accounts/team/[id]/users/route.ts
  app/app/api/keycloak/api-accounts/team/_helpers/index.ts
  app/app/api/keycloak/api-accounts/team/_operations/create.ts
  app/app/api/keycloak/api-accounts/team/_operations/update.ts
  app/app/api/keycloak/api-accounts/team/route.ts
  app/app/api/keycloak/roles/_operations/list.ts
  app/app/api/keycloak/roles/route.ts
  app/app/layout.tsx
  app/app/team-api-accounts/AccountMembers.tsx
  app/app/team-api-accounts/AccountRoles.tsx
  app/app/team-api-accounts/createAccountModal.tsx
  app/app/team-api-accounts/manageAccountModal.tsx
  app/app/team-api-accounts/page.tsx
  app/app/team-api-accounts/viewAccountModal.tsx
  app/components/layouts/UserMenu.tsx
  app/core/modal.tsx
  app/schema.ts
  app/services/backend/keycloak.ts
  app/services/keycloak/app-realm.ts
Due: knip

chore(3305): remove unused type in create users modal
  app/app/team-api-accounts/createAccountModal.tsx
Due: knip

feat(3077): add functionality to create deletion request for temp product sets in 30 days since createdAt
  app/services/ches/private-cloud/send-emails.ts
  helm/secdash/dags/temporary_products_deletion.py
  package-lock.json
Due: python-format, knip

chore(3077): add missing function argument
  helm/secdash/dags/temporary_products_deletion.py
Due: python-format

chore(3305): close manage modal after deletion confirmation
  app/app/team-api-accounts/manageAccountModal.tsx
  app/app/team-api-accounts/page.tsx
Due: knip

chore(3040): add mailchimp-marketing to requirements file
  security-dashboard/airflow/requirements.txt
Due: none

chore(3040): update tools-versions file
  .tool-versions
Due: none

feat(3332): update API handler to accept team service account tokens
  app/app/api/keycloak/api-accounts/mappers.ts
  app/app/api/keycloak/api-accounts/team/_helpers/index.ts
  app/app/api/keycloak/api-accounts/team/_operations/create.ts
  app/app/api/keycloak/api-accounts/team/_operations/update.ts
  app/app/api/keycloak/api-accounts/user/_operations/create.ts
  app/app/api/v1/private-cloud/products/route.ts
  app/app/team-api-accounts/page.tsx
  app/core/api-handler.ts
  app/core/auth-options.ts
  app/core/services/private-cloud-project.ts
  app/core/services/public-cloud-project.ts
  app/core/services/user.ts
  app/package-lock.json
  app/types/next-auth.d.ts
Due: knip

chore(3332): fix tests on API routes
  app/app/api/v1/public-cloud/products/route.ts
  app/jest.setup.js
Due: knip

feat: add create deletion request and send email
  app/services/ches/private-cloud/send-emails.ts
Due: knip

feat: add create deletion request and send email
  helm/secdash/dags/temporary_products_deletion.py
Due: python-format

feat(3077): add scheduler to make delete requests for tmp products
  app/package-lock.json
  helm/secdash/dags/temporary_products_deletion.py
  package-lock.json
Due: python-format, knip

chore(3040): deploy most up-to-date Airflow in tools namespace
  helm/secdash/Chart.lock
  helm/secdash/dags/acs_dev.py
  helm/secdash/dags/acs_prod.py
  helm/secdash/dags/acs_test.py
  helm/secdash/dags/mailchimp_subscription_dev.py
  helm/secdash/dags/mailchimp_subscription_prod.py
  helm/secdash/dags/mailchimp_subscription_test.py
  helm/secdash/dags/provisioner_prod.py
  helm/secdash/dags/provisioner_test.py
  helm/secdash/dags/sonarscan_dev.py
  helm/secdash/dags/sonarscan_prod.py
  helm/secdash/dags/sonarscan_test.py
  helm/secdash/dags/zapscan_dev.py
  helm/secdash/dags/zapscan_prod.py
  helm/secdash/dags/zapscan_test.py
  helm/secdash/values.yaml
Due: python-format

chore(3077): revisit python file functioanlity
  helm/secdash/dags/temporary_products_deletion.py
Due: python-format

feat(3077): add temporary product deletion functionality
  app/app/api/private-cloud/products/[licencePlate]/route.ts
  helm/secdash/dags/temporary_products_deletion.py
Due: python-format, knip

chore(3040): update Mailchimp auto subscription DAG
  .pep8
  helm/secdash/dags/mailchimp_subscription_dev.py
  helm/secdash/dags/mailchimp_subscription_prod.py
  helm/secdash/dags/mailchimp_subscription_test.py
  helm/secdash/dags/update_mailchimp_list.py
Due: python-format

chore(3040): add Python format make command
  .bin/autopep8.sh
  Makefile
Due: bash-format

feat(2759): Add generic button component PoC
  app/app/button-examples/page.tsx
  app/components/buttons/mantine-theme.ts
  app/package-lock.json
Due: knip

feat(3332): display email errors on the team account form
  app/app/api/keycloak/api-accounts/team/_helpers/index.ts
  app/app/api/keycloak/api-accounts/team/_operations/create.ts
  app/app/api/keycloak/api-accounts/team/_operations/update.ts
  app/app/team-api-accounts/AccountMembers.tsx
  app/app/team-api-accounts/createAccountModal.tsx
  app/app/team-api-accounts/manageAccountModal.tsx
  app/core/services/private-cloud-project.ts
  app/core/services/public-cloud-project.ts
  app/package-lock.json
  app/services/backend/keycloak.ts
  helm/secdash/Makefile
Due: knip

chore(3332): hide save button after service account created
  app/app/team-api-accounts/AccountMembers.tsx
  app/app/team-api-accounts/AccountRoles.tsx
  app/app/team-api-accounts/createAccountModal.tsx
Due: knip

chore(3332): disable inputs after service account created
  app/app/team-api-accounts/AccountMembers.tsx
Due: knip

chore(3077): re-organize DAG files
  helm/secdash/dags/_github.py
  helm/secdash/dags/_mark_provisioned.py
  helm/secdash/dags/_projects.py
  helm/secdash/dags/_update_mailchimp_list.py
  helm/secdash/dags/acs_dev.py
  helm/secdash/dags/acs_prod.py
  helm/secdash/dags/acs_test.py
  helm/secdash/dags/mailchimp_subscription_dev.py
  helm/secdash/dags/mailchimp_subscription_prod.py
  helm/secdash/dags/mailchimp_subscription_test.py
  helm/secdash/dags/provisioner_prod.py
  helm/secdash/dags/provisioner_test.py
  helm/secdash/dags/sonarscan_dev.py
  helm/secdash/dags/sonarscan_prod.py
  helm/secdash/dags/sonarscan_test.py
  helm/secdash/dags/zapscan_dev.py
  helm/secdash/dags/zapscan_prod.py
  helm/secdash/dags/zapscan_test.py
Due: python-format

chore(3077): use black as python code formatter
  .bin/black.sh
  .pre-commit-config.yaml
  helm/secdash/dags/_acs_api.py
  helm/secdash/dags/_github.py
  helm/secdash/dags/_mark_provisioned.py
  helm/secdash/dags/_projects.py
  helm/secdash/dags/_update_mailchimp_list.py
  helm/secdash/dags/_utils.py
  helm/secdash/dags/acs_dev.py
  helm/secdash/dags/acs_prod.py
  helm/secdash/dags/acs_test.py
  helm/secdash/dags/mailchimp_subscription_dev.py
  helm/secdash/dags/mailchimp_subscription_prod.py
  helm/secdash/dags/mailchimp_subscription_test.py
  helm/secdash/dags/provisioner_prod.py
  helm/secdash/dags/provisioner_test.py
  helm/secdash/dags/sonarscan_dev.py
  helm/secdash/dags/sonarscan_prod.py
  helm/secdash/dags/sonarscan_test.py
  helm/secdash/dags/zapscan_dev.py
  helm/secdash/dags/zapscan_prod.py
  helm/secdash/dags/zapscan_test.py
  pyproject.toml
  requirements.txt
Due: python-format, bash-format

feat(3077): add Airflow DAG to handle delete requests
  app/app/api/private-cloud/products/[licencePlate]/route.ts
  app/app/api/v1/private-cloud/products/route.ts
  app/core/api-handler.ts
  app/utils/collection.ts
  helm/secdash/dags/_keycloak.py
  helm/secdash/dags/_temporary_products_deletion.py
  helm/secdash/dags/temporary_products_deletion_dev.py
Due: python-format, knip

chore(3077): fix API integration tests
  app/app/api/private-cloud/products/[licencePlate]/route.ts
  app/core/api-handler.ts
  app/jest.setup.js
  app/services/api-test/core.ts
Due: knip

chore(3077): update delete request email templates for service accounts
  app/emails/_templates/private-cloud/AdminDeleteRequest.tsx
  app/emails/_templates/private-cloud/DeleteRequest.tsx
  helm/secdash/dags/_temporary_products_deletion.py
  helm/secdash/dags/temporary_products_deletion_prod.py
  helm/secdash/dags/temporary_products_deletion_test.py
Due: python-format, knip

feat(3242): grant private admin to toggle temporary flags
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/layout.tsx
  app/app/private-cloud/requests/(request)/[id]/layout.tsx
  app/components/form/IsTestCheckBox.tsx
  app/components/form/ProductBadge.tsx
  app/components/form/ProjectDescriptionPrivate.tsx
  app/components/form/RequestBadge.tsx
  app/components/form/TestProductAlert.tsx
  app/components/form/TestProductBadge.tsx
  app/components/generic/checkbox/FormCheckbox.tsx
  app/components/table/TableBodyPrivateProducts.tsx
  app/components/table/TableBodyPrivateRequests.tsx
  app/core/services/private-cloud-project.ts
  app/types/doc-decorate.ts
Due: knip

chore(3372): rename security-dashboard to tools
  .github/workflows/build-push-tools.yml
  .github/workflows/deploy-tools.yml
  tools/airflow/Dockerfile
  tools/airflow/requirements.txt
  tools/sonarscan/Dockerfile
  tools/sonarscan/entrypoint.sh
  tools/sonarscan/example-search-history.json
  tools/zap/Dockerfile
  tools/zap/entrypoint.sh
Due: bash-format

feat(3372): install Jinja2 into Airflow for email templating
  tools/airflow/requirements.txt
Due: none

feat(3372): send notifications to temporary products
  app/package-lock.json
  app/prisma/schema.prisma
  helm/tools/dags/_ches.py
  helm/tools/dags/_temporary_products_deletion.py
  helm/tools/dags/_temporary_products_notification.html
  helm/tools/dags/_temporary_products_notification.py
  helm/tools/dags/_utils.py
  helm/tools/dags/temporary_products_notification_dev.py
  helm/tools/dags/temporary_products_notification_prod.py
  helm/tools/dags/temporary_products_notification_test.py
  helm/tools/values.yaml
Due: python-format, prisma-format, knip

chore(3372): fix tests
  app/app/api/private-cloud/products/_operations/delete.ts
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/emails/_components/Params.ts
Due: knip

feat(3196): set request box to full width for size consistency
  app/components/form/ActiveRequestBox.tsx
  app/components/generic/table/Pagination.tsx
  app/components/generic/table/Table.tsx
  app/package-lock.json
Due: knip

chore(3196): adjust projduct name badges sizes & locations
  app/components/form/ActiveRequestBox.tsx
  app/components/form/TestProductBadge.tsx
  app/components/table/TableBodyPrivateProducts.tsx
  app/components/table/TableBodyPrivateRequests.tsx
Due: knip

Path conditions:
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md)$
