Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^helm
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^helm
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: package.lock.json
- repo: local
  hooks:
  # - id: es-format
  #   name: eslint
  #   entry: .bin/eslint.sh
  #   language: script
  #   files: \.tsx?$
  #   verbose: true
  #   pass_filenames: true
  - id: python-format
    name: autopep8
    entry: .bin/autopep8.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
# - repo: https://github.com/codespell-project/codespell
#   rev: v2.2.6
#   hooks:
#   - id: codespell

exclude: ^(app/.react-email|CHANGELOG\.md)$

feat(3046): add API test script for private cloud product requests
  app/app/api/private-cloud/products/[licencePlate]/deletion-check/route.ts
  app/app/api/private-cloud/products/[licencePlate]/requests/route.test.ts
  app/app/api/private-cloud/requests/search/route.ts
  app/schema.ts
  app/services/api-test/private-cloud/products.ts
  app/utils/zod.ts
Due: knip

chore: mock individual locash funcs in jest
  app/jest.config.mjs
  app/jest.setup.js
  app/package-lock.json
  app/package.json
Due: knip

feat(3046): add API test script for private cloud product download
  app/app/api/private-cloud/products/download/route.test.ts
  app/app/api/private-cloud/products/download/route.ts
  app/app/api/private-cloud/products/search/route.test.ts
  app/app/api/private-cloud/provision/[licencePlate]/route.test.ts
  app/app/api/private-cloud/provision/[licencePlate]/route.ts
  app/jest.setup.js
  app/services/api-test/private-cloud/products.ts
  app/types/csv.ts
  app/utils/zod.ts
Due: knip

chore(3046): add helper func getTotalQuota
  app/helpers/product.ts
Due: knip

chore(3046): update schema
  app/schema.ts
Due: knip

feat(3047): add API test scripts for public cloud routes
  app/app/api/private-cloud/products/download/route.test.ts
  app/app/api/private-cloud/products/download/route.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/app/api/private-cloud/requests/search/route.test.ts
  app/app/api/public-cloud/products/[licencePlate]/requests/route.test.ts
  app/app/api/public-cloud/products/_operations/create.test.ts
  app/app/api/public-cloud/products/_operations/create.ts
  app/app/api/public-cloud/products/_operations/delete.test.ts
  app/app/api/public-cloud/products/_operations/delete.ts
  app/app/api/public-cloud/products/_operations/read.test.ts
  app/app/api/public-cloud/products/_operations/update.test.ts
  app/app/api/public-cloud/products/_operations/update.ts
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/api/public-cloud/products/download/route.ts
  app/app/api/public-cloud/products/search/route.test.ts
  app/app/api/public-cloud/products/search/route.ts
  app/app/api/public-cloud/provision/[licencePlate]/route.test.ts
  app/app/api/public-cloud/requests/[id]/decision/route.test.ts
  app/app/api/public-cloud/requests/[id]/decision/route.ts
  app/app/api/public-cloud/requests/search/route.test.ts
  app/app/api/public-cloud/requests/search/route.ts
  app/helpers/mock-resources.ts
  app/request-actions/public-cloud/decision-request.ts
  app/request-actions/public-cloud/edit-request.ts
  app/services/api-test/public-cloud/index.ts
  app/services/api-test/public-cloud/products.ts
  app/services/api-test/public-cloud/requests.ts
  app/types/csv.ts
Due: knip

chore: release candidate v0.30.0
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

feat(1846): add backend logic to backup provisioner callback
  helm/secdash/dags/mark-provisioned.py
Due: python-format

chore: remove M365_URL from not main helm files
  helm/main/values-101ed4-dev.yaml
  helm/main/values-101ed4-prod.yaml
  helm/main/values-101ed4-test.yaml
Due: none

feat(1846): add backend logic to backup provisioner callback
  helm/secdash/dags/mark-provisioned.py
  helm/secdash/dags/mark_provisioned.py
Due: python-format

feat(provisioner): add backend logic to backup provisioner callback (remove 'completed' attribute)
  helm/secdash/dags/mark_provisioned.py
Due: python-format

chore(3047): ensure wait for provisioning new requests
  app/app/api/public-cloud/requests/search/route.test.ts
  app/package-lock.json
Due: knip

chore: add environment variable USE_M365_PROXY
  app/.env.example
  app/config.ts
  app/package-lock.json
  app/services/msgraph/core.ts
Due: knip

chore(3047): remove unnecessary jest hooks
  app/jest.setup.js
  app/services/nats/private-cloud/index.test.ts
Due: knip

chore(3047): update jest hooks
  app/app/api/private-cloud/provision/[licencePlate]/route.ts
  app/app/api/public-cloud/provision/[licencePlate]/route.ts
  app/core/services/public-cloud-request.ts
  app/jest.setup.js
Due: knip

chore(3047): prevent multiple users from being created
  app/app/api/private-cloud/products/[licencePlate]/deletion-check/route.ts
  app/app/api/private-cloud/products/_operations/read.test.ts
  app/app/api/public-cloud/products/_operations/read.test.ts
  app/helpers/mock-users.ts
  app/helpers/product.ts
  app/jest.setup.js
  app/package.json
  app/services/db/user.ts
Due: knip

refactor: update landing page content
  app/components/Landing.tsx
  app/package-lock.json
Due: knip

chore: fix merge conflict
  app/package-lock.json
Due: knip

chore: update wording of clouds on landing page
  app/components/Landing.tsx
Due: knip

chore: remove small wording for consistency
  app/components/Landing.tsx
Due: knip

chore(2773): add M365_URL in values.yaml
  helm/main/values.yaml
Due: none

chore(2773): add helm directory as deploy dev's paths
  .github/workflows/deploy-dev.yml
Due: none

feat(3048): add API test scripts for user service account endpoints
  app/app/api/v1/private-cloud/products/route.test.ts
  app/app/api/v1/public-cloud/products/route.test.ts
  app/helpers/mock-users.ts
  app/jest.mock.ts
  app/jest.setup.js
  app/services/api-test/core.ts
  app/services/api-test/v1/private-cloud/products.ts
  app/services/api-test/v1/public-cloud/products.ts
  docs/api-testing.md
Due: knip

chore(3048): clean up mock user data
  app/app/api/private-cloud/products/[licencePlate]/requests/route.test.ts
  app/app/api/private-cloud/products/download/route.test.ts
  app/app/api/private-cloud/products/search/route.test.ts
  app/app/api/private-cloud/requests/search/route.test.ts
  app/app/api/public-cloud/products/[licencePlate]/requests/route.test.ts
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/api/public-cloud/products/search/route.test.ts
  app/app/api/public-cloud/requests/search/route.test.ts
  app/app/api/v1/private-cloud/products/route.test.ts
  app/app/api/v1/public-cloud/products/route.test.ts
  app/helpers/mock-resources.ts
  app/helpers/mock-users.ts
  app/services/api-test/core.ts
  app/types/user.ts
  localdev/m365proxy/types.ts
Due: knip

chore: edit public email templates with Azure provider case
  app/emails/_templates/public-cloud/CreateRequest.tsx
  app/emails/_templates/public-cloud/Provisioned.tsx
  app/emails/_templates/public-cloud/RequestApproval.tsx
Due: knip

chore: provider enum does not work for emails
  app/emails/_templates/public-cloud/Provisioned.tsx
  app/package-lock.json
Due: knip

chore(3048): update app dockerfile
  .dockerignore
  app/Dockerfile
Due: knip

fix(2889): update data diff common function
  app/components/ProductComparison.tsx
  app/helpers/product.ts
  app/services/backend/private-cloud/requests.ts
  app/services/backend/public-cloud/requests.ts
  app/utils/diff.ts
Due: knip

chore(2889): fix build errors
  app/app/private-cloud/requests/(request)/[id]/summary/page.tsx
  app/app/public-cloud/requests/(request)/[id]/summary/page.tsx
Due: knip

ref(3027): add error notifications for all useMutation calls
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/security/repository/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/dropdowns/PrivateCloudProductOptions.tsx
  app/components/dropdowns/PrivateCloudRequestOptions.tsx
  app/package-lock.json
Due: knip

test commit
  Makefile
  app/.gitignore
  app/package-lock.json
  localdev/docker-compose-arm64.yml
  localdev/keycloak/Dockerfile
  localdev/keycloak/Dockerfile2
Due: knip

chore: add localmac to makefile for arm64
  localdev/keycloak/Dockerfile2
Due: none

chore: revert localdev/keycloak/Dockerfile
  localdev/keycloak/Dockerfile
Due: none

fix(3093): add word wrap and character limit to description tool tips
  app/components/table/TableBodyPrivateProducts.tsx
  app/components/table/TableBodyPrivateRequests.tsx
  app/components/table/TableBodyPublicProducts.tsx
  app/components/table/TableBodyPublicRequests.tsx
Due: knip

chore(3093): add TruncatedTooltip component for better tooltip handling
  app/components/table/TableBodyPrivateProducts.tsx
  app/components/table/TableBodyPrivateRequests.tsx
  app/components/table/TableBodyPublicProducts.tsx
  app/components/table/TableBodyPublicRequests.tsx
  app/components/table/TruncatedTooltip.tsx
  app/components/table/styles.css
Due: knip

chore(3093): remove unused style import
  app/components/table/TableBodyPrivateProducts.tsx
Due: knip

fix(3103): give explicit view permission to ministry editor
  app/core/services/private-cloud-project.ts
  app/core/services/public-cloud-project.ts
  app/package-lock.json
  localdev/keycloak-provision/src/main.ts
Due: knip

chore: revert package.json
  app/.env.example
  app/.gitignore
  app/package-lock.json
Due: knip
