Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

Deploying to gh-pages from @ bcgov/platform-services-registry@8c94b6ef30392f058cd0dffb5594bdd222858ea4 🚀
  business-logic/private-cloud/email-scenario.html
  business-logic/public-cloud/email-scenario.html
  business-logic/service-accounts.html
  ci-cd/cd/debug-failed-deployments.html
  ci-cd/cd/release-tag-dispatch.html
  ci-cd/ci/checks.html
  ci-cd/ci/dependency-update.html
  clean-code/descriptive-function-names.html
  clean-code/falsy-check-early.html
  clean-code/react-handler-naming.html
  clean-code/return-early.html
  clean-code/small-components-functions.html
  clean-code/utils-helpers-shared-components.html
  code-conventions/data-communication/backend-api.html
  code-conventions/data-communication/data-fetching.html
  code-conventions/data-communication/service-layer.html
  code-conventions/naming-conventions.html
  development-setup/local-development-environment.html
  development-setup/react-email.html
  development-setup/sandbox.html
  git-github/bot-pr-review.html
  git-github/branching-model.html
  git-github/clean-pr.html
  git-github/new-task.html
  git-github/rocketchat-notification.html
  research/gold-migration-and-dr.html
  tests/api-testing.html
Due: none

chore(5384): calculate the cost for the givien interval using per-minute price units
  app/app/api/admin/private-cloud/costs/monthly/[year-month]/route.ts
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

fix(5511): fix prisma client error in dev env
  app/Dockerfile.db
Due: knip

chore(5511): modify the correct dockefile
  app/Dockerfile
  app/Dockerfile.db
Due: knip

chore(5511): correct spelling error
  app/Dockerfile.db
Due: knip

fix(5510): exclude request comments from decision data
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/app/api/public-cloud/requests/[id]/decision/route.ts
Due: eslint-app, knip

chore: release candidate v0.62.1
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(5384): revise cost period
  app/components/private-cloud/sections/QuotasBudgetEstimation.tsx
  app/services/db/private-cloud-costs.ts
  app/utils/js/date.ts
Due: eslint-app, knip

docs(1095): document request workflows
  docs/business-logic/private-cloud/request-workflow.md
  docs/business-logic/public-cloud/request-workflow.md
Due: none

feat(5384): add private-cloud cost endpoints
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

Deploying to gh-pages from @ bcgov/platform-services-registry@c542821399ed4fa8be6bc26787e1895b5eb9fb35 🚀
  business-logic/private-cloud/request-workflow.html
  business-logic/public-cloud/request-workflow.html
  sitemap.xml
  sitemap.xml.gz
Due: none

chore(5384): alculate admin monthly costs from cpuCost and storageCost directly
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

chore(5384): use local timezone (PST/PDT) for changePoints instead of UTC
  app/services/db/private-cloud-costs.ts
  app/utils/js/date.ts
Due: eslint-app, knip

chore(5384): update core logic to calculate costs
  app/app/api/admin/private-cloud/costs/monthly/[year-month]/route.ts
  app/app/api/private-cloud/products/[licencePlate]/costs/monthly/[year-month]/route.ts
  app/app/api/private-cloud/products/[licencePlate]/costs/yearly/[year]/route.ts
  app/services/db/private-cloud-costs.ts
  app/types/private-cloud.ts
  app/utils/js/date.ts
  pnpm-lock.yaml
Due: eslint-app, knip

chore(5384): correct cost accumulation logic to avoid double-counting environment totals
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

docs(1095): add documentation for Apache Airflow
  docs/technologies/airflow.md
Due: none

chore(5384): reset pnpm-lock.yaml to match main
  pnpm-lock.yaml
Due: none

Deploying to gh-pages from @ bcgov/platform-services-registry@1f14cab2a6c16cc247924c4b2760e95353329c17 🚀
  sitemap.xml
  sitemap.xml.gz
  technologies/airflow.html
Due: none

feat(5383) add monthly cost product tab
  app/app/api/private-cloud/products/[licencePlate]/costs/monthly/[year-month]/download/route.ts
  app/app/api/private-cloud/products/[licencePlate]/costs/monthly/[year-month]/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/layout.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/monthly-cost/page.tsx
  app/services/backend/private-cloud/products.ts
Due: eslint-app, knip

chore(5383): download monthly-cost pdf format
  app/app/api/private-cloud/products/[licencePlate]/costs/monthly/[year-month]/download/route.ts
  app/helpers/pdfs/monthly-cost/MonthlyCost.tsx
  app/helpers/pdfs/monthly-cost/index.tsx
  app/services/backend/private-cloud/products.ts
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

chore(5383): add chart to monthly cost tab and pdf
  app/app/api/private-cloud/products/[licencePlate]/costs/monthly/[year-month]/download/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/layout.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/monthly-cost/MonthyCostChart.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/monthly-cost/page.tsx
  app/helpers/pdfs/monthly-cost/MonthlyCost.tsx
  app/helpers/pdfs/monthly-cost/index.tsx
  app/utils/js/normalizeDailyCosts.ts
Due: eslint-app, knip

feat(5533): display active request alert on public cloud product
  app/app/public-cloud/products/(product)/[licencePlate]/layout.tsx
Due: eslint-app, knip

chore(5533): resolve build issues
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

feat(5533): display active request alert on public cloud product
  app/app/public-cloud/products/(product)/[licencePlate]/layout.tsx
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

chore(0000): send descriptive error message
  app/core/api-handler.ts
Due: eslint-app, knip

chore(0000): display token when errored
  app/utils/node/jwt.ts
Due: eslint-app, knip

chore(0000): log email subject only
  app/services/ches/core.ts
Due: eslint-app, knip

chore(5383): reuse normalizeDailyCosts for UI and PDF
  app/app/private-cloud/products/(product)/[licencePlate]/layout.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/monthly-cost/MonthyCostChart.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/monthly-cost/page.tsx
  app/helpers/pdfs/monthly-cost/MonthlyCost.tsx
  app/helpers/pdfs/monthly-cost/MonthlyCostPrintBarChart.tsx
  app/services/db/private-cloud-costs.ts
  app/utils/js/date.ts
  app/utils/js/normalizeDailyCosts.ts
Due: eslint-app, knip

chore: release candidate v0.63.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(5383): make BillingTotals reusable component
  app/app/api/private-cloud/products/[licencePlate]/costs/monthly/[year-month]/download/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/monthly-cost/BillingTotals.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/monthly-cost/page.tsx
  app/helpers/pdfs/monthly-cost/MonthlyCost.tsx
  app/helpers/pdfs/monthly-cost/index.tsx
Due: eslint-app, knip

feat(5386): generate cost history page for a given year
  app/app/api/private-cloud/products/[licencePlate]/costs/yearly/[year]/download/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/costs/history/TableBody.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/history/page.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/history/state.ts
  app/app/private-cloud/products/(product)/[licencePlate]/layout.tsx
  app/components/generic/select/FormYearPicker.tsx
  app/components/modal/YearPicker.tsx
  app/components/private-cloud/charts/YearlyCostBarChart.tsx
  app/helpers/pdfs/yearly-cost/YearlyCostHistory.tsx
  app/helpers/pdfs/yearly-cost/index.tsx
  app/helpers/product.ts
  app/services/backend/private-cloud/products.ts
  app/services/backend/private-cloud/unit-prices.ts
  app/utils/js/date.ts
  app/validation-schemas/common.ts
  app/validation-schemas/private-cloud.ts
Due: eslint-app, knip

chore(5386): remove unnecessary console messages
  app/helpers/pdfs/yearly-cost/YearlyCostHistory.tsx
Due: eslint-app, knip

chore(5386): correct spelling errors
  app/validation-schemas/private-cloud.ts
Due: eslint-app, knip

chore(5386): rename function
  app/app/private-cloud/products/(product)/[licencePlate]/costs/history/page.tsx
Due: eslint-app, knip

chore(5386): import the right function
  app/services/backend/private-cloud/products.ts
Due: eslint-app, knip

chore(5383): round numbers to 2 decimal places
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

chore(5383): move date func in utils
  app/utils/js/date.ts
Due: eslint-app, knip

chore(5383): pull all cost prices
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

feat(5383): add monthly cost product page
  app/app/api/private-cloud/products/[licencePlate]/costs/monthly/[year-month]/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/layout.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/monthly-cost/page.tsx
  app/components/private-cloud/monthly-cost/MonthlyCostSummary.tsx
  app/components/private-cloud/monthly-cost/MonthlyCostTable.tsx
  app/components/private-cloud/monthly-cost/MonthyCostChart.tsx
  app/eslint.config.mjs
  app/package.json
  app/pnpm-lock.yaml
  app/services/backend/private-cloud/products.ts
  app/services/db/private-cloud-costs.ts
  app/types/private-cloud.ts
Due: eslint-app, knip

chore(5386): integrate chartjs to render charts
  app/app/private-cloud/products/(product)/[licencePlate]/costs/history/page.tsx
  app/components/private-cloud/charts/YearlyCostStackBarChart.tsx
  app/package.json
  app/pnpm-lock.yaml
Due: eslint-app, knip

Path conditions:
  eslint: any of: ^(cypress|sandbox)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
