Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

chore(5456): add default comment schema
  app/components/modal/privateCloudProductCreateSubmit.tsx
  app/components/modal/privateCloudProductEditSubmit.tsx
  app/components/modal/publicCloudProductEditSubmit.tsx
  app/services/api-test/public-cloud/helpers.ts
  app/validation-schemas/private-cloud.ts
  app/validation-schemas/public-cloud.ts
  app/validation-schemas/shared.ts
Due: eslint-app, knip

docs(5424): add data communication workflow
  docs/code-conventions/data-communication/backend-api.md
  docs/code-conventions/data-communication/data-communication.md
  docs/code-conventions/data-communication/data-fetching.md
  docs/code-conventions/data-communication/react-view-layer.md
  docs/code-conventions/data-communication/service-layer.md
  docs/code-conventions/naming-conventions.md
  docs/home/main.md
  mkdocs.yml
Due: none

Deploying to gh-pages from @ bcgov/platform-services-registry@0192e7393834a02f1bf7ff7e968e5d0aaa951366 🚀
  404.html
  business-logic/email-scenarios/private-cloud.html
  business-logic/email-scenarios/public-cloud.html
  business-logic/public-cloud-emou-workflow.html
  ci-cd/cd/debug-failed-deployments.html
  ci-cd/cd/deployment-release.html
  ci-cd/cd/release-tag-dispatch.html
  ci-cd/ci/checks.html
  ci-cd/ci/dependency-update.html
  ci-cd/ci/peer-review.html
  ci-cd/ci/secret-scanning.html
  clean-code/descriptive-function-names.html
  clean-code/falsy-check-early.html
  clean-code/react-handler-naming.html
  clean-code/return-early.html
  clean-code/small-components-functions.html
  clean-code/utils-helpers-shared-components.html
  code-conventions/data-communication/backend-api.html
  code-conventions/data-communication/data-communication.html
  code-conventions/data-communication/data-fetching.html
  code-conventions/data-communication/react-view-layer.html
  code-conventions/data-communication/service-layer.html
  code-conventions/naming-conventions.html
  development-setup/local-development-environment.html
  development-setup/onboarding-offboarding.html
  development-setup/react-email.html
  development-setup/resource-metrics.html
  development-setup/sandbox.html
  development-setup/terraform.html
  git-github/bot-pr-review.html
  git-github/branching-model.html
  git-github/clean-pr.html
  git-github/new-task.html
  git-github/rocketchat-notification.html
  home/main.html
  poc/security-dashboard.html
  research/image-scanner.html
  sitemap.xml
  sitemap.xml.gz
  tests/api-testing.html
Due: none

chore(5424): re-organize the docs and add placeholders
  docs/business-logic/private-cloud/email-scenario.md
  docs/business-logic/private-cloud/request-workflow.md
  docs/business-logic/public-cloud/email-scenario.md
  docs/business-logic/public-cloud/emou-workflow.md
  docs/business-logic/public-cloud/request-workflow.md
  docs/business-logic/roles-permissions.md
  docs/business-logic/service-accounts.md
  docs/code-conventions/data-communication/backend-json-response.md
  docs/technologies/airflow.md
  docs/technologies/database-tools.md
  docs/technologies/terraform.md
  docs/technologies/weasyprint.md
  docs/tests/e2e.md
  mkdocs.yml
Due: none

chore: release candidate v0.62.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(5417): exclude react-hooks/exhuastive-deps
  eslint.config.mjs
Due: none

chore(5417): remove repeated eslint rules
  eslint.config.mjs
Due: none

chore(5417): modify database provider automatically
  app/prisma/types/edge.js
  app/prisma/types/index.js
Due: knip

chore(5417): include prisma generate in hooks
  .bin/prisma.sh
Due: bash-format

chore(5417): remove unused imports and dependencies
  app/.knip.json
  app/app/private-cloud/products/(product)/[licencePlate]/security/repository/page.tsx
  app/pnpm-lock.yaml
Due: eslint-app, knip

chore(5384): add backend endpoints about yearly and monthly costs
  app/app/api/private-cloud/products/[licencePlate]/costs/monthly/[year-month]/route.ts
  app/app/api/private-cloud/products/[licencePlate]/costs/yearly/[year]/route.ts
  app/services/backend/private-cloud/costs.ts
Due: eslint-app, knip

docs(1095): add Gold cluster migration research
  docs/research/gold-migration-and-dr.md
Due: none

chore(5417): resolve merge conflicts in pnpm-lock.ymal
  app/pnpm-lock.yaml
Due: none

chore(5417): revert to previous changes
  app/pnpm-lock.yaml
Due: none

Deploying to gh-pages from @ bcgov/platform-services-registry@85b9f2e679f873a496645efbb4b48e1c89134c58 🚀
  research/gold-migration-and-dr.html
  sitemap.xml
  sitemap.xml.gz
Due: none

chore(5417): uninstall prisma client
  app/.knip.json
  app/package.json
  app/pnpm-lock.yaml
  app/prisma/types/edge.js
  app/prisma/types/index.js
  pnpm-lock.yaml
Due: knip

chore(5417): refactor eslint ignored file
  eslint.config.mjs
Due: none

chore(5417): remove unnecessary type contraint rule
  eslint.config.mjs
Due: none

chore(5417): revert changes
  eslint.config.mjs
Due: none

chore(5417): refactor code
  app/.knip.json
  eslint.config.mjs
Due: knip

chore(5417): remove prisma client from knip.json
  app/.knip.json
Due: knip

chore(5417): fix typos
  .pre-commit-config.yaml
  eslint.config.mjs
Due: none

chore(5417): add @prisma/client in knip ignore list
  app/.knip.json
Due: knip

docs(1095): add roles and permissions system
  docs/business-logic/roles-permissions.md
  mkdocs.yml
Due: none

chore(5384): ajust unit price and quota change
  app/app/api/private-cloud/products/[licencePlate]/costs/monthly/[year-month]/route.ts
  app/app/api/private-cloud/products/[licencePlate]/costs/yearly/[year]/route.ts
  app/services/backend/private-cloud/costs.ts
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

chore(5384): ajust unit prices and quotas to minutes
  app/services/db/private-cloud-costs.ts
Due: eslint-app, knip

feat(5473): make expenseAuthorityId field mandatory
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/prisma/schema.prisma
  data-migrations/migrations/20250423230707-replace_null_eaid_with_poid.js
Due: eslint-app, prisma-format, knip

chore(5473): use mongodb's aggregation pipeline
  data-migrations/migrations/20250423230707-replace_null_eaid_with_poid.js
Due: none

chore(5473): bundle operation in a transaction
  data-migrations/migrations/20250423230707-replace_null_eaid_with_poid.js
Due: none

chore(5473): make codebase more elegant
  data-migrations/migrations/20250423230707-replace_null_eaid_with_poid.js
Due: none

chore(5473): make virtual field mandatory
  app/prisma/schema.prisma
  data-migrations/migrations/20250423230707-replace_null_eaid_with_poid.js
Due: prisma-format, knip

chore(5473): resolve failing operations
  app/app/api/public-cloud/products/_operations/create.ts
  app/app/api/public-cloud/products/_operations/update.ts
Due: eslint-app, knip

chore(5384): revise using UTC for local time, lodash functions, types
  app/services/db/private-cloud-costs.ts
  app/types/private-cloud.ts
Due: eslint-app, knip

docs(1095): document user and team service account types and usage
  docs/business-logic/service-accounts.md
Due: none

Deploying to gh-pages from @ bcgov/platform-services-registry@e4f8ab411caa824150e988a9e98b53e0363ea73e 🚀
  business-logic/service-accounts.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Path conditions:
  eslint: any of: ^(cypress|sandbox)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
