Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^(helm|mkdocs\.yml)$
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^(helm)$
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    exclude: .git/COMMIT_EDITMSG
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: ^(sandbox/mock-users\.json|sandbox/m365proxy/mocks\.json|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: .bin/eslint.sh
    language: script
    files: ^(cypress|sandbox)/.*\.(js|ts)$
    verbose: true
    pass_filenames: true
  - id: eslint-app
    name: eslint-app
    entry: .bin/eslint-app.sh
    language: script
    files: ^app/.*\.(ts|tsx)$
    verbose: true
    pass_filenames: true
  - id: python-format
    name: black
    entry: .bin/black.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
  - id: commitlint
    name: commitlint
    entry: .bin/commitlint.sh
    language: script
    verbose: true
    pass_filenames: false
    stages: [commit-msg]
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    exclude: .git/COMMIT_EDITMSG

exclude: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$

chore(5386): reorganize components
  app/app/private-cloud/products/(product)/[licencePlate]/costs/history/page.tsx
  app/components/private-cloud/charts/YearlyCostBarChart.tsx
  app/components/private-cloud/yearly-cost/YearlyCostChart.tsx
Due: eslint-app, knip

chore(5386): use exact context type
  app/components/private-cloud/yearly-cost/YearlyCostChart.tsx
Due: eslint-app, knip

chore(5386): make code cleaner
  app/app/api/private-cloud/products/[licencePlate]/costs/yearly/[year]/download/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/costs/history/TableBody.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/history/page.tsx
  app/components/private-cloud/yearly-cost/YearlyCostChart.tsx
  app/helpers/pdfs/yearly-cost/YearlyCostHistory.tsx
  app/helpers/pdfs/yearly-cost/index.tsx
  app/helpers/product.ts
Due: eslint-app, knip

feat(5383): generate PDF with shared components
  app/app/api/private-cloud/products/[licencePlate]/costs/monthly/[year-month]/download/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/monthly-cost/page.tsx
  app/components/private-cloud/monthly-cost/MonthlyCostSummary.tsx
  app/components/private-cloud/monthly-cost/MonthlyCostTable.tsx
  app/components/private-cloud/monthly-cost/MonthyCostChart.tsx
  app/helpers/pdfs/monthly-cost/index.tsx
  app/package.json
  app/pnpm-lock.yaml
  app/scripts/render-react-email-tailwind-style.ts
  app/services/backend/private-cloud/products.ts
  app/services/db/private-cloud-costs.ts
  app/types/private-cloud.ts
  app/utils/js/string.ts
Due: eslint-app, knip

chore(5386): move components into the their folders
  app/app/private-cloud/products/(product)/[licencePlate]/costs/history/TableBody.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/history/page.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/layout.tsx
  app/components/generic/select/FormYearPicker.tsx
  app/components/private-cloud/yearly-cost/YearlyCostChart.tsx
  app/components/private-cloud/yearly-cost/YearlyCostTable.tsx
  app/helpers/pdfs/yearly-cost/YearlyCostHistory.tsx
  app/helpers/pdfs/yearly-cost/index.tsx
  app/helpers/product.ts
  app/types/private-cloud.ts
Due: eslint-app, knip

feat(5383): generate chart images backend for PDF download
  .dockerignore
  app/.knip.json
  app/app/api/private-cloud/products/[licencePlate]/costs/monthly/[year-month]/download/route.ts
  app/components/private-cloud/monthly-cost/MonthlyCostSummary.tsx
  app/components/private-cloud/monthly-cost/MonthyCostChart.tsx
  app/components/private-cloud/monthly-cost/monthly-cost-chart-data.tsx
  app/helpers/pdfs/monthly-cost/index.tsx
  app/package.json
  app/pnpm-lock.yaml
  docs/development-setup/chartjs-canvas.md
  mkdocs.yml
Due: eslint-app, knip

chore(5383): resolve build issues
  app/app/private-cloud/products/(product)/[licencePlate]/monthly-cost/page.tsx
Due: eslint-app, knip

chore(5383): resolve build issues cont'
  .github/actions/setup-npm/action.yml
  app/package.json
Due: knip

chore(5383): update chartjs canvas documentation
  docs/development-setup/chartjs-canvas.md
Due: none

chore(5383): resolve build issues cont'
  .github/actions/setup-npm/action.yml
Due: none

chore(5383): update package lock file
  app/pnpm-lock.yaml
Due: none

chore(5383): node-gypo rebuild for canvas
  app/Dockerfile
Due: knip

chore(5383): install system dependencies for running canvas
  app/Dockerfile
Due: knip

chore(5383): install font-related system dependencies
  app/Dockerfile
  helm/main/values-101ed4-prod.yaml
  helm/main/values.yaml
Due: knip

chore(5386): add yearly cosr product page
  app/app/api/private-cloud/products/[licencePlate]/costs/yearly/[year]/download/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/costs/history/page.tsx
  app/components/generic/select/FormYearPicker.tsx
  app/components/modal/YearPicker.tsx
  app/components/private-cloud/yearly-cost/YearlyCostTable.tsx
  app/helpers/pdfs/yearly-cost/YearlyCostHistory.tsx
  app/helpers/pdfs/yearly-cost/index.tsx
  app/pnpm-lock.yaml
  app/services/backend/private-cloud/products.ts
Due: eslint-app, knip

chore(5383): update missing system dependencies
  app/Dockerfile
Due: knip

chore(5386): reorganize components
  app/app/private-cloud/products/(product)/[licencePlate]/costs/history/page.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/history/state.ts
  app/app/private-cloud/products/(product)/[licencePlate]/layout.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/yearly-cost/page.tsx
  app/components/private-cloud/yearly-cost/YearlyCostChart.tsx
  app/components/private-cloud/yearly-cost/YearlyCostTable.tsx
  app/components/private-cloud/yearly-cost/yearly-cost-chart-data.tsx
  app/services/backend/private-cloud/products.ts
  app/services/backend/private-cloud/unit-prices.ts
  app/types/private-cloud.ts
  app/validation-schemas/common.ts
  app/validation-schemas/private-cloud.ts
Due: eslint-app, knip

chore(5386): remove unnecessary functions and interfaces
  app/app/api/private-cloud/products/[licencePlate]/costs/yearly/[year]/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/yearly-cost/page.tsx
  app/components/private-cloud/yearly-cost/YearlyCostChart.tsx
  app/components/private-cloud/yearly-cost/YearlyCostTable.tsx
  app/components/private-cloud/yearly-cost/yearly-cost-chart-data.tsx
  app/constants/common.ts
  app/helpers/product.ts
  app/services/db/private-cloud-costs.ts
  app/types/private-cloud.ts
  app/utils/js/date.ts
Due: eslint-app, knip

chore(5386): remove unused console logs
  app/app/private-cloud/products/(product)/[licencePlate]/yearly-cost/page.tsx
Due: eslint-app, knip

feat(5386): add custom year picker common component
  app/components/generic/select/FormYearPicker.tsx
  app/components/modal/YearPicker.tsx
Due: eslint-app, knip

chore(5386): add the main year picker
  app/components/modal/YearPicker.tsx
Due: eslint-app, knip

chore(5386): simplify year picker logic
  app/components/generic/select/FormYearPicker.tsx
Due: eslint-app, knip

fix(5575): add retry with delay for Mailchimp email update errors
  helm/tools/dags/_update_mailchimp_list.py
Due: python-format

chore(5383): adjust font sizes for PDF download
  app/components/private-cloud/monthly-cost/monthly-cost-chart-data.tsx
  app/helpers/pdfs/monthly-cost/index.tsx
Due: eslint-app, knip

feat(5386): implement PDF download for yearly cost
  app/app/api/private-cloud/products/[licencePlate]/costs/yearly/[year]/download/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/yearly-cost/page.tsx
  app/components/private-cloud/yearly-cost/YearlyCostTable.tsx
  app/components/private-cloud/yearly-cost/yearly-cost-chart-data.tsx
  app/helpers/pdfs/yearly-cost/index.tsx
  app/services/backend/private-cloud/products.ts
Due: eslint-app, knip

chore(5386): adjust download button position
  app/app/private-cloud/products/(product)/[licencePlate]/yearly-cost/page.tsx
Due: eslint-app, knip

feat(5575): enable Azure option in production
  app/constants/public-cloud.ts
  app/core/auth-options.ts
  app/types/next-auth.d.ts
Due: eslint-app, knip

chore: release candidate v0.64.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

feat(5319): identify dangling namespaces in the dev environment
  app/scripts/.gitignore
  app/scripts/README.md
  app/scripts/dangling-namespaces.ts
  app/services/k8s/reads/deletion-check.ts
  app/tsconfig.json
Due: eslint-app, knip

feat(5387): add admin page for private cloud bills mgt
  app/app/api/admin/private-cloud/costs/monthly/[year-month]/route.ts
  app/app/private-cloud/billings/all/Table.tsx
  app/app/private-cloud/billings/all/TableBody.tsx
  app/app/private-cloud/billings/all/layout.tsx
  app/app/private-cloud/billings/all/page.tsx
  app/app/private-cloud/billings/all/state.ts
  app/components/layouts/UserMenu.tsx
  app/constants/user.ts
  app/core/auth-options.ts
  app/services/backend/admin.ts
  app/services/db/private-cloud-costs.ts
  app/types/next-auth.d.ts
  app/types/private-cloud.ts
  app/validation-schemas/private-cloud.ts
Due: eslint-app, knip

chore(5387): change function name
  app/app/private-cloud/billings/all/page.tsx
  app/services/backend/admin.ts
Due: eslint-app, knip
