Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, prisma-format, bash-format, knip

python-format:
  name: autopep8
  entry: .bin/autopep8.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

Add Public Cloud test to debug it based on errors
  cypress/integration/create-request-public-test.feature
Due: none

Add timeout between contacts input in Public Cloud test
  cypress/integration/create-request-public-test.feature
Due: none

Change timeout of waiting for provisioning the realm to 4 minutes
  .github/workflows/cypress-e2e-test.yaml
Due: none

Update steps for checking All Set modal checkboxes
  cypress/integration/create-request-public-test.feature
Due: none

chore: add test mock
  app/app/api/private-cloud/products/[licencePlate]/auto-approval-check/route.ts
  app/jest.setup.js
Due: knip

delete docker-compose-ci from the flow
  .github/workflows/cypress-e2e-test.yaml
  cypress/_tmp/edit-request-private-test.feature
Due: none

increase timeout waiting for realm to be provisioned again
  .github/workflows/cypress-e2e-test.yaml
Due: none

feat(3814): tweak public cloud create test to run in github actions
  .github/workflows/cypress-e2e-test.yaml
  cypress/_tmp/edit-request-private-test.feature
  cypress/integration/create-request-public-test.feature
Due: none

chore: revise autoapproval check, array iteration
  app/helpers/auto-approval-check.ts
  app/jest.setup.js
  app/request-actions/private-cloud/edit-request.ts
Due: knip

feat(3165): add label and select generic components
  app/components/generic/Label.tsx
  app/components/generic/select/FormMultiSelect.tsx
  app/components/generic/select/FormSingleSelect.tsx
  app/package-lock.json
Due: knip

chore: resolve main merge conflicts
  app/app/api/private-cloud/products/[licencePlate]/auto-approval-check/route.ts
Due: knip

chore: release candidate v0.34.1
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

chore(release): update docker context for building images
  .github/workflows/deploy-test.yml
  app/Dockerfile
  app/Dockerfile.email
  app/package-lock.json
Due: knip

chore: release candidate v0.34.2
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

feat(3165): enhance search, filter, and sort on private products
  app/app/api/private-cloud/products/_operations/search.ts
  app/app/api/private-cloud/products/download/route.test.ts
  app/app/api/private-cloud/products/download/route.ts
  app/app/api/private-cloud/products/search/route.test.ts
  app/app/api/private-cloud/products/search/route.ts
  app/app/api/v1/private-cloud/products/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/requests/FilterPanel.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/requests/page.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/requests/state.ts
  app/app/private-cloud/products/all/FilterPanel.tsx
  app/app/private-cloud/products/all/page.tsx
  app/app/private-cloud/products/all/state.ts
  app/app/private-cloud/requests/all/FilterPanel.tsx
  app/app/private-cloud/requests/all/page.tsx
  app/app/private-cloud/requests/all/state.ts
  app/components/generic/table/SearchFilterExport.tsx
  app/components/generic/table/Table.tsx
  app/constants/index.ts
  app/queries/private-cloud-products.ts
  app/services/backend/private-cloud/products.ts
  app/services/backend/private-cloud/requests.ts
  app/types/next-auth.d.ts
  app/validation-schemas/private-cloud.ts
Due: knip

feat(3166): enhance search, filter, and sort on private requests
  app/app/api/private-cloud/requests/_operations/search.ts
  app/app/api/private-cloud/requests/search/route.test.ts
  app/app/api/private-cloud/requests/search/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/requests/FilterPanel.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/requests/page.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/requests/state.ts
  app/app/private-cloud/products/all/FilterPanel.tsx
  app/app/private-cloud/products/all/page.tsx
  app/app/private-cloud/products/all/state.ts
  app/app/private-cloud/requests/all/FilterPanel.tsx
  app/app/private-cloud/requests/all/page.tsx
  app/app/private-cloud/requests/all/state.ts
  app/app/public-cloud/products/(product)/[licencePlate]/requests/FilterPanel.tsx
  app/app/public-cloud/products/all/FilterPanel.tsx
  app/app/public-cloud/requests/all/FilterPanel.tsx
  app/constants/index.ts
  app/constants/private-cloud.ts
  app/constants/public-cloud.ts
  app/queries/private-cloud-requests.ts
  app/services/backend/private-cloud/products.ts
  app/services/backend/private-cloud/requests.ts
  app/validation-schemas/private-cloud.ts
Due: knip

chore: organize constants
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/requests/page.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/requests/state.ts
  app/app/private-cloud/products/all/FilterPanel.tsx
  app/app/private-cloud/products/all/page.tsx
  app/app/private-cloud/products/all/state.ts
  app/app/private-cloud/requests/all/FilterPanel.tsx
  app/app/private-cloud/requests/all/page.tsx
  app/app/private-cloud/requests/all/state.ts
  app/app/public-cloud/products/(product)/[licencePlate]/requests/FilterPanel.tsx
  app/app/public-cloud/products/all/FilterPanel.tsx
  app/app/public-cloud/requests/all/FilterPanel.tsx
  app/constants/common.ts
  app/constants/index.ts
  app/constants/private-cloud.ts
  app/constants/public-cloud.ts
  app/helpers/mock-resources.ts
  app/helpers/mock-resources/core.ts
  app/helpers/mock-resources/private-cloud-product.ts
  app/helpers/mock-resources/private-cloud-request.ts
  app/helpers/product.ts
  app/queries/private-cloud-requests.ts
  app/services/backend/private-cloud/products.ts
  app/services/backend/private-cloud/requests.ts
  app/validation-schemas/private-cloud.ts
Due: knip

feat(3636): track cloud provider selection reasons
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
Due: knip

feat(3167): enhance search, filter, and sort on private cloud pages
  app/app/api/public-cloud/products/_operations/search.ts
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/api/public-cloud/products/download/route.ts
  app/app/api/public-cloud/products/search/route.test.ts
  app/app/api/public-cloud/products/search/route.ts
  app/app/api/public-cloud/requests/_operations/search.ts
  app/app/api/public-cloud/requests/search/route.test.ts
  app/app/api/public-cloud/requests/search/route.ts
  app/app/api/v1/public-cloud/products/route.ts
  app/app/public-cloud/products/(product)/[licencePlate]/requests/FilterPanel.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/requests/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/requests/state.ts
  app/app/public-cloud/products/all/FilterPanel.tsx
  app/app/public-cloud/products/all/page.tsx
  app/app/public-cloud/products/all/state.ts
  app/app/public-cloud/requests/all/FilterPanel.tsx
  app/app/public-cloud/requests/all/page.tsx
  app/app/public-cloud/requests/all/state.ts
  app/queries/private-cloud-requests.ts
  app/queries/public-cloud-products.ts
  app/queries/public-cloud-requests.ts
  app/services/backend/private-cloud/products.ts
  app/services/backend/private-cloud/requests.ts
  app/services/backend/public-cloud/products.ts
  app/services/backend/public-cloud/requests.ts
  app/validation-schemas/public-cloud.ts
Due: knip

feat(3636): track cloud provider selection reasons
  app/package-lock.json
Due: knip

feat(3636): track cloud provider selection reasons
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
Due: knip

chore(2827): fix typo
  app/components/generic/Label.tsx
  app/package-lock.json
Due: knip

feat(2827): add HookFormMultiSelect
  app/components/generic/select/HookFormMultiSelect.tsx
  app/components/generic/types.ts
Due: knip

chore(2827): reuse FormError in HookFormMultiSelect
  app/app/examples/client/[licencePlate]/page.tsx
  app/app/examples/server/[licencePlate]/page.tsx
  app/app/examples/ui/button/page.tsx
  app/app/examples/ui/modal/page.tsx
  app/app/examples/ui/modal/testModal.tsx
  app/app/examples/ui/multi-select/page.tsx
  app/app/examples/ui/table/page.tsx
  app/components/generic/select/HookFormMultiSelect.tsx
Due: knip

chore: pr review changes
  app/app/api/private-cloud/products/[licencePlate]/auto-approval-check/route.ts
  app/app/api/private-cloud/products/[licencePlate]/usage-metrics/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/usage/page.tsx
  app/components/table/TableBodyMetrics.tsx
  app/helpers/auto-approval-check.ts
  app/request-actions/private-cloud/edit-request.ts
  app/services/backend/private-cloud/usage-metrics.ts
  app/services/openshift-kubernetis-metrics/helpers.ts
  app/services/openshift-kubernetis-metrics/pod-usage-metrics.ts
  app/services/openshift-kubernetis-metrics/usage-metrics.ts
Due: knip

feat(3636): track reasons for choosing cloud provider
  app/app/api/public-cloud/products/download/route.ts
  app/components/form/ProjectDescriptionPublic.tsx
  app/components/generic/select/FormMultiSelect.tsx
  app/constants/public-cloud.ts
  app/prisma/schema.prisma
  app/request-actions/public-cloud/create-request.ts
  app/validation-schemas/public-cloud.ts
Due: prisma-format, knip

chore: pr review changes
  app/services/openshift-kubernetis-metrics/usage-metrics.ts
Due: knip

chore: pr review changes
  app/request-actions/private-cloud/edit-request.ts
  app/services/openshift-kubernetis-metrics/helpers.ts
Due: knip

feat(3636): track reasons for choosing cloud provider
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/helpers/mock-resources.ts
  app/types/csv.ts
Due: knip

feat(3636): track reasons for choosing cloud provider
  app/helpers/mock-resources.ts
  app/utils/number.ts
Due: knip

feat(3636): track reasons for choosing cloud provider
  app/helpers/mock-resources/core.ts
  app/helpers/mock-resources/public-cloud-product.ts
  app/helpers/mock-resources/public-cloud-request.ts
Due: knip

feat(3636): track reasons for choosing cloud provider
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/billing/PublicCloudBillingInfo.tsx
  app/helpers/mock-resources.ts
Due: knip

feat(3636): track reasons for choosing cloud provider
  app/components/billing/types.ts
Due: knip

feat(3636): track reasons for choosing cloud provider
  app/app/api/public-cloud/products/download/route.ts
Due: knip

Path conditions:
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md)$
