Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^(helm|mkdocs\.yml)$
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^(helm)$
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    exclude: .git/COMMIT_EDITMSG
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: ^(sandbox/mock-users\.json|sandbox/m365proxy/mocks\.json|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: .bin/eslint.sh
    language: script
    files: ^(cypress|sandbox)/.*\.(js|ts)$
    verbose: true
    pass_filenames: true
  - id: eslint-app
    name: eslint-app
    entry: .bin/eslint-app.sh
    language: script
    files: ^app/.*\.(ts|tsx)$
    verbose: true
    pass_filenames: true
  - id: python-format
    name: black
    entry: .bin/black.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
  - id: commitlint
    name: commitlint
    entry: .bin/commitlint.sh
    language: script
    verbose: true
    pass_filenames: false
    stages: [commit-msg]
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    exclude: .git/COMMIT_EDITMSG

exclude: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$

chore: release candidate v0.78.5
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

fix(0000): reformat code with black 26.1.0
  helm/tools/dags/mailchimp_subscription_dev.py
  helm/tools/dags/mailchimp_subscription_prod.py
  helm/tools/dags/mailchimp_subscription_test.py
  helm/tools/dags/temporary_products_deletion_dev.py
  helm/tools/dags/temporary_products_deletion_prod.py
  helm/tools/dags/temporary_products_deletion_test.py
  helm/tools/dags/temporary_products_notification_dev.py
  helm/tools/dags/temporary_products_notification_prod.py
  helm/tools/dags/temporary_products_notification_test.py
Due: python-format

fix(0000): rebuild canvas via pnpm instead of hardcoded pnpm store path
  .github/actions/setup-npm/action.yml
  Makefile
  app/package.json
  package.json
Due: knip

fix(0000): approve pnpm build scripts and rebuild canvas in pipeline
  .github/actions/setup-npm/action.yml
  Makefile
  package.json
Due: none

Revert "fix(deps): update dependency canvas to v3.2.1"
  .github/actions/setup-npm/action.yml
  Makefile
  app/package.json
  app/pnpm-lock.yaml
  package.json
Due: knip

fix(0000): stop using pnpm approve-builds and rebuild canvas when missing
  .github/actions/setup-npm/action.yml
  Makefile
  package.json
Due: none

fix(0000): update onlyBuiltDependencies for app/package,json file
  .github/actions/setup-npm/action.yml
  app/package.json
Due: knip

fix(0000): remove hardcoded canvas version and rebuild if binary is missing
  app/Dockerfile
Due: knip

fix(0000): remove incompatible parser preset
  commitlint.config.mjs
Due: none

fix(2649): use POST /archive endpoint for temporary product cleanup
  helm/tools/dags/_temporary_products_deletion.py
  helm/tools/dags/temporary_products_deletion_dev.py
Due: python-format

fix(2649): use POST /archive endpoint for prod and test
  helm/tools/dags/temporary_products_deletion_prod.py
  helm/tools/dags/temporary_products_deletion_test.py
Due: python-format

fix(2649): check if vars are availiable
  helm/tools/dags/_temporary_products_deletion.py
Due: python-format

chore(2649): add v1 archive route for service-account automation
  app/app/api/v1/private-cloud/products/[idOrLicencePlate]/archive/route.ts
  helm/tools/dags/_temporary_products_deletion.py
  helm/tools/dags/temporary_products_deletion_dev.py
  helm/tools/dags/temporary_products_deletion_prod.py
  helm/tools/dags/temporary_products_deletion_test.py
Due: eslint-app, python-format, knip

chore(2649): add admin role
  app/app/api/v1/private-cloud/products/[idOrLicencePlate]/archive/route.ts
Due: eslint-app, knip

chore(2661): fix PUBLIC_NATS_HOST to point to test environment
  helm/main/values-101ed4-test.yaml
Due: none

chore: release candidate v0.78.6
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(2658): enable service-account deletion for temporary products
  app/app/api/private-cloud/products/_operations/delete.ts
  app/components/comments/CommentForm.tsx
  app/emails/_templates/private-cloud/TeamDeleteRequestApproval.tsx
  app/emails/_templates/private-cloud/TeamDeleteRequestCompletion.tsx
  app/services/ches/private-cloud/emails.ts
Due: eslint-app, knip

chore: release candidate v0.78.7
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

Revert "chore(deps): update helm release mongodb to v18.5.0"
  helm/main/Chart.lock
  helm/main/Chart.yaml
  helm/tools/Chart.lock
  helm/tools/Chart.yaml
Due: none

fix(2670): extend DAG hook deadline and Helm timeout to prevent upgrade timeouts
  helm/main/Makefile
  helm/tools/templates/job.yaml
Due: none

fix(2670): add --timeout and --wait to install and upgrade
  helm/tools/Makefile
Due: none

fix(2670): increase HELM_TIMEOUT from 20m to 45m to prevent CI job timeout
  helm/tools/Makefile
Due: none

fix(2670): increase HELM_TIMEOUT from 20m to 45m for helm/main
  helm/main/Makefile
Due: none

fix(2670): increase job timeout to 60 minutes
  .github/workflows/deploy-tools.yml
Due: none

Revert "fix(2670): increase HELM_TIMEOUT from 20m to 45m for helm/main"
  helm/main/Makefile
Due: none

Revert "fix(2670): increase HELM_TIMEOUT from 20m to 45m to prevent CI job ti…"
  helm/tools/Makefile
Due: none

chore(2649): add logging for deletion temp products functionality
  helm/tools/dags/_temporary_products_deletion.py
Due: python-format

chore(2649): add logging for deletion temp products and count skipped
  helm/tools/dags/_temporary_products_deletion.py
Due: python-format

chore(2649): fix active request check: use explicit
  helm/tools/dags/_temporary_products_deletion.py
Due: python-format

chore(2649): allow deleting test private cloud products older than 30 days without eligibility check
  app/app/api/private-cloud/products/_operations/delete.ts
Due: eslint-app, knip

chore: release candidate v0.78.8
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(2649): skip deletion eligibility check for test private cloud products
  app/services/nats/index.ts
Due: eslint-app, knip

chore: release candidate v0.78.9
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(2493): update script to delete duplicated idirGuid accounts
  data-migrations/migrations/20251223185115-duplicated_idir_guid_postfix.js
  data-migrations/migrations/20260225215148-dedupe_idirGuid_delete_archived.js
Due: none

fix(0000): increase HELM_TIMEOUT from 20m to 45m to prevent CI job timeout
  helm/main/Makefile
  helm/tools/Makefile
Due: none

chore(2493): fix and adjust migration scripts for user deduplication and session cleanup
  app/constants/common.ts
  app/package.json
  app/services/msgraph/index.ts
  app/types/user.ts
  data-migrations/migrations/20251223201102-populate_user_sessions_with_idir_guid.js
  data-migrations/migrations/20260225215148-dedupe_idirGuid_delete_archived.js
Due: eslint-app, knip

chore(2493): reduce cognitive complexity and fix helper parameter order
  app/services/api-test/core.ts
  data-migrations/migrations/20251223201102-populate_user_sessions_with_idir_guid.js
  data-migrations/migrations/20260225215148-dedupe_idirGuid_delete_archived.js
Due: eslint-app, knip

chore(2493): refactor dedupe idirGuid migration to reduce cognitive complexity
  data-migrations/migrations/20260225215148-dedupe_idirGuid_delete_archived.js
Due: none
