Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^helm
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^helm
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: package.lock.json
- repo: local
  hooks:
  # - id: es-format
  #   name: eslint
  #   entry: .bin/eslint.sh
  #   language: script
  #   files: \.tsx?$
  #   verbose: true
  #   pass_filenames: true
  - id: python-format
    name: autopep8
    entry: .bin/autopep8.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
# - repo: https://github.com/codespell-project/codespell
#   rev: v2.2.6
#   hooks:
#   - id: codespell

exclude: ^(app/.react-email|CHANGELOG\.md)$

fix(3157): update delete confirmation modal
  app/components/dropdowns/PrivateCloudProductOptions.tsx
  app/components/modal/PublicCloudDelete.tsx
Due: knip

feat(3191): add admin tooltip and notification
  app/app/private-cloud/products/(product)/[licencePlate]/comments/page.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/layout.tsx
  app/app/private-cloud/requests/(request)/[id]/comments/page.tsx
  app/app/private-cloud/requests/(request)/[id]/layout.tsx
  app/components/comments/CommentForm.tsx
  app/components/generic/tabs/BasicTabs.tsx
Due: knip

feat(3587): merge steps definition to common file, refactor edit request
  cypress.config.ts
  cypress/e2e/create-test.cy.ts
  cypress/integration/approve-request-test.feature
  cypress/integration/create-request-private-test.feature
  cypress/integration/create-request-public-test.feature
  cypress/integration/delete-product-test.feature
  cypress/integration/edit-request-private-test.feature
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/support/step_definitions/approve-request.ts
  cypress/support/step_definitions/common.ts
  cypress/support/step_definitions/create-request.ts
  cypress/support/step_definitions/delete-request.ts
  cypress/support/step_definitions/edit-request.ts
  cypress/support/step_definitions/login-test.ts
Due: none

feat(3191): add admin tooltip and notification
  app/components/comments/CommentForm.tsx
Due: knip

docs: add guidelines for reviewing bot PRs
  docs/bot-pr-review.md
Due: none

test(3164): add list op test for admin comments
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/list.test.ts
Due: knip

docs(3621): add documentation for onboarding and offboarding
  docs/onboarding-offboarding.md
Due: none

chore(3621): update on/offboarding docs
  docs/onboarding-offboarding.md
Due: none

chore(3499): update eMOU forms and PDF content
  app/app/api/billing/[idOrAccountCoding]/download/BillingMou.tsx
  app/app/api/billing/[idOrAccountCoding]/route.ts
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/form/AccountCoding.tsx
  app/components/modal/ReturnDecision.tsx
  app/components/modal/signPublicCloudProductModal.tsx
Due: knip

feat(3576): include MS AD user object ID into public cloud NATS
  app/components/modal/AddUser.tsx
  app/core/auth-options.ts
  app/package-lock.json
  app/prisma/schema.prisma
  app/queries/users.ts
  app/services/db/user.ts
  app/services/msgraph/index.ts
  app/services/nats/public-cloud/index.ts
  app/types/user.ts
Due: prisma-format, knip

chore(3576): fix build
  app/emails/_components/Params.ts
Due: knip

feat(3593-1): modify create, delete, edit and approve request templates
  app/emails/_templates/private-cloud/CreateRequest.tsx
  app/emails/_templates/private-cloud/DeleteRequest.tsx
  app/emails/_templates/private-cloud/EditRequest.tsx
  app/emails/_templates/private-cloud/RequestApproval.tsx
Due: knip

feat(3471): add usage metrics for namespaces pods
  app/app/api/private-cloud/analytics/cpu-usage/route.ts
  app/package-lock.json
  app/package.json
Due: knip

chore: add pods list console.log
  app/app/api/private-cloud/analytics/cpu-usage/route.ts
Due: knip

chore: remove personal oc token
  app/app/api/private-cloud/analytics/cpu-usage/route.ts
Due: knip

chore: get metrics for given namesalce
  app/app/api/private-cloud/analytics/cpu-usage/route.ts
Due: knip

chore(valtio): remove deprecated usage of internal type in Valtio
  app/helpers/valtio.tsx
  app/package-lock.json
Due: knip

ci(3638): update Cypress test pipeline
  app/package.json
  cypress/.gitignore
  cypress/support/e2e.ts
Due: knip

ci(3638): update Cypress test pipeline
  .github/workflows/cypress-e2e-test.yaml
Due: none

chore(3164): update list op test
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/list.test.ts
Due: knip

fix(3641): resolve a bug displaying multiple app versions in footer
  app/components/layouts/Footer.tsx
Due: knip

chore(tests): Move unstable tests to temporary folder
  cypress.config.ts
  cypress/_tmp/approve-request-test.feature
  cypress/_tmp/create-request-private-test.feature
  cypress/_tmp/create-request-public-test.feature
  cypress/_tmp/delete-product-test.feature
  cypress/_tmp/edit-request-private-test.feature
  cypress/_tmp/edit-request-public-test.feature
  cypress/integration/login-test.feature
Due: none

docs(3639): add documentation for rocketchat notifications
  docs/rocketchat-notifications.md
Due: none

chore(test): add dummy test to let pipeline test pass
  cypress/integration/dummy.feature
Due: none

add edit request completed email; update templates for edit, create & delete requests
  .vscode/settings.json
  app/app/api/private-cloud/provision/[licencePlate]/route.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/emails/PrivateCloudEditRequestCompletion.tsx
  app/emails/_templates/private-cloud/CreateRequest.tsx
  app/emails/_templates/private-cloud/EditRequest.tsx
  app/emails/_templates/private-cloud/EditRequestComplete.tsx
  app/emails/_templates/private-cloud/RequestApproval.tsx
  app/package-lock.json
  app/services/ches/private-cloud/email-handler.ts
Due: knip

chore(test): add dummy test to let pipeline test pass
  cypress/integration/dummy.feature
  cypress/support/step_definitions/common.ts
Due: none

chore: release candidate v0.34.0
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

feat(3593-2): add 'Completed' email template and trigger on edit request completed; update Approved email template
  app/app/api/private-cloud/provision/[licencePlate]/route.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/emails/PrivateCloudEditRequestCompletion.tsx
  app/emails/_templates/private-cloud/CreateRequest.tsx
  app/emails/_templates/private-cloud/DeleteRequest.tsx
  app/emails/_templates/private-cloud/EditRequest.tsx
  app/emails/_templates/private-cloud/EditRequestComplete.tsx
  app/emails/_templates/private-cloud/RequestApproval.tsx
  app/package-lock.json
  app/services/ches/private-cloud/email-handler.ts
Due: knip

feat(3669): enhance eMOU workflow
  .secrets.baseline
  app/app/api/billing/[idOrAccountCoding]/download/BillingMou.tsx
  app/app/api/billing/[idOrAccountCoding]/download/route.tsx
  app/app/api/public-cloud/requests/[id]/review-mou/route.ts
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/billing/PublicCloudBillingDownloadButton.tsx
  app/components/billing/PublicCloudBillingInfo.tsx
  app/components/form/AccountCoding.tsx
  app/components/form/PageAccordion.tsx
  app/components/modal/AddUser.tsx
  app/config.ts
  app/core/auth-options.ts
  app/emails/_components/Params.ts
  app/emails/_templates/public-cloud/EmouServiceAgreement.tsx
  app/helpers/pdfs/emou/BillingMou.tsx
  app/helpers/pdfs/emou/index.tsx
  app/helpers/pdfs/emou/types.ts
  app/jest.setup.js
  app/package-lock.json
  app/prisma/schema.prisma
  app/queries/users.ts
  app/services/backend/billing.ts
  app/services/ches/helpers.ts
  app/services/ches/public-cloud/email-handler.ts
  app/services/db/user.ts
  app/services/msgraph/index.ts
  app/types/user.ts
  docs/emou-workflow.md
  localdev/m365proxy/mocks.json
Due: prisma-format, knip

feat(3593-3): update mermaid diagram
  docs/email-scenarios-private-cloud.md
Due: none

feat(3647): Add saving Cypress screenshots and videos in GHA artifacts
  .github/workflows/cypress-e2e-test.yaml
Due: none

chore(feat/3669): revert back the query select
  app/services/msgraph/index.ts
Due: knip

feat(3663): add graphic for when there are no comments to display
  app/app/private-cloud/products/(product)/[licencePlate]/comments/page.tsx
  app/app/private-cloud/requests/(request)/[id]/comments/page.tsx
  app/components/table/EmptySearch.tsx
Due: knip

chore(3663): refactor EmptySearch component
  app/components/table/EmptySearch.tsx
Due: knip

feat(analytics): add quota summary CSV endpoint
  app/app/api/analytics/csv/quota/route.ts
Due: knip

chore(analytics): add select clause in query
  app/app/api/analytics/csv/quota/route.ts
Due: knip

bug(3217): fix typo in hyperlink
  app/components/Landing.tsx
Due: knip

chore(nats-provision): update Keycloak health URL
  localdev/nats-provision/src/main.ts
Due: none
