Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^helm
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^helm
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: package.lock.json
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: .bin/eslint.sh
    language: script
    files: ^(cypress|localdev)/.*\.(js|ts)$
    verbose: true
    pass_filenames: true
  - id: eslint-app
    name: eslint-app
    entry: .bin/eslint-app.sh
    language: script
    files: ^app/.*\.(ts|tsx)$
    verbose: true
    pass_filenames: true
  - id: python-format
    name: black
    entry: .bin/black.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.18.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
exclude: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$

chore(4988): fix typo
  data-migrations/migrations/20250306044111-add_missing_public_cloud_billing_tasks.js
Due: none

chore: release candidate v0.46.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

fix(5121): resolve permission issues regarding billing workflows
  app/app/private-cloud/products/(product)/[licencePlate]/requests/page.tsx
  app/app/private-cloud/products/all/page.tsx
  app/app/private-cloud/requests/all/page.tsx
  app/app/public-cloud/billings/all/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/billing/page.tsx
  app/app/public-cloud/products/all/page.tsx
  app/app/public-cloud/requests/all/page.tsx
  app/components/layouts/SideTasks.tsx
  app/core/auth-options.ts
  app/emails/_components/ProviderDetails.tsx
  app/emails/_templates/public-cloud/ExpenseAuthorityMou.tsx
Due: eslint-app, knip

chore(5032): simplify date handling logic in subtitles
  app/app/analytics/general/page.tsx
  app/app/analytics/private-cloud/ActiveProducts.tsx
  app/app/analytics/private-cloud/AllRequests.tsx
  app/app/analytics/private-cloud/ContactChangeRequests.tsx
  app/app/analytics/private-cloud/MinistryDistribution.tsx
  app/app/analytics/private-cloud/QuotaRequests.tsx
  app/app/analytics/private-cloud/RequestsDecisionTime.tsx
  app/app/analytics/private-cloud/state.ts
Due: eslint-app, knip

chore(5032): improve type safety and validation for general analytics endpoint
  app/services/backend/analytics/general.ts
Due: eslint-app, knip

fix(5032): revert Histogram to a Client Component to fix function prop issue
  app/components/analytics/Histogram.tsx
Due: eslint-app, knip

chore: release candidate v0.46.1
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

feat(5134): add billing manager role
  app/constants/user.ts
  app/core/auth-options.ts
  app/services/db/models/public-cloud-product.ts
  app/types/next-auth.d.ts
  sandbox/mock-users.json
  terraform/keycloak/dev/roles.tf
  terraform/keycloak/prod/roles.tf
  terraform/keycloak/test/roles.tf
Due: eslint-app, knip

feat(5078): add disabled Quota section on new product page
  app/app/api/private-cloud/products/_operations/create.ts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/create/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/private-cloud/requests/(request)/[id]/original/page.tsx
  app/app/private-cloud/requests/(request)/[id]/request/page.tsx
  app/app/private-cloud/requests/all/state.ts
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/products/(product)/create/page.tsx
  app/app/public-cloud/requests/(request)/[id]/original/page.tsx
  app/app/public-cloud/requests/(request)/[id]/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/app/public-cloud/requests/all/state.ts
  app/components/private-cloud/sections/Quotas.tsx
  app/validation-schemas/private-cloud.ts
Due: eslint-app, knip

chore: release candidate v0.46.2
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(0000): update API endpoint permission validation
  app/app/api/v1/private-cloud/products/[idOrLicencePlate]/route.ts
  app/app/api/v1/private-cloud/products/route.ts
  app/app/api/v1/public-cloud/products/[idOrLicencePlate]/route.ts
  app/app/api/v1/public-cloud/products/route.ts
Due: eslint-app, knip

fix(5148): resolve issue assigning service account role
  app/core/auth-options.ts
  app/services/db/models/core.ts
Due: eslint-app, knip

feat(5080) add edit icon and tooltip to user component
  app/app/events/all/FilterPanel.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/components/generic/select/FormUserPicker.tsx
  app/components/shared/TeamContacts.tsx
  app/components/users/UserProfile.tsx
Due: eslint-app, knip

chore(5080) add delete icon and tooltip to secondary tech lead user component
  app/components/shared/TeamContacts.tsx
Due: eslint-app, knip

chore(5080): replace noUserSelectedText with text
  app/components/generic/select/FormUserPicker.tsx
  app/components/users/UserProfile.tsx
Due: eslint-app, knip

chore(5080): move edit icon and tooltip to userprofile
  app/components/shared/TeamContacts.tsx
  app/components/users/UserProfile.tsx
Due: eslint-app, knip

chore(5080): make tooltip edit for whole userprofile component
  app/components/users/UserProfile.tsx
Due: eslint-app, knip

chore: release candidate v0.47.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

feat(4927): add reusable TooltipTableHeader component
  app/app/users/all/TableBody.tsx
  app/components/shared/AdditionalTeamMembers.tsx
  app/components/shared/TeamContacts.tsx
  app/components/shared/TooltipTableHeader.tsx
Due: eslint-app, knip

chore(4927): remove redundant import
  app/app/users/all/TableBody.tsx
Due: eslint-app, knip

chore(4927): change last active tooltop text
  app/app/users/all/TableBody.tsx
  app/components/shared/AdditionalTeamMembers.tsx
  app/components/shared/TeamContacts.tsx
Due: eslint-app, knip

chore(0000): enable database data expiry flag
  helm/main/templates/mongodb-backup.yaml
Due: none

Update common.ts
  app/constants/common.ts
Due: eslint-app, knip

feat(5059): update deploy dispatch workflow for automated versioning
  .github/workflows/dispatch-deploy.yml
Due: none

chore(5059): move auto-versioning logic to release tag workflow
  .github/workflows/dispatch-deploy.yml
  .github/workflows/release-tag-changelog.yml
Due: none

chore(5059): update release tag workflow with strict version validation
  .github/workflows/release-tag-changelog.yml
Due: none

feat(5164): update ministries list with Water, Land and Resource Stewardship ministry
  app/constants/common.ts
  app/prisma/schema.prisma
  sandbox/keycloak-provision/main.ts
  terraform/keycloak/dev/ministry-roles.tf
  terraform/keycloak/prod/ministry-roles.tf
  terraform/keycloak/test/ministry-roles.tf
Due: eslint-app, prisma-format, knip

feat(4851): update webhook edit, view permissions for global roles
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
Due: eslint-app, knip

chore(5170): upgrade terraform version to 1.11.2 in keycloak and sysdig workflows
  .github/workflows/terraform-keycloak.yml
  .github/workflows/terraform-sysdig.yml
Due: none

chore(5170): centralize terraform version management
  .github/workflows/terraform-keycloak.yml
  .github/workflows/terraform-sysdig.yml
  .terraform-version
Due: none

chore(5059): implement auto-versioning with strict tag validation
  .github/workflows/release-tag-changelog.yml
Due: none

chore(5059): reorder steps to fetch tags before determining version
  .github/workflows/release-tag-changelog.yml
Due: none

chore: release candidate vv0.48.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(5059): remove additional v from tag
  .github/workflows/release-tag-changelog.yml
Due: none

chore(5170): use .tool-versions for terraform version
  .github/workflows/terraform-keycloak.yml
  .github/workflows/terraform-sysdig.yml
  .terraform-version
  .tool-versions
Due: none

chore(5170): trim whitespace in Terraform version extraction
  .github/workflows/terraform-keycloak.yml
  .github/workflows/terraform-sysdig.yml
Due: none

chore(5159): remove duplicate v prefix and handle existing duplicate tag
  .github/workflows/release-tag-changelog.yml
Due: none

feat(4742): highlight the users missing with mandatory attributes
  app/components/users/UserProfile.tsx
Due: eslint-app, knip
