Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^helm
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^helm
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: package.lock.json
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: .bin/eslint.sh
    language: script
    files: ^(cypress|localdev)/.*\.(js|ts)$
    verbose: true
    pass_filenames: true
  - id: eslint-app
    name: eslint-app
    entry: .bin/eslint-app.sh
    language: script
    files: ^app/.*\.(ts|tsx)$
    verbose: true
    pass_filenames: true
  - id: python-format
    name: black
    entry: .bin/black.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.18.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
exclude: ^(app/.react-email|CHANGELOG\.md|\.git/COMMIT_EDITMSG)$

chore(4793): fix failing tests
  .github/actions/setup-npm/action.yml
  .github/workflows/localdev-test.yml
  app/app/api/public-cloud/emails.test.ts
  app/utils/js/jest.ts
  data-migrations/Dockerfile
  localdev/ches-mock/Dockerfile
  localdev/keycloak-provision/Dockerfile
  localdev/m365mock/Dockerfile
  localdev/nats-provision/Dockerfile
Due: eslint-app, knip

chore(4793): update root pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore(4793): add .npmrc
  .npmrc
  localdev/.dockerignore
Due: none

chore(4793): update setup-npm action workflow
  .github/actions/setup-npm/action.yml
  .npmrc
Due: none

chore(4793): update setup-npm action workflow cont'
  .github/actions/setup-npm/action.yml
Due: none

chore(4793): fix build errors
  app/core/modal.tsx
  app/package.json
  app/pnpm-lock.yaml
  app/services/ches/helpers.ts
  app/tsconfig.json
Due: eslint-app, knip

feat(4829): implement maintenance-app with its deployment pipeline
  .github/workflows/deploy-maintenance-mode.yaml
  maintenance-mode/Dockerfile
  maintenance-mode/nginx.conf
  maintenance-mode/static/index.html
  maintenance-mode/static/style.css
Due: none

chore(4829): change deploy-maintenance-mode file format
  .github/workflows/deploy-maintenance-mode.yml
Due: none

chore(4829): remove using feature branch
  .github/workflows/deploy-maintenance-mode.yml
Due: none

chore(4828): rename build-push-localdev to build-push-sandbox
  .github/workflows/build-push-sandbox.yml
Due: none

chore(0000): hard-code the tag version for GitHub pages deployer
  .github/workflows/mkdocs.yml
Due: none

Deploying to gh-pages from @ bcgov/platform-services-registry@1ec031dce6af3a3f5c61598dc43e0faf12b81a89 🚀
  404.html
  api-testing.html
  assets/javascripts/bundle.60a45f97.min.js
  assets/javascripts/bundle.60a45f97.min.js.map
  assets/javascripts/bundle.f13b1293.min.js
  assets/javascripts/bundle.f13b1293.min.js.map
  assets/stylesheets/main.a40c8224.min.css
  assets/stylesheets/main.a40c8224.min.css.map
  assets/stylesheets/main.d7758b05.min.css
  assets/stylesheets/main.d7758b05.min.css.map
  bot-pr-review.html
  ci-cd.html
  clean-codes/return-early.html
  database.html
  debug-deployments.html
  developer-guide.html
  email-scenarios-private-cloud.html
  email-scenarios-public-cloud.html
  emou-workflow.html
  git-tips.html
  index.html
  onboarding-offboarding.html
  poc/security-dashboard.html
  react-email.html
  resource-metrics.html
  rocketchat-notifications.html
  search/search_index.json
  selecting-image-scanner.html
  sitemap.xml
  sitemap.xml.gz
  team-conventions.html
  terraform.html
Due: none

chore(4829): add nonroot user support
  .github/workflows/deploy-maintenance-mode.yml
  maintenance-mode/Dockerfile
  maintenance-mode/nginx.conf
Due: none

chore(4829): update ngnix for openshift non root user
  maintenance-mode/Dockerfile
  maintenance-mode/nginx.conf
Due: none

fix(4846): send emails when signing eMOU on exisiting products
  app/app/api/public-cloud/products/[licencePlate]/sign-mou/route.ts
  app/emails/_templates/public-cloud/BillingReviewerMou.tsx
  app/services/db/tasks/review-public-cloud-mou.ts
Due: eslint-app, knip

chore(4844): send RocketChat notification when GitHub pages deployment fails
  .github/workflows/mkdocs.yml
  .github/workflows/test-sandbox.yml
Due: none

chore(4771): add AG ministry Webhook URL duplication script
  data-migrations/migrations/20250127191932-ag_ministry_webhook_duplicate.js
Due: none

chore(4829): add dynamic image tagging for feature branch deployments
  .github/workflows/deploy-maintenance-mode.yml
  maintenance-mode/Dockerfile
Due: none

chore(4845): resolve typescript type errors
  Makefile
  app/app/api/private-cloud/products/_operations/update.ts
  app/app/api/private-cloud/products/download/route.test.ts
  app/app/api/private-cloud/products/search/route.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/app/api/private-cloud/requests/search/route.test.ts
  app/app/api/public-cloud/aws-roles/helpers.ts
  app/app/api/public-cloud/products/_operations/create.ts
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/api/public-cloud/products/search/route.test.ts
  app/app/api/public-cloud/requests/[id]/decision/route.ts
  app/app/api/public-cloud/requests/search/route.test.ts
  app/app/api/v1/private-cloud/products/route.test.ts
  app/app/api/v1/public-cloud/products/route.test.ts
  app/app/team-api-accounts/page.tsx
  app/components/billing/PublicCloudBillingInfo.tsx
  app/components/form/AccountCoding.tsx
  app/components/form/Budget.tsx
  app/components/form/ProjectDescriptionPrivate.tsx
  app/components/form/TemporaryProductAlert.tsx
  app/components/form/TemporaryProductBadge.tsx
  app/components/generic/button/CopyableButton.tsx
  app/components/modal/publicCloudProductCreateSubmit.tsx
  app/components/private-cloud/sections/Quotas.tsx
  app/emails/_components/ClusterDetails.tsx
  app/emails/_components/private-cloud/Changes.tsx
  app/emails/_components/public-cloud/Changes.tsx
  app/helpers/pdfs/emou/BillingMou.tsx
  app/helpers/product-change.ts
  app/package.json
  app/pnpm-lock.yaml
  app/services/api-test/core.ts
  app/services/backend/tasks.ts
  app/services/ches/private-cloud/index.ts
  app/services/ches/public-cloud/index.ts
  app/services/db/billing.ts
  app/services/db/models/private-cloud-request.ts
  app/services/db/models/public-cloud-request.ts
  app/tsconfig.json
Due: eslint-app, knip

chore(4845): resolve typescript type errors cont'
  app/app/api/tasks/assigned/route.ts
Due: eslint-app, knip

chore(4829): rename workflow maintenance file
  .github/workflows/deploy-maintenance.yml
Due: none

feat(4853): enhance Tasks admin page
  app/app/events/all/page.tsx
  app/app/tasks/all/FilterPanel.tsx
  app/app/tasks/all/TableBody.tsx
  app/app/tasks/all/page.tsx
  app/app/tasks/all/state.ts
  app/app/users/all/TableBody.tsx
  app/app/users/all/page.tsx
  app/components/generic/KeyValueTable.tsx
  app/components/users/UserProfile.tsx
  app/constants/index.ts
  app/constants/task.ts
  app/services/db/task.ts
  app/services/db/tasks/review-private-cloud-request.ts
  app/services/db/tasks/review-public-cloud-request.ts
  app/types/task.ts
  app/validation-schemas/task.ts
Due: eslint-app, knip

chore(4829): rename maintenance directory
  .github/workflows/deploy-maintenance.yml
  maintenance/Dockerfile
  maintenance/nginx.conf
  maintenance/static/index.html
  maintenance/static/style.css
Due: none

chore(4829): update path from 'maintenance' to 'maintenance/**
  .github/workflows/deploy-maintenance.yml
Due: none

chore(0000): remove build-push-m365proxy job
  .github/workflows/deploy-dev.yml
Due: none

chore(0000): remove build-push-m365proxy job cont'
  .github/workflows/deploy-dev.yml
Due: none

chore(4484): remove unnecessary comments
  app/app/api/public-cloud/nats.test.ts
Due: eslint-app, knip

chore(4484): remove additional comments
  app/app/api/private-cloud/products/download/route.test.ts
Due: eslint-app, knip

chore(4484): remove unused imports
  app/helpers/mock-users.ts
Due: eslint-app, knip

chore(4484): correct spelling errors
  app/components/private-cloud/sections/ModifiedTeamContacts.tsx
  app/components/public-cloud/sections/ModifiedTeamContacts.tsx
Due: eslint-app, knip

chore: release candidate v0.43.10
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(4484): removed used imports, logs and spelling errors
  app/app/api/private-cloud/nats.test.ts
  app/app/api/public-cloud/nats.test.ts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/create/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/private-cloud/requests/(request)/[id]/original/page.tsx
  app/app/private-cloud/requests/(request)/[id]/request/page.tsx
  app/components/private-cloud/sections/ModifiedTeamContacts.tsx
Due: eslint-app, knip

feat(4845): add email resend button in admin tasks page
  app/app/api/public-cloud/products/[licencePlate]/sign-mou/route.ts
  app/app/api/tasks/[id]/resend/route.ts
  app/app/tasks/all/TableBody.tsx
  app/constants/user.ts
  app/core/auth-options.ts
  app/services/backend/tasks.ts
  app/services/db/private-cloud-request.ts
  app/services/db/tasks/index.ts
  app/services/db/tasks/review-private-cloud-request.ts
  app/services/db/tasks/review-public-cloud-mou.ts
  app/services/db/tasks/review-public-cloud-request.ts
  app/services/db/tasks/sign-public-cloud-mou.ts
  app/types/next-auth.d.ts
Due: eslint-app, knip

refactor(4869): add sharable additional team members component
  app/components/private-cloud/sections/AdditionalTeamMembers.tsx
  app/components/private-cloud/sections/FormWebhooks.tsx
  app/components/public-cloud/sections/AdditionalTeamMembers.tsx
  app/components/shared/AdditionalTeamMembers.tsx
  app/components/users/UserProfile.tsx
Due: eslint-app, knip

fix(4872): fix deleting create request with initial account coding
  app/app/api/public-cloud/products/[licencePlate]/review-mou/route.ts
  app/app/api/public-cloud/products/_operations/create.ts
  app/app/api/public-cloud/products/_operations/update.ts
  app/app/api/public-cloud/requests/[id]/route.ts
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/requests/(request)/[id]/original/page.tsx
  app/app/public-cloud/requests/(request)/[id]/page.tsx
  app/components/billing/PublicCloudBillingDownloadButton.tsx
  app/components/billing/PublicCloudBillingInfo.tsx
  app/components/modal/publicCloudProductEditSubmit.tsx
  app/emails/_components/ProviderDetails.tsx
  app/emails/_components/public-cloud/Changes.tsx
  app/emails/_templates/public-cloud/BillingReviewerMou.tsx
  app/emails/_templates/public-cloud/EmouServiceAgreement.tsx
  app/emails/_templates/public-cloud/ExpenseAuthorityMou.tsx
  app/emails/_templates/public-cloud/ExpenseAuthorityMouProduct.tsx
  app/prisma/schema.prisma
  app/services/ches/public-cloud/emails.ts
  app/services/db/tasks/review-public-cloud-mou.ts
  app/services/db/tasks/sign-public-cloud-mou.ts
  app/services/nats/public-cloud/index.ts
Due: eslint-app, prisma-format, knip

chore: release candidate v0.43.11
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(4484): use only one Team Contact component for both clouds
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/create.test.ts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/create/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/private-cloud/requests/(request)/[id]/original/page.tsx
  app/app/private-cloud/requests/(request)/[id]/request/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/products/(product)/create/page.tsx
  app/app/public-cloud/requests/(request)/[id]/original/page.tsx
  app/app/public-cloud/requests/(request)/[id]/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/form/SupportContact.tsx
  app/components/form/TeamContacts.tsx
  app/components/private-cloud/sections/ModifiedTeamContacts.tsx
  app/components/public-cloud/sections/ModifiedTeamContacts.tsx
  app/constants/private-cloud.ts
  app/constants/user.ts
  app/helpers/mock-users.ts
  app/validation-schemas/shared.ts
Due: eslint-app, knip
