Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

chore(2465): refactor Valtio context to avoid ref access during render
  app/helpers/valtio.tsx
Due: eslint-app, knip

Revert "chore(deps): update dependency eslint-plugin-react-hooks to v7"
  app/app/layout.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/PeriodSelector.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/state.ts
  app/app/users/all/TableBody.tsx
  app/components/comments/CommentForm.tsx
  app/components/form/ProjectDescriptionPrivate.tsx
  app/components/form/TemporaryProductCheckboxAdmin.tsx
  app/components/generic/charts/LineChart.tsx
  app/components/generic/data-table/DataTable.tsx
  app/components/generic/table/SearchFilterExport.tsx
  app/components/modal/userDetail.tsx
  app/components/private-cloud/sections/QuotasChangeInfo.tsx
  app/helpers/valtio.tsx
  app/package.json
  app/pnpm-lock.yaml
  app/states/global.ts
Due: eslint-app, knip

chore(2562): redirect Postgres resolver error messages to stderr
  .github/scripts/resolve-postgres-image.sh
Due: bash-format

Replaced OCIO with CSBC
  .pre-commit-config.yaml
  app/components/modal/publicCloudMouSign.tsx
  app/components/public-cloud/BillingStatusProgress.tsx
  app/constants/public-cloud.ts
  app/emails/_templates/public-cloud/BillingReviewerMou.tsx
  app/emails/_templates/public-cloud/BillingReviewerMouProduct.tsx
  app/helpers/emou.ts
  app/helpers/pdfs/emou/BillingMou.tsx
Due: eslint-app, knip

fix(0000): increase job-pre-db-backup memory
  helm/main/templates/job-pre-db-backup.yaml
Due: none

chore: release candidate v0.78.1
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

fix(1000): increase pre-db memory
  helm/main/templates/job-pre-db-backup.yaml
Due: none

chore(2562): inline Postgres image resolution in tools deploy workflow
  .github/scripts/resolve-postgres-image.sh
  .github/workflows/deploy-tools.yml
Due: bash-format

chore(2562): add __init__.py to DAGs folder to restore imports of local helper modules
  helm/tools/dags/__init__.py
Due: python-format

Deploying to gh-pages from @ bcgov/platform-services-registry@1107f5df83d0d727e8ba96612fc4420cab8db3ee 🚀
  sitemap.xml
  sitemap.xml.gz
Due: none

chore(2465): replaced ocio with csbc
  app/components/modal/publicCloudMouSign.tsx
  app/components/public-cloud/BillingStatusProgress.tsx
  app/constants/public-cloud.ts
  app/emails/_templates/public-cloud/BillingReviewerMou.tsx
  app/emails/_templates/public-cloud/BillingReviewerMouProduct.tsx
  app/helpers/emou.ts
  app/helpers/pdfs/emou/BillingMou.tsx
Due: eslint-app, knip

Revert "chore(deps): update dependency mongodb to v7"
  data-migrations/package.json
  data-migrations/pnpm-lock.yaml
Due: none

chore(2528): add PYTHONPATH to scheduler to restore DAG imports
  .kube-linter.yaml
  helm/tools/values-101ed4-tools.yaml
Due: none

chore(2528): ncrease helm timeout to 10m for pltsvc hooks
  helm/main/Makefile
Due: none

chore(25720): explicitly set jwtSecretName to stabilize API auth token handling
  helm/tools/values.yaml
Due: none

fix(2574): adjust postgres 18 data volume path
  sandbox/docker-compose.yml
Due: none

fix(2580): drop deprecated MongoDB driver options
  data-migrations/migrate-mongo-config.js
Due: none

Revert "fix(deps): update dependency @react-email/tailwind to v2"
  app/package.json
  app/pnpm-lock.yaml
Due: knip

Replaced OCIO with CSBC
  app/components/modal/publicCloudMouSign.tsx
  app/helpers/pdfs/emou/BillingMou.tsx
Due: eslint-app, knip

chore(2465-1): changes reverted
  app/components/modal/publicCloudMouSign.tsx
Due: eslint-app, knip

chore(2465-1): replaced ocio with csbc
  app/components/modal/publicCloudMouSign.tsx
Due: eslint-app, knip

fix(2581): replace alpine base image with node:22.12.0-slim to resolve Corepack/pnpm failures
  app/Dockerfile.email
Due: knip

Revert "fix(deps): update dependency @react-email/preview-server to v5"
  app/package.json
  app/pnpm-lock.yaml
Due: knip

fix(2585): patch React via React 19.2.1 & Next 15.4.8
  app/package.json
  app/pnpm-lock.yaml
Due: knip

chore: release candidate v0.78.2
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

Deploying to gh-pages from @ bcgov/platform-services-registry@2b9dbb2d4053478d44b6a483f293d3c4113278e6 🚀
  sitemap.xml
  sitemap.xml.gz
Due: none

fix(0000): remove FlatCompat and duplicate plugins to restore ESLint 9 compatibility
  app/eslint.config.mjs
Due: knip

fix(0000): cleanup unused devDependencies and fix knip config after ESLint migration
  app/.knip.json
  app/package.json
Due: knip

fix(0000): update pnpm-lock after ESLint devDependency cleanup
  app/pnpm-lock.yaml
Due: none

fix(2590): stabilize react-email previews with safe faker mocks
  app/constants/common.ts
  app/helpers/mock-resources/core.ts
  app/helpers/mock-resources/private-cloud-request.ts
  app/helpers/mock-resources/public-cloud-billing.ts
  app/helpers/mock-resources/public-cloud-product.ts
  app/helpers/mock-resources/public-cloud-request.ts
  app/helpers/mock-resources/safe-faker.ts
Due: eslint-app, knip

fix(2590): upgrade react-email preview server to v5
  app/constants/common.ts
  app/pnpm-lock.yaml
  app/tsconfig.json
Due: eslint-app, knip

fix(2590): marked hotspot as safe
  app/helpers/mock-resources/core.ts
Due: eslint-app, knip

fix(2590): replace Math.random with crypto-based RNG to satisfy Sonar security hotspot
  app/constants/common.ts
  app/helpers/mock-resources/core.ts
Due: eslint-app, knip

fix(2590): revert app/tsconfig.json
  app/tsconfig.json
Due: knip

fix(2590): make safe-faker helper resilient to faker typings
  app/helpers/mock-resources/core.ts
  app/helpers/mock-resources/public-cloud-product.ts
  app/helpers/mock-resources/safe-faker.ts
  app/tsconfig.json
Due: eslint-app, knip

fix(2590): update Dockerfile.email to copy new React Email v5 output structure
  app/Dockerfile.email
Due: knip

fix(2590): stabilize initial render by restructuring Html/Head/Body usage
  app/emails/_components/layout/Layout.tsx
Due: eslint-app, knip

fix(2590): remove redunadnat commented out line
  app/emails/_components/layout/Layout.tsx
Due: eslint-app, knip

Revert "Fix/2590"
  app/emails/_components/layout/Layout.tsx
Due: eslint-app, knip

Revert "Fix/2590"
  app/constants/common.ts
  app/helpers/mock-resources/core.ts
  app/helpers/mock-resources/private-cloud-request.ts
  app/helpers/mock-resources/public-cloud-billing.ts
  app/helpers/mock-resources/public-cloud-product.ts
  app/helpers/mock-resources/public-cloud-request.ts
  app/helpers/mock-resources/safe-faker.ts
  app/package.json
  app/pnpm-lock.yaml
  app/tsconfig.json
Due: eslint-app, knip

Path conditions:
  eslint: any of: ^(cypress|sandbox)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
