Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

fix(2593): review icon typings for Tabler v3 compatibility
  app/components/generic/accordion/AccordionLabel.tsx
  app/components/layouts/UserMenu.tsx
  app/tsconfig.json
Due: eslint-app, knip

chore(mou): allow alphanumeric in mou form
  app/components/shared/AccountCoding.tsx
  app/validation-schemas/public-cloud.ts
Due: eslint-app, knip

chore(5915): main merge commit
  app/app/api/msgraph/search/route.ts
  app/app/api/private-cloud/products/_operations/create.ts
  app/app/api/private-cloud/products/_operations/delete.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/app/api/public-cloud/products/_operations/create.ts
  app/app/api/public-cloud/products/_operations/delete.ts
  app/app/api/public-cloud/products/_operations/update.ts
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/api/public-cloud/requests/[id]/decision/route.ts
  app/app/api/v1/private-cloud/products/route.test.ts
  app/app/api/v1/public-cloud/products/route.test.ts
  app/app/examples/server/[licencePlate]/page.tsx
  app/core/api-handler.ts
  app/core/auth-options.ts
  app/helpers/mock-users.ts
  app/jest.mock.ts
  app/prisma/schema.prisma
  app/services/api-test/core.ts
  app/services/db/models/private-cloud-request.ts
  app/services/db/models/public-cloud-request.ts
  app/services/db/task.ts
  app/services/db/user.ts
  app/services/msgraph/index.ts
  app/types/next-auth.d.ts
  sandbox/mock-users.json
Due: eslint-app, prisma-format, knip

chore(mou): allow alphanumeric in mou form
  app/components/shared/AccountCoding.tsx
Due: eslint-app, knip

chore(5915): main merge
  app/app/api/msgraph/search/route.ts
  app/app/api/private-cloud/products/_operations/create.ts
  app/app/api/private-cloud/products/_operations/delete.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/app/api/public-cloud/products/_operations/create.ts
  app/app/api/public-cloud/products/_operations/delete.ts
  app/app/api/public-cloud/products/_operations/update.ts
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/api/public-cloud/requests/[id]/decision/route.ts
  app/app/api/v1/private-cloud/products/route.test.ts
  app/app/api/v1/public-cloud/products/route.test.ts
  app/app/examples/server/[licencePlate]/page.tsx
  app/core/api-handler.ts
  app/core/auth-options.ts
  app/helpers/mock-users.ts
  app/jest.mock.ts
  app/prisma/schema.prisma
  app/services/api-test/core.ts
  app/services/db/models/private-cloud-request.ts
  app/services/db/models/public-cloud-request.ts
  app/services/db/task.ts
  app/services/db/user.ts
  app/services/msgraph/index.ts
  app/types/next-auth.d.ts
  sandbox/mock-users.json
Due: eslint-app, prisma-format, knip

chore(2493): merge last main updates
  .tool-versions
  app/app/api/msgraph/search/route.ts
  app/app/api/private-cloud/products/_operations/create.ts
  app/app/api/private-cloud/products/_operations/delete.ts
  app/app/api/private-cloud/requests/[id]/decision/route.ts
  app/app/api/public-cloud/products/_operations/create.ts
  app/app/api/public-cloud/products/_operations/delete.ts
  app/app/api/public-cloud/products/_operations/update.ts
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/api/public-cloud/requests/[id]/decision/route.ts
  app/app/api/v1/private-cloud/products/route.test.ts
  app/app/api/v1/public-cloud/products/route.test.ts
  app/app/examples/server/[licencePlate]/page.tsx
  app/core/api-handler.ts
  app/core/auth-options.ts
  app/helpers/mock-users.ts
  app/jest.mock.ts
  app/pnpm-lock.yaml
  app/prisma/schema.prisma
  app/services/api-test/core.ts
  app/services/db/models/private-cloud-request.ts
  app/services/db/models/public-cloud-request.ts
  app/services/db/task.ts
  app/services/db/user.ts
  app/services/msgraph/index.ts
  app/types/next-auth.d.ts
  sandbox/mock-users.json
Due: eslint-app, prisma-format, knip

chore(2493): revert .tool-versions
  .tool-versions
Due: none

chore(2493): update tests
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/create.test.ts
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/delete.test.ts
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/list.test.ts
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/update.test.ts
  app/app/api/private-cloud/products/[licencePlate]/requests/route.test.ts
  app/app/api/private-cloud/products/_operations/create.test.ts
  app/app/api/private-cloud/products/_operations/delete.test.ts
  app/app/api/private-cloud/products/_operations/read.test.ts
  app/app/api/private-cloud/products/_operations/update.test.ts
  app/app/api/private-cloud/products/download/route.test.ts
  app/app/api/private-cloud/products/search/route.test.ts
  app/app/api/private-cloud/requests/[id]/decision/route.test.ts
  app/app/api/private-cloud/requests/search/route.test.ts
  app/app/api/public-cloud/products/[licencePlate]/requests/route.test.ts
  app/app/api/public-cloud/products/_operations/create.test.ts
  app/app/api/public-cloud/products/_operations/delete.test.ts
  app/app/api/public-cloud/products/_operations/read.test.ts
  app/app/api/public-cloud/products/_operations/update.test.ts
  app/app/api/public-cloud/products/search/route.test.ts
  app/app/api/public-cloud/requests/[id]/decision/route.test.ts
  app/app/api/public-cloud/requests/search/route.test.ts
  app/core/api-handler.ts
  app/helpers/mock-users.ts
  app/jest.mock.ts
  app/jest.setup.ts
  app/services/api-test/core.ts
  app/services/api-test/private-cloud/helpers.ts
  app/services/api-test/public-cloud/helpers.ts
  data-migrations/migrations/20251223185115-duplicated_idir_guid_postfix.js
  data-migrations/migrations/20251223201102-populate_user_sessions_with_idir_guid.js
Due: eslint-app, knip

chore(2529): fix links on home page
  app/components/Landing.tsx
Due: eslint-app, knip

chore(2493): switch auth mocks from email to idirGuid and fix non-assigned user checks
  app/app/api/public-cloud/products/_operations/create.test.ts
  app/app/api/public-cloud/products/_operations/delete.test.ts
  app/app/api/public-cloud/products/_operations/read.test.ts
  app/app/api/v1/private-cloud/products/route.test.ts
  app/services/api-test/core.ts
Due: eslint-app, knip

chore(2465): patch MongoDB image to 8.0.17 in values files (CVE-2025-14847)
  helm/main/values-101ed4-dev.yaml
  helm/main/values-101ed4-prod.yaml
  helm/main/values-101ed4-test.yaml
Due: none

Revert "chore(2465): patch MongoDB image to 8.0.17 in values files (CVE-2025-…"
  helm/main/values-101ed4-dev.yaml
  helm/main/values-101ed4-prod.yaml
  helm/main/values-101ed4-test.yaml
Due: none

Revert "chore(deps): update egose/actions digest to 8d98a11"
  .github/actions/setup-tools/action.yml
  .github/workflows/build-push-maintenance.yml
  .github/workflows/build-push-mongodb.yml
  .github/workflows/build-push-sandbox.yml
  .github/workflows/build-push-tools.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-test.yml
Due: none

chore(2465): upgrade MongoDB to 8.2.3 in all environments
  helm/main/values-101ed4-dev.yaml
  helm/main/values-101ed4-prod.yaml
  helm/main/values-101ed4-test.yaml
Due: none

chore(2465): correct arbiter image repo and pin 8.0.13 digest
  helm/main/values-101ed4-dev.yaml
  helm/main/values-101ed4-prod.yaml
  helm/main/values-101ed4-test.yaml
  helm/main/values.yaml
Due: none

chore(2465): correct namespace values and pin 8.0.13 digest
  helm/main/values-101ed4-dev.yaml
  helm/main/values-101ed4-prod.yaml
  helm/main/values-101ed4-test.yaml
Due: none

chore(2465): remove redundant line
  helm/main/values-101ed4-dev.yaml
Due: none

chore(2465): upgrade bitnami mongodb to 8.2.3
  helm/main/values-101ed4-dev.yaml
  helm/main/values-101ed4-prod.yaml
  helm/main/values-101ed4-test.yaml
  helm/main/values.yaml
Due: none

chore(2464): update public emails links, fix hooking react-email sandbox sync for build and preview
  app/.gitignore
  app/emails/_components/ContactChanges.tsx
  app/emails/_components/DescriptionChanges.tsx
  app/emails/_components/QuotaChanges.tsx
  app/emails/_components/public-cloud/Support.tsx
  app/emails/_templates/public-cloud/TeamCreateRequestApproval.tsx
  app/emails/_templates/public-cloud/TeamCreateRequestCompletion.tsx
  app/emails/_templates/public-cloud/TeamDeleteRequestCompletion.tsx
  app/emails/_templates/public-cloud/TeamEditRequestCompletion.tsx
  app/helpers/mock-users.ts
  app/package.json
  app/scripts/sync-sandbox.cjs
Due: eslint-app, knip

chore(2464): move MsUser types to shared module
  VERSION
  app/emails/_templates/public-cloud/TeamCreateRequestCompletion.tsx
  app/emails/_templates/public-cloud/TeamEditRequestCompletion.tsx
  app/helpers/mock-users.ts
  app/scripts/sync-sandbox.cjs
  shared/ms-users/package.json
  shared/ms-users/types.d.ts
Due: eslint-app, knip

chore(2464): fix tests
  VERSION
  app/emails/_templates/public-cloud/TeamCreateRequestCompletion.tsx
Due: eslint-app, knip

Revert "chore(2464): update public emails links, fix hooking react-email sand…"
  app/.gitignore
  app/emails/_components/ContactChanges.tsx
  app/emails/_components/DescriptionChanges.tsx
  app/emails/_components/QuotaChanges.tsx
  app/emails/_components/public-cloud/Support.tsx
  app/emails/_templates/public-cloud/TeamCreateRequestApproval.tsx
  app/emails/_templates/public-cloud/TeamCreateRequestCompletion.tsx
  app/emails/_templates/public-cloud/TeamDeleteRequestCompletion.tsx
  app/emails/_templates/public-cloud/TeamEditRequestCompletion.tsx
  app/helpers/mock-users.ts
  app/package.json
  app/scripts/sync-sandbox.cjs
  shared/ms-users/package.json
  shared/ms-users/types.d.ts
Due: eslint-app, knip

chore(2464): revert mock-users functionality for email preview
  app/.gitignore
  app/helpers/mock-users.ts
  app/package.json
  app/scripts/sync-sandbox.cjs
  shared/ms-users/package.json
  shared/ms-users/types.d.ts
Due: eslint-app, knip

chore: release candidate v0.78.3
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

chore(2464): update public cloud email templates links
  app/emails/_components/public-cloud/Support.tsx
  app/emails/_templates/public-cloud/TeamCreateRequestApproval.tsx
  app/emails/_templates/public-cloud/TeamCreateRequestCompletion.tsx
  app/emails/_templates/public-cloud/TeamDeleteRequestCompletion.tsx
  app/emails/_templates/public-cloud/TeamEditRequestCompletion.tsx
Due: eslint-app, knip

chore: release candidate v0.78.4
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

Revert "chore(deps): update dependency react-hook-form to v7.71.0"
  app/pnpm-lock.yaml
Due: none

fix(2622): add replicaSet=replicaset to MongoDB connection string
  app/.env.example
Due: knip

fix(2624): increase PostgreSQL resources and disable nano preset
  helm/tools/values.yaml
Due: none

fix(0000): stop hardcoding canvas pnpm path
  .github/actions/setup-npm/action.yml
  Makefile
Due: none

fix(0000): approve native build scripts for pnpm
  .github/actions/setup-npm/action.yml
Due: none

fix(0000): correctly detect and rebuild canvas native binary
  .github/actions/setup-npm/action.yml
Due: none

fix(0000): allow pnpm to build native deps via onlyBuiltDependencies
  .github/actions/setup-npm/action.yml
  app/package.json
Due: knip

chore(2624): increase tools postgresql PVC size
  helm/tools/values.yaml
Due: none

Revert "chore(2624): increase tools postgresql PVC size"
  helm/tools/values.yaml
Due: none

Revert "fix(deps): update dependency canvas to v3.2.1"
  .github/actions/setup-npm/action.yml
  Makefile
  app/package.json
  app/pnpm-lock.yaml
Due: knip

fix(0000): rebuild canvas when canvas.node is missing
  .github/actions/setup-npm/action.yml
  app/package.json
Due: knip

Revert "fix(deps): update dependency canvas to v3.2.1"
  .github/actions/setup-npm/action.yml
  app/package.json
  app/pnpm-lock.yaml
Due: knip

fix(2626): o not use cancelled/rejected requests as baseline for new edits
  app/app/api/private-cloud/products/_operations/delete.ts
  app/app/api/private-cloud/products/_operations/update.ts
  app/app/api/private-cloud/requests/[id]/cancel/route.ts
  app/app/api/private-cloud/requests/[id]/route.ts
  app/app/api/public-cloud/products/_operations/delete.ts
  app/app/api/public-cloud/products/_operations/update.ts
  app/services/backend/private-cloud/requests.ts
  app/services/db/private-cloud-request.ts
  app/services/db/public-cloud-request.ts
Due: eslint-app, knip

Path conditions:
  eslint: any of: ^(cypress|sandbox)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
