Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^(helm|mkdocs\.yml)$
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^(helm)$
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    exclude: .git/COMMIT_EDITMSG
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: ^(sandbox/mock-users\.json|sandbox/m365proxy/mocks\.json|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: .bin/eslint.sh
    language: script
    files: ^(cypress|sandbox)/.*\.(js|ts)$
    verbose: true
    pass_filenames: true
  - id: eslint-app
    name: eslint-app
    entry: .bin/eslint-app.sh
    language: script
    files: ^app/.*\.(ts|tsx)$
    verbose: true
    pass_filenames: true
  - id: python-format
    name: black
    entry: .bin/black.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
  - id: commitlint
    name: commitlint
    entry: .bin/commitlint.sh
    language: script
    verbose: true
    pass_filenames: false
    stages: [commit-msg]
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    exclude: .git/COMMIT_EDITMSG

exclude: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$

chore: release candidate v0.80.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

feat(0000): gate public cloud forecast behind non-prod preview flag
  app/app/api/public-cloud/forecast/export/route.ts
  app/app/api/public-cloud/forecast/route.ts
  app/app/api/public-cloud/products/[licencePlate]/forecast/route.ts
  app/app/api/public-cloud/products/[licencePlate]/forecasts/[forecastId]/route.ts
  app/app/api/public-cloud/products/[licencePlate]/forecasts/route.ts
  app/app/public-cloud/forecast/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/components/layouts/UserMenu.tsx
  app/core/auth-options.ts
  app/services/db/models/public-cloud-product.ts
  app/types/next-auth.d.ts
Due: eslint-app, knip

chore(0000): finish local forecast seed scripts and package wiring
  app/.knip.json
  app/package.json
  app/seed/seed-all-local.ts
  app/seed/seed-forecast-local.ts
  pnpm-lock.yaml
Due: eslint-app, knip

fix(0000): use node: protocol for fs and path imports in seed foundation
  app/seed/seed-foundation.ts
Due: eslint-app, knip

fix(0000): harden forecast save/export and keep shared ExportButton unchanged
  app/components/buttons/ExportButton.tsx
  app/components/public-cloud/forecast/ProjectBudgetForecastPanel.tsx
  app/components/public-cloud/forecast/forecast-grid-utils.test.ts
  app/components/public-cloud/forecast/forecast-grid-utils.ts
  app/components/public-cloud/sections/PublicCloudForecastSection.tsx
  app/helpers/platform-forecast-export.ts
  app/prisma/schema.prisma
  app/services/backend/public-cloud/forecast.ts
  app/services/db/public-cloud-forecast.ts
  app/validation-schemas/cloud-cost.ts
Due: eslint-app, prisma-format, knip

fix(0000): limit platform forecast rollup to system and public cloud admins
  app/core/auth-options.ts
Due: eslint-app, knip

feat(0000): capture spend forecast on public cloud create and promote at provision
  app/app/api/public-cloud/products/_operations/create.ts
  app/app/api/v1/public-cloud/products/[idOrLicencePlate]/provision/route.ts
  app/app/public-cloud/products/(product)/create/page.tsx
  app/components/public-cloud/forecast/ProjectBudgetForecastPanel.tsx
  app/components/public-cloud/sections/PublicCloudCreateForecastSection.tsx
  app/prisma/schema.prisma
  app/validation-schemas/public-cloud.ts
Due: eslint-app, prisma-format, knip

fix(0000): gate pending forecast on create behind publicCloudForecast preview
  app/app/api/public-cloud/products/_operations/create.ts
Due: eslint-app, knip

feat(0000): show pending spend forecast on public cloud create requests
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/public-cloud/sections/PublicCloudPendingForecastSection.tsx
Due: eslint-app, knip

fix(0000): clear pendingForecast with null on public cloud provision
  app/app/api/v1/public-cloud/products/[idOrLicencePlate]/provision/route.ts
Due: eslint-app, knip

fix(0000): type forecast MonthlyValue currency as CAD literal
  app/components/public-cloud/forecast/forecast-grid-utils.test.ts
  app/components/public-cloud/forecast/forecast-grid-utils.ts
  app/components/public-cloud/sections/PublicCloudPendingForecastSection.tsx
  app/helpers/platform-forecast-export.ts
  app/services/db/public-cloud-forecast.ts
Due: eslint-app, knip

fix(0000): include pendingForecast in public cloud request mock
  app/helpers/mock-resources/public-cloud-request.ts
Due: eslint-app, knip

fix(0000): use MonthlyValue for create/update forecast inputs
  app/app/api/public-cloud/products/[licencePlate]/forecasts/route.ts
  app/app/api/v1/public-cloud/products/[idOrLicencePlate]/provision/route.ts
  app/services/db/public-cloud-forecast.ts
Due: eslint-app, knip

Revert "chore(deps): update dependency @keycloak/keycloak-admin-client to v26.7.0"
  pnpm-lock.yaml
Due: none

chore: release candidate v0.81.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

feat(2915): add PDB alert for private cloud product namespaces
  app/app/api/private-cloud/products/[licencePlate]/policy-reports/route.ts
  app/components/private-cloud/sections/Quotas.tsx
  app/constants/common.ts
  app/services/backend/private-cloud/products.ts
  app/services/k8s/policy-services.ts
  app/types/private-cloud.ts
Due: eslint-app, knip

fix(0000): disable initial Keycloak login
  terraform/keycloak/config.tf
  terraform/keycloak/dev/config.tf
  terraform/keycloak/prod/config.tf
  terraform/keycloak/test/config.tf
Due: none

feat(0000): improve spend forecast UX and AWS USD→CAD fill
  app/app/api/public-cloud/forecast/exchange-rate/route.ts
  app/app/public-cloud/products/(product)/create/page.tsx
  app/components/public-cloud/forecast/ProjectBudgetForecastPanel.tsx
  app/components/public-cloud/forecast/forecast-grid-utils.test.ts
  app/components/public-cloud/forecast/forecast-grid-utils.ts
  app/components/public-cloud/forecast/useForecastBudgetCad.ts
  app/components/public-cloud/sections/PublicCloudCreateForecastSection.tsx
  app/components/public-cloud/sections/PublicCloudForecastSection.tsx
  app/components/public-cloud/sections/PublicCloudPendingForecastSection.tsx
  app/seed/seed-forecast-local.ts
  app/services/backend/public-cloud/forecast.ts
  app/services/bank-of-canada/usd-cad-rate.test.ts
  app/services/bank-of-canada/usd-cad-rate.ts
  app/services/db/public-cloud-forecast.ts
Due: eslint-app, knip

refactor(0000): share form budget hook for forecast sections
  app/components/public-cloud/forecast/useFormForecastBudget.ts
  app/components/public-cloud/sections/PublicCloudCreateForecastSection.tsx
  app/components/public-cloud/sections/PublicCloudForecastSection.tsx
Due: eslint-app, knip

fix(0000): increase save/discard button size for padding
  app/components/public-cloud/forecast/ProjectBudgetForecastPanel.tsx
Due: eslint-app, knip

fix(0000): skip USD→CAD rate fetch for zero budgets
  app/app/public-cloud/products/(product)/create/page.tsx
  app/components/public-cloud/forecast/forecast-grid-utils.test.ts
  app/components/public-cloud/forecast/forecast-grid-utils.ts
  app/components/public-cloud/forecast/useForecastBudgetCad.ts
  app/services/db/public-cloud-forecast.ts
Due: eslint-app, knip

refactor(0000): extract shared exchange-rates service
  app/app/api/exchange-rates/usd-cad/route.ts
  app/app/public-cloud/products/(product)/create/page.tsx
  app/components/public-cloud/forecast/forecast-grid-utils.test.ts
  app/components/public-cloud/forecast/forecast-grid-utils.ts
  app/components/public-cloud/forecast/useForecastBudgetCad.ts
  app/services/backend/exchange-rates.ts
  app/services/backend/public-cloud/forecast.ts
  app/services/db/public-cloud-forecast.ts
  app/services/exchange-rates/index.test.ts
  app/services/exchange-rates/index.ts
Due: eslint-app, knip

feat: improve spend forecast UX and AWS USD→CAD fill (#7710)
  app/app/api/exchange-rates/usd-cad/route.ts
  app/app/public-cloud/products/(product)/create/page.tsx
  app/components/public-cloud/forecast/ProjectBudgetForecastPanel.tsx
  app/components/public-cloud/forecast/forecast-grid-utils.test.ts
  app/components/public-cloud/forecast/forecast-grid-utils.ts
  app/components/public-cloud/forecast/useForecastBudgetCad.ts
  app/components/public-cloud/forecast/useFormForecastBudget.ts
  app/components/public-cloud/sections/PublicCloudCreateForecastSection.tsx
  app/components/public-cloud/sections/PublicCloudForecastSection.tsx
  app/components/public-cloud/sections/PublicCloudPendingForecastSection.tsx
  app/seed/seed-forecast-local.ts
  app/services/backend/exchange-rates.ts
  app/services/bank-of-canada/usd-cad-rate.test.ts
  app/services/bank-of-canada/usd-cad-rate.ts
  app/services/db/public-cloud-forecast.ts
  app/services/exchange-rates/index.test.ts
  app/services/exchange-rates/index.ts
Due: eslint-app, knip

feat(forecast): improve spend forecast grid and rollup UX
  app/app/public-cloud/forecast/page.tsx
  app/components/public-cloud/forecast/ProjectBudgetForecastPanel.tsx
  app/components/public-cloud/forecast/forecast-grid-utils.test.ts
  app/components/public-cloud/forecast/forecast-grid-utils.ts
  app/seed/seed-all-local.ts
  app/seed/seed-forecast-local.ts
Due: eslint-app, knip

fix(forecast): tighten rollup Other row and bulk-fill behaviour
  app/app/public-cloud/forecast/page.tsx
  app/components/public-cloud/forecast/ProjectBudgetForecastPanel.tsx
  app/components/public-cloud/forecast/forecast-grid-utils.test.ts
  app/components/public-cloud/forecast/forecast-grid-utils.ts
Due: eslint-app, knip

fix(forecast): extract nested ternaries in rollup product rows
  app/app/public-cloud/forecast/page.tsx
Due: eslint-app, knip

feat(forecast): keep existing past months and skip past partial labels
  app/app/public-cloud/forecast/page.tsx
  app/components/public-cloud/forecast/ProjectBudgetForecastPanel.tsx
  app/components/public-cloud/forecast/forecast-grid-utils.test.ts
  app/components/public-cloud/forecast/forecast-grid-utils.ts
  app/seed/seed-forecast-local.ts
Due: eslint-app, knip

feat(forecast): improve spend forecast grid and rollup UX (#7716)
  app/app/public-cloud/forecast/page.tsx
  app/components/public-cloud/forecast/ProjectBudgetForecastPanel.tsx
  app/components/public-cloud/forecast/forecast-grid-utils.test.ts
  app/components/public-cloud/forecast/forecast-grid-utils.ts
  app/seed/seed-all-local.ts
  app/seed/seed-forecast-local.ts
Due: eslint-app, knip

feat(forecast): remove fill-from-budget and exchange rates
  app/app/api/exchange-rates/usd-cad/route.ts
  app/app/public-cloud/products/(product)/create/page.tsx
  app/components/public-cloud/forecast/ProjectBudgetForecastPanel.tsx
  app/components/public-cloud/forecast/forecast-grid-utils.test.ts
  app/components/public-cloud/forecast/forecast-grid-utils.ts
  app/components/public-cloud/forecast/useForecastBudgetCad.ts
  app/components/public-cloud/forecast/useFormForecastBudget.ts
  app/components/public-cloud/sections/PublicCloudCreateForecastSection.tsx
  app/components/public-cloud/sections/PublicCloudForecastSection.tsx
  app/components/public-cloud/sections/PublicCloudPendingForecastSection.tsx
  app/seed/seed-forecast-local.ts
  app/services/backend/exchange-rates.ts
  app/services/bank-of-canada/usd-cad-rate.test.ts
  app/services/bank-of-canada/usd-cad-rate.ts
  app/services/db/public-cloud-forecast.ts
  app/services/exchange-rates/index.test.ts
  app/services/exchange-rates/index.ts
Due: eslint-app, knip

refactor(forecast): remove redundant summary total cards
  app/app/public-cloud/forecast/page.tsx
  app/components/public-cloud/forecast/ProjectBudgetForecastPanel.tsx
Due: eslint-app, knip

Remove spend forecast fill-from-budget and exchange rates (#7722)
  app/app/api/exchange-rates/usd-cad/route.ts
  app/app/public-cloud/forecast/page.tsx
  app/app/public-cloud/products/(product)/create/page.tsx
  app/components/public-cloud/forecast/ProjectBudgetForecastPanel.tsx
  app/components/public-cloud/forecast/forecast-grid-utils.test.ts
  app/components/public-cloud/forecast/forecast-grid-utils.ts
  app/components/public-cloud/forecast/useForecastBudgetCad.ts
  app/components/public-cloud/forecast/useFormForecastBudget.ts
  app/components/public-cloud/sections/PublicCloudCreateForecastSection.tsx
  app/components/public-cloud/sections/PublicCloudForecastSection.tsx
  app/components/public-cloud/sections/PublicCloudPendingForecastSection.tsx
  app/seed/seed-forecast-local.ts
  app/services/backend/exchange-rates.ts
  app/services/bank-of-canada/usd-cad-rate.test.ts
  app/services/bank-of-canada/usd-cad-rate.ts
  app/services/db/public-cloud-forecast.ts
  app/services/exchange-rates/index.test.ts
  app/services/exchange-rates/index.ts
Due: eslint-app, knip

feat(forecast): enable public cloud forecast in all environments
  app/core/auth-options.ts
Due: eslint-app, knip

feat(forecast): enable public cloud forecast in all environments (#7734)
  app/core/auth-options.ts
Due: eslint-app, knip

feat(2952): add repositories section to public and private cloud products
  app/app/api/private-cloud/products/download/route.test.ts
  app/app/api/private-cloud/products/download/route.ts
  app/app/api/private-cloud/products/search/route.test.ts
  app/app/api/public-cloud/products/download/route.test.ts
  app/app/api/public-cloud/products/download/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/create/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/private-cloud/requests/(request)/[id]/original/page.tsx
  app/app/private-cloud/requests/(request)/[id]/request/page.tsx
  app/app/private-cloud/requests/(request)/[id]/summary/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/products/(product)/create/page.tsx
  app/app/public-cloud/requests/(request)/[id]/original/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/form/Repositories.tsx
  app/emails/_components/ProductDetails.tsx
  app/helpers/mock-resources.ts
  app/helpers/product-change.ts
  app/prisma/schema.prisma
  app/types/csv.ts
  app/types/public-cloud.ts
  app/validation-schemas/private-cloud.ts
  app/validation-schemas/public-cloud.ts
  app/validation-schemas/shared.ts
Due: eslint-app, prisma-format, knip

chore(2952): include repository changes in product comparisons
  app/helpers/product-change.ts
Due: eslint-app, knip

chore(2952): add repositories to mock product data
  app/helpers/mock-resources/private-cloud-product.ts
  app/helpers/mock-resources/private-cloud-request.ts
  app/helpers/mock-resources/public-cloud-product.ts
  app/helpers/mock-resources/public-cloud-request.ts
Due: eslint-app, knip

chore(2952): remove redundant console.log
  app/components/form/Repositories.tsx
Due: eslint-app, knip

chore: release candidate v0.82.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip
