Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

Deploying to gh-pages from @ bcgov/platform-services-registry@8033ca774cf2fa80f7f253daff8385914d98a73d 🚀
  sitemap.xml
  sitemap.xml.gz
Due: none

feat(5915): rename createdByEmail and decisionMakerEmail to createdById and decisionMakerId
  app/app/api/tasks/[id]/resend/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/requests/HistoryView/RequestTimeLine.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/requests/HistoryView/RequestTimeLine.tsx
  app/components/RequestStatusProgress.tsx
  app/components/form/PrivateCloudActiveRequestBox.tsx
  app/components/form/PublicCloudActiveRequestBox.tsx
  app/components/table/TableBodyPrivateProducts.tsx
  app/components/table/TableBodyPublicProducts.tsx
  app/helpers/mock-resources/private-cloud-request.ts
  app/helpers/mock-resources/public-cloud-request.ts
  app/prisma/schema.prisma
  app/services/db/analytics/private-cloud/request-decision-time.ts
  app/services/db/analytics/public-cloud/request-decision-time.ts
  app/services/db/models/private-cloud-request.ts
  app/services/db/models/public-cloud-billing.ts
  app/services/db/models/public-cloud-request.ts
  app/types/private-cloud.ts
  app/types/public-cloud.ts
  data-migrations/migrations/20240607161718-add_missing_create_requests.js
  data-migrations/migrations/20250723175849-rename_and_populate_createdbyemail_to_createdbyid.js
Due: eslint-app, prisma-format, knip

Revert "fix(deps): update dependency @react-email/preview-server to v4.2.4"
  app/pnpm-lock.yaml
Due: none

chore(5915): use active request createBy, not product
  app/components/form/PrivateCloudActiveRequestBox.tsx
  app/components/form/PublicCloudActiveRequestBox.tsx
  app/components/table/TableBodyPrivateProducts.tsx
  app/components/table/TableBodyPublicProducts.tsx
  app/types/private-cloud.ts
  app/types/public-cloud.ts
  data-migrations/migrations/20250723175849-rename_and_populate_createdbyemail_to_createdbyid.js
Due: eslint-app, knip

chore(5915): include createdBy in private and public cloud product requests response
  app/services/db/includes.ts
Due: eslint-app, knip

feat(5812): implement reminders for private cloud reviews
  helm/tools/dags/_keycloak.py
  helm/tools/dags/_request_review_reminder.html
  helm/tools/dags/_request_review_reminder.py
  helm/tools/dags/_task_failure_callback.py
  helm/tools/dags/request_review_reminder_dev.py
Due: python-format

chore(5812): add auto escaping support in jinja2
  helm/tools/dags/_request_review_reminder.py
  helm/tools/dags/_temporary_products_notification.py
Due: python-format

fix(0000): remove deprecated ministries
  terraform/keycloak/dev/ministry-roles.tf
  terraform/keycloak/prod/ministry-roles.tf
  terraform/keycloak/test/ministry-roles.tf
Due: none

chore(5812): add request review reminders for test, prod
  helm/tools/dags/request_review_reminder_prod.py
  helm/tools/dags/request_review_reminder_test.py
Due: python-format

chore(5915): fix typing to prevent build fail
  app/types/private-cloud.ts
  app/types/public-cloud.ts
  data-migrations/migrations/20250723175849-rename_and_populate_createdbyemail_to_createdbyid.js
Due: eslint-app, knip

e2e(5594): fix e2e tests, uniqualize names for parallel run
  currents.config.js
  cypress/integration/1. create-request-private-test.feature
  cypress/integration/10. edit-request-public-compare-data.feature
  cypress/integration/2. create-request-public-test.feature
  cypress/integration/3. delete-product-private-test.feature
  cypress/integration/4. approve-requests-private.feature
  cypress/integration/5. approve-requests-public.feature
  cypress/integration/6. delete-product-public-test.feature
  cypress/integration/7. edit-request-private-test.feature
  cypress/integration/8. edit-request-public-test.feature
  cypress/integration/9. edit-request-private-compare-data.feature
  cypress/support/commands.ts
  cypress/support/step_definitions/common.ts
  package.json
  pnpm-lock.yaml
  sandbox/docker-compose-arm64.yml
Due: eslint

chore(5915): resolve main merge conflicts
  data-migrations/migrations/20250723175849-rename_and_populate_createdbyemail_to_createdbyid.js
Due: none

chore(5915): resolve pre-commit issues
  app/components/form/PrivateCloudActiveRequestBox.tsx
  app/components/form/PublicCloudActiveRequestBox.tsx
Due: eslint-app, knip

chore(6168): apply minor updates to the UI
  app/app/private-cloud/products/(product)/[licencePlate]/costs/page.tsx
  app/components/private-cloud/CostSummary.tsx
  app/components/private-cloud/sections/QuotasBudgetEstimation.tsx
Due: eslint-app, knip

refactor(6168): limit IDIR provider searched users by roles
  app/services/keycloak/app-realm.ts
Due: eslint-app, knip

refactor(6168): improve team API accounts page
  app/app/team-api-accounts/page.tsx
  app/components/generic/data-table/DataTable.tsx
Due: eslint-app, knip

chore(5915): add user attribute idir_user_guid to keycloak token
  terraform/keycloak/dev/main.tf
Due: none

refactor(6168): simplify cost page calculation logic
  app/app/api/admin/private-cloud/bills/monthly/[year-month]/download/route.ts
  app/app/api/private-cloud/products/[licencePlate]/costs/monthly/[year-month]/download/route.ts
  app/app/api/private-cloud/products/[licencePlate]/costs/yearly/[year]/download/route.ts
  app/app/private-cloud/products/(product)/[licencePlate]/costs/page.tsx
  app/components/private-cloud/CostSummary.tsx
  app/constants/private-cloud.ts
  app/helpers/pdfs/monthly-cost/index.tsx
  app/helpers/pdfs/quarterly-cost/index.tsx
  app/helpers/pdfs/yearly-cost/index.tsx
  app/services/db/private-cloud-costs.ts
  app/types/private-cloud.ts
Due: eslint-app, knip

chore(6168): simplify cost page calculation logic cont'
  app/app/private-cloud/products/(product)/[licencePlate]/costs/DateSelector.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/Monthly.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/Quarterly.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/Yearly.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/page.tsx
  app/components/private-cloud/CostSummary.tsx
  app/components/private-cloud/monthly-cost/MonthlyCostChart.tsx
  app/components/private-cloud/monthly-cost/MonthlyCostTable.tsx
  app/components/private-cloud/monthly-cost/monthly-cost-chart-data.tsx
  app/components/private-cloud/quarterly-cost/QuarterlyCostChart.tsx
  app/components/private-cloud/quarterly-cost/QuarterlyCostTable.tsx
  app/components/private-cloud/quarterly-cost/quarterly-cost-chart-data.tsx
  app/components/private-cloud/yearly-cost/YearlyCostChart.tsx
  app/components/private-cloud/yearly-cost/YearlyCostTable.tsx
  app/components/private-cloud/yearly-cost/yearly-cost-chart-data.tsx
  app/constants/private-cloud.ts
  app/helpers/pdfs/monthly-cost/index.tsx
  app/helpers/pdfs/quarterly-cost/index.tsx
  app/helpers/pdfs/yearly-cost/index.tsx
  app/services/backend/private-cloud/products.ts
  app/services/db/private-cloud-costs.ts
  app/types/private-cloud.ts
Due: eslint-app, knip

chore: release candidate v0.74.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

fix(6202): handle querying requests by requester IDs
  app/services/db/models/private-cloud-request.ts
  app/services/db/models/public-cloud-request.ts
Due: eslint-app, knip

chore(6202): remove redundant 'equals' in query
  app/services/db/models/private-cloud-request.ts
  app/services/db/models/public-cloud-request.ts
Due: eslint-app, knip

chore(6202): refresh pnpm lock file
  app/pnpm-lock.yaml
Due: none

chore: release candidate v0.74.1
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

refactor(6168): calculate quota proportionally in time
  app/components/private-cloud/monthly-cost/MonthlyCostTable.tsx
  app/components/private-cloud/quarterly-cost/QuarterlyCostTable.tsx
  app/components/private-cloud/yearly-cost/YearlyCostTable.tsx
  app/constants/private-cloud.ts
  app/services/db/private-cloud-costs.ts
  app/types/private-cloud.ts
  app/utils/js/date.ts
  app/utils/js/number.ts
Due: eslint-app, knip

refactor(6153): reorganize cost component structure
  app/app/private-cloud/products/(product)/[licencePlate]/costs/PeriodSelector.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/PeriodSelector_tobedeleted.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/page.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/state.ts
  app/app/private-cloud/unit-prices/all/page.tsx
  app/components/private-cloud/CostSummary.tsx
  app/components/private-cloud/monthly-cost/MonthlyCostTable.tsx
  app/components/private-cloud/quarterly-cost/QuarterlyCostTable.tsx
  app/components/private-cloud/sections/QuotasBudgetEstimation.tsx
  app/components/private-cloud/yearly-cost/YearlyCostTable.tsx
  app/constants/private-cloud.ts
  app/helpers/pdfs/monthly-cost/index.tsx
  app/helpers/pdfs/quarterly-cost/index.tsx
  app/helpers/pdfs/yearly-cost/index.tsx
  app/services/db/private-cloud-costs.ts
  app/types/private-cloud.ts
Due: eslint-app, knip

chore(6153): reorganize cost component structure cont'
  app/app/private-cloud/products/(product)/[licencePlate]/costs/Monthly.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/PeriodSelector.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/PeriodSelector_tobedeleted.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/Quarterly.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/Yearly.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/page.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/state.ts
  app/components/badges/CostStatusBadge.tsx
  app/components/generic/data-table/DataTable.tsx
  app/components/private-cloud/monthly-cost/MonthlyCostChart.tsx
  app/components/private-cloud/monthly-cost/MonthlyCostTable.tsx
  app/components/private-cloud/monthly-cost/monthly-cost-chart-data.tsx
  app/components/private-cloud/quarterly-cost/QuarterlyCostChart.tsx
  app/components/private-cloud/quarterly-cost/QuarterlyCostTable.tsx
  app/components/private-cloud/quarterly-cost/quarterly-cost-chart-data.tsx
  app/components/private-cloud/yearly-cost/YearlyCostChart.tsx
  app/components/private-cloud/yearly-cost/YearlyCostTable.tsx
  app/components/private-cloud/yearly-cost/yearly-cost-chart-data.tsx
  app/constants/private-cloud.ts
  app/helpers/private-cloud.ts
  app/services/db/private-cloud-costs.ts
  app/types/private-cloud.ts
  app/utils/js/number.ts
Due: eslint-app, knip

feat(6155): display tooltip for forecast calculation
  app/app/private-cloud/products/(product)/[licencePlate]/costs/ForecastTooltip.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/costs/PeriodSelector.tsx
Due: eslint-app, knip

fix(000): resolve issue with ID queries
  app/services/db/models/public-cloud-billing.ts
Due: eslint-app, knip

chore: release candidate v0.74.2
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

fix(6152): correct cost rendering on initial request page
  app/components/private-cloud/sections/QuotasBudgetEstimation.tsx
Due: eslint-app, knip

chore(0000): handle started task status as assigned
  app/app/api/private-cloud/requests/[id]/route.ts
  app/app/api/public-cloud/billings/search/route.ts
  app/app/api/public-cloud/products/[licencePlate]/billings/[billingId]/review/route.ts
  app/app/api/public-cloud/products/[licencePlate]/billings/[billingId]/sign/route.ts
  app/app/api/public-cloud/requests/[id]/cancel/route.ts
  app/app/tasks/all/TableBody.tsx
  app/components/public-cloud/BillingStatusProgress.tsx
  app/services/db/models/private-cloud-request.ts
  app/services/db/models/public-cloud-request.ts
  app/services/db/public-cloud-billing.ts
  app/services/db/tasks/review-private-cloud-request.ts
  app/services/db/tasks/review-public-cloud-mou.ts
  app/services/db/tasks/review-public-cloud-request.ts
  app/services/db/tasks/sign-public-cloud-mou.ts
Due: eslint-app, knip

chore: release candidate v0.75.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

feat(6152): show 'projected' badges in cost table
  app/app/private-cloud/products/(product)/[licencePlate]/costs/page.tsx
  app/components/badges/CostDetailTableDataRowBadge.tsx
  app/components/badges/CostStatusBadge.tsx
  app/components/private-cloud/costs.tsx
  app/constants/private-cloud.ts
  app/helpers/private-cloud.ts
  app/services/db/private-cloud-costs.ts
  app/types/private-cloud.ts
Due: eslint-app, knip

e2e(6209): fix e2e tests
  cypress/integration/4. approve-requests-private.feature
  cypress/integration/7. edit-request-private-test.feature
Due: none

chore(0000): increase max redirection downloading packages using wget
  sandbox/m365proxy/Dockerfile
  sandbox/m365proxy/Dockerfile.arm64
Due: none

feat(6023): implement server-compatible table component
  app/components/generic/data-table/DataTable.tsx
  app/components/generic/simple-table/SimpleTable.tsx
Due: eslint-app, knip

chore(6023): use button for click event
  app/components/generic/data-table/DataTable.tsx
Due: eslint-app, knip

chore(6023): fix build error
  app/components/generic/data-table/DataTable.tsx
Due: eslint-app, knip

Path conditions:
  eslint: any of: ^(cypress|sandbox)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
