Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

eslint:
  name: eslint
  entry: .bin/eslint.sh
  language: script
  verbose: true
  pass_filenames: true

eslint-app:
  name: eslint-app
  entry: .bin/eslint-app.sh
  language: script
  verbose: true
  pass_filenames: true

python-format:
  name: black
  entry: .bin/black.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

fix(finance): address Copilot isolation, lock, flags, and export gaps
  app/app/public-cloud/finance/anomalies/page.tsx
  app/components/public-cloud/finance/finance-measure-utils.ts
  app/helpers/finance-export.ts
  app/prisma/schema.prisma
  app/services/db/public-cloud-finance.ts
  app/services/public-cloud-finance/finance-measure-utils.test.ts
  app/services/public-cloud-finance/ingest/evaluate-flags.ts
  app/services/public-cloud-finance/ingest/ingest-lock.ts
  app/services/public-cloud-finance/ingest/persist-billing-period.ts
  helm/tools/dags/_azure_cost_query.py
  helm/tools/dags/_finance_ingest.py
  helm/tools/tests/test_azure_cost_query.py
  helm/tools/tests/test_finance_ingest.py
Due: eslint-app, python-format, prisma-format, knip

fix(finance): fall back on unpublished BoC FX and pin DAG start dates
  Makefile
  app/services/bank-of-canada/usd-cad-rate.test.ts
  app/services/bank-of-canada/usd-cad-rate.ts
  app/services/public-cloud-finance/monthly-fx-rate.ts
  helm/tools/dags/public_cloud_finance_ingest_dev.py
  helm/tools/dags/public_cloud_finance_ingest_local.py
  helm/tools/dags/public_cloud_finance_ingest_prod.py
  helm/tools/dags/public_cloud_finance_ingest_test.py
Due: eslint-app, python-format, knip

fix(finance): attach every Forge env account to one licence plate
  app/seed/seed-demo-products.ts
  app/seed/seed-forge-finance-local.test.ts
  app/seed/seed-forge-finance-local.ts
Due: eslint-app, knip

fix(finance): open Azure subscriptions in the bcgov tenant portal
  app/components/form/AccountEnvironmentsPublic.tsx
  app/constants/public-cloud.ts
Due: eslint-app, knip

fix(finance): reuse the dev ingest DAG for local Airflow
  app/.env.example
  app/app/api/public-cloud/finance/ingest/trigger/route.test.ts
  app/services/public-cloud-finance/ingest/trigger-airflow-dag.ts
  docs/business-logic/public-cloud/finance-reporting.md
  helm/tools/dags/public_cloud_finance_ingest_dev.py
  helm/tools/dags/public_cloud_finance_ingest_local.py
  sandbox/docker-compose-airflow.yml
Due: eslint-app, python-format, knip

fix(finance): generate local actuals from product accounts and prorate FYTD
  app/.env.example
  app/app/api/v1/public-cloud/products/_operations/list.ts
  app/app/api/v1/public-cloud/products/_operations/read.ts
  app/app/api/v1/public-cloud/products/route.test.ts
  app/app/public-cloud/finance/page.tsx
  app/components/public-cloud/finance/finance-measure-utils.ts
  app/seed/seed-all-local.ts
  app/seed/seed-demo-products.ts
  app/seed/seed-forecast-local.test.ts
  app/seed/seed-forecast-local.ts
  app/services/db/public-cloud-finance.ts
  app/services/public-cloud-finance/finance-measure-utils.test.ts
  app/services/public-cloud-finance/product-billing-start.test.ts
  app/services/public-cloud-finance/product-billing-start.ts
  docs/business-logic/public-cloud/finance-reporting.md
  helm/_app/templates/deployment.yaml
  helm/tools/dags/_finance_ingest.py
  helm/tools/dags/_finance_ingest_dev_data.py
  helm/tools/dags/public_cloud_finance_ingest_dev.py
  helm/tools/dags/public_cloud_finance_ingest_test.py
  helm/tools/tests/test_finance_ingest.py
  sandbox/docker-compose-airflow.yml
Due: eslint-app, python-format, knip

fix(finance): drop Python random from generated ingest amounts
  app/app/api/v1/public-cloud/products/route.test.ts
  helm/tools/dags/_finance_ingest_dev_data.py
Due: eslint-app, python-format, knip

fix(finance): drop internal tab labels and split generated-row helper
  app/components/public-cloud/finance/FinanceNav.tsx
  helm/tools/dags/_finance_ingest_dev_data.py
Due: eslint-app, python-format, knip

chore(3022): refactor GitHub account handling
  app/app/api/msgraph/search/route.ts
  app/app/api/users/[id]/route.ts
  app/app/api/users/_operations/update-github.ts
  app/app/api/users/download/route.ts
  app/app/events/all/TableBody.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/private-cloud/products/(product)/create/page.tsx
  app/app/private-cloud/requests/(request)/[id]/decision/page.tsx
  app/app/private-cloud/requests/(request)/[id]/original/page.tsx
  app/app/private-cloud/requests/(request)/[id]/request/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/products/(product)/create/page.tsx
  app/app/public-cloud/requests/(request)/[id]/original/page.tsx
  app/app/public-cloud/requests/(request)/[id]/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/app/users/all/TableBody.tsx
  app/components/generic/select/FormUserPicker.tsx
  app/components/modal/userDetail.tsx
  app/components/modal/userPicker.tsx
  app/components/private-cloud/sections/AdditionalTeamMembers.tsx
  app/components/private-cloud/sections/TeamContacts.tsx
  app/components/public-cloud/sections/AdditionalTeamMembers.tsx
  app/components/public-cloud/sections/TeamContacts.tsx
  app/components/shared/AdditionalTeamMembers.tsx
  app/components/shared/TeamContacts.tsx
  app/components/users/UserProfile.tsx
  app/emails/_templates/users/GitHubAccountUpdated.tsx
  app/jest.setup.ts
  app/prisma/schema.prisma
  app/services/backend/user.ts
  app/services/db/includes.ts
  app/services/db/models/private-cloud-product.ts
  app/services/db/models/private-cloud-request.ts
  app/services/db/models/public-cloud-product.ts
  app/services/db/models/public-cloud-request.ts
  app/services/db/user.ts
  app/types/doc-decorate.ts
  app/types/user.ts
Due: eslint-app, prisma-format, knip

chore(3022): align GitHub permissions with product role
  app/services/db/models/private-cloud-product.ts
  app/services/db/models/public-cloud-product.ts
  data-migrations/migrations/20260902214615-backfill_github_accounts.js
Due: eslint-app, knip

fix(0000): update sanitize-html lockfile
  sandbox/ches-mock/pnpm-lock.yaml
Due: none

chore: release candidate v0.84.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

feat(2998): add route to add/delete GitOps repo links
  app/app/api/v1/private-cloud/products/[idOrLicencePlate]/repositories/route.test.ts
  app/app/api/v1/private-cloud/products/[idOrLicencePlate]/repositories/route.ts
  app/services/api-test/v1/private-cloud/index.ts
Due: eslint-app, knip

fix(finance): keep unmatched resolve and FYTD totals from dropping spend
  app/app/api/public-cloud/finance/unmatched/[id]/resolve/route.test.ts
  app/app/public-cloud/finance/page.tsx
  app/components/public-cloud/finance/finance-measure-utils.ts
  app/components/public-cloud/forecast/ProjectBudgetForecastPanel.tsx
  app/prisma/schema.prisma
  app/services/db/public-cloud-finance.ts
  app/services/public-cloud-finance/finance-measure-utils.test.ts
Due: eslint-app, prisma-format, knip

fix(finance): scope FYTD forecast and close resolve, auth, and FX gaps
  app/app/api/public-cloud/finance/unmatched/[id]/resolve/route.test.ts
  app/app/api/public-cloud/finance/unmatched/[id]/resolve/route.ts
  app/app/api/public-cloud/products/[licencePlate]/finance/route.test.ts
  app/app/api/public-cloud/products/[licencePlate]/finance/route.ts
  app/components/public-cloud/finance/finance-measure-utils.ts
  app/components/public-cloud/sections/PublicCloudForecastSection.tsx
  app/services/api-test/public-cloud/finance.ts
  app/services/db/models/public-cloud-product.ts
  app/services/db/public-cloud-finance.resolve.test.ts
  app/services/db/public-cloud-finance.snapshot.test.ts
  app/services/db/public-cloud-finance.ts
  app/services/public-cloud-finance/finance-measure-utils.test.ts
  app/services/public-cloud-finance/monthly-fx-rate.test.ts
  app/services/public-cloud-finance/monthly-fx-rate.ts
  app/types/doc-decorate.ts
Due: eslint-app, knip

fix(finance): hide finance preview in prod like other flags
  app/core/auth-options.ts
  app/services/public-cloud-finance/constants.ts
  docs/business-logic/public-cloud/finance-reporting.md
  helm/_app/templates/deployment.yaml
Due: eslint-app, knip

Rename Prisma Team composite type to SessionTeam and document team terminology
  app/core/auth-options.ts
  app/prisma/schema.prisma
  app/types/next-auth.d.ts
  docs/business-logic/team-terminology.md
  mkdocs.yml
Due: eslint-app, prisma-format, knip

fix(finance): reuse shared public-cloud provider labels
  app/app/public-cloud/finance/export/page.tsx
  app/app/public-cloud/finance/page.tsx
  app/app/public-cloud/finance/rankings/page.tsx
  app/app/public-cloud/finance/unmatched/page.tsx
  app/app/public-cloud/forecast/page.tsx
  app/components/public-cloud/forecast/forecast-grid-utils.test.ts
  app/components/public-cloud/forecast/forecast-grid-utils.ts
  app/constants/public-cloud.ts
Due: eslint-app, knip

fix(finance): always enable public cloud forecast
  app/app/api/public-cloud/forecast/export/route.ts
  app/app/api/public-cloud/forecast/route.ts
  app/app/api/public-cloud/products/[licencePlate]/forecast/route.ts
  app/app/api/public-cloud/products/[licencePlate]/forecasts/[forecastId]/route.ts
  app/app/api/public-cloud/products/[licencePlate]/forecasts/route.ts
  app/app/api/public-cloud/products/_operations/create.ts
  app/app/public-cloud/forecast/page.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/edit/page.tsx
  app/app/public-cloud/products/(product)/create/page.tsx
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
  app/components/layouts/UserMenu.tsx
  app/core/auth-options.ts
  app/services/db/models/public-cloud-product.ts
  app/types/next-auth.d.ts
Due: eslint-app, knip

fix(finance): restore session on public-cloud request page
  app/app/public-cloud/requests/(request)/[id]/request/page.tsx
Due: eslint-app, knip

Deploying to gh-pages from @ bcgov/platform-services-registry@e2dabbd75c8e3996bdeb961dd96231b3b0361de6 🚀
  business-logic/public-cloud/finance-reporting.html
  ci-cd/cd/database.html
  ci-cd/cd/release-tag-dispatch.html
  ci-cd/ci/secret-scanning.html
  clean-code/descriptive-function-names.html
  clean-code/falsy-check-early.html
  clean-code/react-handler-naming.html
  clean-code/return-early.html
  clean-code/small-components-functions.html
  clean-code/utils-helpers-shared-components.html
  code-conventions/data-communication/backend-api.html
  code-conventions/data-communication/data-fetching.html
  code-conventions/data-communication/react-view-layer.html
  code-conventions/data-communication/service-layer.html
  code-conventions/naming-conventions.html
  development-setup/graph_cert_setup.html
  development-setup/local-development-environment.html
  development-setup/react-email.html
  development-setup/resource-metrics.html
  git-github/clean-pr.html
  git-github/ms-teams-notifications.html
  git-github/new-task.html
  research/bitnami-images-deprecation.html
  sitemap.xml
  sitemap.xml.gz
  technologies/airflow.html
  tests/e2e.html
Due: none

chore(3078): allow users to remove GitHub account from profile
  app/app/api/users/[id]/schema.ts
  app/app/api/users/_operations/update-github.ts
  app/components/modal/userPicker.tsx
  app/emails/_templates/users/GitHubAccountUpdated.tsx
  app/services/backend/github.ts
  app/services/ches/users/emails.ts
  app/services/ches/users/index.ts
Due: eslint-app, knip

fix(finance): exclude classic AWS from public cloud finance
  app/app/api/public-cloud/products/[licencePlate]/finance/route.test.ts
  app/app/api/public-cloud/products/[licencePlate]/finance/route.ts
  app/app/public-cloud/finance/export/page.tsx
  app/app/public-cloud/finance/page.tsx
  app/app/public-cloud/finance/rankings/page.tsx
  app/app/public-cloud/finance/unmatched/page.tsx
  app/constants/public-cloud.ts
  app/helpers/finance-export.ts
  app/services/db/models/public-cloud-product.ts
  app/services/db/public-cloud-finance.snapshot.test.ts
  app/services/db/public-cloud-finance.ts
  app/services/public-cloud-finance/ingest/missing-periods.ts
  app/validation-schemas/cloud-cost.ts
  docs/business-logic/public-cloud/finance-reporting.md
Due: eslint-app, knip

fix(finance): scope forecast export to finance providers
  app/helpers/finance-export.ts
  app/services/db/public-cloud-forecast.ts
Due: eslint-app, knip

fix(finance): treat empty forecast provider filter as no rows
  app/services/db/public-cloud-forecast.ts
Due: eslint-app, knip

fix(finance): backfill unique account IDs in Silver dev only
  data-migrations/migrations/20260908124800-backfill_dev_public_cloud_account_ids.js
  helm/_app/templates/job-pre-data-migrations.yaml
  sandbox/nats-provision/main.ts
Due: eslint, knip

fix(finance): address Sonar and CodeQL findings on finance changes
  app/services/db/public-cloud-forecast.ts
  data-migrations/migrations/20260908124800-backfill_dev_public_cloud_account_ids.js
Due: eslint-app, knip

fix(finance): count one account identity per environment in backfill
  data-migrations/migrations/20260908124800-backfill_dev_public_cloud_account_ids.js
Due: none

chore(3078): use type-only imports for GitHub email data
  app/app/api/users/[id]/schema.ts
  app/emails/_templates/users/GitHubAccountUpdated.tsx
  app/services/ches/users/emails.ts
Due: eslint-app, knip

fix(finance): exclude classic AWS and uniquify Silver dev account IDs (#8022)
  app/app/api/public-cloud/products/[licencePlate]/finance/route.test.ts
  app/app/api/public-cloud/products/[licencePlate]/finance/route.ts
  app/app/public-cloud/finance/export/page.tsx
  app/app/public-cloud/finance/page.tsx
  app/app/public-cloud/finance/rankings/page.tsx
  app/app/public-cloud/finance/unmatched/page.tsx
  app/constants/public-cloud.ts
  app/helpers/finance-export.ts
  app/services/db/models/public-cloud-product.ts
  app/services/db/public-cloud-finance.snapshot.test.ts
  app/services/db/public-cloud-finance.ts
  app/services/db/public-cloud-forecast.ts
  app/services/public-cloud-finance/ingest/missing-periods.ts
  app/validation-schemas/cloud-cost.ts
  data-migrations/migrations/20260908124800-backfill_dev_public_cloud_account_ids.js
  docs/business-logic/public-cloud/finance-reporting.md
  helm/_app/templates/job-pre-data-migrations.yaml
  sandbox/nats-provision/main.ts
Due: eslint, eslint-app, knip

Deploying to gh-pages from @ bcgov/platform-services-registry@7e5c767ef4abeaa0cac853c205da580132c1a340 🚀
  business-logic/public-cloud/finance-reporting.html
Due: none

chore(3078): simplify GitHub account email message logic
  app/app/api/users/_operations/update-github.ts
  app/emails/_templates/users/GitHubAccountUpdated.tsx
Due: eslint-app, knip

chore(3078): directly guard nullable GitHub username
  app/emails/_templates/users/GitHubAccountUpdated.tsx
Due: eslint-app, knip

fix(finance): backfill missing public-cloud product refs in Silver dev
  data-migrations/migrations/20260908210700-backfill_dev_public_cloud_required_refs.js
Due: none

chore: release candidate v0.85.0
  CHANGELOG.md
  VERSION
  app/package.json
  package.json
Due: knip

fix(finance): canonicalize product refs and drop copied migration wrapper
  data-migrations/migrations/20260908210700-backfill_dev_public_cloud_required_refs.js
Due: none

fix(finance): backfill missing public-cloud product refs in Silver dev (#8024)
  data-migrations/migrations/20260908210700-backfill_dev_public_cloud_required_refs.js
Due: none

refactor(3015): rename Team composite type to SessionTeam and document terminology
  app/core/auth-options.ts
  app/prisma/schema.prisma
  app/types/next-auth.d.ts
  docs/business-logic/team-terminology.md
  mkdocs.yml
Due: eslint-app, prisma-format, knip

fix(finance): seed Silver-dev public-cloud forecasts for LZA and Azure
  data-migrations/migrations/20260908214000-backfill_dev_public_cloud_forecasts.js
Due: none

Path conditions:
  eslint: any of: ^(cypress|sandbox)/.*\.(js|ts)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
