Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, eslint-app, python-format, prisma-format, bash-format, knip

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    files: \.sh
  - id: check-json
  - id: check-vcs-permalinks
  - id: check-yaml
    exclude: ^(helm|mkdocs\.yml)$
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^(helm)$
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    exclude: .git/COMMIT_EDITMSG
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args: [--baseline, .secrets.baseline]
    exclude: ^(sandbox/mock-users\.json|sandbox/m365proxy/mocks\.json|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: .bin/eslint.sh
    language: script
    files: ^(cypress|sandbox)/.*\.(js|ts)$
    verbose: true
    pass_filenames: true
  - id: eslint-app
    name: eslint-app
    entry: .bin/eslint-app.sh
    language: script
    files: ^app/.*\.(ts|tsx)$
    verbose: true
    pass_filenames: true
  - id: python-format
    name: black
    entry: .bin/black.sh
    language: script
    files: \.py$
    verbose: true
    pass_filenames: true
  - id: prisma-format
    name: prisma
    entry: .bin/prisma.sh
    language: script
    files: \.prisma$
    verbose: true
    pass_filenames: true
  - id: bash-format
    name: format bash
    entry: .bin/bash-format.sh
    language: script
    files: \.sh$
    verbose: true
    pass_filenames: true
  - id: knip
    name: knip
    entry: .bin/knip.sh
    language: script
    files: app/.*
    verbose: true
    pass_filenames: false
  - id: commitlint
    name: commitlint
    entry: .bin/commitlint.sh
    language: script
    verbose: true
    pass_filenames: false
    stages: [commit-msg]
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    exclude: .git/COMMIT_EDITMSG

exclude: ^(app/.react-email|CHANGELOG\.md|pnpm-lock\.yaml|.*/pnpm-lock\.yaml)$

refactor(6023): update PDF tables to use generic table
  app/components/private-cloud/costs.tsx
  app/components/private-cloud/monthly-cost/MonthlyCostTable.tsx
  app/components/private-cloud/quarterly-cost/QuarterlyCostTable.tsx
  app/components/private-cloud/yearly-cost/YearlyCostTable.tsx
Due: eslint-app, knip

chore(6023): rename cellProcessor to cellFormatter
  app/app/examples/ui/(components)/data-table/page.tsx
  app/app/organizations/page.tsx
  app/app/team-api-accounts/page.tsx
  app/components/generic/data-table/DataTable.tsx
  app/components/generic/simple-table/SimpleTable.tsx
  app/components/private-cloud/costs.tsx
Due: eslint-app, knip

chore(6023): resolve pre-commit errors
  app/components/private-cloud/quarterly-cost/QuarterlyCostTable.tsx
Due: eslint-app, knip

chore(5915): add user attribute idir_user_guid to keycloak token as idirGuid
  terraform/keycloak/dev/main.tf
Due: none

chore(5915): use kebab-case for name
  terraform/keycloak/dev/main.tf
Due: none

chore(6258): resolve type conflict in PDF response
  app/core/responses.ts
  docs/development-setup/chartjs-canvas.md
Due: eslint-app, knip

chore(6258): fix package conflict during upgrade
  .tool-versions
  app/components/comments/TiptapConfig.ts
  app/components/comments/TiptapReadOnly.tsx
  app/package.json
  app/pnpm-lock.yaml
Due: eslint-app, knip

chore(6258): fix package conflict during upgrade cont'
  package.json
  pnpm-lock.yaml
Due: none

chore(6258): update Prisma schema
  app/components/comments/TiptapReadOnly.tsx
  app/prisma/schema.prisma
Due: eslint-app, prisma-format, knip

chore(6258): remove deprecated prisma section in package.json
  app/package.json
Due: knip

feat(6026): update DB schema and backend logic related to organizations
  app/app/api/private-cloud/products/_operations/create.ts
  app/app/api/private-cloud/products/_operations/delete.ts
  app/app/api/private-cloud/products/_operations/update.ts
  app/app/api/public-cloud/products/_operations/create.ts
  app/app/api/public-cloud/products/_operations/update.ts
  app/app/api/v1/private-cloud/products/[idOrLicencePlate]/nats-message/route.ts
  app/helpers/mock-resources/private-cloud-product.ts
  app/helpers/mock-resources/private-cloud-request.ts
  app/helpers/mock-resources/public-cloud-product.ts
  app/helpers/mock-resources/public-cloud-request.ts
  app/jest.setup.ts
  app/prisma/schema.prisma
  app/services/db/includes.ts
  app/services/db/private-cloud-product.ts
  app/services/db/public-cloud-product.ts
  app/types/private-cloud.ts
  app/types/public-cloud.ts
  data-migrations/migrations/20250807221531-populate_organizations.js
Due: eslint-app, prisma-format, knip

docs(6199): add documentation on e2e tests
  docs/tests/e2e.md
Due: none

Deploying to gh-pages from @ bcgov/platform-services-registry@213c0282134cc4f4bf2bd6dff0ff1a1ebbf4f6b7 🚀
  sitemap.xml
  sitemap.xml.gz
  tests/e2e.html
Due: none

Deploying to gh-pages from @ bcgov/platform-services-registry@063e38b37b39ba0771d4ac8dbf97ea830d42b899 🚀
  sitemap.xml
  sitemap.xml.gz
Due: none

chore(5915): add sandbox keycloak users attribute idi_user_guid
  app/core/api-handler.ts
  app/core/auth-options.ts
  app/helpers/mock-users.ts
  app/prisma/schema.prisma
  app/services/db/user.ts
  app/types/next-auth.d.ts
  sandbox/_packages/keycloak-admin/src/main.ts
  sandbox/keycloak-provision/main.ts
  sandbox/mock-users.json
  terraform/keycloak/prod/main.tf
  terraform/keycloak/test/main.tf
Due: eslint, eslint-app, prisma-format, knip

chore(5915): review invalid idirGuid user
  app/core/auth-options.ts
  sandbox/mock-users.json
Due: eslint-app, knip

chore(6088): display role change if user has more than one role
  app/services/db/members-history.ts
Due: eslint-app, knip

chore(5915): replace console.warn with winston logger for structured logging
  app/core/auth-options.ts
  app/services/db/user.ts
Due: eslint-app, knip

chore(5915): use optional chaining for user ID check in upsertUsersWithClientRoles
  sandbox/_packages/keycloak-admin/src/main.ts
Due: eslint

feat(6087): restrict submitting Additional Team Members without roles
  app/components/shared/AdditionalTeamMembers.tsx
  app/validation-schemas/private-cloud.ts
Due: eslint-app, knip

Deploying to gh-pages from @ bcgov/platform-services-registry@d401385d6f17815db1b28f754ba76ab79dbe9f9f 🚀
  sitemap.xml
  sitemap.xml.gz
Due: none

chore(6087): restrict submitting Public Cloud Additional Team Members without roles
  app/validation-schemas/public-cloud.ts
Due: eslint-app, knip

feat(6143): restrict adding same users within Additional Team Members
  app/components/shared/AdditionalTeamMembers.tsx
Due: eslint-app, knip

chore(6143): revert no role changes
  app/components/shared/AdditionalTeamMembers.tsx
Due: eslint-app, knip

feat(6314): update ministries
  app/components/form/AGMinistryCheckBox.tsx
  app/constants/common.ts
  app/prisma/schema.prisma
  data-migrations/migrations/20250815175555-migrate_products_to_agriculture_and_food.js
  data-migrations/migrations/20250815182948-migrate_products_from_liquor_distribution_branch.js
  sandbox/keycloak-provision/main.ts
  terraform/keycloak/dev/ministry-roles.tf
  terraform/keycloak/prod/ministry-roles.tf
  terraform/keycloak/test/ministry-roles.tf
Due: eslint, eslint-app, prisma-format, knip

chore(terraform): include internal module
  terraform/openshift-deployer/101ed4-dev/.terraform.lock.hcl
  terraform/openshift-deployer/101ed4-dev/main.tf
  terraform/openshift-deployer/101ed4-prod/.terraform.lock.hcl
  terraform/openshift-deployer/101ed4-prod/main.tf
  terraform/openshift-deployer/101ed4-test/.terraform.lock.hcl
  terraform/openshift-deployer/101ed4-test/main.tf
  terraform/openshift-deployer/101ed4-tools/.terraform.lock.hcl
  terraform/openshift-deployer/101ed4-tools/main.tf
  terraform/openshift-deployer/_module/main.tf
  terraform/openshift-deployer/_module/outputs.tf
  terraform/openshift-deployer/_module/variables.tf
Due: none

chore(0000): increase the timeout for tools deployment
  .github/workflows/deploy-tools.yml
Due: none

chore(0000): update Airflow image version
  helm/tools/Chart.lock
  helm/tools/dags/mailchimp_subscription_prod.py
  helm/tools/dags/provisioner_prod.py
  helm/tools/dags/provisioner_test.py
  helm/tools/dags/request_review_reminder_dev.py
  helm/tools/dags/request_review_reminder_prod.py
  helm/tools/dags/request_review_reminder_test.py
  helm/tools/dags/sonarscan_dev.py
  helm/tools/dags/sonarscan_prod.py
  helm/tools/dags/sonarscan_test.py
  helm/tools/dags/sync_db_with_azure_ad_dev.py
  helm/tools/dags/sync_db_with_azure_ad_test.py
  helm/tools/dags/temporary_products_deletion_dev.py
  helm/tools/dags/temporary_products_deletion_prod.py
  helm/tools/dags/temporary_products_deletion_test.py
  helm/tools/dags/temporary_products_notification_dev.py
  helm/tools/dags/temporary_products_notification_prod.py
  helm/tools/dags/temporary_products_notification_test.py
  helm/tools/dags/token_validity_check_dev.py
  helm/tools/dags/token_validity_check_prod.py
  helm/tools/dags/token_validity_check_test.py
  helm/tools/dags/zapscan_dev.py
  helm/tools/dags/zapscan_prod.py
  helm/tools/dags/zapscan_test.py
  helm/tools/values.yaml
  tools/airflow/Dockerfile
Due: python-format

chore(airflow): upgrade Airflow image
  helm/tools/Chart.lock
  helm/tools/dags/_mark_provisioned.py
  helm/tools/values.yaml
Due: python-format

chore(6314): revert ministry changes
  app/constants/common.ts
  app/prisma/schema.prisma
  data-migrations/migrations/20250815175555-migrate_products_to_agriculture_and_food.js
  data-migrations/migrations/20250815182948-migrate_products_from_liquor_distribution_branch.js
  sandbox/keycloak-provision/main.ts
  terraform/keycloak/dev/ministry-roles.tf
  terraform/keycloak/prod/ministry-roles.tf
  terraform/keycloak/test/ministry-roles.tf
Due: eslint, eslint-app, prisma-format, knip

chore(6026): update weasy print local tag
  sandbox/docker-compose.yml
Due: none

chore(5915): merge main
  app/app/api/msgraph/search/route.ts
  app/components/modal/userPicker.tsx
  app/core/api-handler.ts
  app/core/auth-options.ts
  app/helpers/mock-users.ts
  app/prisma/schema.prisma
  app/types/next-auth.d.ts
  app/types/user.ts
  sandbox/_packages/keycloak-admin/src/main.ts
  sandbox/keycloak-provision/main.ts
  sandbox/mock-users.json
  terraform/keycloak/dev/main.tf
  terraform/keycloak/prod/main.tf
  terraform/keycloak/test/main.tf
Due: eslint, eslint-app, prisma-format, knip

chore(5915): comment out terraform prod changes
  terraform/keycloak/prod/main.tf
Due: none

chore(5915): revert terraform keyclock prod changes
  terraform/keycloak/prod/main.tf
Due: none

chore(5915): add mapper to prod
  terraform/keycloak/prod/main.tf
Due: none

chore(6026): resolve build errors
  app/constants/common.ts
  app/helpers/mock-resources/core.ts
  app/jest.setup.ts
Due: eslint-app, knip

chore(5915): prevent idirGuid from being overwritten with null/empty
  app/core/auth-options.ts
Due: eslint-app, knip
