Repository bcgov/platform-services-registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, prisma-format, bash-format, knip

python-format:
  name: autopep8
  entry: .bin/autopep8.sh
  language: script
  verbose: true
  pass_filenames: true

prisma-format:
  name: prisma
  entry: .bin/prisma.sh
  language: script
  verbose: true
  pass_filenames: true

bash-format:
  name: format bash
  entry: .bin/bash-format.sh
  language: script
  verbose: true
  pass_filenames: true

knip:
  name: knip
  entry: .bin/knip.sh
  language: script
  verbose: true
  pass_filenames: false

feat(2958): add frontend support for admin comments on requests
  app/app/private-cloud/products/(product)/[licencePlate]/layout.tsx
  app/app/private-cloud/requests/(request)/[id]/comments/page.tsx
  app/app/private-cloud/requests/(request)/[id]/layout.tsx
  app/components/comments/CommentForm.tsx
  app/services/backend/private-cloud/products.ts
Due: knip

chore: remove preview for testProduct for prod
  app/components/form/ProjectDescriptionPrivate.tsx
  app/core/auth-options.ts
  app/package-lock.json
  app/types/next-auth.d.ts
Due: knip

chore: use wrapper instead array for html elements
  app/components/form/ProjectDescriptionPrivate.tsx
Due: knip

chore: release candidate v0.26.4
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

feat(2596): add Azure as the second public cloud provider option
  Makefile
  app/app/public-cloud/products/(product)/[licencePlate]/requests/FilterPanel.tsx
  app/app/public-cloud/products/all/FilterPanel.tsx
  app/app/public-cloud/requests/all/FilterPanel.tsx
  app/components/form/Budget.tsx
  app/components/form/ProjectDescriptionPublic.tsx
  app/constants/index.ts
  app/prisma/schema.prisma
  app/services/nats/index.ts
  cypress/package-lock.json
Due: prisma-format, knip

feat(2596): add Azure provider into public analystics dashboard
  app/analytics/public-cloud/ministry-distributions.ts
  app/analytics/public-cloud/products.ts
  app/app/public-cloud/analytics/page.tsx
Due: knip

npm i commit
  app/package-lock.json
Due: knip

chore: fix comments not loading on refresh of page
  app/app/private-cloud/requests/(request)/[id]/comments/page.tsx
  app/app/private-cloud/requests/(request)/[id]/layout.tsx
Due: knip

chore(2808): make minor adjustments to AWS role backend logic
  app/app/api/public-cloud/aws-roles/helpers.ts
  app/config.ts
Due: knip

chore: fix a typo
  app/app/api/public-cloud/aws-roles/helpers.ts
Due: knip

chore(2596): add Azure option into preview mode
  app/app/public-cloud/products/(product)/[licencePlate]/layout.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/requests/FilterPanel.tsx
  app/app/public-cloud/products/all/FilterPanel.tsx
  app/app/public-cloud/requests/all/FilterPanel.tsx
  app/components/form/ProjectDescriptionPublic.tsx
  app/core/auth-options.ts
  app/types/next-auth.d.ts
Due: knip

chore: clean up CommentForm for comments
  app/app/private-cloud/products/(product)/[licencePlate]/comments/page.tsx
  app/components/comments/CommentForm.tsx
Due: knip

chore: fix commentsbubble ui
  app/app/private-cloud/products/(product)/[licencePlate]/comments/page.tsx
  app/app/private-cloud/requests/(request)/[id]/comments/page.tsx
  app/components/comments/CommentBubble.tsx
Due: knip

chore: add responce Hello, M365 Mock Server
  localdev/m365mock/.gitignore
  localdev/m365mock/mocks.json
  localdev/m365mock/package-lock.json
  localdev/m365mock/package.json
  localdev/m365mock/src/server.ts
  localdev/m365mock/tsconfig.json
Due: none

chore: rename created to createdAt for comments
  app/app/api/private-cloud/products/[licencePlate]/comments/_operations/list.ts
  app/app/private-cloud/products/(product)/[licencePlate]/comments/page.tsx
  app/app/private-cloud/requests/(request)/[id]/comments/page.tsx
  app/prisma/schema.prisma
Due: prisma-format, knip

refactor(2808): convert keycloak provision into typescript
  .eslintignore
  .prettierignore
  localdev/docker-compose.yml
  localdev/keycloak-provision/.dockerignore
  localdev/keycloak-provision/.gitignore
  localdev/keycloak-provision/Dockerfile
  localdev/keycloak-provision/package-lock.json
  localdev/keycloak-provision/package.json
  localdev/keycloak-provision/setup.js
  localdev/keycloak-provision/src/config.ts
  localdev/keycloak-provision/src/core.ts
  localdev/keycloak-provision/src/main.ts
  localdev/keycloak-provision/tsconfig.json
Due: none

chore: refactor the last edited UI
  app/components/comments/CommentBubble.tsx
Due: knip

chore: add support for newlines
  app/components/comments/CommentBubble.tsx
Due: knip

chore: release candidate v0.26.5
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

chore: remove console logs
  app/app/private-cloud/requests/(request)/[id]/comments/page.tsx
  app/app/private-cloud/requests/(request)/[id]/layout.tsx
Due: knip

chore(2808): add a brief comments on each KcAdmin methods
  localdev/keycloak-provision/src/core.ts
Due: none

chore(2958): fix referencing private request comments
  app/app/private-cloud/requests/(request)/[id]/comments/page.tsx
Due: knip

feat: add all ministry specific roles
  terraform/keycloak/dev/ministry-roles.tf
  terraform/keycloak/prod/ministry-roles.tf
  terraform/keycloak/test/ministry-roles.tf
Due: none

refactor(2826): deprecate react toastify and replace with mantine notifications
  app/app/layout.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/layout.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/security/layout.tsx
  app/app/private-cloud/products/(product)/[licencePlate]/security/repository/page.tsx
  app/app/private-cloud/requests/(request)/[id]/layout.tsx
  app/app/public-cloud/products/(product)/[licencePlate]/layout.tsx
  app/app/public-cloud/requests/(request)/[id]/layout.tsx
  app/components/comments/CommentBubble.tsx
  app/components/comments/CommentForm.tsx
  app/components/dropdowns/PrivateCloudProductOptions.tsx
  app/components/dropdowns/PrivateCloudRequestOptions.tsx
  app/package-lock.json
  app/package.json
Due: knip

refactor(2596): convert nats-provision into typescript
  .eslintignore
  .prettierignore
  localdev/_packages/keycloak-admin/.dockerignore
  localdev/_packages/keycloak-admin/.gitignore
  localdev/_packages/keycloak-admin/package-lock.json
  localdev/_packages/keycloak-admin/package.json
  localdev/_packages/keycloak-admin/src/main.ts
  localdev/_packages/keycloak-admin/tsconfig.json
  localdev/docker-compose.yml
  localdev/keycloak-provision/Dockerfile
  localdev/keycloak-provision/src/main.ts
  localdev/nats-provision/.gitignore
  localdev/nats-provision/Dockerfile
  localdev/nats-provision/src/config.ts
  localdev/nats-provision/src/main.ts
  localdev/nats-provision/tsconfig.json
Due: none

fix(2726): add error handling and notifications for unauthorized product creation
  app/app/private-cloud/products/(product)/create/page.tsx
  app/app/public-cloud/products/(product)/create/page.tsx
Due: knip

chore: unique mock.json file, tsconfig edit
  localdev/m365mock/mocks.json
  localdev/m365mock/package.json
  localdev/m365mock/src/server.ts
  localdev/m365mock/tsconfig.json
Due: none

refactor(2808): move Keycloak admin core as the common package
  .github/workflows/build-push-localdev.yml
  localdev/_packages/keycloak-admin/src/main.ts
  localdev/keycloak-provision/Dockerfile
  localdev/keycloak-provision/package-lock.json
  localdev/keycloak-provision/package.json
  localdev/keycloak-provision/src/main.ts
Due: none

chore: add app.get for mocks file requests
  localdev/m365mock/src/server.ts
Due: none

feat(2808): create Keycloak groups for AWS requests
  .secrets.baseline
  app/.env.example
  app/app/api/public-cloud/aws-roles/helpers.ts
  localdev/docker-compose.yml
  localdev/m365proxy/mocks.json
  localdev/nats-provision/Dockerfile
  localdev/nats-provision/package-lock.json
  localdev/nats-provision/package.json
  localdev/nats-provision/src/config.ts
  localdev/nats-provision/src/main.ts
  localdev/nats-provision/tsconfig.json
Due: knip

chore: fix lint errors
  app/queries/users.ts
Due: knip

chore: fix packages install in dockerfiles
  .github/workflows/deploy-dev.yml
  localdev/keycloak-provision/Dockerfile
  localdev/nats-provision/Dockerfile
Due: none

chore: release candidate v0.27.0
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

feat(3001): add service API endpoint to accept both ID and license plate
  app/app/api/v1/private-cloud/products/[idOrLicencePlate]/nats-message/route.ts
Due: knip

chore: release candidate v0.28.0
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

chore: add dockerfile for m365mock
  localdev/docker-compose-ci.yml
  localdev/docker-compose.yml
  localdev/m365mock/.dockerignore
  localdev/m365mock/Dockerfile
  localdev/m365mock/package.json
  localdev/m365mock/src/server.ts
Due: none

chore: make m365mock statusCode optional
  localdev/m365mock/Dockerfile
  localdev/m365mock/src/server.ts
Due: none

feat(3045): encapsulate Next.js routes with parameters for reusability
  app/app/api/private-cloud/provision/[licencePlate]/route.test.ts
  app/services/api-test/core.ts
  app/services/api-test/mocks.ts
  app/services/api-test/private-cloud/products.ts
Due: knip

fix(3052): add missing private cloud create requests
  app/app/api/v1/private-cloud/products/[idOrLicencePlate]/nats-message/route.ts
  app/package-lock.json
  data-migrations/migrations/20240607161718-add_missing_create_requests.js
Due: knip

chore: release candidate v0.29.0
  CHANGELOG.md
  VERSION
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
Due: knip

Path conditions:
  python-format: any of: \.py$, but not: ^(app/.react-email|CHANGELOG\.md)$
  prisma-format: any of: \.prisma$, but not: ^(app/.react-email|CHANGELOG\.md)$
  bash-format: any of: \.sh$, but not: ^(app/.react-email|CHANGELOG\.md)$
  knip: any of: app/.*, but not: ^(app/.react-email|CHANGELOG\.md)$
